Repository lablup/backend.ai, changes with the labels that .github/labeler.yml gives for each.
All labels: require:db-migration, docs, storage-proxy, agent, manager, common, client, cli, webserver, webui, installer

.github/labeler.yml:

require:db-migration:
- any: ['src/ai/backend/manager/alembic/versions/*.py']

docs:
- any: ['docs/**/*']

storage-proxy:
- any: ['src/ai/backend/storage/**/*.py']

agent:
- any: [
    'src/ai/backend/agent/**/*.py',
    'src/ai/backend/kernel/**/*.py',
    'src/ai/backend/runner/**/*.py',
    'src/ai/backend/helpers/**/*.py',
  ]

manager:
- any: ['src/ai/backend/manager/**/*.py']

common:
- any: [
    'src/ai/backend/common/**/*.py',
    'src/ai/backend/plugin/**/*.py',
  ]

client:
- any: [
    'src/ai/backend/client/**/*.py',
  ]

cli:
- any: [
    'src/ai/backend/cli/**/*.py',
    'src/ai/backend/client/cli/**/*.py',
    'src/ai/backend/manager/cli/**/*.py',
    'src/ai/backend/agent/cli/**/*.py',
  ]

webserver:
- any: [
    'src/ai/backend/web/**/*.py',
  ]

webui:
- any: [
    'src/ai/backend/web/static',
  ]

installer:
- any: [
    'scripts/install-dev.sh',
    'scripts/delete-dev.sh',
    'tools/pants-plugins/**/*',
  ]

migrate single kernel session to have different kernel id and session id
  src/ai/backend/manager/models/alembic/versions/3b4093f22a98_add_session_table.py
Labels: manager

handle None value of report path
  src/ai/backend/agent/server.py
Labels: none

resolve abusing report with AccessKey
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/registry.py
Labels: manager

Support to login id/password
  src/ai/backend/kernel/intrinsic.py
  src/ai/backend/runner/entrypoint.sh
Labels: none

regenerate lockfile
  python.lock
Labels: none

update news fragment
  changes/737.feature.md
Labels: none

feat: implement abusing report and agent local_config API (#737)
  changes/737.feature.md
  src/ai/backend/agent/server.py
  src/ai/backend/client/cli/admin/agent.py
  src/ai/backend/client/cli/session.py
  src/ai/backend/client/func/agent.py
  src/ai/backend/client/func/session.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/registry.py
Labels: manager, client

setup: upgrade aiomonitor to 0.6.0 (#743)
  changes/743.feature.md
  python.lock
  requirements.txt
  src/ai/backend/agent/server.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/server.py
Labels: storage-proxy, manager

clean
  src/ai/backend/manager/models/scaling_group.py
Labels: manager

type check
  src/ai/backend/manager/models/scaling_group.py
Labels: manager

validate client address by cidr type network
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/auth.py
Labels: manager

feat: separate update and remove from vf_permission API
  changes/608.feature
  src/ai/backend/client/cli/admin/vfolder.py
Labels: client
