Repository lablup/backend.ai, changes with the labels that .github/labeler.yml gives for each.
All labels: require:db-migration, docs, storage-proxy, agent, manager, common, client, cli, webserver, webui, installer

.github/labeler.yml:

require:db-migration:
- any: ['src/ai/backend/manager/alembic/versions/*.py']

docs:
- any: ['docs/**/*']

storage-proxy:
- any: ['src/ai/backend/storage/**/*.py']

agent:
- any: [
    'src/ai/backend/agent/**/*.py',
    'src/ai/backend/kernel/**/*.py',
    'src/ai/backend/runner/**/*.py',
    'src/ai/backend/helpers/**/*.py',
  ]

manager:
- any: ['src/ai/backend/manager/**/*.py']

common:
- any: [
    'src/ai/backend/common/**/*.py',
    'src/ai/backend/plugin/**/*.py',
  ]

client:
- any: [
    'src/ai/backend/client/**/*.py',
  ]

cli:
- any: [
    'src/ai/backend/cli/**/*.py',
    'src/ai/backend/client/cli/**/*.py',
    'src/ai/backend/manager/cli/**/*.py',
    'src/ai/backend/agent/cli/**/*.py',
  ]

webserver:
- any: [
    'src/ai/backend/web/**/*.py',
  ]

webui:
- any: [
    'src/ai/backend/web/static',
  ]

installer:
- any: [
    'scripts/install-dev.sh',
    'scripts/delete-dev.sh',
    'tools/pants-plugins/**/*',
  ]

remove log in agent rpc server
  src/ai/backend/agent/server.py
Labels: none

let CIDR type compare use ipaddress built-in method and relocate validate method
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/auth.py
  src/ai/backend/manager/models/keypair.py
Labels: manager

get X-Forwared-For header to recognize original address
  src/ai/backend/manager/api/auth.py
Labels: manager

handle value err for parse CIDR
  src/ai/backend/manager/api/auth.py
  src/ai/backend/manager/models/base.py
Labels: manager

add abusing report API
  src/ai/backend/agent/server.py
  src/ai/backend/client/cli/session.py
  src/ai/backend/client/func/session.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/registry.py
Labels: manager, client

rename local config method
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/registry.py
Labels: manager

fix: allow to fetch by string group name
  src/ai/backend/manager/models/scaling_group.py
Labels: manager

add news fragement
  changes/738.fix.md
Labels: none

update news fragement
  changes/737.feature.md
Labels: none

add containers field in session
  src/ai/backend/client/output/fields.py
Labels: client

Revert "add containers field in session"
  src/ai/backend/client/output/fields.py
Labels: client

fetch abusing report through session graph
  src/ai/backend/client/func/session.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/registry.py
Labels: manager, client

open json file as read mode
  src/ai/backend/agent/server.py
Labels: none

setup: Upgrade aiomonitor-ng to 0.6.0
  python.lock
  requirements.txt
Labels: none

feat: Use `console_locals` to provide useful obj refs for live-debugging
  src/ai/backend/agent/server.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/server.py
Labels: storage-proxy, manager

doc: Add news fragment
  changes/743.feature.md
Labels: none

add support for Spectrum Scale backend
  configs/storage-proxy/sample.toml
  requirements.txt
  src/ai/backend/storage/context.py
  src/ai/backend/storage/gpfs/BUILD
  src/ai/backend/storage/gpfs/__init__.py
  src/ai/backend/storage/gpfs/exceptions.py
  src/ai/backend/storage/gpfs/gpfs_client.py
  src/ai/backend/storage/gpfs/types.py
Labels: storage-proxy

fix lint error
  src/ai/backend/storage/gpfs/__init__.py
  src/ai/backend/storage/gpfs/gpfs_client.py
Labels: storage-proxy

add news fragment
  changes/744.feature.md
Labels: none

fix type error
  src/ai/backend/storage/gpfs/__init__.py
Labels: storage-proxy

update lockfile
  python.lock
Labels: none

remove ip validation in auth and impl custom exception
  src/ai/backend/common/exception.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/auth.py
  src/ai/backend/manager/models/base.py
Labels: manager

impl X-BackendAI-IP header in client
  src/ai/backend/client/request.py
  src/ai/backend/manager/api/auth.py
Labels: manager, client

add test code
  tests/manager/api/test_auth.py
  tests/manager/conftest.py
  tests/manager/fixtures/example-keypairs.json
Labels: none

fix wrong test fixture
  tests/manager/fixtures/example-keypairs.json
Labels: none

revert test codes
  tests/manager/api/test_auth.py
  tests/manager/fixtures/example-keypairs.json
Labels: none

fix alembic migration not working
  src/ai/backend/manager/models/alembic/versions/015d84d5a5ef_add_image_table.py
  src/ai/backend/manager/models/alembic/versions/0d553d59f369_users_replace_is_active_to_status_and_its_info.py
  src/ai/backend/manager/models/alembic/versions/0f3bc98edaa0_more_status.py
  src/ai/backend/manager/models/alembic/versions/11146ba02235_change_char_col_to_str.py
  src/ai/backend/manager/models/alembic/versions/22964745c12b_add_total_resource_slots_to_group.py
  src/ai/backend/manager/models/alembic/versions/22e52d03fc61_add_allowed_docker_registries_in_domains.py
  src/ai/backend/manager/models/alembic/versions/405aa2c39458_job_queue.py
  src/ai/backend/manager/models/alembic/versions/513164749de4_add_cancelled_to_kernelstatus.py
  src/ai/backend/manager/models/alembic/versions/529113b08c2c_add_vfolder_type_column.py
  src/ai/backend/manager/models/alembic/versions/548cc8aa49c8_update_cluster_columns_in_kernels.py
  src/ai/backend/manager/models/alembic/versions/5de06da3c2b5_init.py
  src/ai/backend/manager/models/alembic/versions/8679d0a7e22b_add_scheduled_to_kernelstatus.py
  src/ai/backend/manager/models/alembic/versions/8e660aa31fe3_add_resource_presets.py
  src/ai/backend/manager/models/alembic/versions/911023380bc9_add_architecture_column_on_agents.py
  src/ai/backend/manager/models/alembic/versions/9a91532c8534_add_scaling_group.py
  src/ai/backend/manager/models/alembic/versions/babc74594aa6_add_partial_index_to_kernels.py
  src/ai/backend/manager/models/alembic/versions/bae1a7326e8a_add_domain_model.py
  src/ai/backend/manager/models/alembic/versions/c401d78cc7b9_add_allowed_vfolder_hosts_to_domain_and_.py
  src/ai/backend/manager/models/alembic/versions/c5e4e764f9e3_add_domain_group_user_fields_to_kernels.py
  src/ai/backend/manager/models/alembic/versions/ce209920f654_create_task_template_table.py
  src/ai/backend/manager/models/alembic/versions/d2aafa234374_create_error_logs_table.py
  src/ai/backend/manager/models/alembic/versions/d463fc5d6109_add_clone_allowed_to_vfolders.py
  src/ai/backend/manager/models/alembic/versions/d59ff89e7514_remove_keypair_concurrency_used.py
  src/ai/backend/manager/models/alembic/versions/d5cc54fd36b5_update_for_multicontainer_sessions.py
  src/ai/backend/manager/models/alembic/versions/dbc1e053b880_add_keypair_resource_policy.py
  src/ai/backend/manager/models/alembic/versions/e18ed5fcfedf_add_superadmin_role_for_user.py
  src/ai/backend/manager/models/alembic/versions/e421c02cf9e4_rename_kernel_dependencies_to_session_.py
  src/ai/backend/manager/models/alembic/versions/f0f4ee907155_dynamic_resource_slots.py
Labels: manager

use dist.backend.ai oven when possible
  pants.toml
Labels: none

set etcetra version to 0.1.12
  requirements.txt
Labels: none

regenerate lockfile
  python.lock
Labels: none

feat: allow superadmins to remove users from shared vfolders (#522)
  changes/522.feature.md
  src/ai/backend/manager/api/vfolder.py
Labels: manager

update news fragement
  changes/624.feature.md
Labels: none

read file by threading and minor updates
  src/ai/backend/agent/server.py
  src/ai/backend/manager/api/session.py
Labels: manager

deps: upgrade etcetra version to 0.1.12 (#746)
  pants.toml
  python.lock
  requirements.txt
Labels: none

clean up Agent.registry
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
Labels: manager

feat: allow passing blocklist to compute plugin context (#624)
  changes/624.feature.md
  configs/agent/halfstack.toml
  configs/agent/sample.toml
  src/ai/backend/agent/config.py
  src/ai/backend/agent/docker/resources.py
  src/ai/backend/agent/kubernetes/resources.py
  src/ai/backend/common/plugin/__init__.py
  tests/agent/conftest.py
  tests/common/conftest.py
  tests/common/test_plugin.py
Labels: none

remove X-BackendAI-IP headers
  src/ai/backend/client/request.py
  src/ai/backend/manager/api/auth.py
  tests/manager/conftest.py
Labels: manager, client

feat: add `shared_user_uuid` param to `leave` api (#692)
  changes/692.feature.md
  src/ai/backend/client/cli/vfolder.py
  src/ai/backend/client/func/vfolder.py
Labels: client

upgrade etcetra to 0.1.13
  python.lock
  requirements.txt
Labels: none

hotfix: upgrade etcetra to 0.1.13 (#750)
  python.lock
  requirements.txt
Labels: none
