Repository lablup/backend.ai, changes with the labels that .github/labeler.yml gives for each.
All labels: require:db-migration, area:docs, comp:storage-proxy, comp:agent, comp:manager, comp:common, comp:client, comp:cli, comp:webserver, comp:webui, comp:installer

Update backport.yml
  .github/workflows/backport.yml
Labels: none

fix: Refine some messages
  .github/workflows/backport.yml
Labels: none

ci: Create backport pr based on milestone. (#1876)
  .github/workflows/backport.yml
Labels: none

docs: Update fragment
  changes/1662.fix.md
Labels: none

docs: Add `deprecation_reason` to `status_history` in gql
  src/ai/backend/manager/models/session.py
Labels: comp:manager

chore: update GraphQL schema dump
  src/ai/backend/manager/api/schema.graphql
Labels: none

feat: Add dummy_kernels table for testing sql_json_merge
  tests/manager/models/test_utils.py
Labels: none

fix: Mishandling of `scheduled_at` in gql
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager

fix: Change `get_first_timestamp_for_status` return type to datetime
  src/ai/backend/client/cli/session/lifecycle.py
  src/ai/backend/common/utils.py
  src/ai/backend/manager/models/resource_usage.py
  src/ai/backend/manager/models/session.py
Labels: comp:manager, comp:common, comp:client, comp:cli

refactor: Replace vfolder's status_history's type map with list
  src/ai/backend/manager/models/alembic/versions/786be66ef4e5_replace_vfolders_status_history_s_type_.py
  src/ai/backend/manager/models/vfolder.py
Labels: require:db-migration, comp:manager

chore: Add fragment
  changes/2111.feature.md
Labels: none

ci: Bump init-pants from v5 to v8
  .github/workflows/default.yml
Labels: none

fix: Filter out host permissions of model store
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager

create model store with empty folder host permission
  src/ai/backend/manager/models/group.py
Labels: comp:manager

add news fragment
  changes/2117.fix.md
Labels: none

add missing conditions
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager

Add activity feed API
  graphite-demo/server.js
Labels: none

Add server API
  graphite-demo/server.js
Labels: none

Add frontend for search
  graphite-demo/frontend.jsx
Labels: none

Add user search
  graphite-demo/frontend.jsx
  graphite-demo/server.js
Labels: none

ci: Bump auto-author-assign from v1.6.0 to v2.1.0
  .github/workflows/auto-author-assign.yml
Labels: none

ci: Delete unnecessary script
  .github/workflows/default.yml
  .github/workflows/timeline-check.yml
Labels: none

fix: model server started on every kernels
  src/ai/backend/agent/agent.py
Labels: comp:agent

add news fragment
  changes/.fix.md
Labels: none

docs: Rename the news fragment with the PR number
  changes/2124.fix.md
Labels: none

fix: Simple ZCARD call without re-ranging window
  src/ai/backend/manager/models/keypair.py
Labels: comp:manager

.github/labeler.yml:

require:db-migration:
- changed-files:
  - any-glob-to-any-file:
    - 'src/ai/backend/manager/models/alembic/versions/*.py'

area:docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - 'src/ai/backend/manager/api/**/*.py'
    - 'src/ai/backend/manager/models/gql.py'

comp:storage-proxy:
- changed-files:
  - any-glob-to-any-file:
    - 'src/ai/backend/storage/**/*.py'

comp:agent:
- changed-files:
  - any-glob-to-any-file:
    - 'src/ai/backend/agent/**/*.py'
    - 'src/ai/backend/kernel/**/*.py'
    - 'src/ai/backend/runner/**/*.py'
    - 'src/ai/backend/helpers/**/*.py'

comp:manager:
- changed-files:
  - any-glob-to-any-file:
    - 'src/ai/backend/manager/**/*.py'

comp:common:
- changed-files:
  - any-glob-to-any-file:
    - 'src/ai/backend/common/**/*.py'
    - 'src/ai/backend/plugin/**/*.py'

comp:client:
- changed-files:
  - any-glob-to-any-file:
    - 'src/ai/backend/client/**/*.py'

comp:cli:
- changed-files:
  - any-glob-to-any-file:
    - 'src/ai/backend/cli/**/*.py'
    - 'src/ai/backend/client/cli/**/*.py'
    - 'src/ai/backend/manager/cli/**/*.py'
    - 'src/ai/backend/agent/cli/**/*.py'

comp:webserver:
- changed-files:
  - any-glob-to-any-file:
    - 'src/ai/backend/web/**/*.py'

comp:webui:
- changed-files:
  - any-glob-to-any-file:
    - 'src/ai/backend/web/static'

comp:installer:
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/install-dev.sh'
    - 'scripts/delete-dev.sh'
    - 'tools/pants-plugins/**/*'
