Repository lablup/backend.ai, pull requests merged in 2020-09, with the labels that each got.

#215 Update install-dev.sh to install and run storage-proxy
  scripts/delete-dev.sh
  scripts/install-dev.sh
Labels: installer, storage-proxy

#191 add simple translation about kernel description
  docs/locales/ko_KR/LC_MESSAGES/dev.po
Labels: good first issue

#192 add simple translation about Event Monitoring
  docs/locales/ko_KR/LC_MESSAGES/user-api.po
Labels: docs, good first issue, i18n

#194 add simple translation about AutoScaling
  docs/locales/ko_KR/LC_MESSAGES/install.po
Labels: docs, good first issue, i18n

#198 add simple translation about kernel
  docs/locales/ko_KR/LC_MESSAGES/dev.po
Labels: docs, good first issue, i18n

#199 add simple translation about Configure Autoscaling
  docs/locales/ko_KR/LC_MESSAGES/install.po
Labels: docs, good first issue, i18n

#203 simple translation of common-api
  docs/locales/ko_KR/LC_MESSAGES/common-api.po
Labels: docs, good first issue, i18n

#217 feat: install-dev / delete-dev with console-server (#216)
  scripts/delete-dev.sh
  scripts/install-dev.sh
Labels: console-server, maintenance

#206 add simple translation about events in user-api
  docs/locales/ko_KR/LC_MESSAGES/user-api.po
Labels: docs, good first issue, i18n

#204 add simple translation about common api
  docs/locales/ko_KR/LC_MESSAGES/common-api.po
Labels: docs, good first issue, i18n

#218 update: i18n resources for ko_KR
  docs/locales/ko_KR/LC_MESSAGES/common-api.po
  docs/locales/ko_KR/LC_MESSAGES/concepts.po
  docs/locales/ko_KR/LC_MESSAGES/dev.po
  docs/locales/ko_KR/LC_MESSAGES/install.po
  docs/locales/ko_KR/LC_MESSAGES/user-api.po
Labels: docs

#222 [Doc] add translation in concepts.po
  docs/locales/ko_KR/LC_MESSAGES/concepts.po
Labels: i18n

#223 edit user-api.po
  docs/locales/ko_KR/LC_MESSAGES/user-api.po
Labels: i18n

#221 Doc: Add Translate at install.po
  docs/locales/ko_KR/LC_MESSAGES/dev.po
  docs/locales/ko_KR/LC_MESSAGES/install.po
Labels: i18n

#197 add simple translation about Developer manuals
  docs/locales/ko_KR/LC_MESSAGES/index.po
Labels: docs, good first issue, i18n
