Repository lablup/backend.ai, pull requests merged in 2021-12, with the labels that each got.

#305 Fix/typo in install dev.sh
  docs/locales/ko_KR/LC_MESSAGES/common-api.po
  scripts/install-dev.sh
Labels: blocker, installer, good first issue

#313 setup: change the value of num-proc to 1 of manager.toml
  scripts/install-dev.sh
Labels: installer

#318 ci: Fix Python versions in CI workflows
  .github/workflows/lint-flake8.yml
  .github/workflows/typecheck-mypy.yml
  .travis.yml
Labels: maintenance, installer

#245 Add install-dev support on Apple Silicon (M1)
  scripts/install-dev.sh
Labels: feature, installer

#326 ci: Migrate to GitHub Actions
  .github/workflows/default.yml
  .github/workflows/lint-flake8.yml
  .github/workflows/typecheck-mypy.yml
  .travis.yml
Labels: maintenance, good first issue
