Repository lablup/backend.ai, pull requests merged in 2022-10, with the labels that each got.

#608 feat: add API to get shared vfolders information and API to update/delete permission
  changes/608.feature
  src/ai/backend/client/cli/admin/vfolder.py
  src/ai/backend/client/cli/vfolder.py
  src/ai/backend/client/func/vfolder.py
Labels: feature, client, good first issue

#713 feat: Introduce vfolder status
  changes/713.feature.md
  src/ai/backend/manager/api/exceptions.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/alembic/versions/1f55a65cfc4f_add_status_column_to_vfolders.py
  src/ai/backend/manager/models/alembic/versions/360af8f33d4e_merge_f83d_and_1f55.py
  src/ai/backend/manager/models/vfolder.py
Labels: manager

#768 fix: create vfolder status field correctly
  changes/768.fix.md
  src/ai/backend/manager/models/alembic/versions/1f55a65cfc4f_add_status_column_to_vfolders.py
  src/ai/backend/manager/models/vfolder.py
Labels: bug, manager

#770 hotfix: vfolder API crashing
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/alembic/versions/1f55a65cfc4f_add_status_column_to_vfolders.py
Labels: bug, manager, skip:changelog

#772 feat: Let GraphQL queries filter ComputeSession by id
  changes/772.feature.md
  src/ai/backend/manager/models/kernel.py
Labels: manager

#766 fix: extra vfolder access restriction not applied
  changes/766.fix.md
  src/ai/backend/manager/models/vfolder.py
Labels: blocker, manager

#764 feat: new Agent option to (or not to) force terminate abusing kernels
  changes/764.feature
  configs/agent/sample.toml
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
Labels: feature, blocker

#775 fix: skip resolving fields from dead agent
  changes/775.fix.md
  src/ai/backend/client/output/formatters.py
  src/ai/backend/manager/models/agent.py
Labels: bug, blocker, manager, client

#780 fix: vfolder permission condition not applied properly
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/vfolder.py
Labels: manager, skip:changelog

#782 fix: readable mutation error message
  changes/782.fix.md
  src/ai/backend/manager/models/base.py
Labels: manager

#778 Fix missing tar-unpack before downloading single file from container
  changes/778.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/kubernetes/kernel.py
  src/ai/backend/agent/server.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/registry.py
Labels: bug, manager, enhance, hacktoberfest-accepted

#781 ci: add-to-project workflow
  .github/workflows/add-to-project.yml
Labels: skip:changelog, skip:ci

#747 fix: alembic migration not working
  src/ai/backend/manager/models/alembic/versions/015d84d5a5ef_add_image_table.py
  src/ai/backend/manager/models/alembic/versions/0d553d59f369_users_replace_is_active_to_status_and_its_info.py
  src/ai/backend/manager/models/alembic/versions/0f3bc98edaa0_more_status.py
  src/ai/backend/manager/models/alembic/versions/11146ba02235_change_char_col_to_str.py
  src/ai/backend/manager/models/alembic/versions/22964745c12b_add_total_resource_slots_to_group.py
  src/ai/backend/manager/models/alembic/versions/22e52d03fc61_add_allowed_docker_registries_in_domains.py
  src/ai/backend/manager/models/alembic/versions/405aa2c39458_job_queue.py
  src/ai/backend/manager/models/alembic/versions/513164749de4_add_cancelled_to_kernelstatus.py
  src/ai/backend/manager/models/alembic/versions/529113b08c2c_add_vfolder_type_column.py
  src/ai/backend/manager/models/alembic/versions/548cc8aa49c8_update_cluster_columns_in_kernels.py
  src/ai/backend/manager/models/alembic/versions/5de06da3c2b5_init.py
  src/ai/backend/manager/models/alembic/versions/8679d0a7e22b_add_scheduled_to_kernelstatus.py
  src/ai/backend/manager/models/alembic/versions/8e660aa31fe3_add_resource_presets.py
  src/ai/backend/manager/models/alembic/versions/911023380bc9_add_architecture_column_on_agents.py
  src/ai/backend/manager/models/alembic/versions/9a91532c8534_add_scaling_group.py
  src/ai/backend/manager/models/alembic/versions/babc74594aa6_add_partial_index_to_kernels.py
  src/ai/backend/manager/models/alembic/versions/bae1a7326e8a_add_domain_model.py
  src/ai/backend/manager/models/alembic/versions/c401d78cc7b9_add_allowed_vfolder_hosts_to_domain_and_.py
  src/ai/backend/manager/models/alembic/versions/c5e4e764f9e3_add_domain_group_user_fields_to_kernels.py
  src/ai/backend/manager/models/alembic/versions/ce209920f654_create_task_template_table.py
  src/ai/backend/manager/models/alembic/versions/d2aafa234374_create_error_logs_table.py
  src/ai/backend/manager/models/alembic/versions/d463fc5d6109_add_clone_allowed_to_vfolders.py
  src/ai/backend/manager/models/alembic/versions/d59ff89e7514_remove_keypair_concurrency_used.py
  src/ai/backend/manager/models/alembic/versions/d5cc54fd36b5_update_for_multicontainer_sessions.py
  src/ai/backend/manager/models/alembic/versions/dbc1e053b880_add_keypair_resource_policy.py
  src/ai/backend/manager/models/alembic/versions/e18ed5fcfedf_add_superadmin_role_for_user.py
  src/ai/backend/manager/models/alembic/versions/e421c02cf9e4_rename_kernel_dependencies_to_session_.py
  src/ai/backend/manager/models/alembic/versions/f0f4ee907155_dynamic_resource_slots.py
Labels: manager, skip:changelog, require:db-migration

#786 fix: invalid previous tag added on changelog
  .github/workflows/default.yml
  scripts/extract-release-changelog.py
Labels: maintenance, skip:changelog, skip:ci

#789 fix(xfs): error in getting vfolder inode usage
  changes/789.fix
  src/ai/backend/storage/xfs/__init__.py
Labels: bug, blocker, storage-proxy

#733 ci: Fix sync-labels option error
  .github/workflows/label.yml
Labels: skip:changelog, skip:ci

#788 fix: correct agent status compare in resolver
  changes/788.fix.md
  src/ai/backend/manager/models/agent.py
Labels: bug, blocker, manager

#801 setup: Update the base Python from 3.10.7 to 3.10.8
  changes/801.misc.md
  docs/dev/daily-workflows.rst
  pants.toml
  pyproject.toml
  python-kernel.lock
  python.lock
  tools/flake8.lock
  tools/pytest.lock
Labels: infrastructure, maintenance, docs

#822 docs: add translation
  docs/locales/ko/LC_MESSAGES/agent/accelerators.po
  docs/locales/ko/LC_MESSAGES/agent/docker.po
  docs/locales/ko/LC_MESSAGES/agent/index.po
  docs/locales/ko/LC_MESSAGES/agent/k8s.po
  docs/locales/ko/LC_MESSAGES/agent/rpc.po
Labels: docs, skip:changelog

#821 fix: typo on session commit status API response
  changes/821.fix.md
  src/ai/backend/manager/api/session.py
Labels: manager

#823 docs: Translate key-concepts
  docs/locales/ko/LC_MESSAGES/concepts/api-overview.po
  docs/locales/ko/LC_MESSAGES/concepts/key-concepts.po
Labels: docs, skip:changelog, skip:ci

#831 ci: Relabeling should trigger the default workflow to apply `skip:ci` semantics
  .github/workflows/default.yml
Labels: skip:changelog, skip:ci

#819 misc: do not create subshell in executing `py` and `backend.ai` scripts
  backend.ai
  changes/819.misc
  py
Labels: cli

#820 fix: return empty commit status when the session is not running
  changes/820.fix
  src/ai/backend/manager/registry.py
Labels: bug, blocker, manager

#832 setup: Upgrade pants from 2.13.0rc0 to 2.13.1rc2
  pants.toml
Labels: infrastructure, maintenance, skip:changelog

#752 feat: adopt aiohttp-session implementation as a part of common module
  changes/752.feature.md
  python.lock
  requirements.txt
  src/ai/backend/common/BUILD
  src/ai/backend/common/web/session/BUILD
  src/ai/backend/common/web/session/__init__.py
  src/ai/backend/common/web/session/redis_storage.py
  src/ai/backend/web/auth.py
  src/ai/backend/web/proxy.py
  src/ai/backend/web/server.py
Labels: webserver

#808 setup: Upgrade aiomonitor-ng to 0.7
  changes/808.feature.md
  python.lock
  requirements.txt
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/common/events.py
Labels: feature, infrastructure, manager, agent

#804 feat: Improve cpuset detection to use Docker's cgroup cpuset
  changes/804.feature.md
  src/ai/backend/agent/vendor/linux.py
  src/ai/backend/common/docker.py
  src/ai/backend/testutils/bootstrap.py
  tests/agent/conftest.py
  tests/agent/test_resources.py
Labels: feature, agent

#841 setup: Add `--ipc-base-path` option to install-dev.sh
  changes/841.misc.md
  configs/agent/halfstack.toml
  configs/manager/halfstack.toml
  configs/manager/sample.toml
  scripts/install-dev.sh
  src/ai/backend/manager/config.py
Labels: feature, manager, installer

#842 repo: Upgrade ./pants script
  .gitignore
  pants
Labels: infrastructure, maintenance, skip:changelog

#837 docs: translated to korean manager/user-api/resource-presets.po
  docs/locales/ko/LC_MESSAGES/manager/user-api/resource-presets.po
Labels: docs, good first issue, skip:changelog, skip:ci, hacktoberfest-accepted

#828 docs: translated to korean manager/user-api/vfolders.po
  docs/locales/ko/LC_MESSAGES/manager/user-api/vfolders.po
Labels: docs, good first issue, skip:changelog, skip:ci, hacktoberfest-accepted

#824 docs: Readme.md for update Badges
  README.md
Labels: docs, good first issue, skip:changelog, skip:ci, hacktoberfest-accepted
