Repository lablup/backend.ai, pull requests merged in 2022-01, with the labels that each got.

#334 fix: update storage proxy installation step
  scripts/install-dev.sh
Labels: blocker, installer, good first issue

#340 feat(scripts/install-dev): Update example client-py config population
  scripts/delete-dev.sh
  scripts/install-dev.sh
Labels: feature, usability, installer

#341 refactor: Single-source the example credentials in install-dev.sh
  scripts/install-dev.sh
Labels: installer, refactor

#346 fix: Pull and alias the arm64 Python image if installed on arm64 machines
  scripts/install-dev.sh
Labels: bug, installer

#350 fix: debug syntax err in install script
  scripts/install-dev.sh
Labels: bug, installer

#351 feat: Update tester env script installation to use separate user/admin configs
  scripts/install-dev.sh
Labels: bug, installer

#294 fix: docs build warning
  docs/install/install-agent.rst
  docs/install/install-manager.rst
  docs/install/install-user-programs.rst
  docs/user-api/sessions.rst
Labels: bug, docs
