Repository lablup/backend.ai, pull requests merged in 2022-03, with the labels that each got.

#387 scripts(install-dev): Set the default Python version to 3.10.2
  scripts/install-dev.sh
Labels: maintenance, installer

#391 installer: Fix up grpcio install issue on M1 and Python 3.10
  scripts/delete-dev.sh
  scripts/install-dev.sh
Labels: upstream, installer

#402 add g++ package at install-dev.sh on Ubuntu
  scripts/install-dev.sh
Labels: installer, good first issue
