Repository lablup/backend.ai, pull requests merged in 2022-06, with the labels that each got.

#428 docs: Update rtd configs
  .readthedocs.yml
  changes/428.misc.md
  docs/requirements.txt
Labels: docs

#429 docs: Update dev workflow guides
  changes/429.misc.md
  docs/dev/daily-workflows.rst
  docs/index.rst
  docs/install/development-setup.rst
  scripts/install-dev.sh
Labels: docs

#433 ci: Automate creation of GitHub releases
  .github/workflows/default.yml
  .gitignore
  CHANGELOG.md
  VERSION
  changes/417.misc
  changes/427.misc.md
  changes/428.misc.md
  changes/429.misc.md
  pyproject.toml
  scripts/determine-release-type.py
  scripts/extract-release-changelog.py
  src/ai/backend/test/README.md
Labels: infrastructure

#434 docs: Add plugin workflow
  .github/PULL_REQUEST_TEMPLATE.md
  changes/434.doc.md
  docs/dev/daily-workflows.rst
  scripts/reinstall-plugins.sh
Labels: docs

#353 docs: translate index.po
  docs/locales/ko_KR/LC_MESSAGES/index.po
Labels: docs, good first issue, i18n

#372 fix installer bugs on RHEL-based Linux distributions
  changes/372.misc.md
  scripts/install-dev.sh
Labels: installer

#274 docs: add some translations.
  docs/common-api/auth.rst
  docs/locales/ko_KR/LC_MESSAGES/common-api.po
  docs/locales/ko_KR/LC_MESSAGES/concepts.po
  docs/locales/ko_KR/LC_MESSAGES/dev.po
  docs/locales/ko_KR/LC_MESSAGES/index.po
  docs/locales/ko_KR/LC_MESSAGES/install.po
  docs/locales/ko_KR/LC_MESSAGES/user-api.po
Labels: docs

#431 feat: add cli vfolder mkdir options
  changes/431.feature
  src/ai/backend/client/cli/vfolder.py
  src/ai/backend/client/func/vfolder.py
Labels: client, cli

#436 docs: Update locale config
  docs/conf.py
  docs/locales/ko/LC_MESSAGES/admin-api.po
  docs/locales/ko/LC_MESSAGES/client.po
  docs/locales/ko/LC_MESSAGES/common-api.po
  docs/locales/ko/LC_MESSAGES/concepts.po
  docs/locales/ko/LC_MESSAGES/dev.po
  docs/locales/ko/LC_MESSAGES/index.po
  docs/locales/ko/LC_MESSAGES/install.po
  docs/locales/ko/LC_MESSAGES/user-api.po
Labels: docs

#437 feat: execute keypair bootstrap script for batch compute session
  changes/437.feature
  src/ai/backend/manager/api/session.py
Labels: feature, manager, minor

#439 feat: No longer need to re-install plugins after `./pants export ::`
  changes/439.misc.md
  docs/dev/daily-workflows.rst
  py
  scripts/install-plugin.sh
  scripts/reinstall-plugins.sh
  src/ai/backend/common/plugin/__init__.py
  src/ai/backend/plugin/entrypoint.py
  src/ai/backend/testutils/bootstrap.py
  tests/common/test_plugin.py
  tests/manager/test_registry.py
Labels: infrastructure, installer

#441 fix: save kernel registry when KernelStartedEvent and KernelTerminatedEvent
  changes/441.fix
  scripts/install-dev.sh
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/stats.py
Labels: bug, agent

#445 setup: Replace toml with tomli
  changes/445.fix.md
  python.lock
  requirements.txt
  src/ai/backend/common/config.py
  src/ai/backend/web/server.py
  tests/common/test_config.py
Labels: maintenance

#452 fix: agent startup error due to `UnboundLocalError` in dumping the last registry
  changes/452.fix
  src/ai/backend/agent/agent.py
Labels: bug, agent

#455 fix: Twine check failure of Client SDK wheel package
  changes/455.fix.md
  src/ai/backend/client/README.rst
Labels: maintenance

#446 docs: Update Git LFS guide
  changes/446.doc.md
  docs/install/development-setup.rst
  scripts/install-dev.sh
Labels: docs, installer

#438 fix: Refine `install-dev.sh` and the `./py` wrapper
  changes/438.fix
  py
  scripts/install-dev.sh
  tools/pants-local
Labels: infrastructure, installer

#459 fix: Missing dependencies for ai.backend.web
  .gitignore
  BUILD
  changes/459.fix.md
  src/ai/backend/web/BUILD
Labels: bug, blocker, webserver

#442 fix: Update integration test to work with the new repo structure
  changes/442.fix.md
  scripts/install-dev.sh
  src/ai/backend/test/cli_integration/admin/test_domain.py
  src/ai/backend/test/cli_integration/admin/test_keypair.py
  src/ai/backend/test/cli_integration/admin/test_keypair_resource_policy.py
  src/ai/backend/test/cli_integration/admin/test_scaling_group.py
  src/ai/backend/test/cli_integration/admin/test_user.py
  src/ai/backend/test/cli_integration/conftest.py
Labels: maintenance, good first issue

#465 fix: Ignore plugins-not-found message
  changes/465.fix.md
  py
  src/ai/backend/test/cli_integration/admin/test_user.py
Labels: bug, cli

#463 fix(test): Add missing `export` keyword to `BACKENDAI_TEST_CLIENT_ENV` environment variable
  changes/463.fix.md
  scripts/install-dev.sh
Labels: bug, installer

#461 doc: Mention requirement of system pip package on Linux distros
  changes/461.doc.md
  docs/install/development-setup.rst
Labels: docs, installer, good first issue

#470 fix(install-dev): Publicly open the manager's service-addr
  changes/470.misc.md
  configs/manager/halfstack.toml
Labels: maintenance, installer

#466 fix: Generate dummy data using `faker`
  changes/466.fix.md
  python.lock
  requirements.txt
  src/ai/backend/test/cli_integration/admin/test_keypair.py
  src/ai/backend/test/cli_integration/admin/test_user.py
  src/ai/backend/test/cli_integration/conftest.py
Labels: feature, maintenance

#472 feat: Import `diff-release.py` script from the legacy common repo
  changes/472.misc.md
  scripts/diff-release.py
Labels: feature, infrastructure

#473 fix: Add a subvolume syscall exception for btrfs (#454)
  changes/473.fix.md
  src/ai/backend/agent/docker/intrinsic.py
Labels: agent

#476 setup: Update required software versions
  changes/475.fix.md
  docker-compose.halfstack-2009.yml
  docker-compose.halfstack-2103.yml
  docker-compose.halfstack-2109.yml
  docker-compose.halfstack-2203.yml
  docker-compose.halfstack-ha.yml
  docker-compose.halfstack-prod.yml
Labels: infrastructure, maintenance, installer

#478 fix: skip measuring the stat for an agent registry item if it has not yet assigned container ID to prevent the occasional unhandled `UnboundLocalError`
  changes/478.fix
  src/ai/backend/agent/stats.py
Labels: bug, agent, minor

#484 feat: selective payload decryption logic on client-webserver
  BUILD
  changes/484.breaking.md
  changes/484.feature.md
  python-kernel.lock
  python.lock
  requirements.txt
  src/ai/backend/manager/server.py
  src/ai/backend/web/proxy.py
  src/ai/backend/web/server.py
  tools/flake8.lock
  tools/mypy.lock
  tools/pytest.lock
  tools/towncrier.lock
Labels: feature, security, infrastructure, enterprise, client, webserver

#488 fix: Type correction on renaming file api
  changes/488.fix.md
  src/ai/backend/manager/models/storage.py
  src/ai/backend/storage/api/manager.py
Labels: bug, manager, good first issue, minor

#487 fix: Casting UUID like str to UUID
  changes/487.fix.md
  src/ai/backend/storage/api/manager.py
Labels: bug, blocker, storage-proxy, minor

#492 fix: Raise explicit error if multiple entries found when deleting a vfolder
  changes/492.fix.md
  src/ai/backend/manager/api/exceptions.py
  src/ai/backend/manager/api/vfolder.py
Labels: bug, blocker, manager

#494 setup: upgrade etcetra to 0.1.8
  changes/494.feature
  python-kernel.lock
  python.lock
  requirements.txt
  tools/flake8.lock
  tools/mypy.lock
  tools/pytest.lock
  tools/towncrier.lock
Labels: upstream, installer

#498 ci: Manually upgrade pex version to avoid platform-flapping issue
  changes/498.misc.md
  pants.toml
  python-kernel.lock
  python.lock
  tools/flake8.lock
  tools/isort.lock
  tools/mypy.lock
  tools/pytest.lock
  tools/towncrier.lock
Labels: infrastructure
