Repository lablup/backend.ai, pull requests merged in 2022-07, with the labels that each got.

#505 fix: Correct CPU arch detection in `install-dev.sh`
  changes/505.fix.md
  scripts/install-dev.sh
Labels: installer, good first issue, refactor

#506 ci: Update pex version to 2.1.94
  changes/506.misc.md
  pants.toml
  python-kernel.lock
  python.lock
  tools/flake8.lock
  tools/isort.lock
  tools/mypy.lock
  tools/pytest.lock
  tools/towncrier.lock
Labels: infrastructure

#481 setup: Upgrade Python to 3.10.5
  .github/workflows/default.yml
  changes/481.misc.md
  pants.toml
  python-kernel.lock
  python.lock
  tools/flake8.lock
  tools/mypy.lock
  tools/pytest.lock
Labels: maintenance

#508 setup: Upgrade Pants to 2.12.0
  changes/508.misc.md
  pants.toml
Labels: infrastructure

#513 doc: Add guide for editable install of mono-repo packages in other projects
  changes/513.doc.md
  docs/dev/daily-workflows.rst
Labels: docs

#514 fix: add timeout to `prepare()`'s `PersistentTaskGroup`
  changes/514.fix
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: bug, manager

#440 feat: Add `session watch` command to client-py
  changes/440.feature.md
  python.lock
  requirements.txt
  src/ai/backend/client/cli/events.py
  src/ai/backend/client/cli/session.py
  src/ai/backend/manager/api/events.py
Labels: feature, client, cli, good first issue

#467 feat: Add a watchdog task to `FileLock` for implicit release after timeout
  changes/467.feature.md
  src/ai/backend/common/lock.py
  tests/common/test_distributed.py
Labels: feature, common, good first issue

#518 feat(install-dev): Install the standard pre-push hook
  changes/518.misc.md
  scripts/install-dev.sh
  scripts/pre-push.sh
Labels: infrastructure, installer

#519 feat(install-dev): Enhance the pre-push hook
  changes/519.misc.md
  docs/dev/daily-workflows.rst
  scripts/install-dev.sh
  scripts/pre-push.sh
Labels: infrastructure, installer

#520 feat(install-dev): Add pre-commit hook
  changes/520.misc.md
  scripts/install-dev.sh
  scripts/pre-commit.sh
  scripts/pre-push.sh
Labels: infrastructure, installer

#524 feat(install-dev): Warn and exit if user is not on the build root.
  changes/524.feature.md
  scripts/install-dev.sh
Labels: installer

#527 fix(docker-compose): Update redis healthcheck
  changes/527.fix.md
  docker-compose.halfstack-2009.yml
  docker-compose.halfstack-2203.yml
  docker-compose.halfstack-prod.yml
  docker-compose.halfstack.yml
  docker-compose.yml
  src/ai/backend/testutils/bootstrap.py
Labels: bug, infrastructure

#530 fix: Background async tasks disappearing due to unhandled exceptions
  .gitignore
  changes/530.fix.md
  pyproject.toml
  src/ai/backend/common/etcd.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/api/stream.py
  src/ai/backend/manager/config.py
  tests/agent/conftest.py
Labels: bug, manager, common

#533 feat: Bump the client's target API version to v6.20220615
  changes/533.feature.md
  src/ai/backend/client/cli/__init__.py
  src/ai/backend/client/config.py
Labels: feature, client, cli

#534 fix: `DockerKernel` object has no attribute `runner`
  changes/534.fix.md
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/kubernetes/kernel.py
Labels: bug, agent

#468 feat: migrate to redis-py and add support for redlock
  BUILD
  changes/468.feature
  docs/conf.py
  python.lock
  requirements.txt
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/stats.py
  src/ai/backend/common/bgtask.py
  src/ai/backend/common/events.py
  src/ai/backend/common/lock.py
  src/ai/backend/common/redis_helper.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/auth.py
  src/ai/backend/manager/api/context.py
  src/ai/backend/manager/api/logs.py
  src/ai/backend/manager/api/ratelimit.py
  src/ai/backend/manager/api/resource.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/api/stream.py
  src/ai/backend/manager/cli/__main__.py
  src/ai/backend/manager/cli/context.py
  src/ai/backend/manager/defs.py
  src/ai/backend/manager/idle.py
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/keypair.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/predicates.py
  src/ai/backend/manager/server.py
  src/ai/backend/testutils/bootstrap.py
  src/ai/backend/web/server.py
  tests/common/BUILD
  tests/common/conftest.py
  tests/common/redis/docker.py
  tests/common/redis/redis-cluster.yml
  tests/common/redis/redis-sentinel.dockerfile
  tests/common/redis/sentinel.conf
  tests/common/redis/test_connect.py
  tests/common/redis/test_list.py
  tests/common/redis/test_pipeline.py
  tests/common/redis/test_pubsub.py
  tests/common/redis/test_stream.py
  tests/common/redis/utils.py
  tests/common/test_distributed.py
  tests/common/test_events.py
  tests/manager/api/test_bgtask.py
  tests/manager/test_registry.py
Labels: common, refactor

#538 fix: `LogRecord` may not contain the `level` field
  changes/538.fix.md
  src/ai/backend/common/logging.py
Labels: bug, common

#540 fix(logging): Do null-check of the 'level' value even if the key exists
  changes/540.fix.md
  src/ai/backend/common/logging.py
Labels: bug, common

#480 feat: Add `kernels.status_history` JSONB column for tracking status transition timestamp
  changes/480.feature.md
  python.lock
  src/ai/backend/manager/models/alembic/versions/35923972eddb_create_kernels_status_history_column.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/utils.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: feature, manager

#485 feat: Support installation on openSUSE
  changes/485.feature.md
  scripts/install-dev.sh
Labels: feature, installer

#541 setup: Set the minimum redis-py version to 4.3.4
  changes/541.fix.md
  python.lock
  requirements.txt
Labels: maintenance, common, upstream

#501 setup: Support editable installation of webui
  .gitignore
  changes/501.feature.md
  configs/manager/sample.etcd.volumes.json
  docs/conf.py
  docs/index.rst
  docs/install/dev-setup-app.svg
  docs/install/dev-setup-staticwebui.svg
  docs/install/dev-setup.svg
  docs/install/development-setup.rst
  docs/install/install-from-package.rst
  docs/install/install-from-source.rst
  docs/manager/user-api/intro.rst
  docs/requirements.txt
  scripts/delete-dev.sh
  scripts/install-dev.sh
Labels: feature, infrastructure, installer

#545 setup: Introduce our own PyPI to workaround upstream issues
  changes/545.misc.md
  pants.toml
  python.lock
Labels: infrastructure, installer

#547 feat(install-dev.sh): remove manual grpcio wheel building section
  changes/547.misc.md
  scripts/install-dev.sh
Labels: installer

#548 fix(install-dev): A typo in sed expression while installing backend.ai-webui
  scripts/install-dev.sh
Labels: maintenance, installer

#552 setup: Upgrade pex to 2.1.99
  changes/552.misc.md
  pants.toml
  python-kernel.lock
  python.lock
  tools/flake8.lock
  tools/isort.lock
  tools/mypy.lock
  tools/pytest.lock
  tools/towncrier.lock
Labels: maintenance, upstream, installer

#550 fix(plugin): Skip "build" directories in vendored/submodule respositories
  changes/550.fix.md
  src/ai/backend/plugin/entrypoint.py
Labels: bug, common, installer

#551 fix: fix typo & check file on install-dev.sh
  changes/551.fix.md
  scripts/install-dev.sh
Labels: bug, installer, refactor

#531 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: docs

#557 ci: Make the pre-push branch check consistent in Mac/Linux
  scripts/pre-push.sh
Labels: infrastructure

#560 setup: Upgrade external dependencies
  changes/560.fix.md
  pants.toml
  python.lock
  requirements.txt
  src/ai/backend/agent/kernel.py
  src/ai/backend/manager/api/stream.py
  tools/flake8.lock
  tools/mypy.lock
  tools/pytest.lock
Labels: upstream, installer

#529 feat(agent): Introduce `var-base-path` config and relocate last registry db
  changes/529.feature.md
  configs/agent/halfstack.toml
  configs/agent/sample.toml
  scripts/install-dev.sh
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
  tests/agent/conftest.py
Labels: feature, agent, good first issue

#562 doc: Update dev-guide for VSCode and Vim settings
  .gitignore
  docs/dev/daily-workflows.rst
Labels: infrastructure, docs

#443 feat: add support for weka.io backend
  changes/443.feature
  src/ai/backend/storage/README.md
  src/ai/backend/storage/context.py
  src/ai/backend/storage/weka/__init__.py
  src/ai/backend/storage/weka/exceptions.py
  src/ai/backend/storage/weka/weka_client.py
Labels: feature, infrastructure, storage-proxy

#525 feat: allow user to force-terminate own sessions
  changes/525.feature.md
  src/ai/backend/manager/api/session.py
Labels: feature, manager, good first issue

#558 fix: Revert and simplify changes on `sql_json_merge()` with additional test cases
  changes/558.fix.md
  src/ai/backend/manager/models/utils.py
  tests/manager/conftest.py
  tests/manager/models/test_utils.py
Labels: maintenance, manager

#511 feat: migrate open-source CUDA plugins
  changes/511.feature
  configs/accelerator/cuda-mock-mig.toml
  configs/accelerator/cuda-mock.toml
  configs/agent/sample.toml
  scripts/install-dev.sh
  src/ai/backend/accelerator/cuda_mock/BUILD
  src/ai/backend/accelerator/cuda_mock/README.md
  src/ai/backend/accelerator/cuda_mock/VERSION
  src/ai/backend/accelerator/cuda_mock/__init__.py
  src/ai/backend/accelerator/cuda_mock/defs.py
  src/ai/backend/accelerator/cuda_mock/plugin.py
  src/ai/backend/accelerator/cuda_mock/py.typed
  src/ai/backend/accelerator/cuda_mock/types.py
  src/ai/backend/accelerator/cuda_open/BUILD
  src/ai/backend/accelerator/cuda_open/README.md
  src/ai/backend/accelerator/cuda_open/VERSION
  src/ai/backend/accelerator/cuda_open/__init__.py
  src/ai/backend/accelerator/cuda_open/nvidia.py
  src/ai/backend/accelerator/cuda_open/plugin.py
  src/ai/backend/accelerator/cuda_open/py.typed
  src/ai/backend/agent/config.py
  src/ai/backend/agent/docker/resources.py
  src/ai/backend/agent/kubernetes/resources.py
  src/ai/backend/agent/resources.py
  src/ai/backend/common/plugin/__init__.py
  src/ai/backend/common/validators.py
  src/ai/backend/plugin/entrypoint.py
  tests/agent/conftest.py
  tests/common/test_plugin.py
  tests/plugin/test_entrypoint.py
Labels: agent

#509 fix: Update deprecated `etcd` apis with `image` apis
  changes/509.fix.md
  docs/client/dev/testing.rst
  docs/locales/ko/LC_MESSAGES/client/dev/testing.po
  docs/locales/ko/LC_MESSAGES/migration/docker-hub-to-backendai-cr.po
  docs/migration/docker-hub-to-backendai-cr.rst
  scripts/install-dev.sh
  src/ai/backend/manager/README.md
Labels: maintenance, manager

#512 fix: Use `aioredis.client.Redis.ping()` to ping redis server
  changes/512.fix.md
  src/ai/backend/common/redis_helper.py
  src/ai/backend/manager/server.py
Labels: maintenance, common, good first issue

#584 doc: Update IDE/Vim configuration guides
  .gitignore
  docs/dev/daily-workflows.rst
  pants.toml
  pyproject.toml
Labels: docs

#578 fix: checking enable-cuda & enable-cuda-mock, modify cp cuda-mock.toml
  changes/578.fix.md
  scripts/install-dev.sh
Labels: bug, installer

#595 ci: Let workflows recognize skip:ci, skip:changelog labels
  .github/workflows/default.yml
  .github/workflows/timeline-check.yml
Labels: infrastructure, skip:changelog

#594 fix(install-dev): Make sed commands for the webui auto-config more robust
  scripts/install-dev.sh
Labels: bug, installer, skip:changelog

#592 fix: add alembic command for Pants-based development envrionment
  docs/install/version-management-and-upgrades.rst
Labels: docs, skip:changelog

#587 fix: change exit code from -1 to 1
  scripts/install-dev.sh
Labels: bug, installer, skip:changelog

#582 feat: support advertise URL for WSProxoy v2
  changes/582.feature
  src/ai/backend/manager/api/scaling_group.py
  src/ai/backend/manager/api/session.py
Labels: feature, manager

#602 feat(install-dev): Add check for `-f` flag compatibility of docker compose v2 in user/root privileges
  changes/602.fix.md
  scripts/install-dev.sh
Labels: feature, installer

#605 feat(scripts): Improve pre-push hook and use updatable hooks
  .editorconfig
  scripts/install-dev.sh
  scripts/pre-commit
  scripts/pre-commit.sh
  scripts/pre-push
  scripts/pre-push.sh
Labels: feature, installer, skip:changelog

#610 ci: Prevent intermittent test failure due to db connection error
  tests/manager/conftest.py
Labels: maintenance, manager, skip:changelog

#599 feat(web): Add `[service].static_path` option
  changes/599.feature.md
  configs/webserver/sample.conf
  src/ai/backend/common/validators.py
  src/ai/backend/web/auth.py
  src/ai/backend/web/config.py
  src/ai/backend/web/proxy.py
  src/ai/backend/web/server.py
  src/ai/backend/web/template.py
  src/ai/backend/web/templates/config.toml.j2
  src/ai/backend/web/templates/config_ini.toml.j2
  tests/common/test_validators.py
  tests/webserver/test_auth.py
Labels: feature, common, webserver, refactor

#597 fix: modifying help-message with misspelled word in install-dev.sh
  scripts/install-dev.sh
Labels: skip:changelog, skip:ci

#611 fix: Add missing webserver jinja templates
  changes/611.fix.md
  src/ai/backend/web/BUILD
Labels: webserver, installer

#615 fix: Incorrectly spelled word in ImageNotFound exception message
  changes/615.fix.md
  src/ai/backend/manager/models/image.py
Labels: maintenance, manager, skip:ci
