Repository lablup/backend.ai, pull requests merged in 2022-11, with the labels that each got.

#754 ci: auto label in issue
  .github/workflows/auto-label.yml
Labels: infrastructure, skip:changelog, skip:ci

#834 ci: SBOM report manual trigger workflow
  .github/workflows/sbom.yml
Labels: infrastructure, skip:changelog

#840 fix: logical errors in calculating monthly stats
  changes/840.fix.md
  src/ai/backend/manager/api/resource.py
Labels: bug, blocker, manager

#848 setup: upgrade etcetra to 0.1.14
  python.lock
  requirements.txt
Labels: manager, skip:changelog

#850 fix: webserver plugin string is broken
  changes/850.fix.md
  src/ai/backend/web/config.py
Labels: bug, blocker, webserver

#853 fix: oneshot command not creating `alembic_version` table
  changes/853.fix.md
  src/ai/backend/manager/cli/dbschema.py
Labels: manager, minor

#849 fix: Serialization failures when returning kernel creation results
  changes/849.fix.md
  python.lock
  requirements.txt
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/resources.py
  src/ai/backend/common/msgpack.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/registry.py
  tests/common/test_msgpack.py
Labels: bug, manager, agent

#857 repo: Upgrade Pants to 2.14
  .github/workflows/default.yml
  BUILD
  changes/857.misc.md
  pants.toml
  python-kernel.lock
  python.lock
  requirements.txt
  src/ai/backend/accelerator/cuda_open/plugin.py
  src/ai/backend/agent/kubernetes/kube_object.py
  src/ai/backend/agent/proxy.py
  src/ai/backend/agent/stats.py
  src/ai/backend/agent/types.py
  src/ai/backend/agent/vendor/linux.py
  src/ai/backend/client/auth.py
  src/ai/backend/client/config.py
  src/ai/backend/client/load_balancing.py
  src/ai/backend/client/request.py
  src/ai/backend/common/etcd.py
  src/ai/backend/common/events.py
  src/ai/backend/common/plugin/hook.py
  src/ai/backend/common/redis_helper.py
  src/ai/backend/common/types.py
  src/ai/backend/common/validators.py
  src/ai/backend/kernel/base.py
  src/ai/backend/kernel/python/sitecustomize.py
  src/ai/backend/kernel/service.py
  src/ai/backend/kernel/vendor/aws_polly/inproc.py
  src/ai/backend/manager/api/admin.py
  src/ai/backend/manager/api/context.py
  src/ai/backend/manager/api/events.py
  src/ai/backend/manager/api/logs.py
  src/ai/backend/manager/api/manager.py
  src/ai/backend/manager/api/ratelimit.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/api/stream.py
  src/ai/backend/manager/cli/context.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/models/storage.py
  src/ai/backend/manager/scheduler/types.py
  src/ai/backend/runner/BUILD
  src/ai/backend/storage/types.py
  src/ai/backend/test/cli/context.py
  src/ai/backend/web/server.py
  tests/agent/test_alloc_map.py
  tests/common/test_distributed.py
  tests/common/test_events.py
  tests/manager/test_scheduler.py
  tools/black.lock
  tools/coverage-py.lock
  tools/flake8.lock
  tools/isort.lock
  tools/mypy.lock
  tools/pants-plugins/platform_resources/register.py
  tools/pants-plugins/platform_resources/register.py.pants2.14.bak
  tools/pytest.lock
  tools/towncrier.lock
Labels: infrastructure, manager, client, webserver, storage-proxy, enhance

#859 repo: Remove Pants 2.14 warnings
  pants.toml
  pyproject.toml
  python-kernel.lock
  tools/flake8.lock
  tools/mypy.lock
  tools/pants-plugins.lock
  tools/pants-plugins/BUILD
  tools/pants-plugins/platform_resources/BUILD
  tools/pants-plugins/platform_resources/register.py
  tools/pants-plugins/setupgen/BUILD
  tools/pants-plugins/setupgen/register.py
  tools/pants-plugins/towncrier_tool/BUILD
  tools/pants-plugins/towncrier_tool/register.py
  tools/pytest.lock
Labels: infrastructure, maintenance, upstream, skip:changelog

#864 setup: Init `.pants.bootstrap` on Apple Silicon Macs
  .github/workflows/default.yml
  changes/864.misc.md
  docs/dev/daily-workflows.rst
  docs/install/development-setup.rst
  pants.ci.toml
  pants.toml
  scripts/install-dev.sh
Labels: feature, infrastructure, docs, installer, good first issue, enhance

#870 doc: Update installation guides
  docs/install/install-from-package.rst
  docs/install/install-from-source.rst
Labels: docs, skip:changelog

#874 docs: Update the Python versino in `docs/README.md`
  docs/README.md
  docs/locales/ko/LC_MESSAGES/README.po
  docs/locales/ko/LC_MESSAGES/client/dev/session.po
  docs/locales/ko/LC_MESSAGES/client/func/admin.po
  docs/locales/ko/LC_MESSAGES/client/func/agent.po
  docs/locales/ko/LC_MESSAGES/client/func/auth.po
  docs/locales/ko/LC_MESSAGES/client/func/config.po
  docs/locales/ko/LC_MESSAGES/client/func/keypair.po
  docs/locales/ko/LC_MESSAGES/client/func/manager.po
  docs/locales/ko/LC_MESSAGES/client/func/scaling-group.po
  docs/locales/ko/LC_MESSAGES/client/func/session-template.po
  docs/locales/ko/LC_MESSAGES/client/func/session.po
  docs/locales/ko/LC_MESSAGES/client/func/vfolder.po
  docs/locales/ko/LC_MESSAGES/client/lowlevel/request.po
Labels: docs, skip:changelog, skip:ci

#707 fix: Remove a migrated decode operation when decrypting payload
  changes/707.fix.md
  src/ai/backend/web/proxy.py
Labels: bug, blocker, webserver, minor

#783 fix: Prevent session statuses from being rolled backed to PREPARING after successful creation or timeout
  changes/783.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/server.py
  src/ai/backend/common/events.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/registry.py
Labels: bug, blocker, manager

#447 feat: make container metadata server listening port configurable
  changes/447.feature
  configs/agent/sample.toml
  scripts/agent/update-metadata-iptables.sh
  src/ai/backend/agent/config.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/kernel.py
Labels: feature, agent

#871 feat: Make db pool params configurable
  changes/871.feature.md
  src/ai/backend/manager/config.py
  src/ai/backend/manager/models/utils.py
  tests/manager/conftest.py
Labels: feature, manager

#856 Fix ResourceSlotColumn to check None type early
  changes/856.fix.md
  src/ai/backend/manager/models/base.py
Labels: bug, manager

#880 test: Fix test hang in `tests/agent/docker/test_agent.py`
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
  src/ai/backend/agent/docker/agent.py
  tests/agent/conftest.py
Labels: maintenance, agent, skip:changelog

#882 fix: Get field_name from ResolveInfo in gql middleware
  changes/882.fix.md
  src/ai/backend/manager/models/gql.py
Labels: bug, security, blocker, manager

#866 feat: allow manager to load selected plugin.
  changes/866.feature.md
  configs/manager/halfstack.toml
  configs/manager/sample.toml
  src/ai/backend/manager/config.py
  src/ai/backend/manager/server.py
  tests/manager/conftest.py
Labels: feature, manager, good first issue

#892 fix: Typo in runner BUILD file for Apple intel mac
  src/ai/backend/runner/BUILD
Labels: infrastructure, skip:changelog

#895 ci: Explicitly install Python 3.9 for Pants
  .github/workflows/coverage.yml
  .github/workflows/default.yml
  .github/workflows/sbom.yml
Labels: infrastructure, maintenance, upstream, skip:changelog

#790 feat: implement atomic vfolder host permission
  changes/790.feature.md
  fixtures/manager/example-keypairs.json
  scripts/install-dev.sh
  src/ai/backend/client/cli/admin/__init__.py
  src/ai/backend/client/cli/admin/acl.py
  src/ai/backend/client/cli/admin/domain.py
  src/ai/backend/client/cli/admin/group.py
  src/ai/backend/client/cli/admin/resource_policy.py
  src/ai/backend/client/func/acl.py
  src/ai/backend/client/func/domain.py
  src/ai/backend/client/func/group.py
  src/ai/backend/client/func/keypair_resource_policy.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/client/session.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/acl.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/__init__.py
  src/ai/backend/manager/models/acl.py
  src/ai/backend/manager/models/alembic/versions/5bce905c21e5_add_vfolder_host_permission.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/domain.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/resource_policy.py
  src/ai/backend/manager/models/vfolder.py
  src/ai/backend/manager/server.py
  src/ai/backend/test/cli_integration/admin/test_domain.py
  src/ai/backend/test/cli_integration/admin/test_keypair_resource_policy.py
  tests/manager/fixtures/example-keypairs.json
Labels: feature, blocker, manager, client

#843 docs: Remove outdated README.md line
  README.md
Labels: skip:changelog, skip:ci

#878 docs: remove meaningless dot in non-sentence form
  docs/manager/user-api/vfolders.rst
Labels: docs, skip:changelog, skip:ci

#847 doc: Fix typo in README and CHANGELOG
  CHANGELOG.md
  README.md
Labels: docs, skip:changelog

#896 fix: Set correct vfolder host value in install script
  scripts/install-dev.sh
Labels: installer, skip:changelog, skip:ci

#491 feat: NUMA-aware allocation maps
  changes/491.feature.md
  configs/agent/halfstack.toml
  configs/agent/sample.toml
  python.lock
  requirements.txt
  src/ai/backend/accelerator/cuda_mock/plugin.py
  src/ai/backend/accelerator/cuda_open/plugin.py
  src/ai/backend/agent/affinity_map.py
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/alloc_map.py
  src/ai/backend/agent/config.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/agent/resources.py
  tests/agent/test_affinity_map.py
  tests/agent/test_alloc_map.py
Labels: feature, blocker, manager, agent, client

#891 ci: Improve test coverage and add the missing client-sdk test suite
  .github/workflows/coverage.yml
  .github/workflows/default.yml
  pants.ci.toml
  pants.toml
  src/ai/backend/cli/loader.py
  src/ai/backend/cli/types.py
  src/ai/backend/client/cli/BUILD
  src/ai/backend/client/cli/admin/BUILD
  src/ai/backend/client/cli/session.py
  src/ai/backend/client/config.py
  src/ai/backend/client/func/vfolder.py
  src/ai/backend/common/docker.py
  src/ai/backend/testutils/mock.py
  tests/client/BUILD
  tests/client/__init__.py
  tests/client/cli/BUILD
  tests/client/cli/__init__.py
  tests/client/cli/test_cli_commands.py
  tests/client/cli/test_cli_proxy.py
  tests/client/conftest.py
  tests/client/integration/BUILD
  tests/client/integration/__init__.py
  tests/client/integration/test_agent.py
  tests/client/integration/test_auth.py
  tests/client/integration/test_image.py
  tests/client/integration/test_kernel.py
  tests/client/integration/test_keypair.py
  tests/client/integration/test_load.py
  tests/client/integration/test_manager.py
  tests/client/integration/test_request.py
  tests/client/integration/test_resource_policy.py
  tests/client/output/BUILD
  tests/client/output/__init__.py
  tests/client/output/test_types.py
  tests/client/test_asyncio_kernel.py
  tests/client/test_auth.py
  tests/client/test_base.py
  tests/client/test_config.py
  tests/client/test_kernel.py
  tests/client/test_manager.py
  tests/client/test_pretty.py
  tests/client/test_request.py
  tests/client/test_vfolder.py
  tests/client/test_vfolder_tus.py
  tests/common/test_docker.py
  tools/pytest.lock
Labels: maintenance, client, skip:changelog

#755 ci: Integration test automation workflow
  .github/workflows/integration.yml
Labels: infrastructure, skip:changelog

#855 feat: Add class KernelLifecycleEventReason to manage KernelEvent.reason
  changes/855.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/server.py
  src/ai/backend/agent/types.py
  src/ai/backend/common/events.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/idle.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: feature, manager, common

#897 fix: Update default vfolder permission value for cli
  changes/897.fix.md
  src/ai/backend/client/cli/admin/domain.py
  src/ai/backend/client/cli/admin/group.py
  src/ai/backend/client/cli/admin/resource_policy.py
  src/ai/backend/test/cli_integration/admin/test_domain.py
  src/ai/backend/test/cli_integration/admin/test_keypair_resource_policy.py
Labels: bug, client, cli

#852 fix: Handle kernel creation failure and destroy failed kernel
  changes/852.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/exception.py
  src/ai/backend/agent/kernel.py
Labels: bug, blocker, agent

#899 add: header-based login feature
  changes/899.feature
  src/ai/backend/common/web/session/__init__.py
  src/ai/backend/common/web/session/redis_storage.py
  src/ai/backend/web/proxy.py
Labels: webserver

#838 feature: host networking container
  changes/838.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/server.py
  src/ai/backend/common/types.py
  src/ai/backend/kernel/base.py
  src/ai/backend/kernel/intrinsic.py
  src/ai/backend/kernel/java/LablupPatches.java
  src/ai/backend/kernel/python/sitecustomize.py
  src/ai/backend/manager/models/alembic/versions/c53397a490be_add_use_host_network_column.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/scaling_group.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/manager/scheduler/types.py
  src/ai/backend/runner/libbaihook.alpine3.8.aarch64.so
  src/ai/backend/runner/libbaihook.alpine3.8.x86_64.so
  src/ai/backend/runner/libbaihook.centos7.6.aarch64.so
  src/ai/backend/runner/libbaihook.centos7.6.x86_64.so
  src/ai/backend/runner/libbaihook.ubuntu18.04.x86_64.so
  src/ai/backend/runner/libbaihook.ubuntu20.04.aarch64.so
  src/ai/backend/runner/libbaihook.ubuntu20.04.x86_64.so
  tests/manager/test_scheduler.py
Labels: blocker, manager, agent, require:db-migration

#901 fix: fallback to legacy allocation logic when there is no devices in allocation hint
  changes/901.fix
  src/ai/backend/agent/alloc_map.py
Labels: bug, blocker, agent

#900 feat: remove usage of attr decorator on AbstractComputeDevice
  changes/900.feature.md
  src/ai/backend/accelerator/cuda_mock/BUILD
  src/ai/backend/accelerator/cuda_mock/types.py
  src/ai/backend/accelerator/cuda_open/BUILD
  src/ai/backend/accelerator/cuda_open/plugin.py
  src/ai/backend/agent/resources.py
  tests/agent/test_affinity_map.py
Labels: blocker, agent

#902 hotfix: Invalid pkg cross reference
  changes/902.fix.md
  src/ai/backend/common/web/session/__init__.py
  src/ai/backend/common/web/session/redis_storage.py
  src/ai/backend/web/proxy.py
Labels: maintenance, blocker, common, webserver

#903 feat: add option to skip verifying SSL certificate of weka endpoint
  changes/903.feature.md
  configs/storage-proxy/sample.toml
  src/ai/backend/storage/weka/__init__.py
  src/ai/backend/storage/weka/weka_client.py
Labels: feature, storage-proxy

#889 fix: Request failure when freezing manager
  changes/889.fix.md
  src/ai/backend/manager/api/manager.py
Labels: bug, manager

#806 fix: Always read `.env` from current working directory in the client
  changes/806.fix.md
  src/ai/backend/client/config.py
Labels: client

#905 fix: Invalid default value of the agent's affinity-policy config option
  changes/905.fix.md
  src/ai/backend/agent/config.py
Labels: bug, agent

#906 fix: rollback session cookie name to keep legacy support
  src/ai/backend/common/web/session/__init__.py
  src/ai/backend/common/web/session/redis_storage.py
Labels: bug, skip:changelog

#907 fix: Mismatch of kernel and container hostnames in the host networking mode
  changes/907.fix.md
  src/ai/backend/manager/registry.py
Labels: bug, manager

#908 fix: Use FILL allocation strategy for the memory
  changes/908.fix.md
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/agent/kubernetes/intrinsic.py
Labels: bug, blocker, agent
