Repository lablup/backend.ai, pull requests merged in 2022-09, with the labels that each got.

#516 feat: update codespaces bootstrap script
  .devcontainer/bootstrap.sh
  .devcontainer/devcontainer.json
  changes/516.feature
  pants.toml
  scripts/install-dev.sh
Labels: maintenance, installer

#701 hotfix: accelerator specific files created under work directory
  changes/701.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: bug, agent

#719 setup: Bump python version from 3.10.5 to 3.10.7
  .github/workflows/coverage.yml
  .github/workflows/default.yml
  .github/workflows/timeline-check.yml
  changes/719.misc.md
  docs/dev/daily-workflows.rst
  pants.toml
  pyproject.toml
  python-kernel.lock
  python.lock
  tools/flake8.lock
  tools/pytest.lock
Labels: maintenance, docs, refactor

#702 setup: Remove dependency to psycopg
  changes/702.breaking.md
  changes/702.fix.md
  configs/manager/halfstack.alembic.ini
  docker/manager/init.sh
  docs/install/_archive/prepare-database-for-manager.md
  docs/install/prepare-database-for-manager.rst
  docs/locales/ko/LC_MESSAGES/install/_archive/prepare-database-for-manager.po
  python.lock
  requirements.txt
  scripts/agent/ci/deploy.sh
  scripts/agent/ci/install-manager.sh
  scripts/agent/ci/overwrite-python.sh
  scripts/agent/ci/run-manager.sh
  scripts/install-dev.sh
  src/ai/backend/manager/cli/__main__.py
  src/ai/backend/manager/cli/dbschema.py
  src/ai/backend/manager/models/alembic/__init__.py
  src/ai/backend/manager/models/alembic/env.py
  src/ai/backend/manager/models/utils.py
  tests/manager/BUILD
  tests/manager/conftest.py
Labels: maintenance, docs, manager, upstream

#699 feat: Do not return AgentSummary if hide-agents is true
  changes/699.feature.md
  src/ai/backend/manager/models/gql.py
Labels: feature, manager

#704 feat: add new `hide_agents` webserver config to control the exposure of agent information to normal users
  changes/704.feature
  configs/webserver/sample.conf
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: feature, blocker, webserver

#724 docs: update python default version
  docs/README.md
  docs/dev/daily-workflows.rst
  docs/locales/ko/LC_MESSAGES/README.po
  docs/locales/ko/LC_MESSAGES/client/cli/index.po
  docs/locales/ko/LC_MESSAGES/client/cli/sessions.po
  docs/locales/ko/LC_MESSAGES/client/func/session.po
  docs/locales/ko/LC_MESSAGES/dev/daily-workflows.po
  docs/locales/ko/LC_MESSAGES/install/development-setup.po
  docs/locales/ko/LC_MESSAGES/install/install-from-package.po
  docs/locales/ko/LC_MESSAGES/install/install-from-source.po
  docs/locales/ko/LC_MESSAGES/install/version-management-and-upgrades.po
Labels: docs, skip:changelog, skip:ci

#727 setup: Allow installation of package wheels on compatible Python versions
  .github/labeler.yml
  changes/727.fix.md
  tools/pants-plugins/setupgen/register.py
Labels: enhance

#725 fix: unable to purge user when there is no related keyapir
  changes/725.fix
  src/ai/backend/manager/models/user.py
Labels: bug, manager, good first issue, minor

#720 ci: Add new towncrier news fragment types
  pyproject.toml
Labels: maintenance, skip:changelog

#729 deps: upgrade etcetra version to 0.1.11
  python.lock
Labels: maintenance, upstream, skip:changelog

#731 feat: always mount infiniband device if exists
  changes/731.feature.md
  src/ai/backend/agent/docker/agent.py
Labels: enhance

#730 misc: add config example for weka.io storage proxy
  configs/storage-proxy/sample.toml
  scripts/install-dev.sh
Labels: maintenance, skip:changelog

#674 refactor: Let session commit impl. follow agent-kernel abstraction
  changes/674.misc.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/kubernetes/kernel.py
  src/ai/backend/agent/server.py
  src/ai/backend/manager/registry.py
Labels: manager, agent, refactor

#712 feat: skip containers owned by other agents in the same host
  changes/712.feature.md
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/kubernetes/agent.py
Labels: feature

#718 fix: Fix user update in client method and manager's mutation method
  changes/718.fix.md
  src/ai/backend/client/cli/admin/user.py
  src/ai/backend/client/func/user.py
  src/ai/backend/manager/models/user.py
Labels: bug, manager, client

#714 feature: retry vfolder file download
  changes/714.feature.md
  src/ai/backend/client/cli/vfolder.py
  src/ai/backend/client/func/vfolder.py
  src/ai/backend/storage/api/client.py
Labels: feature, client, storage-proxy

#732 add: support webserver option for session enqueue
  changes/732.feature.md
  configs/webserver/sample.conf
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: feature, webserver

#522 feat: Allow superadmins to remove users from shared vfolders
  changes/522.feature.md
  src/ai/backend/manager/api/vfolder.py
Labels: feature, manager, good first issue

#624 feat: allow passing blocklist to compute plugin ctx read from local config
  changes/624.feature.md
  configs/agent/halfstack.toml
  configs/agent/sample.toml
  src/ai/backend/agent/config.py
  src/ai/backend/agent/docker/resources.py
  src/ai/backend/agent/kubernetes/resources.py
  src/ai/backend/common/plugin/__init__.py
  tests/agent/conftest.py
  tests/common/conftest.py
  tests/common/test_plugin.py
Labels: bug

#692 feat: add `shared_user_uuid` param to `leave` api
  changes/692.feature.md
  src/ai/backend/client/cli/vfolder.py
  src/ai/backend/client/func/vfolder.py
Labels: feature, client, good first issue

#737 feat: impl abusing report and agent local_config API
  changes/737.feature.md
  src/ai/backend/agent/server.py
  src/ai/backend/client/cli/admin/agent.py
  src/ai/backend/client/cli/session.py
  src/ai/backend/client/func/agent.py
  src/ai/backend/client/func/session.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/registry.py
Labels: blocker, manager, client

#743 Upgrade aiomonitor to 0.6.0
  changes/743.feature.md
  python.lock
  requirements.txt
  src/ai/backend/agent/server.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/server.py
Labels: maintenance, manager, storage-proxy

#695 feat: IP based client restriction
  changes/695.feature.md
  src/ai/backend/client/cli/admin/user.py
  src/ai/backend/client/func/user.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/common/exception.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/auth.py
  src/ai/backend/manager/models/alembic/versions/f83d630c0bc9_add_allowed_ip_column.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/user.py
  tests/manager/api/test_auth.py
  tests/manager/conftest.py
Labels: feature, blocker, manager, client

#738 fix: Fix wrong type matching in scaling group query method
  changes/738.fix.md
  src/ai/backend/manager/models/scaling_group.py
Labels: bug, blocker, manager
