Repository lablup/backend.ai, pull requests merged in 2022-08, with the labels that each got.

#566 feat(client): Support `.env` file to populate configurations
  changes/566.feature.md
  python.lock
  requirements.txt
  src/ai/backend/client/config.py
Labels: feature, client, good first issue

#621 doc: Add README to the changes directory
  changes/README.md
Labels: maintenance, docs, skip:changelog

#623 fix(delete-dev): Delete `.pants.env` and `pants-local`
  scripts/delete-dev.sh
Labels: minor, skip:changelog, skip:ci

#564 fix(web): Force the keypair-based auth mode regardless to env-vars
  changes/564.fix.md
  src/ai/backend/web/auth.py
Labels: bug, webserver, good first issue

#559 refactor: Express CLI exitcode using semantic enum values
  changes/559.misc.md
  src/ai/backend/cli/types.py
  src/ai/backend/client/cli/admin/agent.py
  src/ai/backend/client/cli/admin/domain.py
  src/ai/backend/client/cli/admin/etcd.py
  src/ai/backend/client/cli/admin/group.py
  src/ai/backend/client/cli/admin/image.py
  src/ai/backend/client/cli/admin/keypair.py
  src/ai/backend/client/cli/admin/license.py
  src/ai/backend/client/cli/admin/manager.py
  src/ai/backend/client/cli/admin/resource_policy.py
  src/ai/backend/client/cli/admin/scaling_group.py
  src/ai/backend/client/cli/admin/session.py
  src/ai/backend/client/cli/admin/storage.py
  src/ai/backend/client/cli/admin/user.py
  src/ai/backend/client/cli/admin/vfolder.py
  src/ai/backend/client/cli/app.py
  src/ai/backend/client/cli/config.py
  src/ai/backend/client/cli/dotfile.py
  src/ai/backend/client/cli/logs.py
  src/ai/backend/client/cli/run.py
  src/ai/backend/client/cli/server_log.py
  src/ai/backend/client/cli/session.py
  src/ai/backend/client/cli/session_template.py
  src/ai/backend/client/cli/ssh.py
  src/ai/backend/client/cli/vfolder.py
Labels: feature, client, good first issue

#625 setup: Downgrade `grpcio` to 1.47.0 from 1.48.0 which is yanked
  python.lock
  requirements.txt
Labels: bug, maintenance, skip:changelog

#630 feature: Improve logging in tests
  changes/630.feature.md
  src/ai/backend/common/logging.py
  src/ai/backend/manager/server.py
  src/ai/backend/testutils/bootstrap.py
  tests/agent/conftest.py
  tests/manager/conftest.py
Labels: feature, common, refactor

#638 fix: Improve null-checks when querying allowed vfolder hosts
  changes/638.fix.md
  src/ai/backend/manager/models/vfolder.py
Labels: bug, manager

#521 feat: Rename `shared_by` to `owner` and add a `type` field to the `list_shared_vfolders` API
  changes/521.feature.md
  src/ai/backend/manager/api/vfolder.py
Labels: feature, manager, good first issue

#639 fix: Insufficient privilege error of the `run` cmd run as a user
  changes/639.fix.md
  src/ai/backend/client/cli/run.py
Labels: bug, cli

#570 feat: Accept explicit "s" unit in `common.validators.TimeDuration`
  changes/570.feature.md
  src/ai/backend/common/validators.py
Labels: feature, manager, app-proxy

#543 feat: Add `keypair_resource.max_session_lifetime` to client
  changes/543.feature.md
  src/ai/backend/client/cli/admin/resource_policy.py
  src/ai/backend/client/func/keypair_resource_policy.py
  src/ai/backend/test/cli_integration/admin/test_keypair_resource_policy.py
  src/ai/backend/test/cli_integration/conftest.py
Labels: maintenance, client

#642 fix: `FileLock` not acquiring lock
  changes/642.fix.md
  src/ai/backend/common/lock.py
  src/ai/backend/storage/filelock.py
  src/ai/backend/storage/xfs/__init__.py
Labels: bug, common

#571 feat: add a paginated query for shared vfolder list
  changes/571.feature.md
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/vfolder.py
Labels: feature, manager

#650 fix: Change client.cli to use the same `ai.backend.cli.main:main` as its CommandGroup
  changes/650.fix.md
  src/ai/backend/client/cli/__init__.py
  src/ai/backend/client/cli/admin/__init__.py
  src/ai/backend/client/cli/admin/session.py
  src/ai/backend/client/cli/app.py
  src/ai/backend/client/cli/config.py
  src/ai/backend/client/cli/dotfile.py
  src/ai/backend/client/cli/logs.py
  src/ai/backend/client/cli/proxy.py
  src/ai/backend/client/cli/run.py
  src/ai/backend/client/cli/server_log.py
  src/ai/backend/client/cli/session.py
  src/ai/backend/client/cli/session_template.py
  src/ai/backend/client/cli/vfolder.py
Labels: maintenance, client, cli

#653 feat: Add `status_history` to the result of `get_container_stats_for_period()`
  changes/653.feature.md
  src/ai/backend/manager/api/resource.py
Labels: manager, good first issue

#655 refactor: Fix a missing change of numeric exitcode to an enum value
  src/ai/backend/cli/extensions.py
Labels: feature, client, refactor, skip:changelog

#652 feat: add config to support SSO vendors
  changes/652.feature.md
  configs/webserver/sample.conf
  src/ai/backend/client/request.py
  src/ai/backend/web/config.py
  src/ai/backend/web/server.py
  src/ai/backend/web/templates/config.toml.j2
Labels: feature, webserver

#654 feat: Add new abstract methods to accelerator plugins
  changes/654.feature.md
  src/ai/backend/accelerator/cuda_mock/plugin.py
  src/ai/backend/accelerator/cuda_open/plugin.py
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/kubernetes/intrinsic.py
  src/ai/backend/agent/resources.py
  src/ai/backend/agent/types.py
Labels: feature, agent

#661 hotfix: kernel stat not pushed to redis db
  changes/661.fix.md
  src/ai/backend/agent/stats.py
Labels: bug, agent

#660 feat: Support image commit feature flag for webui
  changes/660.feature.md
  configs/webserver/sample.conf
  src/ai/backend/web/templates/config.toml.j2
Labels: feature, blocker, webserver, minor

#659 ci: label trigger timeline-check action
  .github/workflows/timeline-check.yml
Labels: skip:changelog

#658 ci: pr auto author assign
  .github/workflows/auto_author_assign.yml
Labels: skip:changelog

#657 refactor: modify a missing change of an enum value on Backend.AI Manager cli
  src/ai/backend/manager/cli/__main__.py
  src/ai/backend/manager/cli/etcd.py
Labels: feature, cli, refactor, skip:changelog

#601 feat: Commit and store running session containers as tarball images
  changes/601.feature.md
  configs/agent/halfstack.toml
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/kubernetes/kernel.py
  src/ai/backend/agent/server.py
  src/ai/backend/client/cli/session.py
  src/ai/backend/client/func/session.py
  src/ai/backend/common/bgtask.py
  src/ai/backend/common/lock.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/registry.py
Labels: feature, manager, agent

#664 fix: Add lazy-imported cli modules missing in the package
  changes/664.fix.md
  src/ai/backend/manager/BUILD
Labels: bug, cli, installer

#667 fix: Skip non-running sessions when checking commit status
  changes/667.fix.md
  src/ai/backend/manager/models/kernel.py
Labels: bug, manager

#668 ci: Add codecov.yml and the test coverage workflow
  .github/workflows/coverage.yml
  codecov.yml
Labels: infrastructure, skip:changelog

#649 docs: Update prepare-database-for-manager doc.
  docs/install/prepare-database-for-manager.rst
Labels: docs, skip:changelog, skip:ci

#633 docs: Update session-related commands from the official documentation
  docs/client/cli/apps.rst
  docs/client/cli/sessions.rst
Labels: docs, skip:changelog, skip:ci

#643 feat: Elaborate messaging and logging of `InstanceNotAvailable` error
  changes/643.feature.md
  src/ai/backend/manager/exceptions.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: feature, manager

#669 ci,docs: Add netlify configs for docs preview per PR
  docs/runtime.txt
  netlify.toml
Labels: infrastructure, docs, skip:changelog

#675 ci: automatic db migration labeling
  .github/labeler.yml
  .github/workflows/label.yml
Labels: infrastructure, skip:changelog

#681 feat: Preserve the given value `reason` on forced kernel termination with a fallback
  changes/681.feature.md
  src/ai/backend/agent/server.py
  src/ai/backend/manager/registry.py
Labels: feature, manager, good first issue

#676 fix: do not remove lock file when lock is not acquired
  changes/676.fix.md
  src/ai/backend/common/lock.py
Labels: bug, common

#683 ci: add auto-labeled items
  .github/labeler.yml
Labels: infrastructure, skip:changelog

#685 fix: Fix typos and unify the `ExitCode` naming to `INVALID_ARGUMENT` (singular form)
  src/ai/backend/cli/types.py
  src/ai/backend/client/cli/admin/session.py
Labels: cli, skip:changelog

#626 refactor: Change decrypt function to middleware
  changes/626.feature.md
  src/ai/backend/web/proxy.py
  src/ai/backend/web/server.py
Labels: webserver, good first issue, refactor

#613 fix: Accept both `str` and `FieldSpec` in Client SDK's functional APIs
  changes/613.fix.md
  src/ai/backend/client/func/base.py
  src/ai/backend/client/func/domain.py
  src/ai/backend/client/func/group.py
  src/ai/backend/client/func/keypair_resource_policy.py
  src/ai/backend/client/func/scaling_group.py
  src/ai/backend/client/func/user.py
Labels: bug, cli

#689 fix: unable to login from Web-UI since the decoded payload is not JSON loaded
  changes/689.fix
  src/ai/backend/web/server.py
Labels: bug, webserver

#688 feat: Support the asyncio debug mode and apply aiomonitor-ng
  BUILD
  changes/688.feature.md
  configs/agent/sample.toml
  configs/manager/sample.toml
  configs/storage-proxy/sample.toml
  python.lock
  requirements.txt
  src/ai/backend/agent/config.py
  src/ai/backend/agent/server.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/config.py
  src/ai/backend/storage/server.py
Labels: feature, infrastructure, manager, agent, storage-proxy

#645 feat: Add `AgentSummary` and list queries for normal users to get agent info
  changes/645.feature.md
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/scaling_group.py
Labels: feature, manager
