Repository lablup/backend.ai, pull requests merged in 2022-12, with the labels that each got.

#909 hotfix: Rewrite NUMA-aware allocation to support 3 or more NUMA nodes
  changes/909.fix.md
  src/ai/backend/agent/affinity_map.py
  src/ai/backend/agent/alloc_map.py
  tests/agent/test_affinity_map.py
Labels: bug, blocker, agent

#910 setup: Restrict the pants-plugin resolve's Python compatibility to 3.9.x
  pants.toml
  tools/pants-plugins.lock
Labels: infrastructure, maintenance, skip:changelog

#913 setup: Unify `./pants` for linux-aarch64 platforms
  pants
  scripts/install-dev.sh
  scripts/pre-commit
Labels: docs, installer, skip:changelog, enhance

#826 feat: Add local rank value
  changes/826.feature.md
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/image.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/alembic/versions/213a04e90ecf_merge.py
  src/ai/backend/manager/models/alembic/versions/6129745f49b6_add_local_rank_column_in_kernels_table.py
  src/ai/backend/manager/models/alembic/versions/95f51fc6ffdb_merge.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/types.py
  tests/manager/test_scheduler.py
Labels: blocker, manager, good first issue, require:db-migration, hacktoberfest-accepted

#917 fix: Use CLI unicode symbols that appear more consistently
  changes/917.fix.md
  src/ai/backend/client/cli/pretty.py
Labels: client, cli, enhance

#914 fix: Make nullability of `scaling_group.use_host_network` column consistent with actual schema
  src/ai/backend/manager/models/scaling_group.py
Labels: manager, skip:changelog

#920 fix: When deleting a vfolder and updating its status, use ID instead of name.
  changes/920.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: bug, blocker, manager

#925 ehn: Improve scriptability of `session events` CLI command
  changes/925.fix.md
  src/ai/backend/client/cli/session.py
Labels: client, cli, enhance

#760 feature: Add CephFs backend to storage-proxy
  changes/760.feature.md
  configs/storage-proxy/sample.toml
  scripts/storage-proxy-spawn-ceph-clusters/README.md
  scripts/storage-proxy-spawn-ceph-clusters/Vagrantfile
  scripts/storage-proxy-spawn-ceph-clusters/install_ceph.sh
  scripts/storage-proxy-spawn-ceph-clusters/install_storage_proxy.sh
  src/ai/backend/storage/cephfs/BUILD
  src/ai/backend/storage/cephfs/__init__.py
  src/ai/backend/storage/context.py
Labels: feature, storage-proxy, webui

#936 feat: add custom-auth endpoint to support authentication via custom plugin
  changes/936.feature
  src/ai/backend/web/server.py
Labels: webserver, minor

#938 ci: cancel previously executed duplicated workflow
  .github/workflows/default.yml
Labels: infrastructure, skip:changelog, enhance

#940 ci: uniform cache name
  .github/workflows/default.yml
Labels: bug, maintenance, skip:changelog

#935 ci: Use Pants-official init action to init and cache Pants
  .github/workflows/coverage.yml
  .github/workflows/default.yml
  .github/workflows/integration.yml
  .github/workflows/sbom.yml
Labels: skip:changelog

#939 docs: manual package (wheel) installation guide
  README.md
  changes/939.doc
  docs/install/install-from-package.rst
  docs/install/install-from-package/images/webserver-dashboard-download-desktop-app.png
  docs/install/install-from-package/images/webserver-login.png
  docs/install/install-from-package/images/webserver-summary-page-after-login.png
  docs/install/install-from-package/install-agent.rst
  docs/install/install-from-package/install-manager.rst
  docs/install/install-from-package/install-storage-proxy.rst
  docs/install/install-from-package/install-webserver.rst
  docs/install/install-from-package/os-preparation.rst
  docs/install/install-from-package/prepare-cache-service.rst
  docs/install/install-from-package/prepare-config-service.rst
  docs/install/install-from-package/prepare-database.rst
  docs/storage-proxy/manager-api.rst
Labels: docs, skip:ci

#943 docs: fix minor typos in package installation guide
  docs/README.md
  docs/client/cli/session-templates.rst
  docs/client/cli/storage.rst
  docs/dev/adding-kernels.rst
  docs/dev/daily-workflows.rst
  docs/install/install-from-package.rst
  docs/install/install-from-package/install-agent.rst
  docs/install/install-from-package/install-manager.rst
  docs/install/install-from-package/install-webserver.rst
  docs/install/install-from-package/os-preparation.rst
  docs/locales/ko/LC_MESSAGES/README.po
  docs/locales/ko/LC_MESSAGES/client/cli/session-templates.po
  docs/locales/ko/LC_MESSAGES/client/cli/storage.po
  docs/locales/ko/LC_MESSAGES/client/func/kernel.po
  docs/locales/ko/LC_MESSAGES/client/func/session.po
  docs/locales/ko/LC_MESSAGES/dev/adding-kernels.po
  docs/locales/ko/LC_MESSAGES/dev/daily-workflows.po
  docs/locales/ko/LC_MESSAGES/install/_archive/install-manager.po
  docs/locales/ko/LC_MESSAGES/install/_archive/install-python-via-pyenv.po
  docs/locales/ko/LC_MESSAGES/install/_archive/version-management-and-upgrades.po
  docs/locales/ko/LC_MESSAGES/install/demo-setup-centos.po
  docs/locales/ko/LC_MESSAGES/install/install-from-package.po
  docs/locales/ko/LC_MESSAGES/install/install-manager.po
  docs/locales/ko/LC_MESSAGES/install/install-python-via-pyenv.po
  docs/locales/ko/LC_MESSAGES/manager/admin-api/intro.po
  docs/locales/ko/LC_MESSAGES/manager/admin-api/sessions.po
  docs/locales/ko/LC_MESSAGES/manager/common-api/objects.po
  docs/locales/ko/LC_MESSAGES/manager/user-api/exec-batch.po
  docs/locales/ko/LC_MESSAGES/manager/user-api/exec-query.po
  docs/locales/ko/LC_MESSAGES/manager/user-api/resource-presets.po
  docs/locales/ko/LC_MESSAGES/manager/user-api/vfolders.po
  docs/locales/ko/LC_MESSAGES/migration/docker-hub-to-backendai-cr.po
  docs/manager/admin-api/sessions.rst
  docs/manager/common-api/objects.rst
  docs/manager/user-api/exec-batch.rst
  docs/manager/user-api/exec-query.rst
  docs/manager/user-api/resource-presets.rst
  docs/manager/user-api/vfolders.rst
  docs/migration/docker-hub-to-backendai-cr.rst
Labels: docs, skip:changelog, skip:ci

#947 feat: remove Webserver's "Server" response header
  changes/947.feature
  src/ai/backend/web/server.py
Labels: webserver

#928 fix: Adjust aiomonitor default port ranges and its startup error handling
  changes/928.fix.md
  configs/agent/sample.toml
  configs/manager/sample.toml
  configs/storage-proxy/sample.toml
  src/ai/backend/agent/config.py
  src/ai/backend/agent/server.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/config.py
  src/ai/backend/storage/server.py
Labels: bug, manager, agent, storage-proxy, refactor

#915 fix: Add missing `await` for a jupyter-client API when shutting down the kernel runner
  changes/915.fix.md
  src/ai/backend/kernel/base.py
Labels: bug, agent, good first issue

#951 fix: codespaces not bootstrapped
  scripts/install-dev.sh
Labels: bug, installer, skip:changelog, skip:ci

#950 ci: auto-label-in-issue version up
  .github/workflows/auto-label.yml
Labels: skip:changelog

#885 feat: create human-friendly random name for session name
  changes/885.feature.md
  src/ai/backend/client/cli/session.py
  src/ai/backend/client/func/session.py
Labels: feature, client

#931 ci: Add action to check if alembic has multiple heads
  .github/workflows/alembic-head-check.yml
  scripts/check-multiple-alembic-heads.py
Labels: infrastructure, manager, skip:changelog

#448 feat: make container metadata server extensible
  changes/448.feature
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/metadata/plugin.py
  src/ai/backend/agent/docker/metadata/root.py
  src/ai/backend/agent/docker/metadata/server.py
  src/ai/backend/agent/types.py
Labels: feature, agent

#648 feat: Add env var for service ports, preopen ports
  changes/648.feature.md
  src/ai/backend/manager/registry.py
Labels: feature, manager

#922 ci: Add vfolder deletion test with overlapped folder names
  fixtures/manager/example-keypairs.json
  scripts/install-dev.sh
  src/ai/backend/test/cli_integration/user/test_vfolder.py
Labels: maintenance, manager, skip:changelog
