Repository lablup/backend.ai, pull requests merged in 2023-07, with the labels that each got.

#1356 ci: Optimize the fetch depth for frequently executed actions
  .github/workflows/default.yml
Labels: area:infrastructure, type:maintenance, skip:changelog, impact:invisible, size:M

#1355 fix: prevent scanning every sub-directories in listing vfolder files when `recursive` is `False`
  changes/1355.fix.md
  src/ai/backend/storage/vfs/__init__.py
  tests/storage-proxy/test_fsop_base.py
Labels: type:bug, urgency:blocker, comp:storage-proxy, impact:visible, size:M

#1357 fix: enhance vfolder v3 directory migration script
  changes/1357.fix.md
  src/ai/backend/storage/migration.py
Labels: urgency:blocker, comp:storage-proxy, size:S

#1359 fix: trailing comma added to container's `service-ports` label
  changes/1359.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: type:bug, urgency:blocker, comp:agent, size:S

#1364 add: `directory_based_usage` setting to webserver config
  changes/1364.feature.md
  configs/webserver/sample.conf
  docs/install/install-from-package/install-webserver.rst
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: type:feature, urgency:blocker, area:docs, comp:webserver, effort:easy, type:enhance, size:XS, urgency:5

#1365 chore: Debugging output is also changed to match the changed default exposure port
  scripts/install-dev.sh
Labels: skip:changelog, size:S

#1358 fix: unable to list keypairs by email or access key
  .gitignore
  changes/1358.fix.md
  src/ai/backend/manager/models/keypair.py
Labels: urgency:blocker, comp:manager, size:M

#1371 ci: Update the docs-preview workflow
  .github/labeler.yml
  .github/workflows/docs-preview.yml
  .readthedocs.yml
  scripts/check-docs-label.sh
Labels: area:infrastructure, skip:changelog, type:enhance, size:S

#1354 feat: add GQL queries for quota scope
  changes/1354.feature.md
  fixtures/manager/example-keypairs.json
  src/ai/backend/common/types.py
  src/ai/backend/common/validators.py
  src/ai/backend/manager/api/auth.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/alembic/versions/a9eb2b002330_add_new_resource_policies.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/resource_policy.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/models/vfolder.py
  src/ai/backend/storage/abc.py
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/cephfs/__init__.py
  src/ai/backend/storage/context.py
  src/ai/backend/storage/dellemc/__init__.py
  src/ai/backend/storage/exception.py
  src/ai/backend/storage/gpfs/__init__.py
  src/ai/backend/storage/gpfs/gpfs_client.py
  src/ai/backend/storage/netapp/__init__.py
  src/ai/backend/storage/vfs/__init__.py
  src/ai/backend/storage/weka/__init__.py
  src/ai/backend/storage/xfs/__init__.py
  tests/common/test_validators.py
  tests/manager/conftest.py
  tests/manager/fixtures/example-keypairs.json
  tests/storage-proxy/conftest.py
  tests/storage-proxy/test_quota.py
  tests/storage-proxy/test_volume.py
Labels: type:feature, urgency:blocker, comp:manager, comp:storage-proxy, require:db-migration, impact:visible, size:XL, urgency:5

#1343 fix: `ComputeSessionList` GraphQL query raising 400
  changes/1343.fix.md
  src/ai/backend/common/validators.py
  src/ai/backend/manager/models/alembic/versions/9e599b62f6f1_update_kernels_vfolder_mounts_vfid_.py
Labels: type:bug, urgency:blocker, comp:manager, require:db-migration, size:L

#1334 feat: upgrade miniling to filter and order by JSON column
  changes/1334.feature.md
  src/ai/backend/client/output/fields.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/minilang/__init__.py
  src/ai/backend/manager/models/minilang/ordering.py
  src/ai/backend/manager/models/minilang/queryfilter.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, comp:client, size:L

#1373 feat: Track OOM events and leave the details in the container logs
  changes/1373.feature.md
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/dummy/kernel.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/kubernetes/kernel.py
  src/ai/backend/agent/types.py
  src/ai/backend/kernel/base.py
  src/ai/backend/kernel/utils.py
Labels: type:feature, comp:agent, effort:easy, effort:normal, impact:visible, size:L

#1375 feat: Bump the manager API version to v7.20230615
  changes/1375.breaking.md
  src/ai/backend/client/config.py
  src/ai/backend/manager/server.py
Labels: type:feature, comp:manager, comp:client, impact:breaking, size:S

#1376 fix: storage proxy reporting wrong stat on some backends
  changes/1376.fix.md
  src/ai/backend/storage/gpfs/__init__.py
  src/ai/backend/storage/weka/__init__.py
Labels: type:bug, urgency:blocker, comp:storage-proxy, size:S

#1377 chore: Update docstring from `ai.backend.common.validators.TimeDuration` with valid keyword arguments
  src/ai/backend/common/validators.py
Labels: area:docs, comp:common, effort:easy, skip:changelog, skip:ci, impact:invisible, platform:general, size:XS

#1337 fix: add `agent_ids` fields to filter and order by agent id when listing sessions
  changes/1337.feature.md
  src/ai/backend/client/output/fields.py
  src/ai/backend/manager/models/alembic/versions/69c059996cbd_add_agent_ids_col_to_session.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: urgency:blocker, comp:manager, comp:client, require:db-migration, size:L

#1380 fix: Finalize per-kernel scheduling results using the correct kernel IDs
  changes/1380.fix.md
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: type:bug, urgency:blocker, comp:manager, size:M

#1381 hotfix: match to kernel id instead of session_id
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, skip:changelog, size:XS

#1382 feat: Implement per-item semantics for array-typed columns in queryfilter
  changes/1382.feature.md
  src/ai/backend/manager/models/minilang/__init__.py
  src/ai/backend/manager/models/minilang/queryfilter.py
  src/ai/backend/manager/models/session.py
  tests/manager/test_queryfilter.py
Labels: type:feature, urgency:blocker, comp:manager, impact:invisible, size:L

#1385 fix: Avoid NaN values in stat metrics
  changes/1385.fix.md
  src/ai/backend/agent/stats.py
Labels: type:bug, comp:agent, size:XS

#1378 fix: add `images` column to sessions and enable to order or filter by image
  changes/1378.fix.md
  src/ai/backend/manager/models/alembic/versions/eb9441fcf90a_add_images_col_to_session.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, require:db-migration, size:L

#1395 feat: add aliased key of `session_name`
  changes/1395.fix.md
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/api/session.py
Labels: type:feature, urgency:blocker, comp:manager, effort:easy, size:XS

#1402 fix: Fix typos
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, skip:changelog, skip:ci, size:XS

#1403 setup: Update pre-commit hook to auto-create the pants local-exec root
  docs/dev/daily-workflows.rst
  scripts/bootstrap-static-python.sh
  scripts/install-dev.sh
  scripts/pre-commit.sh
  scripts/pre-push.sh
Labels: area:infrastructure, type:maintenance, area:docs, skip:changelog, impact:invisible, size:L

#1404 docs: update 22.09 to 23.03 guide of MIGRATION.md
  MIGRATION.md
Labels: type:maintenance, area:docs, effort:easy, skip:changelog, skip:ci, size:XS, urgency:3

#1407 fix: delete vfolder conditions of checking host while creating/cloning vfolders
  changes/1398.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: comp:manager, size:XS

#1396 feat: refactor `SessionRow`'s ORM resolvers, advertise additional informations to WSProxy
  changes/1396.feature.md
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/api/stream.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:L

#1350 feat: Issue a signed token for authorizing the pipeline service
  changes/1350.feature.md
  configs/webserver/sample.conf
  src/ai/backend/web/proxy.py
Labels: type:feature, area:security, platform:enterprise, comp:webserver, effort:normal, impact:invisible, size:S, status:open, urgency:4

#1400 fix: cloning vfolder bugs
  changes/1400.fix.md
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/vfolder.py
Labels: type:bug, comp:manager, effort:normal, platform:general, size:S

#1415 fix: Make it more robust to parse postgresql version string
  changes/1415.fix.md
  src/ai/backend/manager/models/utils.py
Labels: type:bug, urgency:blocker, comp:manager, area:upstream, size:XS

#1418 fix: Ensure sudo for docker socket accessing scripts (check-docker.py)
  scripts/install-dev.sh
Labels: area:infrastructure, comp:installer, skip:changelog, type:enhance, size:S

#1419 feat: Update the open-source version of CUDA plugin for CUDA v12
  changes/1419.feature.md
  src/ai/backend/accelerator/cuda_open/nvidia.py
  src/ai/backend/accelerator/cuda_open/plugin.py
Labels: comp:agent, area:upstream, type:enhance, platform:general, size:L

#1425 feat: add failure message when login failed
  changes/1305.feature.md
  src/ai/backend/client/cli/config.py
Labels: comp:client, comp:cli, effort:easy, type:enhance, size:XS, urgency:1

#1430 feat: Add status check handler to the storage-proxy's client-facing API
  changes/1430.feature.md
  src/ai/backend/storage/api/client.py
  src/ai/backend/storage/api/manager.py
Labels: type:feature, urgency:blocker, platform:enterprise, effort:easy, comp:storage-proxy, size:M

#1412 fix: re-map session status transition
  changes/1412.fix.md
  src/ai/backend/manager/models/session.py
Labels: comp:manager, size:M

#1431 setup: Upgrade the base Python version from 3.11.3 to 3.11.4
  .github/workflows/check-requirement.yml
  changes/1431.misc.md
  pants.toml
  pyproject.toml
  python-kernel.lock
  python.lock
  requirements.txt
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/alloc_map.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/utils.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/resources.py
  src/ai/backend/agent/server.py
  src/ai/backend/client/cli/run.py
  src/ai/backend/client/cli/vfolder.py
  src/ai/backend/client/func/vfolder.py
  src/ai/backend/client/session.py
  src/ai/backend/common/distributed.py
  src/ai/backend/common/etcd.py
  src/ai/backend/common/redis_helper.py
  src/ai/backend/common/web/session/__init__.py
  src/ai/backend/kernel/base.py
  src/ai/backend/kernel/r_server_ms/__init__.py
  src/ai/backend/manager/api/logs.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/api/stream.py
  src/ai/backend/manager/api/utils.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/cli/__main__.py
  src/ai/backend/manager/models/alembic/versions/529113b08c2c_add_vfolder_type_column.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/dotfile.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/models/utils.py
  src/ai/backend/manager/models/vfolder.py
  src/ai/backend/manager/plugin/error_monitor.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/types.py
  src/ai/backend/manager/utils.py
  src/ai/backend/plugin/entrypoint.py
  src/ai/backend/storage/netapp/__init__.py
  src/ai/backend/storage/purestorage/__init__.py
  src/ai/backend/testutils/bootstrap.py
  tests/agent/conftest.py
  tests/common/redis/docker.py
  tests/common/redis/test_connect.py
  tests/common/test_etcd.py
  tests/manager/test_advisory_lock.py
  tools/black.lock
  tools/coverage-py.lock
  tools/flake8.lock
  tools/isort.lock
  tools/mypy.lock
  tools/pants-plugins.lock
  tools/pytest.lock
  tools/towncrier.lock
Labels: type:maintenance, comp:manager, comp:client, comp:common, area:upstream, comp:storage-proxy, effort:hard, impact:invisible, platform:general, size:XL, urgency:3

#1439 fix: add shell script codes to create `version.txt` in `install-dev.sh`
  changes/1438.fix.md
  scripts/install-dev.sh
Labels: type:bug, comp:installer, effort:easy, size:XS, urgency:5
