Repository lablup/backend.ai, pull requests merged in 2023-04, with the labels that each got.

#1202 feat: Utilization checker returns `thresholds_check_operator`
  changes/1202.feature.md
  src/ai/backend/manager/idle.py
Labels: manager

#1205 fix: calculate idle checker's expiration time correctly
  changes/1205.fix.md
  src/ai/backend/manager/idle.py
Labels: manager

#1208 fix: NetApp volume bugs and forbid cross-volume vfolder cloning
  changes/1208.fix.md
  src/ai/backend/storage/abc.py
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/gpfs/__init__.py
  src/ai/backend/storage/netapp/__init__.py
  src/ai/backend/storage/vfs/__init__.py
  tests/storage-proxy/test_vfs.py
Labels: bug, storage-proxy, refactor

#1210 refactor: Remove duplicate methods in the NetApp volume
  src/ai/backend/storage/netapp/__init__.py
Labels: storage-proxy, refactor, skip:changelog

#1211 deps: update etcetra to 0.1.15
  python.lock
  requirements.txt
Labels: skip:changelog

#1215 ci: Upgrade mypy to 1.2.0
  pants.toml
  pyproject.toml
  tools/mypy.lock
Labels: maintenance, skip:changelog

#1214 fix: Optimize monthly stat API
  changes/1214.fix.md
  src/ai/backend/manager/api/resource.py
Labels: manager, enhance

#1201 hotfix(ci): Add missing dependencies during build-conda-pack-for-windows
  .github/workflows/default.yml
Labels: skip:changelog

#1213 ci: add missing source distribution extractables for releases
  .github/workflows/default.yml
Labels: skip:changelog

#1225 fix: invalid mount point for sftp/scp binaries
  changes/1225.feature.md
  src/ai/backend/agent/agent.py
Labels: type:bug, comp:agent, size:XS

#1227 update: base python version from 3.11.2 to 3.11.3
  changes/1227.misc.md
  pants.toml
  pyproject.toml
  python-kernel.lock
  python.lock
  tools/black.lock
  tools/coverage-py.lock
  tools/flake8.lock
  tools/isort.lock
  tools/mypy-extra-type-stubs.lock
  tools/pants-plugins.lock
  tools/pytest.lock
  tools/towncrier.lock
Labels: area:infrastructure, type:maintenance, comp:manager, comp:agent, comp:client, comp:common, comp:cli, comp:webserver, effort:easy, comp:storage-proxy, impact:invisible, platform:general, urgency:2

#1216 Fix for Dockerfile smell DL3015
  docker/agent/Dockerfile
  docker/manager/Dockerfile
Labels: area:infrastructure, effort:easy, skip:changelog, type:enhance, impact:invisible, platform:general, size:XS, urgency:1

#1229 setup: Upgrade aiomonitor-ng to 0.7.1
  python.lock
  requirements.txt
Labels: area:infrastructure, type:maintenance, skip:changelog, impact:invisible

#1223 fix: considerations for improving manager scability
  changes/1223.fix.md
  configs/agent/sample.toml
  configs/manager/sample.toml
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
  src/ai/backend/common/events.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/config.py
Labels: platform:enterprise, comp:manager, comp:agent, effort:easy, type:enhance, impact:invisible, size:M, status:open, urgency:4

#1221 ci: add size label automation actions job
  .github/workflows/label.yml
Labels: area:infrastructure, skip:changelog, size:XS

#1231 fix: disable collecting per-container statistics on macOS backend
  changes/1231.fix.md
  src/ai/backend/agent/stats.py
Labels: comp:agent, size:XS, size/XS

#1232 misc: update dropbear build script
  scripts/agent/build-dropbear.sh
Labels: comp:agent, skip:changelog, size:M

#1234 feat: support for idle checking ATOM accelerators
  changes/1234.feature.md
  src/ai/backend/manager/idle.py
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager, type:enhance, size:XS, size/XS

#1158 feat: new mock plugin to support mocking arbitrary accelerator
  .gitignore
  changes/1158.feature.md
  configs/accelerator/cuda-mock-mig.toml
  configs/accelerator/cuda-mock.toml
  configs/accelerator/mock-accelerator.toml
  docs/dev/index.rst
  docs/dev/using-mock-accelerator.rst
  scripts/install-dev.sh
  src/ai/backend/accelerator/mock/BUILD
  src/ai/backend/accelerator/mock/README.md
  src/ai/backend/accelerator/mock/VERSION
  src/ai/backend/accelerator/mock/__init__.py
  src/ai/backend/accelerator/mock/defs.py
  src/ai/backend/accelerator/mock/plugin.py
  src/ai/backend/accelerator/mock/py.typed
  src/ai/backend/accelerator/mock/types.py
Labels: area:docs, comp:agent, type:enhance, size:XL, size/XL

#1237 repo: Replace ./pants with scie-pants
  .github/workflows/coverage.yml
  .github/workflows/default.yml
  .github/workflows/integration.yml
  .github/workflows/sbom.yml
  changes/1237.misc.md
  docs/dev/daily-workflows.rst
  docs/install/install-from-source.rst
  docs/locales/ko/LC_MESSAGES/dev/daily-workflows.po
  docs/locales/ko/LC_MESSAGES/install/install-from-source.po
  pants
  scripts/install-dev.sh
  scripts/pre-commit.sh
  scripts/pre-push.sh
  tools/pants-local
Labels: area:infrastructure, type:maintenance, area:docs, comp:installer, effort:normal, impact:invisible, size:XL

#1242 ci: Remove manual installation of Python 3.9 for Pants
  .github/workflows/coverage.yml
  .github/workflows/default.yml
  .github/workflows/integration.yml
  .github/workflows/sbom.yml
Labels: area:infrastructure, type:maintenance, skip:changelog, size:S

#1241 feat: recognize OCI metadata format when scanning registry
  changes/1241.feature.md
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/container_registry/harbor.py
  src/ai/backend/manager/container_registry/local.py
Labels: type:feature, comp:manager, type:refactor, effort:hard, impact:invisible, platform:general, size:L, urgency:5

#1245 fix: pytest failing after yarl downgrade
  pants.toml
  tools/pytest.lock
Labels: comp:manager, skip:changelog, size:M, urgency:4

#1246 feat: configurable sftp scaling group
  changes/1246.feature.md
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/cli/etcd.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/models/storage.py
Labels: comp:manager, size:M

#1236 feature: add is_public field to scaling_group
  changes/1236.feature.md
  src/ai/backend/client/cli/admin/scaling_group.py
  src/ai/backend/client/func/scaling_group.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/manager/api/scaling_group.py
  src/ai/backend/manager/models/alembic/versions/fe59ec332c07_add_is_public_flag_to_scaling_group.py
  src/ai/backend/manager/models/scaling_group.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, comp:client, comp:cli, require:db-migration, effort:normal, impact:visible, size:M

#1247 fix: correct lint breaking code
  src/ai/backend/manager/models/alembic/versions/fe59ec332c07_add_is_public_flag_to_scaling_group.py
Labels: comp:manager, skip:changelog, size:XS

#1248 Make the logical flow of cpuset detection fallbacks clearer
  changes/1248.fix.md
  src/ai/backend/agent/vendor/linux.py
Labels: type:bug, comp:agent, type:refactor, impact:invisible, platform:general, size:L

#1238 feat: add `public-host` option for agent
  changes/1238.feature.md
  configs/agent/sample.toml
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/alembic/versions/fdc9d6ac49b4_add_public_host_to_agent.py
  src/ai/backend/manager/models/scaling_group.py
  src/ai/backend/manager/registry.py
  tests/manager/test_registry.py
Labels: comp:manager, type:refactor, require:db-migration, impact:invisible, size:M, urgency:5

#1249 fix: make `direct-access-info` API public
  src/ai/backend/manager/api/session.py
Labels: skip:changelog

#1250 feat: add `system_SSH_Image` webserver config to specify the system-role ssh image for fast file uploading.
  changes/1250.feature.md
  configs/webserver/sample.conf
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: comp:webserver, effort:easy, type:enhance, size:XS, urgency:5
