Repository lablup/backend.ai, pull requests merged in 2023-06, with the labels that each got.

#1278 feat: basic support for model service
  changes/1278.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/kubernetes/kernel.py
  src/ai/backend/client/cli/admin/session.py
  src/ai/backend/client/cli/service.py
  src/ai/backend/client/func/service.py
  src/ai/backend/client/output/console.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/client/output/formatters.py
  src/ai/backend/client/output/json.py
  src/ai/backend/client/output/types.py
  src/ai/backend/client/service.py
  src/ai/backend/common/events.py
  src/ai/backend/common/types.py
  src/ai/backend/kernel/base.py
  src/ai/backend/kernel/service.py
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/api/utils.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/defs.py
  src/ai/backend/manager/idle.py
  src/ai/backend/manager/models/alembic/versions/529113b08c2c_add_vfolder_type_column.py
  src/ai/backend/manager/models/alembic/versions/85984c98b90f_update_endpoint_and_routing_table.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/routing.py
  src/ai/backend/manager/models/scaling_group.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/models/vfolder.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/utils.py
  tests/manager/conftest.py
Labels: comp:manager, comp:client, require:db-migration, size:XL

#1315 fix: agent not waiting for model service to load
  src/ai/backend/agent/kernel.py
  src/ai/backend/kernel/base.py
Labels: type:bug, skip:changelog, size:M

#1316 feat: update POST `/service` API to also accept vFolder name
  src/ai/backend/client/cli/service.py
  src/ai/backend/client/func/service.py
  src/ai/backend/manager/api/service.py
Labels: type:feature, comp:manager, comp:client, skip:changelog, size:L

#1317 setup: Move pants' local-exec-root outside of the build root
  .github/workflows/coverage.yml
  .github/workflows/default.yml
  .github/workflows/integration.yml
  .gitignore
  pants.toml
  scripts/check-docker.py
  scripts/delete-dev.sh
  scripts/install-dev.sh
  scripts/tomltool.py
Labels: area:infrastructure, type:maintenance, comp:installer, skip:changelog, impact:invisible, size:L

#1267 feat: use `zsh` as the default shell if the binary is available in the kernel image
  changes/1267.feature.md
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/kernel/intrinsic.py
  src/ai/backend/runner/.tmux.conf
  src/ai/backend/runner/.zshrc
  src/ai/backend/runner/BUILD
Labels: type:feature, comp:agent, effort:normal, impact:visible, size:M

#1318 ci,test: Pass the build root path explicitly when running tests
  pants.toml
  src/ai/backend/plugin/entrypoint.py
Labels: area:infrastructure, type:maintenance, skip:changelog, impact:invisible, size:XS

#1312 fix: Handle buggy orm field loading when destroy session
  BUILD
  changes/1312.fix.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:XS

#1321 fix: Install `tomlkit` prior to running `scripts/tomltool.py`
  scripts/install-dev.sh
Labels: type:bug, comp:installer, effort:easy, skip:changelog, size:XS

#1322 fix: Check None value of config argument when enqueue session
  changes/1322.fix.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:XS

#1320 fix: Use a more sensible value of the warning threshold for max concurrent transactions
  changes/1320.fix.md
  configs/manager/sample.toml
  src/ai/backend/manager/models/utils.py
Labels: comp:manager, type:enhance, impact:invisible, size:M

#955 feat: implement `container_pid_to_host_pid()`
  changes/955.feature.md
  src/ai/backend/agent/utils.py
  src/ai/backend/common/cgroup.py
  src/ai/backend/manager/container_registry/local.py
  src/ai/backend/runner/jail.ubuntu16.04.x86_64.bin
Labels: comp:manager, comp:agent, type:enhance, size:L

#1204 fix: update vfolder share failure error description
  changes/1204.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: type:bug, urgency:blocker, comp:manager, effort:easy, size:S

#1209 ci: add test cases for idle checker
  src/ai/backend/manager/idle.py
  tests/manager/test_idle_checker.py
Labels: urgency:blocker, comp:manager, skip:changelog, size:XL

#1326 fix: set session status not being set as `PULLING`
  changes/1326.fix.md
  src/ai/backend/manager/registry.py
Labels: urgency:blocker, comp:manager, size:XS

#1325 fix: ensure type of `agent_id` to be consistent
  changes/1325.fix.md
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: urgency:blocker, comp:manager, size:S

#1191 feat: basic support for VFolder v3
  changes/1191.feature.md
  configs/storage-proxy/sample.toml
  scripts/specialize.py
  scripts/storage-proxy/ceph/README.md
  scripts/storage-proxy/ceph/Vagrantfile
  scripts/storage-proxy/ceph/install_ceph.sh
  scripts/storage-proxy/ceph/install_storage_proxy.sh
  scripts/storage-proxy/upgrade.sh
  src/ai/backend/common/config.py
  src/ai/backend/common/types.py
  src/ai/backend/common/validators.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/models/alembic/versions/5fbd368d12a2_add_quota_scope_id.py
  src/ai/backend/manager/models/storage.py
  src/ai/backend/manager/models/vfolder.py
  src/ai/backend/manager/registry.py
  src/ai/backend/storage/abc.py
  src/ai/backend/storage/api/client.py
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/cephfs/__init__.py
  src/ai/backend/storage/config.py
  src/ai/backend/storage/context.py
  src/ai/backend/storage/dellemc/__init__.py
  src/ai/backend/storage/dellemc/dellemc_client_orig.py
  src/ai/backend/storage/dellemc/dellemc_quota_manager.py
  src/ai/backend/storage/dellemc/onefs_client.py
  src/ai/backend/storage/exception.py
  src/ai/backend/storage/gpfs/__init__.py
  src/ai/backend/storage/gpfs/gpfs_client.py
  src/ai/backend/storage/migration.py
  src/ai/backend/storage/netapp/__init__.py
  src/ai/backend/storage/netapp/netappclient.py
  src/ai/backend/storage/netapp/quotamanager.py
  src/ai/backend/storage/purestorage/__init__.py
  src/ai/backend/storage/server.py
  src/ai/backend/storage/subproc.py
  src/ai/backend/storage/types.py
  src/ai/backend/storage/utils.py
  src/ai/backend/storage/vfs/__init__.py
  src/ai/backend/storage/weka/__init__.py
  src/ai/backend/storage/weka/weka_client.py
  src/ai/backend/storage/xfs/__init__.py
  tests/common/test_validators.py
  tests/storage-proxy/conftest.py
  tests/storage-proxy/test_netapp.py
  tests/storage-proxy/test_purestorage.py
  tests/storage-proxy/test_quota.py
  tests/storage-proxy/test_vfs.py
  tests/storage-proxy/test_volume.py
  tests/storage-proxy/test_xfs.py
Labels: type:feature, urgency:blocker, comp:manager, comp:agent, comp:storage-proxy, require:db-migration, size:XL

#1313 feat: Impl dummy agent
  .gitignore
  changes/1313.feature.md
  configs/agent/sample-dummy-config.toml
  scripts/install-dev.sh
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/dummy/BUILD
  src/ai/backend/agent/dummy/__init__.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/dummy/config.py
  src/ai/backend/agent/dummy/intrinsic.py
  src/ai/backend/agent/dummy/kernel.py
  src/ai/backend/agent/dummy/resources.py
  src/ai/backend/agent/types.py
  src/ai/backend/common/validators.py
Labels: area:infrastructure, comp:agent, type:enhance, effort:hard, impact:invisible, size:XL, urgency:3

#1339 setup: Upgrade pants (2.16.0rc4 -> 2.16.0)
  pants.toml
Labels: area:infrastructure, type:maintenance, comp:installer, skip:changelog, impact:invisible, size:XS

#1340 docs: Renew versioning scheme document
  .github/CONTRIBUTING.md
Labels: type:bug, area:docs, skip:changelog, size:XS

#1342 ci: Update init-pants action (v4-scie-pants -> v5-scie-pants)
  .github/workflows/coverage.yml
  .github/workflows/default.yml
  .github/workflows/integration.yml
  .github/workflows/sbom.yml
Labels: area:infrastructure, type:maintenance, skip:changelog, impact:invisible, size:S

#1332 fix: heartbeat failing when public-host is set
  changes/1332.fix.md
  src/ai/backend/agent/agent.py
Labels: comp:agent, size:XS

#1324 ci: Detect packages that do not have binary files
  .github/workflows/check-requirement.yml
Labels: area:infrastructure, type:maintenance, skip:changelog, effort:normal, impact:invisible, size:S

#1341 fix: prepare_krunner_env raising error when untagged image exists
  changes/1341.fix.md
  src/ai/backend/agent/docker/kernel.py
Labels: type:bug, comp:agent, impact:invisible, size:XS

#1333 fix: manager vFolder API failing
  changes/1333.fix.md
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:M

#1347 feat: generate references to REST API automatically
  .gitignore
  .readthedocs.yml
  docs/conf.py
  docs/manager/index.rst
  docs/manager/rest-reference/index.rst
  docs/requirements.txt
  src/ai/backend/manager/api/auth.py
  src/ai/backend/manager/api/manager.py
  src/ai/backend/manager/api/utils.py
  src/ai/backend/manager/openapi.py
  src/ai/backend/manager/server.py
Labels: area:docs, comp:manager, skip:changelog, size:L

#1348 ci: Update lablup/sparse-checkout action
  .github/workflows/timeline-check.yml
Labels: area:infrastructure, type:maintenance, area:upstream, skip:changelog, impact:invisible, size:XS

#1349 fix: Update heartbeat-timeout in halfstack.toml
  configs/manager/halfstack.toml
Labels: type:bug, comp:installer, skip:changelog, size:XS

#1344 fix: return `None` for `status_changed` when `status_history` is None
  changes/1344.fix.md
  src/ai/backend/manager/models/session.py
Labels: comp:manager, size:XS

#1336 fix: vFolder V3 migration failing when certain conditions met
  BUILD
  changes/1336.fix.md
  src/ai/backend/storage/abc.py
  src/ai/backend/storage/migration.py
  src/ai/backend/storage/vfs/__init__.py
Labels: comp:storage-proxy, size:M

#1345 feat: print migration steps as shell script
  changes/1345.feature.md
  src/ai/backend/storage/migration.py
Labels: comp:storage-proxy, size:L

#1352 fix: reopen db connection when retry delete vfolder query
  src/ai/backend/manager/models/vfolder.py
Labels: type:bug, comp:manager, skip:changelog, impact:invisible, size:S

#1335 fix: `list_files()` API raising timeout when folder contains lots of files
  changes/1335.fix.md
  src/ai/backend/storage/abc.py
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/netapp/__init__.py
  src/ai/backend/storage/purestorage/__init__.py
  src/ai/backend/storage/vfs/__init__.py
Labels: comp:storage-proxy, size:S

#1022 feat: Let the queryfilter-minilang engine to fetch multiple rows from joined tables
  changes/1022.feature.md
  src/ai/backend/client/cli/admin/keypair.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/keypair.py
  src/ai/backend/manager/models/minilang/__init__.py
  src/ai/backend/manager/models/minilang/ordering.py
  src/ai/backend/manager/models/minilang/queryfilter.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/models/utils.py
  src/ai/backend/manager/models/vfolder.py
  tests/manager/models/test_utils.py
  tests/manager/test_queryorder.py
Labels: comp:manager, comp:client, comp:cli, size:XL
