Repository lablup/backend.ai, pull requests merged in 2023-05, with the labels that each got.

#1253 fix: system sessions not being spawned
  src/ai/backend/manager/api/session.py
Labels: comp:manager, skip:changelog, size:S

#1255 fix: `destroy`ing session on behalf of other user not working
  changes/1255.feature.md
  src/ai/backend/manager/api/session.py
Labels: type:bug, comp:manager, size:XS

#1252 fix: enhance stability of `kernels.role` migration script
  src/ai/backend/manager/models/alembic/versions/bedd92de93af_add_role_column_on_kernels_table.py
Labels: urgency:blocker, comp:manager, skip:changelog, size:M

#1256 deps: Upgrade aiotools to 1.6.1
  changes/1256.fix.md
  python.lock
  requirements.txt
Labels: type:bug, type:maintenance, urgency:blocker, area:upstream

#1257 setup: upgrade yarl to 1.9.2
  python.lock
  requirements.txt
Labels: type:maintenance, area:upstream, skip:changelog

#1224 fix: remove kernel creation tracker
  MIGRATION.md
  changes/1224.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/kubernetes/kernel.py
  src/ai/backend/agent/server.py
  src/ai/backend/agent/types.py
  src/ai/backend/common/events.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: urgency:blocker, comp:manager, comp:agent, comp:common, type:refactor, type:enhance, size:XL

#1262 fix: test_agent test failing
  tests/agent/conftest.py
Labels: type:maintenance, comp:agent, skip:changelog, size:XS

#1261 setup: downgrade yarl to 1.8
  changes/1261.fix.md
  python.lock
  requirements.txt
Labels: comp:manager, area:upstream, size:L

#1260 ci: change shell of `build-conda-pack-for-windows` to `bash`
  .github/workflows/default.yml
Labels: skip:changelog, size:XS

#1263 setup: fix install-dev.sh failing on `check-docker.py` check
  scripts/install-dev.sh
Labels: type:maintenance, area:upstream, skip:changelog

#1265 ci: Reflect the changed client Dockerfile name
  .github/workflows/default.yml
Labels: skip:changelog

#1233 feature: Enable folder upload
  changes/1233.feature.md
  src/ai/backend/storage/api/client.py
Labels: type:bug, comp:storage-proxy, size:XS

#1266 Add `agent_id` label to containers
  changes/1266.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/kubernetes/kernel.py
Labels: type:feature, comp:agent, size:M

#1235 feature: Impl recursive vfolder upload
  changes/1235.feature.md
  src/ai/backend/client/cli/vfolder.py
  src/ai/backend/client/func/vfolder.py
Labels: type:feature, area:ux, comp:manager, comp:client, comp:storage-proxy, effort:hard, size:M, urgency:4

#1217 chore: update redis-py requirement from ~= 4.3.4 to ~=4.5.5
  python.lock
  requirements.txt
Labels: status:help wanted, type:maintenance, area:upstream, skip:changelog, impact:invisible, size:M

#1228 repo: Upgrade Pants to 2.16.0rc2
  .github/workflows/alembic-head-check.yml
  .github/workflows/coverage.yml
  .github/workflows/default.yml
  .github/workflows/integration.yml
  .github/workflows/pr-number-assign.yml
  .github/workflows/sbom.yml
  docs/dev/daily-workflows.rst
  pants.toml
  python-kernel.lock
  python.lock
  requirements.txt
  tools/BUILD
  tools/black-requirements.txt
  tools/black.lock
  tools/coverage-py.lock
  tools/coveragepy-requirements.txt
  tools/flake8-requirements.txt
  tools/flake8.lock
  tools/isort-requirements.txt
  tools/isort.lock
  tools/mypy-requirements.txt
  tools/mypy.lock
  tools/pytest-requirements.txt
  tools/pytest.lock
  tools/towncrier-requirements.txt
Labels: area:infrastructure, type:maintenance, area:docs, action:on hold, skip:changelog, impact:invisible, platform:general, size:XL

#1274 test: Improve flakkiness of the distributed lock test cases
  tests/common/test_distributed.py
Labels: type:maintenance, skip:changelog, size:M

#1172 docs: fix typos
  README.md
Labels: area:docs, skip:changelog, size:XS

#1264 setup: standalone python build on `install-dev.sh`
  .gitignore
  scripts/install-dev.sh
Labels: skip:changelog, type:enhance, size:M

#1276 test: Remove healthchecks for redis containers in fixtures to avoid intermittent hangup
  src/ai/backend/common/lock.py
  src/ai/backend/testutils/bootstrap.py
  tests/common/redis/conftest.py
  tests/common/redis/docker.py
  tests/common/redis/redis-cluster.yml
  tests/common/redis/utils.py
Labels: type:maintenance, skip:changelog, size:M

#1269 fix: Skip execution of `pr-number-assign.py` script in merge queues
  .github/workflows/timeline-check.yml
  scripts/pr-number-assign.py
Labels: area:infrastructure, effort:easy, skip:changelog, size:XS

#1212 fix: Remove pipeline-related configuration from manager
  changes/1212.fix.md
  configs/manager/halfstack.toml
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/defs.py
Labels: comp:manager, size:M

#1275 fix: Update the priority of session allocation for the pipeline service
  changes/1275.fix.md
  src/ai/backend/web/proxy.py
Labels: comp:webserver, effort:easy, impact:invisible, platform:general, size:S

#1272 chore: Add the python version to the classifiers of package
  tools/pants-plugins/setupgen/register.py
Labels: skip:changelog, skip:ci, size:S

#1280 setup: Preserve cached bootstrapping python and improve macOS compatibility
  scripts/install-dev.sh
Labels: comp:installer, skip:changelog, skip:ci, size:M

#1244 ci: Trying to fix the missing base-ref issue with forks
  .github/workflows/default.yml
Labels: area:infrastructure, type:maintenance, skip:changelog, impact:invisible, size:S

#1268 health check on storage proxy
  changes/1268.feature.md
  src/ai/backend/storage/api/client.py
  src/ai/backend/storage/api/manager.py
Labels: type:feature, comp:storage-proxy, impact:invisible, size:M

#1175 fix: Rewrite alembic migration history to upgrade from 22.09
  changes/1175.fix
  src/ai/backend/manager/models/alembic/versions/36b69ddee76e_.py
  src/ai/backend/manager/models/alembic/versions/b5be363ab05c_.py
  src/ai/backend/manager/models/alembic/versions/b6b884fbae1f_add_session_table.py
  src/ai/backend/manager/models/alembic/versions/bedd92de93af_add_role_column_on_kernels_table.py
  src/ai/backend/manager/models/alembic/versions/cace152eefac_change_keypair_s_ssh_key_column_type.py
Labels: urgency:blocker, comp:manager, type:refactor, size:XL

#682 feat: Add the Dell EMC storage backend
  changes/682.feature.md
  src/ai/backend/storage/context.py
  src/ai/backend/storage/dellemc/BUILD
  src/ai/backend/storage/dellemc/__init__.py
  src/ai/backend/storage/dellemc/dellemc_client.py
  src/ai/backend/storage/dellemc/dellemc_client_orig.py
  src/ai/backend/storage/dellemc/dellemc_quota_manager.py
  src/ai/backend/storage/dellemc/exceptions.py
Labels: type:feature, comp:storage-proxy, size:XL

#1259 feat: include `scaling_group_name` in error
  changes/1259.feature.md
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, size:XS

#1285 feat: Add webserver stats
  changes/1285.feature.md
  src/ai/backend/web/proxy.py
  src/ai/backend/web/server.py
  src/ai/backend/web/stats.py
Labels: type:feature, platform:enterprise, comp:webserver, effort:normal, size:L, urgency:4

#1282 fix: Resolve session `resource_opts` from sibling kernels
  changes/1282.feature.md
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/alembic/versions/d6a02307a057_remove_session_resource_opts.py
  src/ai/backend/manager/models/session.py
  tests/manager/test_scheduler.py
Labels: comp:manager, size:M

#1288 fix: Handle `KeyError` on `session.status_changed` GraphQL resolver
  changes/1288.fix.md
  src/ai/backend/manager/models/session.py
Labels: comp:manager, size:S

#1290 test: Parallelize more!
  tests/common/redis/test_list.py
  tests/common/redis/test_list_cluster.py
  tests/common/redis/test_stream_consume.py
  tests/common/redis/test_stream_consume_cluster.py
  tests/common/redis/test_stream_subscribe.py
  tests/common/redis/test_stream_subscribe_cluster.py
Labels: area:infrastructure, type:maintenance, skip:changelog, size:XL

#1295 fix: Agent resource doubling with recalc txn retries
  changes/1295.fix.md
  src/ai/backend/manager/registry.py
Labels: type:bug, urgency:blocker, comp:manager, impact:visible, size:XS

#1297 fix: Handle empty list when migrate kernel role
  src/ai/backend/manager/models/alembic/versions/bedd92de93af_add_role_column_on_kernels_table.py
Labels: comp:manager, skip:changelog, size:XS

#1299 feat: concurrency limit for system sessions
  changes/1299.feature.md
  src/ai/backend/manager/models/alembic/versions/210c4d9be768_add_keypair_resource_policy_max_.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/resource_policy.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/manager/scheduler/predicates.py
Labels: comp:manager, size:L

#1298 fix: remove vscode from intrinsic service app
  changes/1298.fix.md
  src/ai/backend/kernel/base.py
  src/ai/backend/kernel/intrinsic.py
Labels: type:bug, comp:agent, effort:easy, size:S, urgency:3

#1296 ci: Also trigger actions on bot commit of pr-number-assign
  .github/workflows/pr-number-assign.yml
  .github/workflows/timeline-check.yml
Labels: area:infrastructure, skip:changelog, size:S

#1284 impl feature to force password updates periodically
  changes/1284.feature.md
  src/ai/backend/client/cli/config.py
  src/ai/backend/client/func/auth.py
  src/ai/backend/manager/api/auth.py
  src/ai/backend/manager/api/exceptions.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/models/alembic/versions/d58a526bf837_add_password_changed_at_col.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/web/server.py
Labels: comp:manager, comp:client, comp:webserver, size:L

#1300 fix: merge branched migration head
  src/ai/backend/manager/models/alembic/versions/210c4d9be768_add_keypair_resource_policy_max_.py
Labels: comp:manager, skip:changelog, size:XS

#858 refactor: store abusing reports in redis
  changes/858.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/server.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/alembic/versions/857bdec5abda_add_auto_terminate_col.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/registry.py
  tests/manager/test_registry.py
Labels: comp:manager, comp:agent, require:db-migration, type:enhance, size:L

#1304 fix: use session_id to destroy kernels instead of kernel.session_id
  changes/1304.fix.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:XS

#1306 setup: Upgrade pants to 2.16.0rc4
  .github/workflows/default.yml
  .gitignore
  pants.toml
  python-kernel.lock
  python.lock
  requirements.txt
  scripts/check-cross-imports.sh
  scripts/pre-push.sh
  tests/agent/conftest.py
  tools/flake8-requirements.txt
  tools/mypy-extra-type-stubs.lock
  tools/mypy.lock
Labels: type:bug, area:infrastructure, type:maintenance, skip:changelog, impact:invisible, size:XL

#1307 test: Improve stability of flaky tests
  tests/common/redis/test_stream_consume_cluster.py
  tests/common/test_etcd.py
Labels: area:infrastructure, type:maintenance, skip:changelog, impact:invisible, size:M

#1308 test: A follow-up fix to #1307
  .github/workflows/integration.yml
  tests/common/redis/test_stream_consume.py
  tests/common/redis/test_stream_consume_cluster.py
Labels: area:infrastructure, type:maintenance, skip:changelog, impact:invisible, size:XS

#1309 test: Ensure hostname config for Redis cluster tests
  tests/common/redis/conftest.py
Labels: area:infrastructure, skip:changelog, type:enhance, impact:invisible, size:S

#1301 ci: Fix wrong db migration file path
  .github/labeler.yml
Labels: skip:changelog, size:XS

#1291 fix: MemoryPlugin implementation bug
  changes/1291.fix.md
  src/ai/backend/agent/docker/intrinsic.py
Labels: type:bug, comp:agent, size:S

#1294 feat: Support websocket proxy for the pipeline service
  changes/1294.feature.md
  src/ai/backend/common/web/session/__init__.py
  src/ai/backend/web/proxy.py
  src/ai/backend/web/server.py
Labels: platform:enterprise, comp:webserver, effort:easy, type:enhance, impact:invisible, size:S

#1310 ci: Upgrade mypy to 1.3.0
  tools/mypy-requirements.txt
  tools/mypy.lock
Labels: area:infrastructure, type:maintenance, area:upstream, skip:changelog, size:M

#1311 ci: fix `build-push-action` failing
  .github/workflows/default.yml
Labels: skip:changelog, size:S

#1292 feature: Sync manager db and agent kernel_registry
  changes/1292.feature.md
  src/ai/backend/agent/server.py
  src/ai/backend/common/events.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:L
