Repository lablup/backend.ai, pull requests merged in 2023-11, with the labels that each got.

#1642 fix: inference session not created when service name is too long
  changes/1642.fix.md
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/routing.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:M

#1667 fix: `_update()` not retrying despite of retry error
  changes/1667.fix.md
  src/ai/backend/manager/models/utils.py
  src/ai/backend/manager/registry.py
Labels: urgency:blocker, comp:manager, size:S

#1677 fix: restore removed graphene fields and set them deprecated
  changes/1677.fix.md
  src/ai/backend/manager/models/resource_policy.py
  src/ai/backend/manager/models/utils.py
Labels: comp:manager, size:M

#1680 feat: Add scie-based single binary distributions
  .github/workflows/default.yml
  changes/1680.feature.md
  pants.toml
  scripts/determine-release-type.py
  src/ai/backend/accelerator/cuda_open/BUILD
  src/ai/backend/accelerator/mock/BUILD
  src/ai/backend/agent/BUILD
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/agent/kubernetes/intrinsic.py
  src/ai/backend/agent/server.py
  src/ai/backend/cli/BUILD
  src/ai/backend/cli/loader.py
  src/ai/backend/cli/main.py
  src/ai/backend/client/BUILD
  src/ai/backend/client/cli/__init__.py
  src/ai/backend/manager/BUILD
  src/ai/backend/manager/config.py
  src/ai/backend/storage/BUILD
  src/ai/backend/storage/cli.py
  src/ai/backend/storage/server.py
  src/ai/backend/web/BUILD
  src/ai/backend/web/cli.py
  src/ai/backend/web/server.py
  tools/pants-plugins/scie/BUILD
  tools/pants-plugins/scie/README.md
  tools/pants-plugins/scie/__init__.py
  tools/pants-plugins/scie/config.py
  tools/pants-plugins/scie/register.py
  tools/pants-plugins/scie/rules.py
  tools/pants-plugins/scie/subsystems.py
  tools/pants-plugins/scie/target_types.py
Labels: type:feature, comp:manager, comp:client, comp:webserver, comp:installer, comp:storage-proxy, size:XL, urgency:4

#1685 doc: Fix the tutorial to auto-remove the session
  docs/dev/development-setup.rst
Labels: type:bug, area:docs, skip:changelog, size:XS

#1649 feat: increase container creation failure log verbosity
  changes/1649.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/exception.py
  src/ai/backend/common/events.py
Labels: size:S

#1670 feat: Allow explicit `null` and empty string to ContainerRegistry mutations
  changes/1670.feature.md
  src/ai/backend/manager/api/admin.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/models/etcd.py
  src/ai/backend/manager/models/gql.py
  tests/client/integration/test_kernel.py
  tests/manager/models/test_etcd.py
Labels: comp:manager, size:L

#1690 docs: New design to go along with the website renewal 2023
  changes/1690.doc.md
  docs/_static/css/customTheme.css
  docs/_static/css/fonts/ABCWhyteInktrap-Regular.woff
  docs/_static/css/fonts/ABCWhyteInktrap-RegularItalic.woff2
  docs/_static/css/fonts/OxygenMono-Regular.ttf
  docs/_static/css/fonts/Poppins-Medium.ttf
  docs/_static/css/fonts/Poppins-Regular.ttf
  docs/_static/css/fonts/Poppins-SemiBold.ttf
  docs/_static/css/fonts/Pretendard-Regular.woff
  docs/_static/icons/icon-arrow-close.svg
  docs/_static/icons/icon-arrow-open.svg
  docs/_static/icons/icon-backward.svg
  docs/_static/icons/icon-exclamation.svg
  docs/_static/icons/icon-facebook.svg
  docs/_static/icons/icon-folder.svg
  docs/_static/icons/icon-frontward.svg
  docs/_static/icons/icon-github.svg
  docs/_static/icons/icon-linkedin.svg
  docs/_static/icons/icon-search.svg
  docs/_static/icons/icon-youtube.svg
  docs/_static/js/custom.js
  docs/_static/logo-backend-ai.svg
  docs/conf.py
Labels: area:docs, size:XL

#1688 fix: Make Client SDK and Manager GraphQL API aware of undefined
  changes/1688.fix.md
  src/ai/backend/client/cli/admin/domain.py
  src/ai/backend/client/cli/admin/group.py
  src/ai/backend/client/cli/admin/keypair.py
  src/ai/backend/client/cli/admin/resource.py
  src/ai/backend/client/cli/admin/resource_policy.py
  src/ai/backend/client/cli/admin/scaling_group.py
  src/ai/backend/client/cli/admin/user.py
  src/ai/backend/client/cli/params.py
  src/ai/backend/client/func/domain.py
  src/ai/backend/client/func/group.py
  src/ai/backend/client/func/keypair.py
  src/ai/backend/client/func/keypair_resource_policy.py
  src/ai/backend/client/func/resource.py
  src/ai/backend/client/func/scaling_group.py
  src/ai/backend/client/func/user.py
  src/ai/backend/client/types.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/domain.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/keypair.py
  src/ai/backend/manager/models/resource_policy.py
  src/ai/backend/manager/models/scaling_group.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/models/vfolder.py
  src/ai/backend/test/cli_integration/admin/test_domain.py
  src/ai/backend/test/cli_integration/admin/test_keypair_resource_policy.py
Labels: urgency:blocker, comp:manager, comp:client, type:refactor, size:XL

#1696 feat: Add custom NPU device per node limit
  changes/1696.feature.md
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: type:feature, area:ux, platform:enterprise, comp:webui, comp:webserver, effort:normal, size:S, urgency:5

#1698 fix: allow `Undefined` value to `ModifyGroupInput.user_update_mode`
  changes/1698.fix.md
  src/ai/backend/manager/models/group.py
Labels: comp:manager, size:XS, urgency:5

#1691 feat: unify CLI parameter of OpenAPI / GQL spec dump command
  changes/1691.feature.md
  src/ai/backend/manager/cli/api.py
  src/ai/backend/manager/openapi.py
Labels: comp:manager, size:M

#1692 feat: Add `frontend-endpoint` and `hide-side-menu-button` to webserver's pipeline configs
  changes/1692.feature.md
  configs/webserver/halfstack.conf
  configs/webserver/sample.conf
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: comp:webserver, size:S

#1708 ci: Add a manually triggered workflow to build static wsproxy
  .github/workflows/build-static-wsproxy.yml
Labels: type:feature, area:infrastructure, comp:webui, skip:changelog, size:M

#1702 docs: update heading hierarchy & flyout menu
  changes/1702.doc.md
  docs/_static/css/customTheme.css
  docs/_static/js/custom.js
Labels: area:docs, size:L

#1709 ci: Fix build of static-wsproxy in macos
  .github/workflows/build-static-wsproxy.yml
Labels: area:infrastructure, type:maintenance, comp:webui, skip:changelog, size:XS

#1675 feature: add proxy name field to graphene obj
  changes/1675.feature.md
  src/ai/backend/manager/models/storage.py
Labels: comp:manager, size:XS

#1704 feat: Use loop mounted sparse file as scratch to limit its size
  changes/1704.feature.md
  configs/agent/sample.toml
  src/ai/backend/agent/config.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/scratch.py
  src/ai/backend/agent/server.py
Labels: type:feature, comp:agent, comp:storage-proxy, impact:visible, size:L

#1673 fix: infinite loop when malformed symbolic link exists in container
  changes/1673.fix.md
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/kubernetes/kernel.py
Labels: type:bug, effort:easy, size:XS

#1710 Feature/support option for hiding directory size
  changes/1710.feature.md
  configs/webserver/sample.conf
  src/ai/backend/web/templates/config.toml.j2
Labels: size:XS

#1712 feat: Per-image rescan with improved multi-arch support
  changes/1712.feature.md
  src/ai/backend/manager/cli/context.py
  src/ai/backend/manager/cli/etcd.py
  src/ai/backend/manager/cli/image.py
  src/ai/backend/manager/cli/image_impl.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/container_registry/docker.py
  src/ai/backend/manager/container_registry/harbor.py
  src/ai/backend/manager/container_registry/local.py
  src/ai/backend/manager/models/image.py
Labels: type:feature, comp:manager, type:enhance, effort:normal, impact:visible, size:XL, urgency:2

#1714 docs: cleanse font family
  .readthedocs.yml
  changes/1714.doc.md
  docs/_static/css/customTheme.css
  docs/_static/css/fonts/ABCWhyteInktrap-Regular.woff
  docs/_static/css/fonts/ABCWhyteInktrap-RegularItalic.woff2
  docs/_static/css/fonts/OxygenMono-Regular.ttf
  docs/_static/css/fonts/Poppins-Medium.ttf
  docs/_static/css/fonts/Poppins-Regular.ttf
  docs/_static/css/fonts/Poppins-SemiBold.ttf
  docs/_static/css/fonts/Pretendard-Regular.woff
  docs/client/lowlevel/base.rst
  docs/client/lowlevel/index.rst
  docs/client/lowlevel/types.rst
Labels: area:docs, size:M

#1695 ci: Excluding lock files from size calculations
  .github/workflows/label.yml
Labels: area:infrastructure, type:maintenance, skip:changelog, size:XS

#1701 fix: handle error in storage API error handler
  changes/1701.fix.md
  src/ai/backend/storage/api/manager.py
Labels: comp:storage-proxy, size:S

#1707 fix: add missing resource-usage fields
  changes/1707.fix.md
  src/ai/backend/manager/api/resource.py
  src/ai/backend/manager/models/resource_usage.py
Labels: type:feature, comp:manager, size:L, urgency:2

#1716 fix: Community Installer running on macOS
  src/ai/backend/install/common.py
  src/ai/backend/install/context.py
  src/ai/backend/install/docker.py
  src/ai/backend/install/types.py
Labels: type:bug, comp:installer, skip:changelog, size:L

#1715 fix: allow empty `auto_terminate_abusing_kernel` field from agent heartbeat
  changes/1715.fix.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:XS

#1723 chore: remove test print code
  src/ai/backend/manager/api/resource.py
Labels: comp:manager, skip:changelog, skip:ci, size:XS

#1468 doc: Revamp the key concepts part
  changes/1468.doc.md
  docs/_static/css/customTheme.css
  docs/_static/custom.css
  docs/concepts/api-overview.rst
  docs/concepts/computing.rst
  docs/concepts/configuration.rst
  docs/concepts/faq.rst
  docs/concepts/index.rst
  docs/concepts/key-concepts.rst
  docs/concepts/monitoring.rst
  docs/concepts/networking.rst
  docs/concepts/resources.rst
  docs/concepts/server-architecture.svg
  docs/concepts/services.rst
  docs/concepts/storage.rst
  docs/concepts/users.rst
  docs/concepts/vfolder-dir-quota.svg
  docs/concepts/vfolder-volume-quota.svg
  docs/dev/daily-workflows.rst
  docs/requirements.txt
Labels: area:docs, type:enhance, impact:visible, size:XL, urgency:3

#1722 fix: Missing wsproxy.url config and make it WSL-compatible
  changes/1722.fix.md
  docs/.gitignore
  docs/install/env-wsl2.rst
  docs/install/index.rst
  src/ai/backend/common/identity.py
  src/ai/backend/install/cli.py
  src/ai/backend/install/common.py
  src/ai/backend/install/context.py
  src/ai/backend/install/docker.py
  src/ai/backend/install/types.py
  src/ai/backend/install/widgets.py
Labels: type:bug, comp:installer, type:enhance, size:L

#1717 ci: Add sbom report to release artifact
  .github/workflows/default.yml
  .github/workflows/sbom.yml
Labels: skip:changelog, size:S

#1728 fix: Make root partition fstype detection compatible with macOS using psutil
  changes/1728.fix.md
  src/ai/backend/common/identity.py
Labels: type:bug, comp:installer, platform:general, size:S, urgency:4

#1724 fix: Improve docker context support
  changes/1724.fix.md
  src/ai/backend/agent/vendor/linux.py
  src/ai/backend/common/cgroup.py
  src/ai/backend/common/docker.py
  src/ai/backend/install/context.py
  src/ai/backend/install/docker.py
  src/ai/backend/manager/container_registry/local.py
  tests/common/test_docker.py
Labels: type:bug, comp:manager, comp:common, comp:installer, type:refactor, size:L, urgency:3

#1731 fix: Additional macOS installer issues
  changes/1731.fix.md
  src/ai/backend/install/context.py
Labels: type:bug, comp:installer, size:XS

#1732 fix: Installer regression by #1724 and refactor docker connector for richer debug info
  changes/1732.fix.md
  src/ai/backend/agent/vendor/linux.py
  src/ai/backend/common/cgroup.py
  src/ai/backend/common/docker.py
  src/ai/backend/install/docker.py
  src/ai/backend/manager/container_registry/local.py
  tests/common/test_docker.py
Labels: type:bug, comp:manager, comp:installer, type:refactor, size:L, urgency:4

#1736 fix: default redis port in webserver conf
  changes/1736.fix.md
  configs/webserver/halfstack.conf
  configs/webserver/sample.conf
Labels: size:XS

#1735 feature: add edu applauncher name prefix config
  changes/1735.feature.md
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: comp:webserver, size:XS

#1738 fix: minor config name spelling change
  src/ai/backend/web/templates/config.toml.j2
Labels: skip:changelog, skip:ci, size:XS

#1740 feat: add automated static webui unpack shell script
  scripts/download-webui-release.sh
Labels: comp:webserver, skip:changelog, size:S

#1739 fix: do null check on `rate_limit`
  changes/1738.fix.md
  src/ai/backend/manager/api/ratelimit.py
Labels: comp:manager, size:XS

#1741 fix: convert redis config value
  changes/1741.fix.md
  src/ai/backend/common/config.py
Labels: size:XS

#1720 fix: calculate session dependency on session insertion transaction
  changes/1720.fix.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:M, urgency:5

#1737 feature: gql resolvers log error result
  changes/1737.feature.md
  src/ai/backend/manager/api/admin.py
Labels: comp:manager, size:XS

#1745 fix: Correct misspelling of resource
  src/ai/backend/agent/agent.py
  src/ai/backend/client/output/fields.py
Labels: type:bug, comp:agent, comp:client, effort:easy, skip:changelog, impact:invisible, platform:general, size:XS, urgency:5

#1719 feature: impl graphql relay resolver for user and group
  changes/1719.feature.md
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_relay.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/minilang/__init__.py
  src/ai/backend/manager/models/minilang/ordering.py
  src/ai/backend/manager/models/minilang/queryfilter.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/models/utils.py
Labels: comp:manager, size:XL
