Repository lablup/backend.ai, pull requests merged in 2023-10, with the labels that each got.

#835 feat: VFolder trash bin
  changes/835.feature.md
  src/ai/backend/client/cli/vfolder.py
  src/ai/backend/client/func/vfolder.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/alembic/versions/5ba7fde56ddb_add_vfolder_purge_status.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/storage.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/models/vfolder.py
Labels: type:feature, comp:manager, comp:client, comp:storage-proxy, require:db-migration, size:XL

#1417 feat: add `max_vfolder_count` to `ProjectResourcePolicy` and migrate same option to `UserResourcePolicy`
  changes/1417.feature.md
  fixtures/manager/example-keypairs.json
  src/ai/backend/client/cli/admin/resource_policy.py
  src/ai/backend/client/func/keypair_resource_policy.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/alembic/versions/b86b341fd9c9_update_resource_policy_tables.py
  src/ai/backend/manager/models/resource_policy.py
  src/ai/backend/test/cli_integration/admin/test_keypair_resource_policy.py
  tests/client/integration/test_resource_policy.py
  tests/manager/conftest.py
  tests/manager/fixtures/example-keypairs.json
Labels: type:feature, comp:manager, comp:client, require:db-migration, effort:normal, size:L, urgency:3

#962 feat: session based usage stats for given period
  changes/962.feature.md
  src/ai/backend/manager/api/resource.py
  src/ai/backend/manager/models/__init__.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/resource_usage.py
  src/ai/backend/manager/models/session.py
Labels: type:feature, comp:manager, size:XL

#1599 refactor: create routing before session is created
  changes/1599.feature.md
  src/ai/backend/common/events.py
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/models/alembic/versions/8c74e7df26f8_make_routings_contain_error.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/routing.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/manager/utils.py
Labels: comp:manager, require:db-migration, impact:invisible, size:L

#1401 fix: wrong exception handling logic of `SchedulerDispatcher`
  changes/1401.fix.md
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: type:bug, comp:manager, size:M

#1601 chore: Add asdf-managed Python versions to the interpreter search target
  pants.toml
Labels: area:infrastructure, type:maintenance, skip:changelog, size:XS

#1603 chore: Upgrade Pants (2.16.0 -> 2.17.0)
  pants.toml
  tools/pants-plugins/setupgen/register.py
Labels: area:infrastructure, type:maintenance, area:upstream, skip:changelog, size:S

#1602 fix: resolve alembic multiple heads
  src/ai/backend/manager/models/alembic/versions/8c74e7df26f8_make_routings_contain_error.py
Labels: comp:manager, skip:changelog, require:db-migration, size:XS

#1604 setup: Upgrade the base Python version from 3.11.4 to 3.11.6
  changes/1603.misc.md
  pants.toml
  pyproject.toml
  python-kernel.lock
  python.lock
  src/ai/backend/common/redis_helper.py
  src/ai/backend/common/web/session/redis_storage.py
  tests/common/redis_helper/test_connect.py
  tools/black.lock
  tools/coverage-py.lock
  tools/mypy.lock
  tools/pants-plugins.lock
  tools/pytest.lock
  tools/ruff.lock
  tools/towncrier.lock
Labels: comp:manager, comp:agent, comp:client, comp:common, comp:cli, comp:webui, area:upstream, comp:webserver, comp:storage-proxy, type:refactor, comp:appproxy, effort:hard, impact:invisible, platform:general, size:XL, urgency:3, require:pants-export

#1606 feat: check health status of model service actively
  changes/1606.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/dummy/kernel.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/kubernetes/kernel.py
  src/ai/backend/common/events.py
  src/ai/backend/common/types.py
  src/ai/backend/kernel/base.py
  src/ai/backend/kernel/service_actions.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: type:feature, comp:manager, size:L

#1607 fix: typos
  src/ai/backend/manager/models/gql.py
Labels: type:bug, comp:manager, effort:easy, skip:changelog, impact:invisible, platform:general, size:XS, urgency:3

#1608 chore: Prefer local pyenv/asdf Python versions
  pants.toml
Labels: area:infrastructure, type:maintenance, skip:changelog, impact:invisible, size:XS

#1609 ci: Replace `check-cross-imports.sh` with Pants' visibility check
  .github/workflows/default.yml
  pants.toml
  scripts/check-cross-imports.sh
  src/ai/backend/agent/BUILD
  src/ai/backend/cli/BUILD
  src/ai/backend/client/BUILD
  src/ai/backend/common/BUILD
  src/ai/backend/kernel/BUILD
  src/ai/backend/manager/BUILD
  src/ai/backend/plugin/BUILD
  src/ai/backend/runner/BUILD
  src/ai/backend/storage/BUILD
  src/ai/backend/test/BUILD
  src/ai/backend/testutils/BUILD
  src/ai/backend/web/BUILD
  tools/BUILD
  tools/build-macros.py
Labels: area:infrastructure, type:refactor, skip:changelog, impact:invisible, size:L

#1612 fix: Misconfig of env-vars in the mock accelerator
  changes/1612.fix.md
  src/ai/backend/accelerator/mock/plugin.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/runner/entrypoint.sh
Labels: type:bug, comp:agent, type:enhance, size:M

#1610 fix: Update the default cloud API endpoint of the client SDK
  changes/1610.fix.md
  src/ai/backend/client/config.py
Labels: area:infrastructure, type:maintenance, comp:client, impact:visible, size:XS, urgency:4

#1617 fix: Enable exhaustive search for recursive session termination
  changes/1617.fix.md
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/api/utils.py
Labels: comp:manager, size:M

#1619 fix: Remove legacy name-based container image exclusion filter
  changes/1619.fix.md
  src/ai/backend/manager/container_registry/base.py
Labels: type:bug, comp:manager, impact:invisible, size:S, urgency:5

#1613 fix: Clean up `entrypoint.sh` and fix potential issues
  changes/1613.fix.md
  src/ai/backend/runner/entrypoint.sh
Labels: type:bug, comp:agent, type:refactor, impact:invisible, size:S, urgency:4

#1620 fix: Pin redis-py to 4.5.5 and enhance logging for Redis reconnection and failover
  changes/1620.fix.md
  python.lock
  requirements.txt
  src/ai/backend/agent/agent.py
  src/ai/backend/common/events.py
  src/ai/backend/common/redis_helper.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/logs.py
  src/ai/backend/manager/api/ratelimit.py
  src/ai/backend/manager/cli/context.py
  src/ai/backend/manager/idle.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/manager/server.py
  src/ai/backend/web/server.py
  tests/common/redis_helper/test_connect.py
  tests/common/redis_helper/test_list.py
  tests/common/redis_helper/test_list_cluster.py
  tests/common/redis_helper/test_pipeline.py
  tests/common/redis_helper/test_pubsub.py
  tests/common/redis_helper/test_stream_consume.py
  tests/common/redis_helper/test_stream_consume_cluster.py
  tests/common/redis_helper/test_stream_subscribe.py
  tests/common/redis_helper/test_stream_subscribe_cluster.py
  tests/common/test_distributed.py
  tests/manager/conftest.py
Labels: type:bug, comp:manager, comp:webserver, type:enhance, impact:invisible, size:XL, urgency:5

#1624 fix: Allow dependencies on stale sessions during `post_enqueue()`
  changes/1624.fix.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:XS

#1646 ci: Upgrade ruff (0.0.287 -> 0.1.1)
  tools/ruff-requirements.txt
  tools/ruff.lock
Labels: area:infrastructure, type:maintenance, area:upstream, skip:changelog, impact:invisible, size:M

#1645 fix: Raise error when a created docker container exposes no port
  changes/1645.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: type:bug, comp:agent, size:XS, urgency:2

#1637 fix: Update outdated GPFS API usage
  changes/1637.fix.md
  src/ai/backend/storage/gpfs/__init__.py
  src/ai/backend/storage/gpfs/gpfs_client.py
  src/ai/backend/storage/gpfs/types.py
Labels: comp:storage-proxy, type:enhance, size:M, urgency:3

#1643 fix: change `max_vfolder_count` type from BigInt to Int
  changes/1643.fix.md
  src/ai/backend/manager/models/resource_policy.py
Labels: type:bug, comp:manager, effort:easy, impact:invisible, size:S, urgency:1

#1648 ci: Upgrade mypy (1.5.1 -> 1.6.1)
  tools/mypy-requirements.txt
  tools/mypy.lock
Labels: area:infrastructure, type:maintenance, skip:changelog, impact:invisible, size:M

#1631 fix: Use `ContainerRegistry`'s hostname as Relay node ID
  changes/1631.fix.md
  src/ai/backend/manager/models/etcd.py
Labels: comp:manager, size:XS

#1636 fix: Unify `project` field in `ContainerRegistry` types to be a list of string
  changes/1636.fix.md
  src/ai/backend/manager/models/etcd.py
Labels: comp:manager, size:XS

#1644 fix: provide deprecation msg to `max_vfolder_size` graphene field
  changes/1644.fix.md
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/resource_policy.py
Labels: comp:manager, size:S

#1629 feat: `max_ipu_devices_per_container` config
  changes/1629.feature.md
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: comp:webserver, size:XS

#1627 fix: Mask sensitive fields when reading container registry via the manager GQL API
  changes/1627.fix.md
  src/ai/backend/manager/defs.py
  src/ai/backend/manager/models/etcd.py
Labels: type:bug, comp:manager, size:XS, urgency:5

#1650 fix: add default unit 'm' to numeric mem arg
  changes/1518.fix.md
  src/ai/backend/client/cli/service.py
  src/ai/backend/client/cli/session/execute.py
  src/ai/backend/client/cli/session/lifecycle.py
  src/ai/backend/client/func/service.py
  src/ai/backend/client/func/session.py
Labels: type:bug, comp:client, type:enhance, size:M

#1651 fix: Invalid attempt to access database with closed connection
  changes/1651.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: type:bug, urgency:blocker, comp:manager, size:S

#1652 feat: Allow privileged access for other's VFolder to superadmin
  changes/1652.feature.md
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:XS

#1653 fix: Replace manager's shared redis config with the common redis config
  changes/1653.fix.md
  src/ai/backend/common/config.py
  src/ai/backend/manager/config.py
Labels: type:bug, comp:manager, comp:common, impact:invisible, platform:general, size:M, urgency:2

#1656 fix: Do not override allowed access level inside query method
  changes/1656.fix.md
  src/ai/backend/manager/models/vfolder.py
Labels: type:bug, comp:manager, size:XS

#1660 fix: `backend.ai-kernel` not set as agent package dependency
  changes/1660.fix.md
  src/ai/backend/agent/BUILD
  src/ai/backend/kernel/BUILD
Labels: comp:agent, impact:invisible, size:XS

#1669 chore(web.proxy): Add version history to pipeline JWT claims
  src/ai/backend/web/proxy.py
Labels: type:maintenance, comp:webserver, skip:changelog, size:XS

#1666 feat: add `allow_custom_resource_allocation` to webserver config
  changes/1666.feature.md
  configs/webserver/sample.conf
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: type:feature, comp:webserver, effort:easy, impact:invisible, size:XS, urgency:3

#1664 add: add `allow_app_download_panel` option to webserver config
  changes/1664.feature.md
  configs/webserver/sample.conf
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: type:feature, comp:webserver, effort:easy, impact:invisible, size:XS, urgency:3

#1668 fix: handle request format changes on session template API
  changes/1668.fix.md
  src/ai/backend/manager/api/session_template.py
Labels: comp:manager, size:XS

#1665 fix: infinite loop when malformed symbolic link exists in VFolder
  changes/1665.fix.md
  src/ai/backend/storage/netapp/__init__.py
  src/ai/backend/storage/vfs/__init__.py
Labels: type:bug, effort:easy, comp:storage-proxy, size:S

#1632 enhance: Upgrade Graphene to v3 with various GQL fixes
  changes/1632.enhance.md
  python.lock
  requirements.txt
  src/ai/backend/client/cli/pretty.py
  src/ai/backend/manager/api/admin.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/models/keypair.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/models/user.py
Labels: type:maintenance, comp:manager, comp:client, area:upstream, type:enhance, effort:hard, size:L, urgency:4, require:pants-export

#1674 refactor: Explicit Undefined value for GraphQL mutation inputs
  changes/1674.enhance.md
  src/ai/backend/manager/api/admin.py
  src/ai/backend/manager/models/base.py
Labels: comp:manager, area:upstream, type:refactor, type:enhance, impact:invisible, size:S, urgency:4

#1676 ci: Fix misconfigured cache directory of docker-compose in actions
  changes/1676.misc.md
  pants.toml
Labels: area:infrastructure, type:maintenance, area:upstream, size:XS
