Repository lablup/backend.ai, pull requests merged in 2023-01, with the labels that each got.

#949 feat: add `session_id` and `cluster_mode` column to `get_container_stats_for_period` API
  changes/949.feature.md
  src/ai/backend/manager/api/resource.py
Labels: feature, manager, good first issue, minor

#941 feat: corresponds to client-py to CRUD scaling group's `use_host_network` option
  changes/941.feature.md
  src/ai/backend/client/cli/admin/scaling_group.py
  src/ai/backend/client/func/scaling_group.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/manager/models/scaling_group.py
Labels: feature, manager, client, good first issue

#954 fix: set `resp` after setting `user_uuid` to avoid AttributeError
  changes/954.fix.md
  src/ai/backend/manager/api/session_template.py
Labels: bug, manager

#957 fix: type check failing
  python.lock
  src/ai/backend/manager/api/auth.py
Labels: manager, skip:changelog

#744 feat: add support for IBM Spectrum Scale storage
  changes/744.feature.md
  configs/storage-proxy/sample.toml
  python.lock
  requirements.txt
  src/ai/backend/storage/context.py
  src/ai/backend/storage/gpfs/BUILD
  src/ai/backend/storage/gpfs/__init__.py
  src/ai/backend/storage/gpfs/exceptions.py
  src/ai/backend/storage/gpfs/gpfs_client.py
  src/ai/backend/storage/gpfs/types.py
Labels: storage-proxy

#959 doc: Update the help msg of `vfolder upload -b`
  src/ai/backend/client/cli/vfolder.py
Labels: docs, client, cli, good first issue, skip:changelog

#952 ci: check if the news fragment numbers match
  .github/workflows/timeline-check.yml
Labels: skip:changelog

#966 fix: comment out gpfs config when using `install-dev.sh`
  changes/965.fix.md
  configs/storage-proxy/sample.toml
  scripts/install-dev.sh
  src/ai/backend/storage/gpfs/__init__.py
Labels: bug, installer, storage-proxy

#751 feat: Support local vscode using remote ssh mode to session container
  changes/751.feature
  scripts/agent/build-suexec.sh
  scripts/agent/su-exec.c
  src/ai/backend/agent/agent.py
  src/ai/backend/kernel/intrinsic.py
  src/ai/backend/runner/entrypoint.sh
  src/ai/backend/runner/fantompass.py
  src/ai/backend/runner/hash_phrase.py
  src/ai/backend/runner/su-exec.alpine3.8.aarch64.bin
  src/ai/backend/runner/su-exec.alpine3.8.x86_64.bin
  src/ai/backend/runner/su-exec.centos7.6.aarch64.bin
  src/ai/backend/runner/su-exec.centos7.6.x86_64.bin
  src/ai/backend/runner/su-exec.ubuntu18.04.aarch64.bin
  src/ai/backend/runner/su-exec.ubuntu18.04.x86_64.bin
  src/ai/backend/runner/su-exec.ubuntu20.04.aarch64.bin
  src/ai/backend/runner/su-exec.ubuntu20.04.x86_64.bin
  src/ai/backend/runner/words.json
Labels: agent

#933 feature: Skip scanning wrong named image
  changes/933.feature.md
  src/ai/backend/common/docker.py
  src/ai/backend/common/exception.py
  src/ai/backend/manager/container_registry/base.py
Labels: manager

#972 setup: Upgrade mypy to 0.991
  changes/972.misc.md
  pants.toml
  tools/mypy.lock
Labels: maintenance, refactor

#970 fix: Show up the manager cli help when called without sub-command
  src/ai/backend/manager/cli/__main__.py
Labels: bug, manager, cli, skip:changelog

#958 refactor: remove aioredis from requirements
  python.lock
  requirements.txt
Labels: maintenance, good first issue, skip:changelog

#981 feature: Advanced type hints for nested dictionary
  changes/981.feature.md
  src/ai/backend/common/docker.py
  src/ai/backend/common/etcd.py
Labels: maintenance

#986 fix: Workaround infinite restarting of UNIX socket-relay on Docker Desktop for Mac with virtiofs
  changes/986.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: bug, agent

#988 misc: update socat container's alpine version to 3.17 for socat's VSOCK feature
  changes/988.misc.md
  docker/socket-relay/Dockerfile
  src/ai/backend/agent/docker/backendai-socket-relay.img.aarch64.tar.gz
  src/ai/backend/agent/docker/backendai-socket-relay.img.x86_64.tar.gz
  src/ai/backend/agent/docker/backendai-socket-relay.version.txt
Labels: agent

#993 bugfix: container does not start on macos after #986
  changes/993.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: bug

#996 refactor: Remove no longer used codes
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/server.py
  src/ai/backend/manager/registry.py
Labels: manager, agent, refactor, skip:changelog

#995 fix: `mpirun` not working occassionally on muti-node session
  changes/995.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: bug, agent

#997 update: base python version from 3.10.8 to 3.10.9
  .github/workflows/default.yml
  changes/997.misc.md
  docs/dev/daily-workflows.rst
  pants.toml
  pyproject.toml
  python-kernel.lock
  python.lock
  src/ai/backend/agent/server.py
  src/ai/backend/agent/utils.py
  tools/black.lock
  tools/flake8.lock
  tools/isort.lock
  tools/pants-plugins.lock
  tools/pytest.lock
  tools/towncrier.lock
Labels: infrastructure, maintenance, docs

#999 refactor: mark with "# pants: no-infer-dep" comment
  src/ai/backend/runner/fantompass.py
Labels: refactor, skip:changelog

#984 misc: more explicit log for login handler to filter and save the login logs only
  changes/984.misc
  src/ai/backend/web/server.py
Labels: webserver

#1007 fix: Remove unused loop in cli function and rename it
  changes/1007.fix.md
  src/ai/backend/client/func/agent.py
  src/ai/backend/client/func/keypair.py
  src/ai/backend/client/func/session.py
  src/ai/backend/client/func/storage.py
  src/ai/backend/client/func/user.py
  src/ai/backend/client/func/vfolder.py
  src/ai/backend/client/pagination.py
Labels: client, cli, refactor

#1006 feat: Support cgroup v2 for container stat measures
  changes/1006.feature.md
  src/ai/backend/agent/docker/intrinsic.py
Labels: feature, agent

#576 refactor: Split the session & kernel tables with ORM migration
  changes/576.feature.md
  src/ai/backend/client/cli/admin/session.py
  src/ai/backend/client/cli/session.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/exceptions.py
  src/ai/backend/manager/api/image.py
  src/ai/backend/manager/api/resource.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/api/stream.py
  src/ai/backend/manager/models/__init__.py
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/alembic/versions/b6b884fbae1f_add_session_table.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/domain.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/keypair.py
  src/ai/backend/manager/models/resource_policy.py
  src/ai/backend/manager/models/scaling_group.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/models/utils.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/manager/scheduler/drf.py
  src/ai/backend/manager/scheduler/fifo.py
  src/ai/backend/manager/scheduler/mof.py
  src/ai/backend/manager/scheduler/predicates.py
  src/ai/backend/manager/scheduler/types.py
  src/ai/backend/manager/types.py
  tests/manager/conftest.py
  tests/manager/test_registry.py
  tests/manager/test_scheduler.py
Labels: manager, client, refactor, epic, require:db-migration

#1010 deps: replace snappy with zlib
  BUILD
  changes/1010.deps.md
  docker/agent/Dockerfile
  docker/manager/Dockerfile
  python.lock
  requirements.txt
  scripts/install-dev.sh
  scripts/storage-proxy-spawn-ceph-clusters/install_storage_proxy.sh
  src/ai/backend/agent/README.k8s.md
  src/ai/backend/agent/README.md
  src/ai/backend/agent/agent.py
  src/ai/backend/manager/README.md
  src/ai/backend/manager/registry.py
  tests/manager/test_registry.py
Labels: manager, agent

#1011 fix: typo
  tools/pants-plugins/platform_resources/register.py
Labels: minor, skip:changelog

#1004 fix: Rollback predicate mutation early on `InstanceNotAvailable`
  changes/1004.fix.md
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: bug, manager

#1003 fix: `--limit` options type
  changes/1003.fix.md
  src/ai/backend/client/cli/admin/agent.py
  src/ai/backend/client/cli/admin/keypair.py
  src/ai/backend/client/cli/admin/storage.py
  src/ai/backend/client/cli/admin/user.py
  src/ai/backend/client/cli/admin/vfolder.py
Labels: bug, client, cli, good first issue

#992 feat: Support cgroup v2 on get_available_cores()
  changes/992.feature.md
  src/ai/backend/agent/vendor/linux.py
Labels: feature, agent
