Repository lablup/backend.ai, pull requests merged in 2023-09, with the labels that each got.

#1258 ci: run frequently called actions on self-hosted runner
  .github/workflows/coverage.yml
  .github/workflows/default.yml
  actions/init-pants/action.yml
Labels: area:infrastructure, type:maintenance, skip:changelog, size:L

#1495 feat: add support for storage watcher
  changes/1495.feature.md
  configs/agent/halfstack.toml
  configs/agent/sample.toml
  configs/storage-proxy/sample.toml
  scripts/install-dev.sh
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
  src/ai/backend/common/defs.py
  src/ai/backend/common/events.py
  src/ai/backend/common/exception.py
  src/ai/backend/common/types.py
  src/ai/backend/common/utils.py
  src/ai/backend/manager/config.py
  src/ai/backend/storage/abc.py
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/cephfs/__init__.py
  src/ai/backend/storage/config.py
  src/ai/backend/storage/context.py
  src/ai/backend/storage/dellemc/__init__.py
  src/ai/backend/storage/exception.py
  src/ai/backend/storage/gpfs/__init__.py
  src/ai/backend/storage/kmanila/BUILD
  src/ai/backend/storage/kmanila/__init__.py
  src/ai/backend/storage/migration.py
  src/ai/backend/storage/netapp/__init__.py
  src/ai/backend/storage/purestorage/__init__.py
  src/ai/backend/storage/server.py
  src/ai/backend/storage/vfs/__init__.py
  src/ai/backend/storage/watcher.py
  src/ai/backend/storage/weka/__init__.py
  src/ai/backend/storage/xfs/__init__.py
  tests/agent/conftest.py
  tests/storage-proxy/conftest.py
Labels: comp:manager, comp:storage-proxy, size:XL, urgency:4

#1532 feat: Add session show-graph command to visualize session dependencies
  changes/1532.feature.md
  python.lock
  requirements.txt
  src/ai/backend/client/cli/session/lifecycle.py
  src/ai/backend/client/func/session.py
  src/ai/backend/manager/api/session.py
Labels: type:feature, comp:manager, comp:client, comp:cli, effort:easy, size:L

#1533 feat: mark timestamp of user's last API call time in unix epoch format
  changes/1533.feature.md
  src/ai/backend/manager/api/auth.py
Labels: type:feature, comp:manager, effort:easy, size:S

#1534 fix: invalid redis key being set when rescanning resource usage
  changes/1534.fix.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:S

#1535 fix: 500 raised on situations when 405 should be returned
  changes/1535.fix.md
  src/ai/backend/manager/server.py
Labels: comp:manager, size:XS

#1536 fix: set agent's `mount-path` config nullable
  configs/agent/halfstack.toml
  scripts/install-dev.sh
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
Labels: skip:changelog, urgency:5

#1531 fix: delete records associated with constraints before purging user
  changes/1531.fix.md
  src/ai/backend/manager/models/user.py
Labels: comp:manager, size:M, urgency:5

#1537 deps: update etcetra to 0.1.17
  changes/1537.deps.md
  python.lock
  requirements.txt
  tools/pytest.lock
Labels: area:upstream, size:L

#1528 feat: add file-stored logging feature to webserver
  changes/1528.feature.md
  configs/webserver/halfstack.conf
  configs/webserver/sample.conf
  scripts/install-dev.sh
  src/ai/backend/web/config.py
  src/ai/backend/web/server.py
Labels: type:feature, urgency:blocker, comp:webserver, effort:easy, size:L

#1541 feature: preserve GlobalTimer tick termination logs
  changes/1541.feature.md
  src/ai/backend/common/distributed.py
  src/ai/backend/manager/idle.py
Labels: comp:manager, size:S

#1540 fix: token not stored on database when length is bigger than 1024
  changes/1540.fix.md
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/models/alembic/versions/4b0128c49210_remove_size_limit_for_model_service_.py
  src/ai/backend/manager/models/endpoint.py
Labels: type:bug, comp:manager, require:db-migration, size:M

#1539 fix: service not created when using name of destroyed one
  changes/1539.fix.md
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/models/alembic/versions/e812d42bc34f_remove_unique_constraint_of_endpoints_.py
Labels: type:bug, comp:manager, require:db-migration, size:M

#1538 fix: allow setting storage proxy watcher socket path config to null
  configs/storage-proxy/sample.toml
  src/ai/backend/storage/config.py
  src/ai/backend/storage/server.py
Labels: comp:storage-proxy, skip:changelog, size:S

#1545 feat: handle OpenID Connect authentication responses
  changes/1545.feature.md
  configs/webserver/sample.conf
  src/ai/backend/web/config.py
  src/ai/backend/web/server.py
  src/ai/backend/web/templates/config.toml.j2
Labels: comp:webserver, size:XS

#1550 ci: Bump checkout from v3 to v4
  .github/workflows/alembic-head-check.yml
  .github/workflows/check-requirement.yml
  .github/workflows/coverage.yml
  .github/workflows/default.yml
  .github/workflows/integration.yml
  .github/workflows/pr-number-assign.yml
  .github/workflows/sbom.yml
  .github/workflows/timeline-check.yml
Labels: area:infrastructure, skip:changelog, size:M

#1548 fix: install-dev.sh failing when node is not installed
  changes/1548.fix.md
  scripts/install-dev.sh
Labels: size:S

#1549 feat: make container available to query sandbox type
  changes/1549.feature.md
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/metadata/root.py
Labels: size:S

#1551 feat: periodically update available slots
  changes/1551.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/agent/docker/resources.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/dummy/resources.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/kubernetes/resources.py
Labels: comp:agent, size:L

#1553 chore: add task_name to all `GlobalTimer`
  changes/1553.feature.md
  src/ai/backend/manager/api/logs.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, type:enhance, size:XS

#1557 fix: Mismatch of CLI session status list
  changes/1557.fix.md
  src/ai/backend/client/cli/admin/session.py
Labels: type:bug, comp:client, comp:cli, impact:visible, size:S

#1558 ci: Introduce our custom-built linux-aarch64 wheels for black and mypy
  tools/black.lock
  tools/mypy.lock
Labels: area:infrastructure, area:upstream, skip:changelog, type:enhance, impact:invisible, size:S

#1559 fix: Retry untill acquire `RedisLock`
  changes/1559.fix.md
  src/ai/backend/common/distributed.py
  src/ai/backend/common/lock.py
Labels: size:XS

#1561 fix: modified to avoid repeated type casting with UUID
  changes/1561.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: type:bug, comp:manager, effort:easy, impact:invisible, platform:general, size:XS, urgency:4

#1562 ci: Upgrade black (23.7.0 -> 23.9.1)
  src/ai/backend/accelerator/mock/types.py
  src/ai/backend/agent/utils.py
  src/ai/backend/common/events.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/scaling_group.py
  src/ai/backend/manager/scheduler/types.py
  src/ai/backend/manager/types.py
  tests/common/test_plugin.py
  tools/black-requirements.txt
  tools/black.lock
Labels: area:infrastructure, type:maintenance, comp:manager, area:upstream, skip:changelog, impact:invisible, size:L

#1542 ci: run simple actions on ARC
  .github/workflows/default.yml
Labels: area:infrastructure, skip:changelog, size:XS

#1568 ci: Manage actions version with dependabot
  .github/dependabot.yml
Labels: skip:changelog, skip:ci, size:XS

#1570 fix: Let agents fire storage (un)mount completion events even when coexisting with storage-proxy
  changes/1570.fix.md
  src/ai/backend/agent/agent.py
Labels: size:S, urgency:4

#1571 fix: Resolve keypair last_used from Redis
  changes/1571.fix.md
  src/ai/backend/manager/models/keypair.py
Labels: comp:manager, size:S

#1572 ci: Modify dependabot allow list to suit format
  .github/dependabot.yml
Labels: type:bug, area:infrastructure, skip:changelog, size:XS

#1575 feat: allow agent to advertise different RPC address
  changes/1575.feature.md
  configs/agent/sample.toml
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
Labels: type:feature, comp:agent, size:S

#1556 feat: use `session.max_age` to set the pipeline auth token's expiration
  changes/1556.feature.md
  src/ai/backend/manager/registry.py
  src/ai/backend/web/config.py
  src/ai/backend/web/proxy.py
Labels: comp:manager, comp:webserver, size:M

#1578 ci: fix problems of pr-number-assign action
  scripts/pr-number-assign.py
Labels: type:feature, area:infrastructure, skip:changelog, size:S

#1576 feat: add pipeline endpoint to the webserver templates
  changes/1576.feature.md
  src/ai/backend/web/templates/config.toml.j2
Labels: comp:webserver, effort:easy, type:enhance, impact:invisible, size:XS, urgency:3

#1519 docs: remove outdated mentions about legacy multi-repo structure
  CHANGELOG.md
Labels: size:XS

#1520 ci: prev_tag follows the previous tag of that branch
  scripts/extract-release-changelog.py
Labels: type:bug, area:infrastructure, area:docs, skip:changelog, size:XS, urgency:2

#1580 ci: Support docker compose v2.21 as it introduces a breaking change
  tests/common/redis_helper/docker.py
Labels: area:infrastructure, type:maintenance, area:upstream, skip:changelog, impact:invisible, size:M

#1566 chore: add type hints to `utils.Fstab`
  src/ai/backend/common/utils.py
Labels: skip:changelog, size:M

#1530 feat: Implement passwordless sudo
  changes/1530.feature.md
  src/ai/backend/client/cli/admin/user.py
  src/ai/backend/client/func/user.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/manager/api/auth.py
  src/ai/backend/manager/api/image.py
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/alembic/versions/4871d46ba31b_add_sudo_session_enabled.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/runner/entrypoint.sh
Labels: comp:manager, comp:client, require:db-migration, size:L

#1581 refactor,fix: Improve manager CLI logging initialization
  BUILD
  changes/1581.fix.md
  python.lock
  requirements.txt
  src/ai/backend/agent/server.py
  src/ai/backend/agent/watcher.py
  src/ai/backend/manager/cli/__main__.py
  src/ai/backend/manager/cli/context.py
  src/ai/backend/manager/cli/dbschema.py
  src/ai/backend/manager/cli/etcd.py
  src/ai/backend/manager/cli/fixture.py
  src/ai/backend/manager/cli/gql.py
  src/ai/backend/manager/cli/image.py
  src/ai/backend/manager/cli/redis.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/server.py
  src/ai/backend/web/server.py
  tests/manager/conftest.py
Labels: type:bug, comp:manager, comp:cli, comp:webserver, comp:storage-proxy, type:refactor, impact:invisible, size:XL

#1579 fix: lazy raise of vFolder deletion failure
  changes/1579.fix.md
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:S

#887 feat: Implement encrypted RPC channel between manager and agent
  changes/887.feature.md
  configs/agent/sample.toml
  configs/manager/sample.toml
  fixtures/agent/agent.key
  fixtures/agent/agent.key_secret
  fixtures/manager/manager.key
  fixtures/manager/manager.key_secret
  python.lock
  requirements.txt
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/server.py
  src/ai/backend/common/auth/BUILD
  src/ai/backend/common/auth/__init__.py
  src/ai/backend/common/logging_utils.py
  src/ai/backend/manager/agent_cache.py
  src/ai/backend/manager/api/context.py
  src/ai/backend/manager/cli/__main__.py
  src/ai/backend/manager/cli/agent.py
  src/ai/backend/manager/cli/dbschema.py
  src/ai/backend/manager/cli/redis.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/alembic/versions/4871d46ba31b_add_sudo_session_enabled.py
  src/ai/backend/manager/models/alembic/versions/97d8c7aa5e96_add_agent_public_key.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/server.py
  stubs/trafaret/base.pyi
  tests/agent/docker/test_agent.py
  tests/manager/conftest.py
  tests/manager/test_registry.py
Labels: type:feature, comp:manager, comp:agent, comp:webserver, comp:storage-proxy, require:db-migration, size:XL

#1584 fix: mismatches between migration script and defined schema
  changes/1584.fix.md
  src/ai/backend/manager/models/alembic/versions/a083c6c962e5_add_foreign_key_constraints_to_columns_.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/user.py
Labels: comp:manager, require:db-migration, size:M

#1583 fix: handle redis LockError when release
  changes/1583.fix.md
  src/ai/backend/common/lock.py
Labels: urgency:blocker, size:S

#1582 fix: delete `vfolders` rows only when `successful_deletion` is not empty
  changes/1582.fix.md
  src/ai/backend/manager/models/vfolder.py
Labels: urgency:blocker, comp:manager, size:M

#1585 setup: Upgrade alembic (1.8.1 -> 1.12.0)
  changes/1585.deps.md
  python.lock
  requirements.txt
  src/ai/backend/manager/cli/dbschema.py
Labels: area:infrastructure, type:maintenance, comp:manager, size:M

#1586 fix: Fix sentinel connection pool usage and improve Redis sentinel support / Add `--configure-ha` flag to `install-dev.sh`
  changes/1513.fix.md
  configs/manager/sample.etcd.redis-helper.json
  configs/manager/sample.etcd.redis-sentinel.json
  configs/redis/sentinel.conf
  configs/webserver/halfstack.conf
  configs/webserver/sample.conf
  docker-compose.halfstack-ha.yml
  scripts/install-dev.sh
  src/ai/backend/agent/server.py
  src/ai/backend/common/config.py
  src/ai/backend/common/lock.py
  src/ai/backend/common/redis_helper.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/idle.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/server.py
  src/ai/backend/web/config.py
  src/ai/backend/web/server.py
  tests/agent/conftest.py
  tests/common/redis_helper/test_connect.py
  tests/common/redis_helper/test_list.py
  tests/common/redis_helper/test_list_cluster.py
  tests/common/redis_helper/test_pipeline.py
  tests/common/redis_helper/test_pubsub.py
  tests/common/redis_helper/test_stream_consume.py
  tests/common/redis_helper/test_stream_consume_cluster.py
  tests/common/redis_helper/test_stream_subscribe.py
  tests/common/redis_helper/test_stream_subscribe_cluster.py
  tests/common/redis_helper/utils.py
  tests/common/test_distributed.py
  tests/common/test_events.py
  tests/manager/conftest.py
Labels: area:infrastructure, comp:manager, comp:webserver, comp:installer, comp:storage-proxy, size:XL

#1588 hotfix: Fix webserver not compatable with `webserver.conf`
  changes/1588.fix.md
  configs/webserver/halfstack.conf
  configs/webserver/sample.conf
  scripts/install-dev.sh
  src/ai/backend/web/config.py
Labels: comp:webserver, size:S

#1589 feat: Improve the resource metadata API to return actually existent slots only
  changes/1589.feature.md
  src/ai/backend/manager/api/etcd.py
Labels: type:feature, comp:manager, size:M

#1469 fix: allow `ResourceSlotColumn` to return `None`
  changes/1469.fix.md
  src/ai/backend/manager/models/alembic/versions/85615e005fa3_kernel_requested_slots_to_not_nullable.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager, require:db-migration, size:M, urgency:3

#1338 feature: limit the number of containers per agents
  changes/1338.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
  tests/manager/conftest.py
  tests/manager/test_scheduler.py
Labels: type:bug, comp:manager, comp:agent, type:enhance, impact:invisible, size:M, urgency:3

#432 add GraphQL query to query vfolder with id
  changes/432.feature
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:M

#1496 feat: Add example-session-templates
  fixtures/manager/example-session-templates.json
  fixtures/manager/example-session-templates.yaml
Labels: type:feature, effort:easy, skip:changelog, skip:ci, size:L, urgency:1

#1592 fix: Add `pipeline.endpoint` default value to webserver halfstack.conf
  changes/1592.fix.md
  configs/webserver/halfstack.conf
  configs/webserver/sample.conf
  src/ai/backend/manager/config.py
  src/ai/backend/web/config.py
Labels: type:maintenance, comp:manager, comp:webserver, size:M, require:config-update

#1527 fix: outdated nfs mount for k8s agent backend
  changes/1526.feature.md
  changes/1527.fix.md
  configs/agent/halfstack.toml
  scripts/install-dev.sh
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/kubernetes/kernel.py
  src/ai/backend/runner/entrypoint.sh
  src/ai/backend/runner/fantompass.py
Labels: type:feature, comp:installer, size:L

#1593 fix: Make `RedisHelperConfig` optional and make default configs
  changes/1593.fix.md
  configs/webserver/halfstack.conf
  configs/webserver/sample.conf
  scripts/install-dev.sh
  src/ai/backend/common/config.py
  src/ai/backend/manager/config.py
  src/ai/backend/web/config.py
  tests/agent/conftest.py
  tests/common/redis_helper/test_connect.py
  tests/common/redis_helper/test_list.py
  tests/common/redis_helper/test_list_cluster.py
  tests/common/redis_helper/test_pipeline.py
  tests/common/redis_helper/test_pubsub.py
  tests/common/redis_helper/test_stream_consume.py
  tests/common/redis_helper/test_stream_consume_cluster.py
  tests/common/redis_helper/test_stream_subscribe.py
  tests/common/redis_helper/test_stream_subscribe_cluster.py
  tests/common/redis_helper/utils.py
  tests/common/test_distributed.py
  tests/common/test_events.py
  tests/manager/conftest.py
Labels: comp:manager, comp:webserver, size:L

#1591 fix: handle external error in storage proxy API
  changes/1591.fix.md
  src/ai/backend/storage/api/manager.py
Labels: comp:storage-proxy, size:M

#1590 fix: remove orphan routings from database
  changes/1590.fix.md
  src/ai/backend/manager/models/scaling_group.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: type:bug, comp:manager, size:M

#1595 fix: Apply jinja filter `string()` to non-serializable `yarl.URL`
  changes/1595.fix.md
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: urgency:blocker, comp:webserver, size:XS

#1577 feat: VAST Data storage backend
  changes/1577.feature.md
  configs/storage-proxy/sample.toml
  scripts/install-dev.sh
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/storage/context.py
  src/ai/backend/storage/vast/BUILD
  src/ai/backend/storage/vast/__init__.py
  src/ai/backend/storage/vast/config.py
  src/ai/backend/storage/vast/exceptions.py
  src/ai/backend/storage/vast/vastdata_client.py
Labels: comp:storage-proxy, size:XL

#1596 ci: use local wheels as a secondary repo
  .github/workflows/default.yml
  backend.ai-client.Dockerfile
Labels: type:feature, area:infrastructure, skip:changelog, size:XS

#1405 feat: roundrobin agent selection strategy
  changes/1405.feature.md
  src/ai/backend/common/types.py
  src/ai/backend/common/validators.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/models/scaling_group.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/test/cli_integration/admin/test_scaling_group.py
Labels: type:feature, comp:manager, size:L, urgency:5

#1444 feat: make scheduler available to be triggered manually
  changes/1444.feature.md
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/__init__.py
  src/ai/backend/manager/api/manager.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: type:feature, comp:manager, impact:invisible, platform:general, size:L, urgency:3
