Repository lablup/backend.ai, pull requests merged in 2023-12, with the labels that each got.

#1699 feature: pass manager's RootContext to hook plugins
  changes/1699.feature.md
  src/ai/backend/manager/server.py
Labels: comp:manager, size:XS

#1749 feature: model metadata query
  changes/1749.feature.md
  fixtures/manager/example-keypairs.json
  src/ai/backend/common/config.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/alembic/versions/308bcecec5c2_add_groups_type.py
  src/ai/backend/manager/models/alembic/versions/8c74e7df26f8_make_routings_contain_error.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/models/vfolder.py
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
  tests/manager/fixtures/example-keypairs.json
Labels: type:feature, comp:manager, comp:webserver, comp:storage-proxy, require:db-migration, effort:hard, impact:visible, platform:general, size:XL, urgency:4

#1762 fix: wrong group creation in mutate UserCreation
  src/ai/backend/manager/models/user.py
Labels: urgency:blocker, skip:changelog

#1766 fix: Remove the containers entry from `session list --format`
  changes/1766.fix.md
  src/ai/backend/client/cli/admin/session.py
Labels: comp:client, size:XS

#1761 feature: Materialization of the "main" keypair concept
  changes/1761.feature.md
  src/ai/backend/client/cli/admin/user.py
  src/ai/backend/client/func/user.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/manager/defs.py
  src/ai/backend/manager/models/alembic/versions/d3f8c74bf148_user_main_keypair.py
  src/ai/backend/manager/models/keypair.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/manager/scheduler/predicates.py
Labels: comp:manager, comp:client, require:db-migration, size:L

#1774 fix: ignore `os.setxattr` lint
  src/ai/backend/storage/cephfs/__init__.py
Labels: comp:storage-proxy, skip:changelog, size:XS

#1752 feat: typed request / response schema
  python.lock
  src/ai/backend/common/typed_validators.py
  src/ai/backend/install/context.py
  src/ai/backend/manager/BUILD
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/api/spec.py
  src/ai/backend/manager/api/types.py
  src/ai/backend/manager/api/utils.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/openapi.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/vendor/__init__.py
  src/ai/backend/manager/vendor/bai-icon.svg
  src/ai/backend/manager/vendor/spec-viewer.js
  tests/common/test_typed_validators.py
Labels: comp:manager, skip:changelog, impact:invisible, size:XL

#1718 fix: check both success and termination for the dependency predicate
  changes/1718.fix.md
  src/ai/backend/manager/scheduler/predicates.py
Labels: type:bug, platform:enterprise, comp:manager, size:XS, urgency:5

#1733 feat: Use `ui.menu_blocklist` to hide and `ui.menu_inactivelist` to disable menu items
  changes/1733.feature.md
  configs/webserver/sample.conf
  src/ai/backend/install/context.py
  src/ai/backend/install/types.py
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: area:ux, comp:webui, comp:webserver, effort:easy, type:enhance, size:S, urgency:2

#1787 fix: password not updated when calling modify_user mutation
  changes/1787.fix.md
  src/ai/backend/manager/models/user.py
Labels: type:bug, comp:manager, size:XS

#1778 test: Revamp the E2E CLI-based integration test suite
  changes/1778.fix.md
  src/ai/backend/cli/params.py
  src/ai/backend/cli/types.py
  src/ai/backend/client/cli/admin/domain.py
  src/ai/backend/client/cli/admin/group.py
  src/ai/backend/client/cli/admin/keypair.py
  src/ai/backend/client/cli/admin/resource_policy.py
  src/ai/backend/client/cli/admin/scaling_group.py
  src/ai/backend/client/cli/admin/user.py
  src/ai/backend/client/cli/dotfile.py
  src/ai/backend/client/cli/model.py
  src/ai/backend/client/cli/session/execute.py
  src/ai/backend/client/cli/session/lifecycle.py
  src/ai/backend/client/cli/session_template.py
  src/ai/backend/client/cli/vfolder.py
  src/ai/backend/client/func/domain.py
  src/ai/backend/client/func/group.py
  src/ai/backend/client/func/keypair.py
  src/ai/backend/client/func/keypair_resource_policy.py
  src/ai/backend/client/func/scaling_group.py
  src/ai/backend/client/func/session.py
  src/ai/backend/client/func/user.py
  src/ai/backend/client/types.py
  src/ai/backend/manager/cli/__main__.py
  src/ai/backend/test/cli/__main__.py
  src/ai/backend/test/cli_integration/admin/test_domain.py
  src/ai/backend/test/cli_integration/admin/test_group.py
  src/ai/backend/test/cli_integration/admin/test_image.py
  src/ai/backend/test/cli_integration/admin/test_keypair.py
  src/ai/backend/test/cli_integration/admin/test_keypair_resource_policy.py
  src/ai/backend/test/cli_integration/admin/test_scaling_group.py
  src/ai/backend/test/cli_integration/admin/test_storage.py
  src/ai/backend/test/cli_integration/admin/test_user.py
  src/ai/backend/test/cli_integration/conftest.py
  src/ai/backend/test/cli_integration/user/test_vfolder.py
Labels: type:feature, comp:manager, comp:client, size:XL

#1789 doc: Add Client SDK examples
  .editorconfig
  changes/1789.fix.md
  docs/README.md
  docs/_static/css/customTheme.css
  docs/client/dev/examples.rst
  docs/client/dev/index.rst
  docs/client/dev/session.rst
  docs/conf.py
  src/ai/backend/client/func/session.py
Labels: area:docs, comp:client, size:XL

#1796 doc: Update Backend.AI production installation guide doc
  changes/1796.doc.md
  docs/dev/development-setup.rst
  docs/install/install-from-package/install-agent.rst
  docs/install/install-from-package/install-manager.rst
  docs/install/install-from-package/install-storage-proxy.rst
  docs/install/install-from-package/install-webserver.rst
  docs/install/install-from-package/os-preparation.rst
  docs/install/install-from-package/prepare-cache-service.rst
  docs/install/install-from-package/prepare-config-service.rst
  docs/install/install-from-package/prepare-database.rst
Labels: area:docs, size:L

#1810 fix: Key mismatch for registry URL in `ModifyContainerRegistry` mutation
  changes/1810.fix.md
  src/ai/backend/manager/models/etcd.py
  tests/manager/models/test_etcd.py
Labels: type:bug, size:S

#1807 chore: change to new logo
  src/ai/backend/runner/logo.svg
Labels: skip:changelog, skip:ci, size:M

#1813 setup: Set `requires-python` in pyproject.toml
  pyproject.toml
  src/ai/backend/client/cli/session/lifecycle.py
Labels: area:infrastructure, type:maintenance, comp:client, skip:changelog, size:XS
