Repository lablup/backend.ai, pull requests merged in 2023-02, with the labels that each got.

#1008 feat: apply `VERIFY_PASSWORD_FORMAT` hook for signup handler
  changes/1008.feature
  src/ai/backend/manager/api/auth.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/vfolder.py
  src/ai/backend/web/auth.py
  src/ai/backend/web/proxy.py
  src/ai/backend/web/server.py
Labels: feature, manager, webserver

#983 fix: truncated paginated list piped output
  src/ai/backend/client/cli/pagination.py
  src/ai/backend/client/output/console.py
Labels: bug, client, cli, minor, skip:changelog

#994 ci: Upgrade auto-label-in-issue action
  .github/workflows/auto-label.yml
Labels: skip:changelog

#1002 fix: handle vary docker container creation fail
  changes/1002.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/exception.py
Labels: bug, blocker, agent

#946 fix: Apply vfolder_host_permission to vfolder api
  changes/946.fix.md
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/vfolder.py
  src/ai/backend/manager/registry.py
Labels: manager

#919 feature: add DELETABLE status for VFolderAccessStatus
  changes/919.feature.md
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/vfolder.py
Labels: manager, enhance

#1019 fix: hotfix session migration
  src/ai/backend/manager/models/alembic/versions/b6b884fbae1f_add_session_table.py
Labels: bug, manager, skip:changelog

#1021 setup: Upgrade mypy to 1.0.0
  changes/1021.feature.md
  pants.toml
  tools/mypy.lock
Labels: feature, maintenance, refactor

#1017 feature: Add vfolder status in api response and update cli to follow
  changes/1017.feature.md
  src/ai/backend/client/cli/vfolder.py
  src/ai/backend/client/func/vfolder.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/manager/api/vfolder.py
Labels: manager, client, cli

#1030 fix: Use logging.getLogger(__name__)
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/resources.py
  src/ai/backend/agent/server.py
  src/ai/backend/agent/stats.py
  src/ai/backend/agent/utils.py
  src/ai/backend/agent/watcher.py
  src/ai/backend/client/request.py
  src/ai/backend/common/bgtask.py
  src/ai/backend/common/events.py
  src/ai/backend/manager/idle.py
  src/ai/backend/manager/models/domain.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/registry.py
  src/ai/backend/storage/server.py
Labels: manager, client, storage-proxy, skip:changelog

#1029 fix: update concurrency by number of session rather kernel
  changes/1029.fix.md
  src/ai/backend/manager/registry.py
Labels: bug, manager

#1034 fix: Update session's mounts field from array of `VFolderMount` type to array of string
  src/ai/backend/manager/models/session.py
Labels: manager, skip:changelog

#1026 feat: add `list_shared_vfolders` API on CLI
  changes/1026.feature.md
  src/ai/backend/client/cli/admin/vfolder.py
  src/ai/backend/client/func/vfolder.py
  src/ai/backend/manager/api/vfolder.py
Labels: feature, manager, client, cli, good first issue, refactor, enhance

#1032 feat: add POST `/ssh-keypair` to save ssh keypair
  changes/1032.feature.md
  src/ai/backend/manager/api/auth.py
  src/ai/backend/manager/models/alembic/versions/cace152eefac_change_keypair_s_ssh_key_column_type.py
  src/ai/backend/manager/models/keypair.py
Labels: manager, require:db-migration

#1038 feat: write `.ssh/id_rsa` in container start
  changes/1038.feature
  src/ai/backend/agent/docker/agent.py
Labels: feature, agent

#1018 feat: delete vfolders asynchronously
  changes/1018.feature.md
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/models/vfolder.py
Labels: manager, enhance

#1039 feat: send `cur_size` attribute of vFolder when responding to API
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/vfolder.py
Labels: manager, minor, skip:changelog

#1013 feat: create `/folders/_/used-bytes` API
  changes/1013.feature.md
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/storage/abc.py
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/netapp/__init__.py
  src/ai/backend/storage/weka/__init__.py
  src/ai/backend/storage/weka/weka_client.py
  src/ai/backend/storage/xfs/__init__.py
Labels: manager, storage-proxy

#1040 fix: do not raise error in deleting a vfolder when intermediate parent directories are not exist
  changes/1040.fix
  src/ai/backend/storage/vfs/__init__.py
Labels: bug, blocker, storage-proxy

#1041 fix: correct query condition of select statments to remove cartesian products
  src/ai/backend/manager/api/resource.py
  src/ai/backend/manager/models/vfolder.py
Labels: bug, manager, skip:changelog

#987 feat: Add fish shell support to `install-dev.sh` script
  changes/987.feature.md
  scripts/install-dev.sh
Labels: feature, installer

#971 feature: add command line logging option
  changes/971.fix.md
  src/ai/backend/agent/server.py
  src/ai/backend/agent/watcher.py
  src/ai/backend/manager/cli/__main__.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/server.py
Labels: feature, manager, good first issue, storage-proxy, webui

#1033 feat: Spinner on client
  changes/1033.feature.md
  src/ai/backend/client/cli/pretty.py
  src/ai/backend/client/cli/vfolder.py
  src/ai/backend/manager/api/vfolder.py
Labels: client, cli

#1042 fix: correct session `Fieldspec` of CLI
  src/ai/backend/client/cli/admin/session.py
  src/ai/backend/client/cli/session.py
Labels: bug, client, cli, skip:changelog

#1023 feat: Update hook build
  changes/1023.feature.md
  src/ai/backend/runner/libbaihook.alpine3.8.aarch64.so
  src/ai/backend/runner/libbaihook.alpine3.8.x86_64.so
  src/ai/backend/runner/libbaihook.centos7.6.aarch64.so
  src/ai/backend/runner/libbaihook.centos7.6.x86_64.so
  src/ai/backend/runner/libbaihook.centos7.9.aarch64.so
  src/ai/backend/runner/libbaihook.centos7.9.x86_64.so
  src/ai/backend/runner/libbaihook.ubuntu18.04.aarch64.so
  src/ai/backend/runner/libbaihook.ubuntu18.04.x86_64.so
  src/ai/backend/runner/libbaihook.ubuntu20.04.aarch64.so
  src/ai/backend/runner/libbaihook.ubuntu20.04.x86_64.so
  src/ai/backend/runner/libbaihook.ubuntu22.04.aarch64.so
  src/ai/backend/runner/libbaihook.ubuntu22.04.x86_64.so
Labels: feature, maintenance

#991 refactor: Bgtask event client data structure
  changes/991.feature.md
  src/ai/backend/common/bgtask.py
Labels: common, refactor, enhance

#1047 fix: update query statement to check occupying resource from session related kernels
  src/ai/backend/manager/api/resource.py
Labels: bug, manager, skip:changelog

#1048 fix: add script file for news fragment number
  scripts/pr-number-assign.py
Labels: skip:changelog

#1056 fix: fix typo error in scripts/pr-number-assign.py
  scripts/pr-number-assign.py
Labels: cli, skip:changelog

#1012 setup: Upgrade to Python 3.11
  .github/workflows/coverage.yml
  .github/workflows/integration.yml
  .github/workflows/sbom.yml
  .github/workflows/timeline-check.yml
  .readthedocs.yml
  changes/1012.breaking.md
  docs/README.md
  pants.toml
  python-kernel.lock
  python.lock
  requirements.txt
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/common/enum_extension.py
  src/ai/backend/common/enum_extension.pyi
  tests/common/test_utils.py
  tools/black.lock
  tools/coverage-py.lock
  tools/flake8.lock
  tools/isort.lock
  tools/mypy.lock
  tools/pytest.lock
  tools/towncrier.lock
Labels: infrastructure, docs, installer, enhance

#1049 feat: ProgressViewer on client
  changes/1049.feature.md
  src/ai/backend/client/cli/admin/image.py
  src/ai/backend/client/cli/pretty.py
  src/ai/backend/client/cli/vfolder.py
Labels: client, cli, storage-proxy

#1045 fix: correct query filter and order spec of session
  src/ai/backend/manager/models/session.py
Labels: bug, manager, skip:changelog, webui

#1061 setup: Preserve the etcd config made by the installer
  .gitignore
  changes/1061.feature.md
  scripts/install-dev.sh
Labels: feature, installer

#1062 fix: Assume cgroup v1 if CgroupVersion key is absent
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/vendor/linux.py
Labels: skip:changelog

#989 ci: automate making news fragment process
  .github/workflows/pr-number-assign.yml
  .github/workflows/timeline-check.yml
  changes/989.misc.md
Labels: infrastructure, manager, client, storage-proxy

#1068 feat: considerations for future TOTP support
  src/ai/backend/client/func/user.py
  src/ai/backend/manager/api/auth.py
  src/ai/backend/manager/models/alembic/versions/ac4e179c57fe_add_totp_key_column_at_user_table.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/web/server.py
Labels: manager, client, webserver, skip:changelog, require:db-migration, enhance

#1071 fix: add new line in creating SSH keypairs
  changes/1071.fix.md
  src/ai/backend/manager/api/auth.py
  src/ai/backend/manager/models/keypair.py
Labels: bug, manager, agent, good first issue

#1075 feat: Improve webserver HTTP forwarding headers
  changes/1075.feature.md
  src/ai/backend/web/auth.py
  src/ai/backend/web/proxy.py
  src/ai/backend/web/server.py
Labels: feature, webserver

#1076 fix: no more used parameter on AgentRegistry methods
  changes/1076.fix.md
  src/ai/backend/manager/registry.py
Labels: bug, manager

#1073 feat: shorten response time of `image_list` GQL query
  changes/1073.feature.md
  src/ai/backend/manager/models/image.py
Labels: manager

#1037 docs: Improve help text for listing
  src/ai/backend/client/cli/admin/user.py
  src/ai/backend/client/cli/admin/vfolder.py
Labels: feature, docs, client, cli, skip:changelog

#1051 fix: Handling empty last registry file
  src/ai/backend/agent/agent.py
  tests/agent/docker/test_agent.py
Labels: bug, agent, minor, skip:changelog

#1080 ci: fix pr-number-assign
  .github/workflows/pr-number-assign.yml
Labels: skip:changelog

#1079 docs: delete unnecessary package names
  CHANGELOG.md
Labels: skip:changelog

#1078 ci: remove invalid package name from changlog
  changes/template.md
Labels: bug, infrastructure, skip:changelog

#1082 fix: `/start-service` API failing
  src/ai/backend/manager/api/session.py
Labels: manager, skip:changelog

#1072 feat: add `users.totp_activated_at` column
  src/ai/backend/manager/models/alembic/versions/3efd66393bd0_add_totp_activated_at_column.py
  src/ai/backend/manager/models/user.py
Labels: manager, skip:changelog, require:db-migration

#1084 ci: more stable container creation for halfstack services
  .github/workflows/default.yml
  src/ai/backend/testutils/bootstrap.py
  tests/common/redis/docker.py
  tests/storage-proxy/test_netapp.py
  tests/storage-proxy/test_purestorage.py
  tests/storage-proxy/test_xfs.py
Labels: infrastructure, skip:changelog, enhance

#956 feat: update `match_distro_data()`'s version picking algorithm
  .gitattributes
  changes/956.feature.md
  python-kernel.lock
  python.lock
  requirements.txt
  scripts/agent/build-dropbear.sh
  scripts/agent/build-tmux.sh
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/runner/dropbear.alpine3.8.aarch64.bin
  src/ai/backend/runner/dropbear.alpine3.8.x86_64.bin
  src/ai/backend/runner/dropbear.ubuntu20.04.aarch64.bin
  src/ai/backend/runner/dropbear.ubuntu20.04.x86_64.bin
  src/ai/backend/runner/dropbear.ubuntu22.04.x86_64.bin
  src/ai/backend/runner/dropbearconvert.alpine3.8.aarch64.bin
  src/ai/backend/runner/dropbearconvert.alpine3.8.x86_64.bin
  src/ai/backend/runner/dropbearconvert.ubuntu20.04.aarch64.bin
  src/ai/backend/runner/dropbearconvert.ubuntu20.04.x86_64.bin
  src/ai/backend/runner/dropbearconvert.ubuntu22.04.x86_64.bin
  src/ai/backend/runner/dropbearkey.alpine3.8.aarch64.bin
  src/ai/backend/runner/dropbearkey.alpine3.8.x86_64.bin
  src/ai/backend/runner/dropbearkey.ubuntu20.04.aarch64.bin
  src/ai/backend/runner/dropbearkey.ubuntu20.04.x86_64.bin
  src/ai/backend/runner/dropbearkey.ubuntu22.04.x86_64.bin
  src/ai/backend/runner/jail.alpine3.8.x86_64.bin
  src/ai/backend/runner/jail.ubuntu16.04.x86_64.bin
  src/ai/backend/runner/tmux.alpine3.8.aarch64.bin
  src/ai/backend/runner/tmux.alpine3.8.x86_64.bin
  src/ai/backend/runner/tmux.ubuntu20.04.aarch64.bin
  src/ai/backend/runner/tmux.ubuntu20.04.x86_64.bin
  src/ai/backend/runner/tmux.ubuntu22.04.x86_64.bin
  tests/agent/test_kernel.py
Labels: agent, webui, enhance

#1057 feature: Phase 1 of Model Serving
  changes/1057.feature.md
  docs/README.md
  docs/dev/adding-kernels.rst
  src/ai/backend/client/cli/__init__.py
  src/ai/backend/client/cli/model.py
  src/ai/backend/client/cli/service.py
  src/ai/backend/client/func/model.py
  src/ai/backend/client/func/service.py
  src/ai/backend/client/func/session.py
  src/ai/backend/client/func/vfolder.py
  src/ai/backend/client/output/console.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/client/output/json.py
  src/ai/backend/client/session.py
  src/ai/backend/common/docker.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/exceptions.py
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/api/session_template.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/models/__init__.py
  src/ai/backend/manager/models/alembic/versions/b5be363ab05c_.py
  src/ai/backend/manager/models/alembic/versions/f108628f032b_add_endpoint_and_routing_tables.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/models/routing.py
  src/ai/backend/manager/models/scaling_group.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/api/client.py
Labels: feature, docs, manager, agent, client, storage-proxy, webui, enhance

#1090 feat: Set process title for kernel runner
  changes/1090.feature.md
  src/ai/backend/kernel/__main__.py
Labels: agent, enhance

#1091 setup: Upgrade krunner dependencies
  python.lock
  requirements.txt
Labels: agent, skip:changelog, enhance

#1052 ci: register on integrated project board
  .github/workflows/add-to-project.yml
Labels: skip:changelog

#1092 setup: Upgrade pants to 2.16.0.dev7
  pants.toml
Labels: infrastructure, maintenance, skip:changelog

#1096 fix: Preserve image-provided path env-vars
  changes/1096.fix.md
  src/ai/backend/kernel/base.py
  src/ai/backend/kernel/python/__init__.py
Labels: bug, agent

#1103 fix: Regression of `session watch` command
  changes/1103.fix.md
  src/ai/backend/client/cli/session.py
Labels: bug, client, cli

#1099 fix: Fix typos and add proper whitespace to the comments and CLI help strings
  changes/1099.fix.md
  src/ai/backend/client/cli/admin/license.py
  src/ai/backend/client/cli/admin/scaling_group.py
  src/ai/backend/client/cli/app.py
  src/ai/backend/client/cli/dotfile.py
  src/ai/backend/client/cli/model.py
  src/ai/backend/client/cli/run.py
  src/ai/backend/client/cli/session.py
  src/ai/backend/client/cli/session_template.py
  src/ai/backend/client/cli/vfolder.py
  src/ai/backend/client/config.py
  src/ai/backend/client/func/admin.py
  src/ai/backend/client/func/resource.py
  src/ai/backend/client/func/session.py
  src/ai/backend/client/func/storage.py
  src/ai/backend/client/request.py
  src/ai/backend/client/session.py
  src/ai/backend/common/events.py
  src/ai/backend/common/logging.py
  src/ai/backend/manager/cli/__main__.py
Labels: docs, common, cli

#1069 fix: More robust agent resource usage recalc
  changes/1069.fix.md
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: bug, manager

#1063 fix: Replace accessing non-existent `ImageRow.installed` with Redis queries in the manager CLI
  changes/1063.fix.md
  src/ai/backend/manager/cli/image_impl.py
Labels: manager

#1081 fix: Check kernel creation tracker cancellation before set result
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/registry.py
Labels: manager, skip:changelog

#918 ci: add Actions for Windows distribution client SDK
  .github/workflows/default.yml
  python.lock
  requirements.txt
Labels: infrastructure, client, cli, skip:changelog

#1083 fix: Update session-related events, introducing `SessionTerminating` and using proper session IDs
  changes/1083.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/server.py
  src/ai/backend/common/events.py
  src/ai/backend/manager/api/events.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/registry.py
Labels: manager, agent

#1104 fix: Plurality handling mistake in the `backend.ai admin group info` command
  changes/1104.fix.md
  src/ai/backend/client/cli/admin/group.py
Labels: bug, client, cli

#1105 ci: Correct incorrectly stated job name
  .github/workflows/default.yml
Labels: skip:changelog

#1107 ci: Use explicit extra type-stubs lockfile to avoid mypy cache issue
  pants.toml
  python.lock
  requirements.txt
  tools/mypy-extra-type-stubs.lock
Labels: infrastructure, skip:changelog, enhance

#1108 ci: Fix alembic-head-check workflow
  .github/workflows/alembic-head-check.yml
Labels: bug, infrastructure, skip:changelog

#1109 ci: Rewrite the alembic multi-head check workflow to do static analysis
  .github/workflows/alembic-head-check.yml
  scripts/check-multiple-alembic-heads.py
Labels: bug, infrastructure, skip:changelog, enhance

#1110 ci: Refactor and simplify the pr-number-assign workflow and scripts
  .github/workflows/pr-number-assign.yml
  scripts/pr-number-assign.py
Labels: infrastructure, skip:changelog, enhance

#1113 docs: renew README.md
  README.md
Labels: docs, skip:changelog, skip:ci

#1114 ci: Fix the pr-number-assign workflow to run locally
  .github/workflows/pr-number-assign.yml
Labels: infrastructure, skip:changelog, enhance

#1112 fix: Assign variables before the inner function which attempts to access them
  changes/1112.fix.md
  src/ai/backend/manager/registry.py
Labels: bug, manager

#916 feat: agent gather process stats in container
  changes/916.feature.md
  src/ai/backend/accelerator/cuda_mock/plugin.py
  src/ai/backend/accelerator/cuda_open/plugin.py
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/kubernetes/intrinsic.py
  src/ai/backend/agent/resources.py
  src/ai/backend/agent/stats.py
Labels: feature, manager, agent, webui

#1117 refactor: Remove no longer required `kernel_creation_id`
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/server.py
  src/ai/backend/common/events.py
  src/ai/backend/manager/registry.py
Labels: manager, refactor, skip:changelog

#1119 ci: Output error when upload-artifact fails
  .github/workflows/default.yml
Labels: bug, infrastructure, skip:changelog

#1115 fix: Assign the initial value of `occupied_slots` of `kernel_data` to the value of `requested_slots`
  changes/1115.fix.md
  src/ai/backend/manager/registry.py
Labels: bug, blocker, manager

#1097 feat: Support scanning the local Docker daemon's image list
  changes/1097.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/common/docker.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/cli/etcd.py
  src/ai/backend/manager/cli/image.py
  src/ai/backend/manager/cli/image_impl.py
  src/ai/backend/manager/container_registry/__init__.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/container_registry/local.py
  src/ai/backend/manager/models/alembic/versions/10c58e701d87_add_is_local_to_images.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/registry.py
  tests/manager/test_image.py
Labels: feature, manager, cli, good first issue, require:db-migration

#1101 fix: `ssh` not working bug when `backend.ai` executable doesn't exist.
  changes/1101.fix.md
  src/ai/backend/client/cli/ssh.py
Labels: client, cli, console

#1025 setup: Upgrade hiredis to 2.2.1
  changes/1025.deps.md
  python.lock
  requirements.txt
  tools/flake8.lock
  tools/mypy.lock
  tools/pytest.lock
  tools/towncrier.lock
Labels: maintenance, installer, good first issue, refactor, enhance

#881 feat: Add `--arch`, `--architecture` option to the client SDK and CLI for session creation
  changes/881.feature.md
  src/ai/backend/client/cli/run.py
  src/ai/backend/client/cli/session.py
  src/ai/backend/client/func/session.py
  src/ai/backend/common/arch.py
  src/ai/backend/common/docker.py
  src/ai/backend/manager/defs.py
Labels: feature, manager, client, cli, good first issue, enhance, hacktoberfest-accepted

#1067 feat: Auto-start SSH agent upon session startup
  changes/1067.feature.md
  src/ai/backend/runner/entrypoint.sh
Labels: feature, agent
