Repository lablup/backend.ai, pull requests merged in 2023-03, with the labels that each got.

#1125 ci: Fix windows conda pack
  .github/workflows/default.yml
Labels: skip:changelog

#1123 ci: Update add-to-project
  .github/workflows/add-to-project.yml
  .github/workflows/auto-author-assign.yml
Labels: skip:changelog

#1124 fix: Remove script snippets relate to `.pants.env`
  scripts/delete-dev.sh
  tools/pants-local
Labels: infrastructure, upstream, skip:changelog, enhance

#1126 feat: add option to enable/disable 2FA (`enable_2FA`)
  changes/1126.feature.md
  configs/webserver/sample.conf
  src/ai/backend/manager/models/user.py
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: manager, webserver

#1130 ci: add docs-preview workflows
  .github/workflows/docs-preview.yml
Labels: docs, skip:changelog

#1132 doc: Update config to support hangul in pdf builds
  docs/conf.py
  docs/index.rst
Labels: infrastructure, docs, skip:changelog, enhance

#1015 feat: sync container commit status using redis
  changes/1015.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/common/lock.py
  src/ai/backend/manager/registry.py
Labels: manager, agent, enhance

#1141 fix: `ssh-add` not working due to missing env-var inheritance and wrong process ownership
  changes/1141.fix.md
  src/ai/backend/kernel/app/__init__.py
  src/ai/backend/kernel/base.py
  src/ai/backend/kernel/c/__init__.py
  src/ai/backend/kernel/cpp/__init__.py
  src/ai/backend/kernel/git/__init__.py
  src/ai/backend/kernel/golang/__init__.py
  src/ai/backend/kernel/haskell/__init__.py
  src/ai/backend/kernel/java/__init__.py
  src/ai/backend/kernel/julia/__init__.py
  src/ai/backend/kernel/lua/__init__.py
  src/ai/backend/kernel/nodejs/__init__.py
  src/ai/backend/kernel/octave/__init__.py
  src/ai/backend/kernel/php/__init__.py
  src/ai/backend/kernel/python/__init__.py
  src/ai/backend/kernel/r/__init__.py
  src/ai/backend/kernel/rust/__init__.py
  src/ai/backend/kernel/scheme/__init__.py
  src/ai/backend/kernel/vendor/h2o/__init__.py
  src/ai/backend/runner/entrypoint.sh
Labels: bug, agent

#1142 feat: account for `totp_activated` field in updating user
  changes/1142.feature
  src/ai/backend/client/func/user.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/manager/models/user.py
Labels: manager, client

#1147 feat: update CLI to handle OTP based 2FA login
  changes/1147.feature.md
  src/ai/backend/client/cli/config.py
  src/ai/backend/client/func/auth.py
Labels: client, cli

#1149 feat: add `user_name` to `ComputeSession` query field
  changes/1149.feature.md
  src/ai/backend/manager/models/session.py
Labels: feature, manager

#1145 fix: resolve vfolder by id rather than by name when cloning
  changes/1145.fix.md
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/vfolder.py
Labels: bug, blocker, manager

#1152 doc: Update the pants reset guide
  docs/dev/daily-workflows.rst
Labels: docs, skip:changelog, enhance

#1154 feat: Update the manager API version to v6.20230315
  changes/1154.feature.md
  src/ai/backend/client/config.py
  src/ai/backend/manager/server.py
Labels: feature, manager, client

#1155 deps: Replace netifaces with ifaddr
  changes/1155.deps.md
  python.lock
  requirements.txt
  src/ai/backend/agent/utils.py
  src/ai/backend/common/identity.py
Labels: agent, common, upstream, good first issue, enhance

#1153 feat: add new API to advertise accelerator plugin's metadata
  changes/1153.feature.md
  src/ai/backend/accelerator/cuda_mock/plugin.py
  src/ai/backend/accelerator/cuda_open/plugin.py
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/agent/kubernetes/intrinsic.py
  src/ai/backend/agent/resources.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/etcd.py
Labels: feature, manager, agent, client, common, webui

#1159 feat: Throttle the max concurrency of per-`create_kernels()` RPC call
  changes/1159.feature.md
  configs/agent/sample.toml
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
  src/ai/backend/agent/server.py
Labels: feature, agent

#1144 ci: Modify deployment actions dependencies
  .github/workflows/default.yml
Labels: bug, infrastructure, skip:changelog, enhance

#1161 feat: add `force_2FA` config on webserver
  changes/1161.feature.md
  configs/webserver/sample.conf
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: feature, webserver

#1148 fix: use `KEYS` for Redis keyspace in redis script
  src/ai/backend/agent/agent.py
  src/ai/backend/manager/registry.py
Labels: bug, blocker, manager, agent, skip:changelog

#1157 feat: store accelerator metadata on redis
  src/ai/backend/accelerator/cuda_mock/plugin.py
  src/ai/backend/accelerator/cuda_open/plugin.py
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/agent/kubernetes/intrinsic.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/etcd.py
Labels: blocker, manager, agent, skip:changelog, enhance

#1165 hotfix(ci): eliminate redundant action blocks added when merging jobs
  .github/workflows/default.yml
Labels: skip:changelog, skip:ci

#1098 fix: Use SI bytesize unit where it is not `mem` size.
  changes/1098.fix.md
  src/ai/backend/client/output/formatters.py
Labels: client, cli, enhance

#1167 feat: use `full_name` instead of `username` on certain queries
  changes/1167.feature.md
  src/ai/backend/manager/api/resource.py
  src/ai/backend/manager/models/session.py
Labels: feature, manager

#1168 feat: serve metrics related to inference API
  changes/1168.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/common/docker.py
  src/ai/backend/common/service_ports.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/admin.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
  tests/common/test_service_ports.py
Labels: manager, agent, common

#1166 ci: modify version in `build-conda-pack-for-windows` job
  .github/workflows/default.yml
Labels: skip:changelog

#1176 feat: return `status_info` in session statistics API
  changes/1176.feature.md
  src/ai/backend/manager/api/resource.py
Labels: manager

#1178 feat: add `allow_preferred_port` config on webserver
  changes/1178.feature.md
  configs/webserver/sample.conf
  docs/install/install-from-package/install-webserver.rst
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: feature, docs, webserver

#1170 feat: Provide status information about usage, capacity of storage volume to `list-hosts` API
  changes/1170.feature.md
  configs/manager/sample.etcd.volumes.json
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/models/storage.py
Labels: feature, help wanted, manager, storage-proxy, enhance

#1181 fix: pending timeout cancellation failing for PENDING session
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: bug, manager, skip:changelog

#1160 feat: make idle checker report leftover time and utilization
  changes/1160.feature.md
  src/ai/backend/client/cli/admin/session.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/manager/api/admin.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/idle.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/session.py
Labels: feature, manager, client

#1183 fix: wrong idle report key
  src/ai/backend/manager/idle.py
Labels: bug, manager, skip:changelog

#1184 fix: return correct value in SessionLifetimeChecker
  src/ai/backend/manager/idle.py
Labels: bug, manager, skip:changelog

#1182 feat: add API for changing vfolder ownership
  changes/1182.feature.md
  src/ai/backend/client/cli/admin/vfolder.py
  src/ai/backend/client/func/vfolder.py
  src/ai/backend/manager/api/vfolder.py
Labels: feature, blocker, manager, client, storage-proxy

#1174 feat: make agent list query accept multiple statuses
  changes/1174.feature.md
  src/ai/backend/manager/models/agent.py
Labels: blocker, manager, minor, enhance

#1094 feat: introduce event stream plugin
  changes/1094.feature.md
  configs/manager/halfstack.toml
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/defs.py
Labels: feature, manager, client, webserver

#1100 fix: `session ls` not working
  changes/1100.fix.md
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/kubernetes/kernel.py
Labels: bug, agent

#1186 fix: delete permissions and invitation rows of transferred vFolder
  changes/1186.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: bug, blocker, manager

#1187 fix: make pipeline related configuration optional
  changes/1187.fix.md
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/config.py
Labels: bug, manager

#1188 refactor: change user_id input to user email
  changes/1188.fix.md
  src/ai/backend/client/cli/admin/vfolder.py
  src/ai/backend/client/func/vfolder.py
  src/ai/backend/manager/api/vfolder.py
Labels: usability, manager, client, cli, refactor, minor

#1189 feat: Add `[storage-proxy].ipc-base-path` option
  changes/1189.feature.md
  configs/storage-proxy/sample.toml
  scripts/install-dev.sh
  src/ai/backend/storage/config.py
  src/ai/backend/storage/server.py
Labels: feature, storage-proxy

#1193 docs: update Korean PO files for translation
  docs/locales/ko/LC_MESSAGES/README.po
  docs/locales/ko/LC_MESSAGES/client/func/admin.po
  docs/locales/ko/LC_MESSAGES/client/func/config.po
  docs/locales/ko/LC_MESSAGES/client/func/session.po
  docs/locales/ko/LC_MESSAGES/client/lowlevel/exceptions.po
  docs/locales/ko/LC_MESSAGES/concepts/key-concepts.po
  docs/locales/ko/LC_MESSAGES/dev/adding-kernels.po
  docs/locales/ko/LC_MESSAGES/dev/daily-workflows.po
  docs/locales/ko/LC_MESSAGES/index.po
  docs/locales/ko/LC_MESSAGES/install/install-from-package.po
  docs/locales/ko/LC_MESSAGES/install/install-from-package/install-agent.po
  docs/locales/ko/LC_MESSAGES/install/install-from-package/install-manager.po
  docs/locales/ko/LC_MESSAGES/install/install-from-package/install-storage-proxy.po
  docs/locales/ko/LC_MESSAGES/install/install-from-package/install-webserver.po
  docs/locales/ko/LC_MESSAGES/install/install-from-package/os-preparation.po
  docs/locales/ko/LC_MESSAGES/install/install-from-package/prepare-cache-service.po
  docs/locales/ko/LC_MESSAGES/install/install-from-package/prepare-config-service.po
  docs/locales/ko/LC_MESSAGES/install/install-from-package/prepare-database.po
  docs/locales/ko/LC_MESSAGES/manager/user-api/vfolders.po
Labels: docs, i18n, minor, skip:changelog, skip:ci

#1179 feat: Gather per-container network statistics
  changes/1179.feature.md
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/common/netns.py
Labels: agent, enhance

#1195 feat: auto mount `/home/linuxbrew/.linuxbrew` when `.linuxbrew` dot-folder exists
  changes/1195.feature.md
  src/ai/backend/kernel/base.py
  src/ai/backend/manager/defs.py
  src/ai/backend/manager/models/vfolder.py
Labels: manager, agent

#1185 feat: update utilization based idle checker policy
  changes/1185.feature.md
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/idle.py
  src/ai/backend/manager/models/session.py
Labels: manager

#1198 fix: delete utilization expire time after initial grace period
  src/ai/backend/manager/idle.py
Labels: bug, manager, skip:changelog

#1199 feature: add new user's initial grace period for idle cheker
  changes/1199.feature.md
  src/ai/backend/manager/idle.py
Labels: manager

#1163 ci: add action to deploy backend.ai-client docker image
  .github/workflows/default.yml
  backend.ai-client.Dockerfile
  docker-compose.halfstack-ha.yml
  redis-sentinel.Dockerfile
  tests/common/redis/BUILD
  tests/common/redis/docker.py
  tests/common/redis/redis-cluster.yml
Labels: skip:changelog

#1169 ci: install local wheels when building conda-pack
  .github/workflows/default.yml
Labels: skip:changelog

#1194 add: Korean translation
  docs/locales/ko/LC_MESSAGES/concepts/faq.po
Labels: docs, i18n, skip:changelog, skip:ci

#1203 enhance: Improve status_data generation for debugging
  changes/1203.enhance.md
  src/ai/backend/common/logging_utils.py
  src/ai/backend/manager/exceptions.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/manager/server.py
Labels: manager, enhance
