Repository lablup/backend.ai, pull requests merged in 2023-08, with the labels that each got.

#1441 setup: Auto-enable `--editable-webui` for `install-dev.sh` in the main branch
  changes/1441.misc.md
  scripts/install-dev.sh
Labels: area:infrastructure, comp:installer, type:enhance, impact:invisible, size:S

#1442 setup: Add `--show-guide` option to `install-dev.sh`
  changes/1442.misc.md
  scripts/delete-dev.sh
  scripts/install-dev.sh
Labels: area:infrastructure, area:ux, comp:installer, type:enhance, size:L

#1421 fix: Modify valid type of the "project" key in `container_registry_iv`
  changes/1422.fix.md
  src/ai/backend/manager/api/etcd.py
  src/ai/backend/manager/config.py
Labels: type:bug, comp:manager, effort:easy, size:XS, urgency:2

#1440 fix: typos
  scripts/install-dev.sh
  src/ai/backend/client/cli/admin/vfolder.py
  src/ai/backend/manager/api/auth.py
  src/ai/backend/manager/api/session.py
Labels: comp:manager, comp:client, skip:changelog, size:S

#1429 fix: recalculate concurrency per key with full scan when there is no session
  changes/1429.fix.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:M

#1445 docs: fix typos
  src/ai/backend/storage/README.md
Labels: area:docs, skip:changelog, skip:ci, size:XS

#1036 feature: get enum type `queryfilter` field according to DB column type
  changes/1036.feature.md
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/minilang/queryfilter.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, type:refactor, size:M

#670 feat: Automate force-termination of hanging sessions
  changes/670.feature.md
  configs/manager/sample.etcd.config.json
  configs/manager/sample.etcd.config.session.hang-tolerance.json
  src/ai/backend/common/events.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/server.py
Labels: type:feature, comp:manager, size:L

#1432 refactor: Update URL parsing and validation in the `URL` class
  src/ai/backend/common/validators.py
  tests/common/test_validators.py
Labels: comp:common, effort:easy, skip:changelog, size:S

#1423 fix: unable to terminate a compute session when wsproxy address is not properly
  changes/1423.fix.md
  src/ai/backend/manager/api/scaling_group.py
Labels: type:bug, comp:manager, effort:normal, size:S

#1449 fix: typos
  src/ai/backend/agent/README.md
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager, comp:agent, skip:changelog, skip:ci, size:XS

#1451 fix: Add `empty_str_as_empty_list=True` option in StringList
  changes/1447.fix.md
  src/ai/backend/manager/config.py
Labels: type:bug, comp:manager, effort:easy, size:XS

#1452 feat: enhancements on OpenAPI generator
  changes/.doc.md
  changes/1452.feat.md
  docs/README.md
  src/ai/backend/manager/api/etcd.py
  src/ai/backend/manager/api/manager.py
  src/ai/backend/manager/api/resource.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/openapi.py
Labels: area:docs, comp:manager, type:enhance, size:M

#1453 chore: Upgrade ci tool depednencies
  tools/black-requirements.txt
  tools/black.lock
  tools/flake8-requirements.txt
  tools/flake8.lock
  tools/mypy-requirements.txt
  tools/mypy.lock
  tools/pytest-requirements.txt
  tools/pytest.lock
Labels: area:infrastructure, type:maintenance, skip:changelog, size:L

#1458 doc: Update VSCode configuration guide
  docs/dev/daily-workflows.rst
Labels: area:docs, skip:changelog, type:enhance, size:M

#1459 fix: Change pants' notation from `./pants` to `pants`
  py
Labels: comp:cli, comp:installer, skip:changelog, skip:ci, size:XS

#1460 feat: CRUD `wsproxy_addr`, `wsproxy_api_token` in CLI
  changes/1460.feature.md
  src/ai/backend/client/cli/admin/scaling_group.py
  src/ai/backend/client/func/scaling_group.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/manager/models/scaling_group.py
Labels: type:feature, comp:manager, comp:client, effort:easy, impact:visible, size:M, urgency:3

#1466 fix: unable to use AppProxy v1 mode
  src/ai/backend/manager/api/scaling_group.py
Labels: type:bug, urgency:blocker, effort:normal, impact:invisible, platform:general

#1479 feat: expose `preopen_ports` information on `Kernel` GQL Query
  changes/1479.feature.md
  src/ai/backend/client/output/fields.py
  src/ai/backend/manager/models/kernel.py
Labels: type:feature, comp:manager, comp:client, effort:easy, type:enhance, impact:visible, platform:general, size:XS, urgency:3

#1437 feat: add GraphQL queries to support paginated vFolder listing
  changes/1437.feature.md
  src/ai/backend/client/cli/vfolder.py
  src/ai/backend/client/func/vfolder.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/vfolder.py
Labels: type:feature, comp:manager, comp:client, type:enhance, impact:invisible, platform:general, size:XL, urgency:1

#1476 docs: fix daily workflows documentation typo
  docs/dev/daily-workflows.rst
Labels: area:docs, skip:changelog, skip:ci, size:XS

#1406 feat: add `OptionalType` click parameter type
  changes/1393.feature.md
  changes/1393.fix.md
  src/ai/backend/client/cli/params.py
  src/ai/backend/client/cli/session.py
  src/ai/backend/client/func/session.py
  src/ai/backend/client/func/session_template.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/api/session_template.py
Labels: type:bug, type:feature, comp:manager, comp:client, comp:cli, effort:easy, type:refactor, size:M, urgency:2

#1488 feat: introduce real world health check logic for model service
  changes/1488.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
  src/ai/backend/client/cli/service.py
  src/ai/backend/common/config.py
  src/ai/backend/common/events.py
  src/ai/backend/kernel/service.py
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/defs.py
  src/ai/backend/manager/models/alembic/versions/ae7d4cd92aa7_add_endpoint_retries.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/routing.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, comp:client, require:db-migration, size:XL

#1478 feat: token login with body parameter
  changes/1478.feature
  src/ai/backend/web/server.py
Labels: urgency:blocker, comp:webserver, size:S

#1480 feature: add support for kmanila storage backend
  changes/1480.feature.md
  configs/storage-proxy/sample.toml
  src/ai/backend/storage/abc.py
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/cephfs/__init__.py
  src/ai/backend/storage/context.py
  src/ai/backend/storage/dellemc/__init__.py
  src/ai/backend/storage/exception.py
  src/ai/backend/storage/gpfs/__init__.py
  src/ai/backend/storage/kmanila/BUILD
  src/ai/backend/storage/kmanila/__init__.py
  src/ai/backend/storage/netapp/__init__.py
  src/ai/backend/storage/vfs/__init__.py
  src/ai/backend/storage/weka/__init__.py
  src/ai/backend/storage/xfs/__init__.py
  tests/storage-proxy/conftest.py
Labels: comp:storage-proxy, size:L

#1481 feat: add redis event client to storage proxy
  changes/1481.feature.md
  configs/storage-proxy/sample.toml
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/server.py
  src/ai/backend/common/defs.py
  src/ai/backend/manager/api/logs.py
  src/ai/backend/manager/api/ratelimit.py
  src/ai/backend/manager/cli/context.py
  src/ai/backend/manager/defs.py
  src/ai/backend/manager/idle.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/config.py
  src/ai/backend/storage/context.py
  src/ai/backend/storage/migration.py
  src/ai/backend/storage/server.py
Labels: comp:manager, comp:storage-proxy, size:L, urgency:4

#1498 ci: stop supplying `token` on news-fragments workflow
  .github/workflows/pr-number-assign.yml
Labels: effort:easy, skip:changelog, size:XS

#1462 feat: add redis ping command at manager CLI
  changes/1462.feature.md
  src/ai/backend/manager/cli/__main__.py
  src/ai/backend/manager/cli/redis.py
Labels: comp:manager, size:M, ossca-23

#1464 fix: do not try to access undefined variable on client fetch
  changes/1464.fix.md
  src/ai/backend/client/request.py
Labels: comp:client, size:XS, ossca-23

#1465 fix: also check for mininum page size when paginating
  changes/1465.fix.md
  src/ai/backend/client/pagination.py
Labels: comp:client, size:XS, ossca-23

#1489 chore: update description for --assign-agent option
  src/ai/backend/client/cli/session.py
Labels: comp:client, skip:changelog, size:XS, ossca-23

#1477 add: `max_count_for_preopen_ports` setting to webserver config
  changes/1477.feature.md
  configs/webserver/sample.conf
  docs/install/install-from-package/install-webserver.rst
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: type:feature, comp:webserver, effort:easy, impact:invisible, platform:general, size:XS, urgency:3

#1467 feature: implement kernel ping API on agent
  changes/1467.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/server.py
Labels: size:M

#1474 fix: update distro selection algorithm of `k8s` backend
  changes/1474.fix.md
  src/ai/backend/agent/kubernetes/kernel.py
Labels: type:bug, size:M

#1500 fix: Correct null check in kernel role migration
  changes/1500.fix.md
  src/ai/backend/manager/models/alembic/versions/bedd92de93af_add_role_column_on_kernels_table.py
Labels: comp:manager, require:db-migration, size:XS

#1394 feat: Add more agent selection scheduling strategies
  changes/1394.feature.md
  configs/manager/ci.toml
  configs/manager/halfstack.toml
  configs/manager/sample.toml
  src/ai/backend/common/types.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/models/scaling_group.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/manager/scheduler/drf.py
  src/ai/backend/manager/scheduler/fifo.py
  src/ai/backend/manager/scheduler/mof.py
  src/ai/backend/manager/scheduler/types.py
  src/ai/backend/manager/server.py
  src/ai/backend/test/cli_integration/admin/test_scaling_group.py
  tests/manager/test_scheduler.py
Labels: type:feature, comp:manager, size:L, urgency:5

#1501 feature: use AsyncRedisLock sleep
  changes/1501.feature.md
  src/ai/backend/common/lock.py
Labels: comp:manager, comp:agent, type:enhance, impact:invisible, size:XS

#1492 ci: Change trigger of auto-label-in-issue to pull_request_target
  .github/workflows/auto-label.yml
Labels: area:infrastructure, skip:changelog, size:XS

#1470 fix: environment variables not being set when creating session
  changes/1470.fix.md
  src/ai/backend/manager/registry.py
Labels: type:feature, status:rejected, comp:manager, comp:client, size:XS, ossca-23

#537 refactor: separate duplicate decorators from start and run
  changes/537.misc.md
  src/ai/backend/client/cli/__init__.py
  src/ai/backend/client/cli/admin/manager.py
  src/ai/backend/client/cli/admin/session.py
  src/ai/backend/client/cli/service.py
  src/ai/backend/client/cli/session/BUILD
  src/ai/backend/client/cli/session/__init__.py
  src/ai/backend/client/cli/session/app.py
  src/ai/backend/client/cli/session/args.py
  src/ai/backend/client/cli/session/execute.py
  src/ai/backend/client/cli/session/lifecycle.py
  src/ai/backend/client/cli/session/ssh.py
Labels: comp:client, comp:webui, effort:easy, size:XL

#1503 fix: Set `consumer_group` in EventDispatcher of all services
  changes/1503.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/common/events.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/server.py
  tests/common/test_distributed.py
  tests/common/test_events.py
Labels: comp:manager, comp:storage-proxy, size:S, urgency:4

#1504 fix: Storage proxy has wrong consumer group
  src/ai/backend/storage/server.py
Labels: comp:storage-proxy, skip:changelog, size:XS

#1499 misc: add script to check commits not yet backported
  scripts/check-backport-commits.py
Labels: type:maintenance, skip:changelog, size:M

#1472 feat: enhance the logging for agent kernel registry and alloc maps
  changes/1472.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/alloc_map.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/exception.py
  src/ai/backend/agent/resources.py
  src/ai/backend/common/events.py
  src/ai/backend/manager/registry.py
  tests/agent/test_resources.py
Labels: comp:manager, comp:agent, type:enhance, impact:invisible, size:L, urgency:4

#1511 setup: Upgrade aiotools (1.6.1 -> 1.7.0)
  python.lock
  requirements.txt
Labels: type:maintenance, area:upstream, skip:changelog, impact:invisible, size:L

#1490 fix: Improve logging for etcd delete operations
  changes/1490.fix.md
  src/ai/backend/manager/cli/etcd.py
Labels: type:feature, comp:manager, size:S, ossca-23

#1463 docs: update verifying installation environment setting
  changes/1463.doc.md
  docs/dev/development-setup.rst
Labels: area:docs, size:XS, ossca-23

#1512 setup: Update aiomonitor (introduces the web UI)
  configs/agent/sample.toml
  configs/manager/sample.toml
  configs/storage-proxy/sample.toml
  python.lock
  requirements.txt
  src/ai/backend/agent/config.py
  src/ai/backend/agent/server.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/config.py
  src/ai/backend/storage/server.py
Labels: comp:manager, area:upstream, comp:storage-proxy, skip:changelog, type:enhance, impact:invisible, size:M

#1515 ci,setup: Update Python tool versions
  tools/mypy-requirements.txt
  tools/mypy.lock
  tools/ruff-requirements.txt
  tools/ruff.lock
Labels: area:infrastructure, type:maintenance, area:upstream, skip:changelog, size:L

#1514 fix: Update etcd port script for storage proxy config
  changes/1514.fix.md
  scripts/install-dev.sh
Labels: type:bug, comp:installer, size:M, size:XS

#1485 ci: Print the copyright year as the current year
  docs/conf.py
Labels: type:feature, area:infrastructure, area:docs, skip:changelog, size:XS, urgency:1

#1502 fix: Regression saving and restoring `last_registry` in agents
  changes/1502.fix.md
  src/ai/backend/accelerator/cuda_open/nvidia.py
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/manager/registry.py
Labels: type:bug, comp:manager, comp:agent, size:M

#1505 ci: upgrade auto-label-in-issue
  .github/workflows/auto-label.yml
Labels: area:infrastructure, type:maintenance, area:upstream, skip:changelog, size:XS

#1510 fix: Ensure rollback of modified alloc maps when ResourceError occurs
  changes/1510.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/resources.py
  tests/agent/test_resources.py
Labels: type:bug, urgency:blocker, comp:agent, size:L

#1454 feature: add new plugin hook on predicate check
  changes/1454.doc.md
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, size:M

#1397 fix: avoid checking `max_vfolder_count`
  changes/1397.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: type:bug, urgency:blocker, comp:manager, effort:normal, platform:general, size:XS, urgency:4

#1471 feat: Add container registry CRUD API using GraphQL
  changes/1450.fix.md
  src/ai/backend/manager/config.py
  src/ai/backend/manager/container_registry/__init__.py
  src/ai/backend/manager/models/etcd.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/image.py
  tests/manager/test_config.py
Labels: type:bug, comp:manager, comp:webui, size:XL, urgency:4

#1516 feat: allow loading storage backends as plugins
  changes/1516.feature.md
  src/ai/backend/common/plugin/__init__.py
  src/ai/backend/storage/api/client.py
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/api/types.py
  src/ai/backend/storage/context.py
  src/ai/backend/storage/migration.py
  src/ai/backend/storage/plugin.py
  src/ai/backend/storage/server.py
Labels: type:feature, urgency:blocker, platform:enterprise, comp:common, comp:storage-proxy, impact:invisible, size:L, urgency:3

#1523 fix: use of invalid etcd config key when rescanning image
  src/ai/backend/manager/container_registry/base.py
Labels: type:bug, comp:manager, skip:changelog, size:XS

#1521 feat: update `ContainerRegistry` mutations' response
  changes/1521.feature.md
  src/ai/backend/manager/models/etcd.py
  src/ai/backend/manager/models/gql.py
Labels: comp:manager, size:S

#1517 fix: enforce `vfolder.delete_by_id()` to check type of `id` parameter
  changes/1517.fix.md
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, effort:easy, impact:invisible, size:XS, urgency:4

#1509 feat: add GraphQL queries to track down generated endpoint tokens
  changes/1509.feature.md
  src/ai/backend/client/cli/service.py
  src/ai/backend/manager/api/exceptions.py
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/models/alembic/versions/02535458c0b3_add_model_service_token_log.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/routing.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, comp:client, require:db-migration, size:XL

#1525 docs: add instructions about generating PDF document
  docs/README.md
  docs/conf.py
Labels: area:docs, skip:changelog, size:S, ossca-23

#1529 fix: PDF not generated on macOS
  docs/README.md
  docs/conf.py
Labels: area:docs, skip:changelog, size:S
