Repository lablup/backend.ai, pull requests merged in 2024-12, with the labels that each got.

#3212 chore(ci): Introduce pydantic mypy plugin
  pyproject.toml
  src/ai/backend/client/cli/pretty.py
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/api/utils.py
  src/ai/backend/manager/server.py
  tools/mypy-requirements.txt
  tools/mypy.lock
Labels: skip:changelog

#3216 chore(ci): Introduce pydantic mypy plugin (#3212)
  pyproject.toml
  src/ai/backend/client/cli/pretty.py
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/api/utils.py
  src/ai/backend/manager/server.py
  tools/mypy-requirements.txt
  tools/mypy.lock
Labels: comp:manager, comp:client, skip:changelog, size:L, size:M, backport

#3215 chore(ci): Introduce pydantic mypy plugin (#3212)
  pyproject.toml
  src/ai/backend/client/cli/pretty.py
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/api/utils.py
  src/ai/backend/manager/server.py
  tools/mypy-requirements.txt
  tools/mypy.lock
Labels: area:docs, comp:manager, comp:client, comp:cli, skip:changelog, size:M, backport

#3186 fix: Do not multiply session occupying slots
  changes/3186.fix.md
  src/ai/backend/manager/models/session.py
Labels: comp:manager, size:XS

#3208 fix: Add missing `extra` field to `ContainerRegistryNode` GQL query, mutations
  changes/3208.fix.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/container_registry.py
Labels: type:bug

#3219 fix: Allow purging vfolders by enabling querying deleted vfolders by name (#3176)
  changes/3176.fix.md
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/vfolder.py
Labels: area:docs, comp:manager, size:S, backport

#3220 fix: Add missing `extra` field to `ContainerRegistryNode` GQL query, mutations (#3208)
  changes/3208.fix.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/container_registry.py
Labels: type:bug, comp:manager, size:S, backport

#3217 fix: Do not multiply session occupying slots (#3186)
  changes/3186.fix.md
  src/ai/backend/manager/models/session.py
Labels: comp:manager, size:XS, backport

#3226 chore(ci): Apply pytest-timeout to test_bgtask
  tests/manager/api/test_bgtask.py
  tools/pytest-requirements.txt
  tools/pytest.lock
Labels: area:infrastructure, skip:changelog

#3227 chore(ci): Apply pytest-timeout to test_bgtask (#3226)
  tests/manager/api/test_bgtask.py
  tools/pytest-requirements.txt
  tools/pytest.lock
Labels: area:infrastructure, skip:changelog, size:XS, backport

#3228 chore(ci): Apply pytest-timeout to test_bgtask (#3226)
  tests/manager/api/test_bgtask.py
  tools/pytest-requirements.txt
  tools/pytest.lock
Labels: area:infrastructure, skip:changelog, size:L, backport

#3223 fix: Allow admins to purge other user's vfolders
  changes/3223.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: area:docs, comp:manager, size:XS

#3229 chore(ci): Apply pytest-timeout to test_bgtask (#3226)
  tests/manager/api/test_bgtask.py
  tools/pytest-requirements.txt
  tools/pytest.lock
Labels: area:infrastructure, skip:changelog, size:XL, backport

#3193 ci: Make it possible to backport multiple commits
  .github/workflows/backport.yml
Labels: skip:changelog, size:S

#3244 fix: CLI test failures caused by `yarl.URL._val` type change (#3235)
  changes/3235.fix.md
  src/ai/backend/client/auth.py
Labels: type:bug, comp:client, size:XS, backport

#3243 fix: Allow `testutils` component visibility rules
  src/ai/backend/account_manager/BUILD
  src/ai/backend/agent/BUILD
  src/ai/backend/manager/BUILD
  src/ai/backend/storage/BUILD
  src/ai/backend/testutils/BUILD
  src/ai/backend/web/BUILD
  src/ai/backend/wsproxy/BUILD
Labels: skip:changelog, size:XS

#3072 fix: Broken `ComputeContainer` GQL (#3042)
  changes/3042.fix.md
  src/ai/backend/manager/models/kernel.py
Labels: type:bug, comp:manager, size:XS, backport

#3241 fix: Prevent vfolder `request-download` API from accessing host filesystem
  changes/3241.fix.md
  src/ai/backend/storage/api/client.py
Labels: type:bug, comp:storage-proxy, size:XS

#3245 fix: Prevent vfolder `request-download` API from accessing host filesystem (#3241)
  changes/3241.fix.md
  src/ai/backend/storage/api/client.py
Labels: type:bug, comp:storage-proxy, size:XS, backport

#3246 fix: Prevent vfolder `request-download` API from accessing host filesystem (#3241)
  changes/3241.fix.md
  src/ai/backend/storage/api/client.py
Labels: type:bug, comp:storage-proxy, size:XS, backport

#3087 fix: Regression of `LegacyComputeSession` GQL (#3046)
  changes/3046.fix.md
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/kernel.py
Labels: type:bug, area:docs, comp:manager, size:S, backport

#3080 fix: Broken `ComputeContainer.batch_load_detail` due to misuse of `selectinload` (#3078)
  changes/3078.fix.md
  src/ai/backend/manager/models/kernel.py
Labels: type:bug, comp:manager, size:XS, backport

#3250 fix: Update python-json-logger
  python.lock
  requirements.txt
  src/ai/backend/logging/formatter.py
Labels: area:upstream, skip:changelog

#3236 ci: Handle cases where target milesones is empty
  .github/workflows/backport.yml
Labels: skip:changelog, size:XS

#2123 ci: Delete unnecessary script in actions
  .github/workflows/ci.yml
  .github/workflows/timeline-check.yml
Labels: skip:changelog, size:S

#3247 ci: backport to handle commit messages safely
  .github/workflows/backport.yml
Labels: skip:changelog, size:S

#3251 fix: Update python-json-logger (#3250)
  python.lock
  requirements.txt
  src/ai/backend/logging/formatter.py
Labels: area:upstream, skip:changelog, backport

#3248 feat: Allow shell command and env-var access in model-definition and service-definition
  changes/3248.feature.md
  docs/dev/adding-kernels.rst
  src/ai/backend/common/config.py
  src/ai/backend/kernel/base.py
  src/ai/backend/kernel/service.py
  tests/kernel/BUILD
  tests/kernel/test_service_variables.py
Labels: comp:agent

#3252 ci: matrix to match the `GITHUB_OUTPUT` format
  .github/workflows/backport.yml
Labels: skip:changelog, size:XS

#3254 fix: do not reuse `Base` class on alembic migration script
  changes/3254.fix.md
  src/ai/backend/manager/models/alembic/versions/1d42c726d8a3_migrate_container_registries_from_etcd_to_psql.py
Labels: comp:manager, require:db-migration, size:XS

#3255 fix: do not reuse `Base` class on alembic migration script (#3254)
  changes/3254.fix.md
  src/ai/backend/manager/models/alembic/versions/1d42c726d8a3_migrate_container_registries_from_etcd_to_psql.py
Labels: comp:manager, require:db-migration, size:XS, backport

#3118 ci: Make sure to check out the head branch, not the HEAD commit
  .github/workflows/assign-pr-number.yml
Labels: skip:changelog, size:XS

#3259 ci: Make sure to check out the head branch, not the HEAD commit (#3118)
  .github/workflows/assign-pr-number.yml
Labels: skip:changelog, size:XS, backport

#3257 fix: rename `desired_session_count` to `replicas`
  MIGRATION.md
  changes/.feature.md
  changes/3257.feature.md
  src/ai/backend/client/cli/service.py
  src/ai/backend/client/func/service.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/models/alembic/versions/428215fddea3_rename_desired_session_count_to_replicas.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: area:docs, comp:manager, comp:client, comp:cli, require:db-migration, size:L

#3258 ci: Make sure to check out the head branch, not the HEAD commit (#3118)
  .github/workflows/pr-number-assign.yml
Labels: skip:changelog, size:XS, backport

#2726 feat: add support for creating and managing networks
  changes/2726.feature.md
  src/ai/backend/manager/models/__init__.py
  src/ai/backend/manager/models/alembic/versions/3215bc85dc45_create_networks_table.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/domain.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/network.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:XL

#2847 ci: Implement the stacked-pr ci optimizer myself
  .github/workflows/ci.yml
Labels: skip:changelog, size:M

#3232 refactor: `test_bgtask`
  tests/manager/api/test_bgtask.py
Labels: area:infrastructure, skip:changelog

#3145 chore: Delete unused Dockerfiles
  docker/agent/Dockerfile
  docker/manager/BUILD
  docker/manager/Dockerfile
  docker/manager/init.sh
Labels: skip:changelog, size:M

#3122 ci: Remove labeled triggers for skip:ci
  .github/workflows/ci.yml
  .github/workflows/skip-ci.yml
Labels: skip:changelog, size:M

#3262 ci: Remove labeled triggers for skip:ci (#3122)
  .github/workflows/ci.yml
  .github/workflows/skip-ci.yml
Labels: skip:changelog, size:M, backport

#3264 ci: Remove labeled triggers for skip:ci (#3122)
  .github/workflows/ci.yml
  .github/workflows/skip-ci.yml
Labels: skip:changelog, size:M, backport

#3263 ci: Remove labeled triggers for skip:ci (#3122)
  .github/workflows/ci.yml
  .github/workflows/skip-ci.yml
Labels: skip:changelog, size:M, backport

#3029 fix: Make the install path visible
  changes/3029.fix.md
  src/ai/backend/install/widgets.py
Labels: type:bug, size:XS

#2098 feat: update manager to utilize network plugin
  MIGRATION.md
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/admin.py
  src/ai/backend/manager/api/context.py
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/network.py
  src/ai/backend/manager/network/overlay.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/server.py
  tests/manager/conftest.py
  tests/manager/models/test_container_registries.py
  tests/manager/models/test_container_registry_nodes.py
Labels: area:docs, comp:manager, comp:agent, comp:common, skip:changelog, size:L

#2100 feat: update agent to utilize network plugin
  src/ai/backend/agent/BUILD
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/dummy/kernel.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/kubernetes/kernel.py
  src/ai/backend/agent/plugin/network.py
Labels: comp:agent, skip:changelog, size:L

#3133 feat: show inference metrics from `Endpoint` and `Routing` queries
  changes/3133.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/routing.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, comp:agent, comp:common, size:M

#3272 fix: String formatting of BinarySize
  changes/3272.fix.md
  src/ai/backend/common/types.py
  tests/common/test_types.py
Labels: comp:common, size:XS

#3265 ci: Separate the kvstore's response body and status code
  .github/workflows/backport.yml
Labels: skip:changelog, size:XS

#3274 ci: Fix matrix variable to use target_branches
  .github/workflows/backport.yml
Labels: skip:changelog, size:XS

#3280 chore: Update gitignore and editorconfig
  .editorconfig
  .gitignore
Labels: area:infrastructure, skip:changelog, size:XS

#3268 chore: Update gitignore to exclude alembic.ini for account manager
  .gitignore
  am-alembic.ini
  scripts/install-dev.sh
Labels: skip:changelog, size:M

#3276 ci: Add manual backport trigger via workflow_dispatch
  .github/workflows/backport.yml
Labels: skip:changelog, size:S

#2914 ci: Modify to accommodate the changed release naming convention
  .github/workflows/ci.yml
Labels: area:infrastructure, skip:changelog

#2907 ci: Fixes behavior that was preventing proper comparison due to typos
  .github/workflows/ci.yml
Labels: area:infrastructure, skip:changelog, size:XS

#3291 fix: Invalid API version checks when creating sessions
  changes/3291.fix.md
  src/ai/backend/manager/api/session.py
Labels: area:docs, comp:manager, size:XS

#3292 fix: Broken input validation for session creation from templates
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/server.py
Labels: area:docs, comp:manager, skip:changelog, size:S

#3286 fix: 'DockerKernel' object has no attribute 'network_driver'
  changes/3286.feature.md
  src/ai/backend/agent/docker/kernel.py
Labels: urgency:blocker, comp:agent, size:XS

#3267 refactor: Container preparation step in Agent
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/resources.py
  tests/agent/test_resources.py
Labels: comp:agent, comp:installer, type:refactor, skip:changelog, size:M

#3289 ci: Change the job name to make sense
  .github/workflows/backport.yml
Labels: skip:changelog, size:M

#3294 ci: Change the matrix variable to `target_branch`
  .github/workflows/backport.yml
Labels: skip:changelog, size:XS

#3295 refactor: Container preparation step in Agent (#3267)
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/resources.py
  tests/agent/test_resources.py
Labels: comp:agent, skip:changelog, size:M, backport

#3296 ci: Reflect what's missing from the rename
  .github/workflows/backport.yml
Labels: skip:changelog, size:XS

#3297 feat: Implement GPU config with `get_attached_devices()` (#3275)
  changes/3275.feature.md
  src/ai/backend/accelerator/cuda_open/plugin.py
  src/ai/backend/accelerator/mock/plugin.py
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/resources.py
  src/ai/backend/common/types.py
Labels: comp:agent, comp:common, size:L, backport

#3299 refactor: Resolve some pyright errors
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/dummy/kernel.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/common/enum_extension.pyi
  src/ai/backend/common/types.py
Labels: comp:agent, comp:common, type:refactor, skip:changelog, size:M

#3281 feat: populate `BACKEND_MODEL_NAME` environment variable automatically
  changes/3281.feature.md
  src/ai/backend/manager/registry.py
Labels: type:feature, urgency:blocker, comp:manager, size:S

#3301 refactor: Resolve some pyright errors (#3299)
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/dummy/kernel.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/common/enum_extension.pyi
  src/ai/backend/common/types.py
Labels: comp:agent, comp:common, type:refactor, skip:changelog, size:M, backport

#3303 chore(ci): Ensure removal of renamed news fragment files
  .github/workflows/assign-pr-number.yml
  scripts/assign-pr-number.py
Labels: area:infrastructure, skip:changelog, size:S

#3302 chore: Upgrade Python (3.12.6 -> 3.12.8)
  changes/3302.misc.md
  docs/dev/daily-workflows.rst
  docs/install/install-from-package/os-preparation.rst
  docs/locales/ko/LC_MESSAGES/install/install-from-package.po
  docs/locales/ko/LC_MESSAGES/install/install-from-package/os-preparation.po
  pants.toml
  pyproject.toml
  python-kernel.lock
  python.lock
  scripts/bootstrap-static-python.sh
  scripts/delete-dev.sh
  src/ai/backend/common/docker.py
  src/ai/backend/install/README.md
  tools/black.lock
  tools/coverage-py.lock
  tools/mypy.lock
  tools/pants-plugins/scie/config.py
  tools/pytest.lock
  tools/ruff.lock
  tools/setuptools.lock
  tools/towncrier.lock
Labels: area:infrastructure, area:docs, comp:common, comp:installer, size:M, dependencies, require:pants-export

#3304 chore: Upgrade Python (3.12.6 -> 3.12.8) (#3302)
  changes/3302.misc.md
  docs/dev/daily-workflows.rst
  docs/install/install-from-package/os-preparation.rst
  docs/locales/ko/LC_MESSAGES/install/install-from-package.po
  docs/locales/ko/LC_MESSAGES/install/install-from-package/os-preparation.po
  pants.toml
  pyproject.toml
  python-kernel.lock
  python.lock
  scripts/bootstrap-static-python.sh
  scripts/delete-dev.sh
  src/ai/backend/common/docker.py
  src/ai/backend/install/README.md
  tools/black.lock
  tools/coverage-py.lock
  tools/mypy.lock
  tools/pants-plugins/scie/config.py
  tools/pytest.lock
  tools/ruff.lock
  tools/setuptools.lock
  tools/towncrier.lock
Labels: area:infrastructure, area:docs, comp:common, comp:installer, size:M, dependencies, require:pants-export, backport

#3306 fix: CLI test failures caused by `yarl.URL._val` type change (#3235)
  changes/3235.fix.md
  src/ai/backend/client/auth.py
Labels: type:bug, comp:client, size:XS, backport

#3307 fix: Type error due to missing default type-var in zmq.Context
  src/ai/backend/logging/handler/intrinsic.py
  src/ai/backend/logging/logger.py
Labels: area:infrastructure, skip:changelog, size:XS

#3305 chore: Upgrade Python (3.12.6 -> 3.12.8) (#3302)
  changes/3302.misc.md
  docs/dev/daily-workflows.rst
  docs/install/install-from-package/os-preparation.rst
  docs/locales/ko/LC_MESSAGES/install/install-from-package.po
  docs/locales/ko/LC_MESSAGES/install/install-from-package/os-preparation.po
  pants.toml
  pyproject.toml
  python-kernel.lock
  python.lock
  scripts/bootstrap-static-python.sh
  scripts/delete-dev.sh
  src/ai/backend/common/logging.py
  src/ai/backend/install/README.md
  tools/black.lock
  tools/coverage-py.lock
  tools/mypy.lock
  tools/pants-plugins/scie/config.py
  tools/pytest.lock
  tools/ruff.lock
  tools/setuptools.lock
  tools/towncrier.lock
Labels: area:infrastructure, area:docs, comp:common, comp:installer, size:XL, dependencies, require:pants-export, backport

#3308 fix: Type error due to missing default type-var in zmq.Context (#3307)
  src/ai/backend/logging/handler/intrinsic.py
  src/ai/backend/logging/logger.py
Labels: area:infrastructure, skip:changelog, size:XS, backport

#3310 fix: Make the install path visible (#3029)
  changes/3029.fix.md
  src/ai/backend/install/widgets.py
Labels: type:bug, size:XS, backport

#3311 fix: Make the install path visible (#3029)
  changes/3029.fix.md
  src/ai/backend/install/widgets.py
Labels: type:bug, size:XS, backport

#3312 docs: Update readme for the cuda_open plugin in the monorepo (#2869)
  src/ai/backend/accelerator/cuda_open/README.md
Labels: area:docs, skip:changelog, size:S, backport

#3313 docs: Update readme for the cuda_open plugin in the monorepo (#2869)
  src/ai/backend/accelerator/cuda_open/README.md
Labels: area:docs, skip:changelog, size:S, backport

#3314 docs: Update readme for the cuda_open plugin in the monorepo (#2869)
  src/ai/backend/accelerator/cuda_open/README.md
Labels: area:docs, skip:changelog, size:S, backport

#3315 chore: Update gitignore and editorconfig (#3280)
  .editorconfig
  .gitignore
Labels: area:infrastructure, skip:changelog, size:XS, backport

#3316 chore: Update gitignore and editorconfig (#3280)
  .editorconfig
  .gitignore
Labels: area:infrastructure, skip:changelog, size:XS, backport

#3317 chore: Update gitignore to exclude alembic (#3268)
  .gitignore
  am-alembic.ini
  scripts/install-dev.sh
Labels: comp:installer, skip:changelog, size:M, backport

#3320 ci: Modify to accommodate the changed release naming convention (#2914)
  .github/workflows/ci.yml
Labels: area:infrastructure, skip:changelog, size:XS, backport

#3318 ci: Modify to accommodate the changed release naming convention (#2914)
  .github/workflows/ci.yml
Labels: area:infrastructure, skip:changelog, size:XS, backport

#3319 ci: Modify to accommodate the changed release naming convention (#2914)
  .github/workflows/ci.yml
Labels: area:infrastructure, skip:changelog, size:XS, backport

#3321 ci: Fixes behavior that was preventing proper comparison due to typos (#2907)
  .github/workflows/ci.yml
Labels: area:infrastructure, skip:changelog, size:XS, backport

#3322 ci: Fixes behavior that was preventing proper comparison due to typos (#2907)
  .github/workflows/ci.yml
Labels: area:infrastructure, skip:changelog, size:XS, backport

#3323 ci: Fixes behavior that was preventing proper comparison due to typos (#2907)
  .github/workflows/ci.yml
Labels: area:infrastructure, skip:changelog, size:XS, backport

#3330 chore(scripts): Update diff-releases.py to recognize auto-backported PRs
  scripts/diff-release.py
Labels: area:infrastructure, skip:changelog, size:M

#3332 chore(scripts): Update diff-releases.py to recognize auto-backported PRs (#3330)
  scripts/diff-release.py
Labels: area:infrastructure, skip:changelog, size:M, backport

#3331 chore(scripts): Update diff-releases.py to recognize auto-backported PRs (#3330)
  scripts/diff-release.py
Labels: area:infrastructure, skip:changelog, size:M, backport

#3338 ci(BA-431): Update the PR prefix checker to accept additional-info slug in all prefixes
  .github/workflows/pr-prefix.yml
Labels: area:infrastructure, skip:changelog, size:S

#3339 ci(BA-431): Update the PR prefix checker to accept additional-info slug in all prefixes (#3338)
  .github/workflows/pr-prefix.yml
Labels: area:infrastructure, skip:changelog, size:S, backport

#3340 ci(BA-431): Update the PR prefix checker to accept additional-info slug in all prefixes (#3338)
  .github/workflows/pr-prefix.yml
Labels: area:infrastructure, skip:changelog, size:S, backport

#3337 fix(BA-433): Misuse of the walrus operator when taking ModifyEndpoint input
  changes/3337.fix.md
  src/ai/backend/manager/models/endpoint.py
Labels: comp:manager, size:S
