Repository lablup/backend.ai, pull requests merged in 2024-01, with the labels that each got.

#1824 fix: model service not created
  src/ai/backend/manager/api/service.py
Labels: comp:manager, skip:changelog, size:XS

#1757 chore: change type name of AsyncNode to Node
  changes/1757.fix.md
  src/ai/backend/manager/models/etcd.py
  src/ai/backend/manager/models/gql_relay.py
Labels: comp:manager, size:XS

#1827 doc: Update the dev guide to reflect Ruff unification
  docs/dev/daily-workflows.rst
Labels: area:docs, skip:changelog, type:enhance

#1828 ci: Update Ruff
  src/ai/backend/common/bgtask.py
  src/ai/backend/install/context.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/storage/api/client.py
  tests/common/redis_helper/docker.py
  tests/common/test_identity.py
  tools/ruff-requirements.txt
  tools/ruff.lock
Labels: area:infrastructure, type:maintenance, comp:manager, comp:storage-proxy, skip:changelog, size:M

#1806 fix: Update Pants installation path from `~/bin` to `~/.local/bin`
  changes/1806.fix.md
  scripts/install-dev.sh
Labels: type:bug, comp:installer, size:XS

#1821 ci: Bump gh-python-generate-sbom from v1 to v2
  .github/workflows/sbom.yml
Labels: area:infrastructure, skip:changelog, size:XS

#1138 feat: Add a new log handler `graylog`
  changes/1138.feature.md
  configs/agent/ci.toml
  configs/agent/halfstack.toml
  configs/agent/sample.toml
  configs/manager/ci.toml
  configs/manager/halfstack.toml
  configs/manager/sample.toml
  python.lock
  requirements.txt
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/common/logging.py
  src/ai/backend/common/plugin/__init__.py
  src/ai/backend/common/plugin/hook.py
  src/ai/backend/common/web/session/__init__.py
Labels: urgency:blocker, comp:manager, comp:client, comp:webserver, comp:storage-proxy, size:L

#1811 feature: add vfolder_mounts client output field
  changes/1811.feature.md
  src/ai/backend/client/output/fields.py
Labels: comp:client, size:XS

#1830 ci: Upgrade mypy (1.7.1 -> 1.8.0)
  tools/mypy-requirements.txt
  tools/mypy.lock
Labels: area:infrastructure, type:maintenance, skip:changelog, size:XS

#1825 fix: make `metadata` field of model definition optional
  src/ai/backend/common/config.py
Labels: skip:changelog, size:XS

#1833 fix: health checker not working correctly
  changes/1833.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/kernel/base.py
Labels: size:L

#1835 fix: remove unique constraint of endpoint.url column
  changes/1835.fix.md
  src/ai/backend/manager/models/alembic/versions/8b2ec7e3d22a_remove_unique_constraint_of_endpoint_url.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, require:db-migration, size:M

#1820 fix: Exclude utilization checks for unallocated resources
  changes/1820.fix.md
  src/ai/backend/manager/idle.py
Labels: type:bug, comp:manager, size:S, urgency:3

#1775 fix: Regression of purging user due to fkey constraint of `main_access_key`
  src/ai/backend/manager/models/alembic/versions/c5ed277b7f7b_change_main_access_key_ondelete_to_set_.py
  src/ai/backend/manager/models/keypair.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/scheduler/predicates.py
Labels: urgency:blocker, comp:manager, skip:changelog, require:db-migration, size:M

#1804 fix: Embed ResponseModel converter middleware in service API
  changes/1804.fix.md
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/api/utils.py
Labels: urgency:blocker, comp:manager, size:M

#1837 fix: Fill vfolder user and group field
  changes/1837.fix.md
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:S

#1840 hotfix: Resolve cycle in alembic migration versions
  src/ai/backend/manager/models/alembic/versions/c5ed277b7f7b_change_main_access_key_ondelete_to_set_.py
Labels: urgency:blocker, comp:manager, skip:changelog, require:db-migration, size:XS

#1841 fix: pydantic raising 500 when response includes UUID
  src/ai/backend/manager/api/utils.py
Labels: comp:manager, skip:changelog, size:XS

#1829 feature: Pass Root context of manager to plugins
  changes/1829.feature.md
  src/ai/backend/manager/server.py
Labels: comp:manager, size:XS, pending:backport

#1852 feature: update `delete-dev.sh` to remove DB volumes by default
  changes/1852.feature.md
  scripts/delete-dev.sh
Labels: type:bug, comp:installer, effort:easy, size:S

#1854 fix: image scan not working on harbor v1 registry
  changes/1854.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: type:bug, urgency:blocker, comp:manager, size:M, pending:backport

#1855 feat: aiohttp-3.9.1 update
  changes/1855.misc.md
  python.lock
  requirements.txt
  src/ai/backend/client/session.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/container_registry/base.py
Labels: comp:manager, comp:client, size:S

#1792 refactor: changed log.warn to log.warning
  changes/1792.misc.md
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/common/distributed.py
  src/ai/backend/common/etcd.py
  src/ai/backend/manager/api/resource.py
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/api/stream.py
  src/ai/backend/manager/cli/etcd.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/container_registry/harbor.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, type:refactor, size:M

#1856 ci: Add workflow to verify pr prefix
  .github/workflows/pr-prefix.yml
Labels: area:infrastructure, skip:changelog, skip:ci, size:S

#1850 fix: Query inconsistencies and mistakes in the vfolder share/change-ownership API handlers
  changes/1850.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: type:bug, comp:manager, size:S

#1873 fix: enqueue session with `use_host_network` field
  changes/1873.fix.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:XS
