Repository lablup/backend.ai, pull requests merged in 2024-10, with the labels that each got.

#2877 chore(install-dev): block until DB container stabilizes (#2378)
  changes/2378.fix.md
  scripts/install-dev.sh
Labels: comp:installer, size:M, backport

#2884 fix: Missing batch execution call after session starts
  changes/2884.fix.md
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:S

#2885 ci: Make sure the first half of the tag is the same as the latest release
  .github/workflows/ci.yml
Labels: skip:changelog, size:XS

#2887 ci: Make sure the first half of the tag is the same as the latest release (#2885)
  .github/workflows/ci.yml
Labels: size:XS, backport

#2886 ci: Make sure the first half of the tag is the same as the latest release (#2885)
  .github/workflows/ci.yml
Labels: area:infrastructure, size:XS, backport

#2890 fix: Typo when query container registry
  src/ai/backend/manager/models/container_registry.py
Labels: type:bug, comp:manager, skip:changelog, size:XS

#2871 chore: Refactor RBAC interface for better readability
  src/ai/backend/manager/models/domain.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/keypair.py
  src/ai/backend/manager/models/rbac/__init__.py
  src/ai/backend/manager/models/rbac/exceptions.py
  src/ai/backend/manager/models/scaling_group.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/models/storage.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, skip:changelog, size:L

#2872 chore: Impl RBAC APIs for scaling group and agent
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/rbac/__init__.py
  src/ai/backend/manager/models/rbac/permission_defs.py
  src/ai/backend/manager/models/scaling_group.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/models/storage.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, skip:changelog, size:L

#2891 chore: Add override annotations to RBAC methods
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/models/storage.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, skip:changelog, size:M

#2892 fix: Regression preventing creation of dot-prefixed vfolders
  changes/2892.fix.md
  src/ai/backend/common/validators.py
  tests/common/test_validators.py
Labels: type:bug, comp:common, size:XS

#2894 fix: Invalid image format log spam in Agent
  changes/2894.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: type:bug, comp:agent, size:S

#2895 fix: Invalid image format log spam in Agent (#2894)
  changes/2894.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: size:S, backport

#2896 fix: Wrong creation of raw_configs in `_create_kernels_in_one_agent`
  changes/2896.fix.md
  src/ai/backend/manager/registry.py
Labels: type:bug, comp:manager, size:M

#2897 chore: Refactor session status determine function
  src/ai/backend/manager/models/session.py
Labels: comp:manager, skip:changelog, size:L

#2899 fix: Assign valid value to `id` field in `ContainerRegistryNode` GQL schema query resolver
  changes/2899.fix.md
  src/ai/backend/manager/models/container_registry.py
Labels: type:bug, comp:manager, size:XS

#2900 fix: Update vast quota rather than raise error when quota exists
  changes/2900.fix.md
  src/ai/backend/storage/vast/__init__.py
  src/ai/backend/storage/vast/vastdata_client.py
Labels: comp:storage-proxy, size:M

#2901 feat: Add config option to utilize vast api token optionally
  changes/2901.feature.md
  src/ai/backend/storage/vast/__init__.py
  src/ai/backend/storage/vast/config.py
  src/ai/backend/storage/vast/vastdata_client.py
Labels: comp:storage-proxy, size:S

#2908 fix: Use a valid value for the `id` field in the GQL schema query resolver for `ContainerRegistry`.
  changes/2908.feature.md
  src/ai/backend/manager/models/container_registry.py
Labels: comp:manager, size:XS

#2903 fix: Update vast quota rather than raise error when quota exists (#2900)
  changes/2900.fix.md
  src/ai/backend/storage/vast/__init__.py
  src/ai/backend/storage/vast/vastdata_client.py
Labels: type:bug, comp:storage-proxy, size:M, backport

#2911 fix: Calculate correct expiration time of VAST auth token
  changes/2911.fix.md
  src/ai/backend/storage/vast/__init__.py
  src/ai/backend/storage/vast/config.py
  src/ai/backend/storage/vast/vastdata_client.py
Labels: comp:storage-proxy, size:M

#2912 fix: Calculate correct expiration time of VAST auth token (#2911)
  changes/2911.fix.md
  src/ai/backend/storage/vast/__init__.py
  src/ai/backend/storage/vast/config.py
  src/ai/backend/storage/vast/vastdata_client.py
Labels: comp:storage-proxy, size:M, backport

#2833 chore: Add metric type for Prometheus
  src/ai/backend/common/types.py
Labels: comp:common, skip:changelog, size:M

#2913 ci: Let backport workflow succeed with vanilla commits
  .github/workflows/backport.yml
Labels: area:infrastructure, skip:changelog, size:S

#2917 chore: fix typo in storage backend
  src/ai/backend/storage/abc.py
  src/ai/backend/storage/context.py
  src/ai/backend/storage/gpfs/__init__.py
  src/ai/backend/storage/vast/__init__.py
  src/ai/backend/storage/weka/__init__.py
  tests/storage-proxy/conftest.py
Labels: comp:storage-proxy, skip:changelog, size:S

#2565 feat: Introduce models.health module that treats manager status
  src/ai/backend/manager/models/__init__.py
  src/ai/backend/manager/models/health.py
Labels: comp:manager, skip:changelog, size:L

#2695 feat: Build a API app that does not require auth
  changes/2695.feature.md
  src/ai/backend/manager/config.py
  src/ai/backend/manager/public_api/BUILD
  src/ai/backend/manager/public_api/__init__.py
  src/ai/backend/manager/public_api/health.py
  src/ai/backend/manager/public_api/types.py
  src/ai/backend/manager/server.py
Labels: comp:manager, size:M

#2566 feat: Add manager status report bgtask
  changes/2566.feature.md
  src/ai/backend/manager/api/manager.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/models/health.py
Labels: area:docs, comp:manager, size:M

#2863 feat: Add filter and order parameters to group relay API
  changes/2863.feature.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/group.py
Labels: area:docs, comp:manager, size:M

#2919 feat: Add filter and order parameters to group relay API (#2863)
  changes/2863.feature.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/group.py
Labels: area:docs, comp:manager, size:M, backport

#2567 feat: Add Prometheus-compatible manager stat API
  changes/2567.feature.md
  src/ai/backend/manager/api/manager.py
  src/ai/backend/manager/models/health.py
  src/ai/backend/manager/public_api/health.py
  src/ai/backend/manager/server.py
Labels: area:docs, comp:manager, comp:common, size:L

#2922 fix: Allow empty `JSONString` for endpoint envvar modification
  changes/2922.fix.md
  src/ai/backend/manager/models/endpoint.py
Labels: type:bug, comp:manager, size:XS

#2915 ci: Fix `pr_number` parsing for backporting
  .github/workflows/backport.yml
Labels: area:infrastructure, skip:changelog, size:XS

#2825 feat: Support setting health check interval for model service
  changes/2825.feature.md
  src/ai/backend/common/config.py
  src/ai/backend/kernel/base.py
Labels: type:feature, comp:agent, comp:common, size:XS

#2926 chore: fix typo in storage backend (#2917)
  src/ai/backend/storage/abc.py
  src/ai/backend/storage/context.py
  src/ai/backend/storage/gpfs/__init__.py
  src/ai/backend/storage/vast/__init__.py
  src/ai/backend/storage/weka/__init__.py
  tests/storage-proxy/conftest.py
Labels: comp:storage-proxy, skip:changelog, size:S

#2925 chore: fix typo in storage backend (#2917)
  src/ai/backend/storage/abc.py
  src/ai/backend/storage/context.py
  src/ai/backend/storage/gpfs/__init__.py
  src/ai/backend/storage/vast/__init__.py
  src/ai/backend/storage/weka/__init__.py
  tests/storage-proxy/conftest.py
Labels: skip:changelog

#2052 docs: add the manager's RPC client certificate entry to the guide
  changes/2052.doc.md
  docs/install/install-from-package/install-manager.rst
  docs/install/install-from-package/prepare-cache-service.rst
  docs/install/install-from-package/prepare-config-service.rst
  docs/install/install-from-package/prepare-database.rst
Labels: type:feature, area:docs, size:S

#2927 fix: Wrong GQL ordering field spec parser
  changes/2927.fix.md
  src/ai/backend/manager/models/gql_models/group.py
Labels: comp:manager, size:XS

#2928 fix: Wrong GQL ordering field spec parser (#2927)
  changes/2927.fix.md
  src/ai/backend/manager/models/gql_models/group.py
Labels: backport

#2702 refactor: Utilization idle checker calculates resource name to avoid hard code
  src/ai/backend/common/config.py
  src/ai/backend/manager/idle.py
Labels: comp:manager, comp:agent, size:L

#2929 refactor: Utilization idle checker calculates resource name to avoid hard code (#2702)
  src/ai/backend/common/config.py
  src/ai/backend/manager/idle.py
Labels: comp:manager, comp:common, skip:changelog, size:L, backport

#2932 fix: allow `ifs_path` config of PowerScale to not exists
  src/ai/backend/storage/dellemc/config.py
Labels: comp:storage-proxy, skip:changelog, size:XS

#2942 ci: Explicitly adding permissions because the default permissions have changed (#2265)
  .github/workflows/timeline-check.yml
Labels: skip:changelog, size:XS, backport

#2935 fix: update Dellemc OneFS backend (#2918)
  changes/2918.fix.md
  src/ai/backend/storage/dellemc/__init__.py
  src/ai/backend/storage/dellemc/config.py
  src/ai/backend/storage/dellemc/onefs_client.py
Labels: comp:storage-proxy, size:L, backport

#2938 chore: Relocate GQL schema codes related to Image
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/base.py
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/models/gql_models/kernel.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/models/kernel.py
Labels: area:docs, comp:manager, skip:changelog, size:XL

#2920 chore: Add Domain & Project RBAC apis
  src/ai/backend/manager/models/domain.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/rbac/permission_defs.py
Labels: comp:manager, skip:changelog, size:L

#2933 chore: Add RBAC model schema
  src/ai/backend/manager/models/domain.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/rbac/__init__.py
  src/ai/backend/manager/models/rbac/permission_defs.py
Labels: comp:manager, skip:changelog, size:L

#2934 feat: Add Domain GQL schema and resolver
  changes/2934.feature.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/domain.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/base.py
  src/ai/backend/manager/models/gql_models/domain.py
  src/ai/backend/manager/models/gql_models/scaling_group.py
  src/ai/backend/manager/models/rbac/__init__.py
  src/ai/backend/manager/models/scaling_group.py
Labels: area:docs, comp:manager, size:XL

#2946 fix: Set readonly flag to false when begin new generic txn
  changes/2946.fix.md
  src/ai/backend/manager/models/utils.py
Labels: comp:manager, size:XS

#2947 fix: Set readonly flag to false when begin new generic txn (#2946)
  changes/2946.fix.md
  src/ai/backend/manager/models/utils.py
Labels: comp:manager, size:XS, backport

#2949 fix: Wrong container registry migration script
  changes/2949.fix.md
  src/ai/backend/manager/models/alembic/versions/1d42c726d8a3_migrate_container_registries_from_etcd_to_psql.py
  src/ai/backend/manager/models/alembic/versions/e9e574a6e22d_add_extra_column_to_container_registrys.py
Labels: type:bug, comp:manager, require:db-migration, size:M

#2898 fix: Disallow `None` id encoding in `AsyncNode.to_global_id()`
  changes/2898.fix.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/container_registry.py
  src/ai/backend/manager/models/gql_relay.py
Labels: comp:manager, skip:ci, size:XS

#2955 fix: Disallow `None` id encoding in `AsyncNode.to_global_id()` (#2898)
  changes/2898.fix.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/container_registry.py
  src/ai/backend/manager/models/gql_relay.py
Labels: backport

#2957 fix: Disallow `None` id encoding in `AsyncNode.to_global_id()` (#2898)
  changes/2898.fix.md
  src/ai/backend/manager/models/gql_relay.py
Labels: backport

#2956 fix: Disallow `None` id encoding in `AsyncNode.to_global_id()` (#2898)
  changes/2898.fix.md
  src/ai/backend/manager/models/gql_relay.py
Labels: backport

#2579 fix: Missing notification of bgtask cancellation or failure when shutting down the server
  changes/2579.fix.md
  src/ai/backend/common/bgtask.py
Labels: type:bug, comp:common, size:XS

#2958 fix: Missing notification of bgtask cancellation or failure when shutting down the server (#2579)
  changes/2579.fix.md
  src/ai/backend/common/bgtask.py
Labels: backport

#2960 fix: Missing notification of bgtask cancellation or failure when shutting down the server (#2579)
  changes/2579.fix.md
  src/ai/backend/common/bgtask.py
Labels: type:bug, size:XS, backport

#2962 fix: Handle IndexError when parse BinarySize
  changes/2962.fix.md
  src/ai/backend/common/types.py
Labels: comp:common, size:XS

#2964 fix: Handle IndexError when parse BinarySize (#2962)
  changes/2962.fix.md
  src/ai/backend/common/types.py
Labels: size:XS, backport

#2961 fix: Keep polling when GPFS job is running
  changes/2961.fix.md
  src/ai/backend/storage/gpfs/gpfs_client.py
Labels: comp:storage-proxy, size:M

#2967 fix: Keep polling when GPFS job is running (#2961)
  changes/2961.fix.md
  src/ai/backend/storage/gpfs/gpfs_client.py
Labels: comp:storage-proxy, size:M, backport

#2959 fix: Missing notification of bgtask cancellation or failure when shutting down the server (#2579)
  changes/2579.fix.md
  src/ai/backend/common/bgtask.py
Labels: type:bug, size:S, backport

#2836 feat: Add session status checker GQL mutation
  changes/2836.feature.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/session.py
  src/ai/backend/manager/models/session.py
Labels: area:docs, comp:manager, size:M

#2971 chore(tools): Upgrade mypy (1.11.1 -> 1.13.0)
  tools/mypy-requirements.txt
  tools/mypy.lock
Labels: type:maintenance, area:upstream, skip:changelog

#2974 chore(tools): Upgrade mypy (1.11.1 -> 1.13.0) (#2971)
  tools/mypy-requirements.txt
  tools/mypy.lock
Labels: skip:changelog, size:M, size:XS, backport

#2973 chore(tools): Upgrade mypy (1.11.1 -> 1.13.0) (#2971)
  tools/mypy-requirements.txt
  tools/mypy.lock
Labels: skip:changelog, size:XS, backport

#2972 fix: Handle value error when convert shmem to binary size
  changes/2972.fix.md
  src/ai/backend/manager/defs.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:S

#2976 fix: Handle value error when convert shmem to binary size (#2972)
  changes/2972.fix.md
  src/ai/backend/manager/defs.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:S, backport

#2975 fix: Handle value error when convert shmem to binary size (#2972)
  changes/2972.fix.md
  src/ai/backend/manager/defs.py
  src/ai/backend/manager/registry.py
Labels: backport

#2977 ci: Fix labeling of backport PRs due to missing github token
  .github/workflows/backport.yml
Labels: area:infrastructure, skip:changelog, size:XS

#2966 fix: Keep polling when GPFS job is running (#2961)
  changes/2961.fix.md
  src/ai/backend/storage/gpfs/gpfs_client.py
Labels: backport

#2982 fix: Wrong parameter when call 'recalc_agent_resource_occupancy()'
  changes/2982.fix.md
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, size:S

#2986 fix: Wrong `password` limit in container registry migration script
  changes/2986.fix.md
  src/ai/backend/manager/models/alembic/versions/1d42c726d8a3_migrate_container_registries_from_etcd_to_psql.py
Labels: type:bug, comp:manager, require:db-migration, size:XS

#2989 fix: architecture condition not applied when querying image rows
  changes/2989.fix.md
  src/ai/backend/manager/models/image.py
Labels: type:bug, comp:manager, size:XS

#2990 fix: architecture condition not applied when querying image rows (#2989)
  changes/2989.fix.md
  src/ai/backend/manager/models/image.py
Labels: type:bug, comp:manager, size:XS, backport

#2988 fix: Wrong `password` limit in container registry migration script (#2986)
  changes/2986.fix.md
  src/ai/backend/manager/models/alembic/versions/1d42c726d8a3_migrate_container_registries_from_etcd_to_psql.py
Labels: type:bug, comp:manager, require:db-migration, size:XS, backport

#2993 fix: Strengthen join condition between kernels and images
  changes/2993.fix.md
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager, size:XS

#2995 fix: Strengthen join condition between kernels and images (#2993)
  changes/2993.fix.md
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager, size:XS, backport

#2996 fix: Strengthen join condition between kernels and images (#2993)
  changes/2993.fix.md
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager, size:XS, backport

#2981 chore: Allow extra keys dummy agent configs
  .gitignore
  configs/agent/sample-dummy-config.toml
  src/ai/backend/agent/dummy/config.py
  src/ai/backend/agent/dummy/intrinsic.py
  tests/agent/test_resources.py
Labels: comp:agent, size:S

#2873 feat: Add GQL agent relay type and resolver
  changes/2873.feature.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/agent.py
  src/ai/backend/manager/models/gql_models/fields.py
  src/ai/backend/manager/models/gql_models/kernel.py
  src/ai/backend/manager/models/rbac/__init__.py
  src/ai/backend/manager/models/scaling_group.py
Labels: area:docs, comp:manager, size:XL

#3002 fix: Wrong field reference in `ImageNode` resolver
  changes/3002.fix.md
  src/ai/backend/manager/models/gql_models/image.py
Labels: comp:manager, size:XS

#3003 fix: Wrong field reference in `ImageNode` resolver (#3002)
  changes/3002.fix.md
  src/ai/backend/manager/models/gql_models/image.py
Labels: comp:manager, size:XS, backport

#3004 fix: Obsolete logic of `untag()` of `HarborRegistry_v2`
  changes/3004.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: type:bug, comp:manager, size:XS

#3006 fix: Obsolete logic of `untag()` of `HarborRegistry_v2` (#3004)
  changes/3004.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: type:bug, comp:manager, size:XS, backport

#2998 chore: Impl Image RBAC interface
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/models/rbac/permission_defs.py
Labels: comp:manager, skip:changelog, size:L
