Repository lablup/backend.ai, pull requests merged in 2024-04, with the labels that each got.

#1976 docs: Add note about installing client library with same version as server
  changes/1976.doc.md
  docs/client/index.rst
  docs/locales/ko/LC_MESSAGES/client/index.po
Labels: area:docs, size:M

#1984 chore: Add `requested_slots` field to compute session GQL
  changes/1984.misc.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/session.py
Labels: comp:manager, size:XS

#1988 fix: Revert vfolder APIs response to raw `web.Response`
  changes/1988.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: comp:manager, size:S

#1986 fix: function default argument from a mutable object to None
  changes/1986.fix.md
  src/ai/backend/manager/models/session.py
Labels: comp:manager, size:S

#1991 feat: Enable robust DB connection handling
  changes/1991.enhance.md
  configs/manager/halfstack.toml
  configs/manager/sample.toml
  src/ai/backend/manager/config.py
  src/ai/backend/manager/models/utils.py
  tests/manager/conftest.py
Labels: type:feature, comp:manager, size:S

#1983 fix: Explicitly set uid/gid when creating qtrees in the NetApp storage backend
  changes/1983.fix.md
  configs/storage-proxy/sample.toml
  src/ai/backend/storage/netapp/__init__.py
  src/ai/backend/storage/netapp/netappclient.py
Labels: urgency:blocker, comp:storage-proxy, size:M

#1987 chore: Allow `pydantic.BaseModel` as API handler return schema
  changes/1987.misc.md
  src/ai/backend/manager/api/utils.py
Labels: comp:manager, size:XS

#1973 feat: Per-user container image creation from running sessions
  changes/1973.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/dummy/kernel.py
  src/ai/backend/agent/exception.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/kubernetes/kernel.py
  src/ai/backend/agent/server.py
  src/ai/backend/client/cli/__init__.py
  src/ai/backend/client/cli/image.py
  src/ai/backend/client/cli/session/lifecycle.py
  src/ai/backend/client/func/image.py
  src/ai/backend/client/func/session.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/client/output/formatters.py
  src/ai/backend/common/bgtask.py
  src/ai/backend/common/docker.py
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/api/spec.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/container_registry/harbor.py
  src/ai/backend/manager/models/alembic/versions/857b763b8618_add_groups_per_user_image_storage.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/resource_policy.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/registry.py
  tests/manager/conftest.py
Labels: type:feature, comp:manager, comp:client, require:db-migration, size:XL, urgency:4

#1996 chore: add missing GQL annotations
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager, skip:changelog, size:S

#1997 docs: add instructions for migration from 23.09 to 24.03
  MIGRATION.md
  README.md
Labels: skip:changelog, size:S

#1994 chore: Upgrade the base runtime version (CPython: 3.11.6 -> 3.12.2)
  .github/workflows/timeline-check.yml
  README.md
  changes/1994.deps.md
  docs/README.md
  docs/dev/daily-workflows.rst
  docs/install/install-from-package/os-preparation.rst
  docs/locales/ko/LC_MESSAGES/README.po
  pants.toml
  pyproject.toml
  python-kernel.lock
  python.lock
  requirements.txt
  scripts/bootstrap-static-python.sh
  scripts/delete-dev.sh
  src/ai/backend/client/compat.py
  src/ai/backend/install/README.md
  src/ai/backend/kernel/base.py
  src/ai/backend/kernel/requirements.txt
  src/ai/backend/kernel/utils.py
  tools/black.lock
  tools/coverage-py.lock
  tools/mypy.lock
  tools/pants-plugins.lock
  tools/pants-plugins/scie/README.md
  tools/pants-plugins/scie/config.py
  tools/pants-plugins/scie/rules.py
  tools/pants-plugins/towncrier_tool/register.py
  tools/pytest.lock
  tools/ruff.lock
  tools/towncrier.lock
Labels: type:maintenance, comp:client, area:upstream, type:enhance, platform:general, size:L, urgency:3, require:pants-export

#1998 chore: Upgrade pants to 2.21.0.dev4 to use Python 3.12 compatible pip
  changes/1998.fix.md
  pants.toml
  python-kernel.lock
  python.lock
  tools/BUILD
  tools/black.lock
  tools/coverage-py.lock
  tools/mypy.lock
  tools/pants-plugins.lock
  tools/pytest.lock
  tools/ruff.lock
  tools/setuptools-requirements.txt
  tools/setuptools.lock
  tools/towncrier.lock
Labels: area:infrastructure, type:maintenance, area:upstream, size:M

#1999 hotfix: graylog not working
  changes/1999.fix.md
  src/ai/backend/common/logging.py
Labels: type:bug, area:upstream, size:M

#2003 fix: `pants fmt` command not working
  pants.toml
  src/ai/backend/common/logging.py
Labels: skip:changelog, size:S

#2004 chore(deps): Update mypy to 1.9.0
  src/ai/backend/common/utils.py
  tools/mypy-requirements.txt
  tools/mypy.lock
Labels: area:infrastructure, type:maintenance, skip:changelog, size:XS

#2005 fix: pre-commit hook raising false alarm
  pyproject.toml
Labels: skip:changelog, size:XS

#2000 ci: Modified to operate even in deprecation reason changed situations
  .github/workflows/update-api-schema.yml
  gql-inspector-checker.js
Labels: area:infrastructure, skip:changelog, size:M

#2002 feature: new commands to help migrating database schema
  changes/2002.feature.md
  docs/dev/daily-workflows.rst
  docs/install/index.rst
  docs/install/upgrade-existing-cluster.rst
  src/ai/backend/manager/cli/dbschema.py
  src/ai/backend/manager/models/alembic/BUILD
  src/ai/backend/manager/models/alembic/revision_history/23.09.10.json
Labels: type:feature, area:infrastructure, area:docs, comp:manager, size:XL

#1995 chore: Upgrade the base runtime version (CPython: 3.11.6 -> 3.11.8)
  changes/1995.deps.md
  docs/dev/daily-workflows.rst
  pants.toml
  pyproject.toml
  python-kernel.lock
  python.lock
  scripts/bootstrap-static-python.sh
  src/ai/backend/install/README.md
  tools/black.lock
  tools/coverage-py.lock
  tools/mypy.lock
  tools/pants-plugins.lock
  tools/pants-plugins/scie/config.py
  tools/pytest.lock
  tools/ruff.lock
  tools/towncrier.lock
Labels: area:infrastructure, type:maintenance, comp:manager, comp:client, comp:webserver, comp:storage-proxy, require:db-migration, platform:general, size:M, require:pants-export

#2006 ci: Upgrade Pants to 2.21.0.dev5 and remove no longer used ruff_preview plugin
  README.md
  pants.toml
  tools/pants-plugins/ruff_preview/BUILD
  tools/pants-plugins/ruff_preview/__init__.py
  tools/pants-plugins/ruff_preview/register.py
  tools/pants-plugins/ruff_preview/ruff.lock
  tools/pants-plugins/ruff_preview/rules.py
  tools/pants-plugins/ruff_preview/rules_integration_test.py
  tools/pants-plugins/ruff_preview/skip_field.py
  tools/pants-plugins/ruff_preview/subsystem.py
Labels: area:infrastructure, type:maintenance, skip:changelog, size:XL

#1970 chore: Wrap `callosum.AuthenticationError` to custom error
  changes/1970.misc.md
  src/ai/backend/manager/agent_cache.py
  src/ai/backend/manager/exceptions.py
Labels: comp:manager, size:M

#1985 fix: inconsistency of `kernels.session_name` column
  changes/1985.fix.md
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/alembic/versions/dddf9be580f5_sync_kernelssessionname_to_real_session_.py
Labels: comp:manager, require:db-migration, size:M

#2008 hotfix: revert PR #2006
  README.md
  pants.toml
  tools/pants-plugins/ruff_preview/BUILD
  tools/pants-plugins/ruff_preview/__init__.py
  tools/pants-plugins/ruff_preview/register.py
  tools/pants-plugins/ruff_preview/ruff.lock
  tools/pants-plugins/ruff_preview/rules.py
  tools/pants-plugins/ruff_preview/rules_integration_test.py
  tools/pants-plugins/ruff_preview/skip_field.py
  tools/pants-plugins/ruff_preview/subsystem.py
Labels: area:upstream, skip:changelog, size:XL

#1989 feat: Clear `error_logs` records in the `clear-history` command
  changes/1989.feature.md
  src/ai/backend/manager/cli/__main__.py
  src/ai/backend/manager/models/utils.py
Labels: comp:manager, effort:easy, type:enhance, size:M, urgency:2

#1978 ci: Bump actions/{upload, download}-artifact from 3 to 4
  .github/workflows/coverage.yml
  .github/workflows/default.yml
  .github/workflows/integration.yml
  .github/workflows/sbom.yml
Labels: area:infrastructure, type:maintenance, skip:changelog, size:M

#1956 chore(tests): remove unused env-tester files
  .github/workflows/integration.yml
  changes/1956.deprecation.md
  scripts/install-dev.sh
Labels: size:S

#1759 feat: ensure serializability for whole logging data passed to the zmq
  changes/1759.feature.md
  python.lock
  requirements.txt
  src/ai/backend/common/logging.py
  src/ai/backend/common/validators.py
  tests/common/conftest.py
  tests/common/test_logging.py
  tests/common/test_validators.py
Labels: type:bug, comp:manager, comp:agent, comp:webui, type:refactor, effort:hard, impact:visible, platform:general, size:L, urgency:3

#2015 fix: harbor v2 scanner skipping items
  changes/2015.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: type:bug, comp:manager, size:XS

#2016 chore(ci): update pants to `2.21.0dev6` and remove no longer used ruff_preview plugin
  README.md
  pants.toml
  tools/pants-plugins/ruff_preview/BUILD
  tools/pants-plugins/ruff_preview/__init__.py
  tools/pants-plugins/ruff_preview/register.py
  tools/pants-plugins/ruff_preview/ruff.lock
  tools/pants-plugins/ruff_preview/rules.py
  tools/pants-plugins/ruff_preview/rules_integration_test.py
  tools/pants-plugins/ruff_preview/skip_field.py
  tools/pants-plugins/ruff_preview/subsystem.py
Labels: skip:changelog, size:XL

#1901 fix: handle DDN quota exceed output
  changes/1901.fix.md
  src/ai/backend/storage/ddn/__init__.py
Labels: comp:storage-proxy, skip:changelog, size:XS

#2014 fix: Update `etcd-client-py` to 0.3.0
  changes/2014.feature.md
  python.lock
  requirements.txt
  src/ai/backend/common/etcd.py
  src/ai/backend/common/lock.py
  src/ai/backend/manager/api/stream.py
Labels: comp:manager, size:M, dependencies, require:pants-export

#2019 fix: Let log viewers show meaningful stack info
  changes/2019.fix.md
  src/ai/backend/common/logging_utils.py
Labels: area:infrastructure, comp:common, type:enhance, platform:general, size:XS, urgency:4

#2012 fix: Malfunctions in compute container resolvers
  changes/2012.fix.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager, size:S, urgency:3

#2021 ci: Use tmpfs to speed up database container initialization in tests
  src/ai/backend/testutils/bootstrap.py
Labels: comp:common, skip:changelog, type:enhance, size:XS

#2024 chore(ci): fix `graphql-updated` workflow not working
  .github/workflows/update-api-schema.yml
Labels: comp:manager, skip:changelog, size:XS

#2010 feat: add new API to untag image from harbor registry
  changes/2010.feature.md
  docs/manager/user-api/intro.rst
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/client/cli/image.py
  src/ai/backend/client/func/image.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/client/output/formatters.py
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/container_registry/harbor.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/image.py
Labels: comp:manager, comp:client, size:L

#2027 ci: Modified to suit the usage of artifact@v4
  .github/workflows/default.yml
Labels: area:infrastructure, skip:changelog, size:S

#2032 feat: Allow self-ssh in single-node single-container compute sessions
  changes/2032.feature.md
  src/ai/backend/common/types.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, comp:agent, type:enhance, size:XS, urgency:4

#2037 chore: Supports multi-platform install with one script
  scripts/install.sh
Labels: type:feature, area:infrastructure, comp:installer, skip:changelog, urgency:4

#2022 ci: Update shorten URL
  .github/workflows/default.yml
Labels: area:infrastructure, skip:changelog, size:M

#2038 feat: UNIX socket server to report agent status
  changes/2038.feature.md
  src/ai/backend/agent/server.py
Labels: type:feature, size:M

#2040 fix: container commit not working on Docker 23
  changes/2040.fix.md
  src/ai/backend/agent/docker/kernel.py
Labels: type:bug, comp:agent, size:S

#2043 feat: Expose user info to session environment variables
  changes/2043.feature.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:S

#2055 fix: allow bypassing ownership check when admin role user tries to delete folder
  changes/2055.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: type:bug, urgency:blocker, comp:manager, size:XS

#493 feat: Support encrypted requests in the client SDK
  changes/493.feature.md
  src/ai/backend/client/auth.py
  src/ai/backend/web/proxy.py
  tests/client/test_auth.py
Labels: type:feature, comp:client, comp:cli, comp:webserver, size:M

#2054 feat: Implement encryption in the client SDK's login function
  src/ai/backend/client/func/auth.py
Labels: comp:client, skip:changelog, size:M

#2059 fix: prevent from mounting automount folder when status is dead
  changes/2059.fix.md
  src/ai/backend/manager/models/vfolder.py
Labels: type:bug, urgency:blocker, comp:manager, size:S

#2046 docs: Update invocation of the pants command
  docs/dev/daily-workflows.rst
  pants.toml
  plugins/README.md
Labels: area:docs, skip:changelog, size:S

#2049 ci: Bump init-pants from v5 to v8
  .github/workflows/coverage.yml
  .github/workflows/integration.yml
  actions/init-pants/action.yml
Labels: area:infrastructure, skip:changelog, size:XS

#2047 ci: Bump actions/labeler from 4 to 5
  .github/labeler.yml
  .github/workflows/label.yml
Labels: area:infrastructure, skip:changelog, size:M

#2035 docs: remove docker compose top-level element 'version'
  changes/2035.doc.md
  docs/install/install-from-package/prepare-cache-service.rst
  docs/install/install-from-package/prepare-config-service.rst
  docs/install/install-from-package/prepare-database.rst
Labels: type:feature, area:docs, size:XS

#2062 fix: Resource usage wrong calculation
  changes/2062.fix.md
  src/ai/backend/manager/models/resource_usage.py
Labels: comp:manager, size:M

#2072 fix: VFolder file listing not working
  changes/2072.fix.md
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/vfolder.py
Labels: type:bug, area:docs, comp:manager, size:L

#2073 fix: add missing `type` argument in `group` query
  changes/2073.fix.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/group.py
Labels: type:bug, area:docs, comp:manager, size:M

#2081 feat: cache volume objects in `RootContext.get_volume`
  changes/2081.feature.md
  src/ai/backend/storage/context.py
Labels: urgency:blocker, comp:storage-proxy, type:enhance, size:M

#2056 fix: Wrong usage of dataloader in GQL group resolver
  changes/2056.fix.md
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/group.py
Labels: type:bug, urgency:blocker, area:docs, comp:manager, size:S

#2084 fix: timeout on `compute_session_list` GQL Query
  changes/2084.fix.md
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
Labels: type:bug, area:docs, comp:manager, size:M

#2079 feat: bring back etcetra on `etcdlock`
  changes/2079.feature.md
  python.lock
  requirements.txt
  src/ai/backend/common/etcd_etcetra.py
  src/ai/backend/common/lock.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/server.py
Labels: type:feature, comp:manager, comp:common, size:XL

#2051 feat: Deprecate the reliance on HTTP cookies for pipeline service
  changes/2051.feature.md
  src/ai/backend/web/proxy.py
Labels: comp:webserver, size:XS

#2085 chore(tests): update `test_distributed` unit test definition
  tests/common/test_distributed.py
Labels: comp:common, skip:changelog, size:M

#2093 fix: VFolder invitation not accepted
  changes/2093.fix.md
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/vfolder.py
Labels: type:bug, area:docs, comp:manager, size:L
