Repository lablup/backend.ai, pull requests merged in 2024-07, with the labels that each got.

#2344 ci: octodog performs graphql schema dump commit
  .github/workflows/update-api-schema.yml
Labels: skip:changelog, size:XS

#2354 ci: octodog performs graphql schema dump commit (#2344)
  .github/workflows/update-api-schema.yml
Labels: size:XS, backport

#2161 fix: Cannot resolve `model_card` GQL query
  changes/2161.fix.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:M

#2355 fix: handle DB serialization error when transaction begins
  src/ai/backend/manager/models/utils.py
Labels: comp:manager, skip:changelog, size:S

#2360 ci: Skip typecheck & test when adding Graphite merge-queue labels
  .github/workflows/default.yml
Labels: skip:changelog, size:XS

#2307 docs: Add release notes for 24.03 and 24.09
  .editorconfig
  docs/release-notes/24.03.md
  docs/release-notes/24.09.md
Labels: area:docs, skip:changelog, size:M

#2361 docs: Add release notes for 24.03 and 24.09 (#2307)
  .editorconfig
  docs/release-notes/24.03.md
Labels: size:M, backport

#2205 fix: Ensure that utilization idleness is checked after a set period
  changes/2205.fix.md
  src/ai/backend/manager/idle.py
Labels: comp:manager, size:M, urgency:4

#2362 fix: Ensure that utilization idleness is checked after a set period (#2205)
  changes/2205.fix.md
  src/ai/backend/manager/idle.py
Labels: comp:manager, size:M, backport

#2254 feat: GQL resolvers for querying agents' total resource allocation
  changes/2254.feature.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/scaling_group.py
Labels: area:docs, comp:manager, size:M

#2353 ci: Update the regex and list of the PR title prefix checker
  .github/workflows/pr-prefix.yml
Labels: area:infrastructure, skip:changelog, type:enhance, size:S

#2368 ci: Update the regex and list of the PR title prefix checker (#2353)
  .github/workflows/pr-prefix.yml
Labels: size:S, backport

#2339 deps: Upgrade aiodocker to 0.22
  changes/2339.deps.md
  python.lock
  requirements.txt
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/docker/utils.py
  src/ai/backend/agent/dummy/kernel.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/kubernetes/intrinsic.py
  src/ai/backend/agent/kubernetes/kernel.py
  src/ai/backend/agent/kubernetes/utils.py
Labels: type:bug, type:maintenance, comp:agent, area:upstream, impact:invisible, size:L, require:pants-export

#2369 deps: Upgrade aiodocker to 0.22 (#2339)
  changes/2339.deps.md
  python.lock
  requirements.txt
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/docker/utils.py
  src/ai/backend/agent/dummy/kernel.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/kubernetes/intrinsic.py
  src/ai/backend/agent/kubernetes/kernel.py
  src/ai/backend/agent/kubernetes/utils.py
Labels: size:L, backport

#2345 fix: Allow GraphQL query to non-installed images (#2250)
  changes/2250.fix.md
  src/ai/backend/manager/models/gql.py
Labels: comp:manager, size:XS, backport

#2371 fix: mismatches between runtime listing and service creation API
  changes/2371.fix.md
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/models/endpoint.py
Labels: type:bug, area:docs, comp:manager, size:XS

#2375 fix: mismatches between runtime listing and service creation API (#2371)
  changes/2371.fix.md
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/models/endpoint.py
Labels: comp:manager, size:XS, backport

#2160 fix: Handle user creation failure when model-store does not exists
  changes/2160.fix.md
  src/ai/backend/manager/models/user.py
Labels: comp:manager, size:S, urgency:5

#2381 fix: Handle user creation failure when model-store does not exists (#2160)
  changes/2160.fix.md
  src/ai/backend/manager/models/user.py
Labels: comp:manager, size:S, backport

#2372 feat: Python native WSProxy
  .github/workflows/build-static-wsproxy.yml
  .github/workflows/default.yml
  .gitignore
  BUILD
  changes/2372.feature.md
  configs/wsproxy/halfstack.toml
  configs/wsproxy/sample.toml
  fixtures/manager/example-users.json
  python.lock
  requirements.txt
  scripts/install-dev.sh
  src/ai/backend/cli/BUILD
  src/ai/backend/common/BUILD
  src/ai/backend/install/cli.py
  src/ai/backend/install/configs/wsproxy.toml
  src/ai/backend/install/context.py
  src/ai/backend/install/types.py
  src/ai/backend/wsproxy/BUILD
  src/ai/backend/wsproxy/README.md
  src/ai/backend/wsproxy/VERSION
  src/ai/backend/wsproxy/__init__.py
  src/ai/backend/wsproxy/api/BUILD
  src/ai/backend/wsproxy/api/circuit.py
  src/ai/backend/wsproxy/api/conf.py
  src/ai/backend/wsproxy/api/endpoint.py
  src/ai/backend/wsproxy/api/proxy.py
  src/ai/backend/wsproxy/api/setup.py
  src/ai/backend/wsproxy/api/types.py
  src/ai/backend/wsproxy/api/utils.py
  src/ai/backend/wsproxy/cli/BUILD
  src/ai/backend/wsproxy/cli/__main__.py
  src/ai/backend/wsproxy/cli/context.py
  src/ai/backend/wsproxy/config.py
  src/ai/backend/wsproxy/defs.py
  src/ai/backend/wsproxy/exceptions.py
  src/ai/backend/wsproxy/openapi.py
  src/ai/backend/wsproxy/proxy/BUILD
  src/ai/backend/wsproxy/proxy/backend/BUILD
  src/ai/backend/wsproxy/proxy/backend/__init__.py
  src/ai/backend/wsproxy/proxy/backend/abc.py
  src/ai/backend/wsproxy/proxy/backend/http.py
  src/ai/backend/wsproxy/proxy/backend/tcp.py
  src/ai/backend/wsproxy/proxy/frontend/BUILD
  src/ai/backend/wsproxy/proxy/frontend/__init__.py
  src/ai/backend/wsproxy/proxy/frontend/abc.py
  src/ai/backend/wsproxy/proxy/frontend/http/BUILD
  src/ai/backend/wsproxy/proxy/frontend/http/abc.py
  src/ai/backend/wsproxy/proxy/frontend/http/port.py
  src/ai/backend/wsproxy/proxy/frontend/tcp.py
  src/ai/backend/wsproxy/registry.py
  src/ai/backend/wsproxy/server.py
  src/ai/backend/wsproxy/templates/__init__.py
  src/ai/backend/wsproxy/templates/error.jinja2
  src/ai/backend/wsproxy/types.py
  src/ai/backend/wsproxy/utils.py
Labels: type:feature, comp:installer, size:XL

#2382 feat: Python native WSProxy (#2372)
  .github/workflows/build-static-wsproxy.yml
  .github/workflows/default.yml
  .gitignore
  BUILD
  changes/2372.feature.md
  configs/wsproxy/halfstack.toml
  configs/wsproxy/sample.toml
  fixtures/manager/example-users.json
  python.lock
  requirements.txt
  scripts/install-dev.sh
  src/ai/backend/cli/BUILD
  src/ai/backend/common/BUILD
  src/ai/backend/install/cli.py
  src/ai/backend/install/configs/wsproxy.toml
  src/ai/backend/install/context.py
  src/ai/backend/install/types.py
  src/ai/backend/wsproxy/BUILD
  src/ai/backend/wsproxy/README.md
  src/ai/backend/wsproxy/VERSION
  src/ai/backend/wsproxy/__init__.py
  src/ai/backend/wsproxy/api/BUILD
  src/ai/backend/wsproxy/api/circuit.py
  src/ai/backend/wsproxy/api/conf.py
  src/ai/backend/wsproxy/api/endpoint.py
  src/ai/backend/wsproxy/api/proxy.py
  src/ai/backend/wsproxy/api/setup.py
  src/ai/backend/wsproxy/api/types.py
  src/ai/backend/wsproxy/api/utils.py
  src/ai/backend/wsproxy/cli/BUILD
  src/ai/backend/wsproxy/cli/__main__.py
  src/ai/backend/wsproxy/cli/context.py
  src/ai/backend/wsproxy/config.py
  src/ai/backend/wsproxy/defs.py
  src/ai/backend/wsproxy/exceptions.py
  src/ai/backend/wsproxy/openapi.py
  src/ai/backend/wsproxy/proxy/BUILD
  src/ai/backend/wsproxy/proxy/backend/BUILD
  src/ai/backend/wsproxy/proxy/backend/__init__.py
  src/ai/backend/wsproxy/proxy/backend/abc.py
  src/ai/backend/wsproxy/proxy/backend/http.py
  src/ai/backend/wsproxy/proxy/backend/tcp.py
  src/ai/backend/wsproxy/proxy/frontend/BUILD
  src/ai/backend/wsproxy/proxy/frontend/__init__.py
  src/ai/backend/wsproxy/proxy/frontend/abc.py
  src/ai/backend/wsproxy/proxy/frontend/http/BUILD
  src/ai/backend/wsproxy/proxy/frontend/http/abc.py
  src/ai/backend/wsproxy/proxy/frontend/http/port.py
  src/ai/backend/wsproxy/proxy/frontend/tcp.py
  src/ai/backend/wsproxy/registry.py
  src/ai/backend/wsproxy/server.py
  src/ai/backend/wsproxy/templates/__init__.py
  src/ai/backend/wsproxy/templates/error.jinja2
  src/ai/backend/wsproxy/types.py
  src/ai/backend/wsproxy/utils.py
Labels: size:XL, backport

#2384 fix: malfunctioning VFolder delete API (#2335)
  src/ai/backend/manager/api/vfolder.py
Labels: comp:manager, size:S, backport

#2314 fix: typo of user queryfilter
  changes/2314.fix.md
  src/ai/backend/manager/models/user.py
Labels: type:bug, comp:manager, effort:easy, impact:invisible, size:XS

#2385 fix: typo of user queryfilter (#2314)
  changes/2314.fix.md
  src/ai/backend/manager/models/user.py
Labels: comp:manager, size:XS, backport

#2245 fix: Avoid `ZeroDivisionError` in volume usage calculation with zero capacity bytes
  changes/2245.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: type:bug, area:docs, comp:manager, size:S

#2301 ci: increase fetch depth when cherry picking backport target
  .github/workflows/backport.yml
Labels: skip:changelog, size:XS

#2386 fix: Avoid `ZeroDivisionError` in volume usage calculation (#2245)
  changes/2245.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: comp:manager, size:S, backport

#2253 fix: Regression of dummy agent
  changes/2253.fix.md
  configs/agent/sample-dummy-config.toml
  src/ai/backend/agent/dummy/agent.py
Labels: type:bug, comp:agent, size:XS

#2388 fix: Regression of dummy agent (#2253)
  changes/2253.fix.md
  configs/agent/sample-dummy-config.toml
  src/ai/backend/agent/dummy/agent.py
Labels: size:XS, backport

#2364 feat: Fetch container logs of a specific kernel
  changes/2364.feature.md
  src/ai/backend/client/cli/session/lifecycle.py
  src/ai/backend/client/func/session.py
  src/ai/backend/manager/api/exceptions.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
Labels: area:docs, comp:manager, comp:client, comp:cli, effort:easy, type:enhance, size:L, urgency:4

#2390 feat: Fetch container logs of a specific kernel (#2364)
  changes/2364.feature.md
  src/ai/backend/client/cli/session/lifecycle.py
  src/ai/backend/client/func/session.py
  src/ai/backend/manager/api/exceptions.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, comp:client, size:L, backport

#2392 fix: Skip waiting cancelled task to shutdown agent properly
  changes/2392.fix.md
  src/ai/backend/agent/server.py
Labels: comp:agent, size:XS

#2393 fix: Skip waiting cancelled task to shutdown agent properly (#2392)
  changes/2392.fix.md
  src/ai/backend/agent/server.py
Labels: size:XS, backport

#2178 fix: Keep `sync_container_lifecycles()` bgtask alive in a loop.
  changes/2178.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/common/events.py
Labels: comp:agent, comp:common, size:L, urgency:4

#2394 fix: Keep `sync_container_lifecycles()` bgtask alive in a loop. (#2178)
  changes/2178.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/common/events.py
Labels: size:L, backport

#2379 fix: Hanging tests due to docker-internal races for TCP ports
  changes/2379.misc.md
  pants.toml
  scripts/clear-test-containers.sh
  src/ai/backend/common/redis_helper.py
  src/ai/backend/testutils/bootstrap.py
  tests/BUILD
  tests/common/BUILD
  tests/common/conftest.py
  tests/common/redis_helper/BUILD
  tests/common/redis_helper/conftest.py
  tests/common/redis_helper/docker.py
  tests/common/redis_helper/redis-cluster.yml
  tests/common/redis_helper/test_list.py
  tests/common/redis_helper/types.py
  tests/conftest.py
  tests/manager/BUILD
Labels: type:bug, area:infrastructure, comp:common, size:L, flow:merge-queue

#2395 fix: Hanging tests due to docker-internal races for TCP ports (#2379)
  changes/2379.misc.md
  pants.toml
  scripts/clear-test-containers.sh
  src/ai/backend/common/redis_helper.py
  src/ai/backend/testutils/bootstrap.py
  tests/BUILD
  tests/common/BUILD
  tests/common/conftest.py
  tests/common/redis_helper/BUILD
  tests/common/redis_helper/conftest.py
  tests/common/redis_helper/docker.py
  tests/common/redis_helper/redis-cluster.yml
  tests/common/redis_helper/test_list.py
  tests/common/redis_helper/types.py
  tests/conftest.py
  tests/manager/BUILD
Labels: size:L, backport

#2396 fix: Improve monotonic port allocation for test containers
  changes/2396.misc.md
  src/ai/backend/testutils/bootstrap.py
  tests/common/redis_helper/docker.py
  tests/conftest.py
Labels: area:infrastructure, type:refactor, type:enhance, impact:invisible, size:M

#2397 fix: Improve monotonic port allocation for test containers (#2396)
  changes/2396.misc.md
  src/ai/backend/testutils/bootstrap.py
  tests/common/redis_helper/docker.py
  tests/conftest.py
Labels: size:M, backport

#2398 fix: A minor range calculation bug in #2396
  src/ai/backend/testutils/bootstrap.py
Labels: type:bug, area:infrastructure, skip:changelog, size:S

#2399 fix: A minor range calculation bug in #2396 (#2398)
  src/ai/backend/testutils/bootstrap.py
Labels: size:S, backport

#2268 ci: Rename to match word order
  .github/workflows/assign-pr-number.yml
  .github/workflows/timeline-check.yml
Labels: skip:changelog, size:XS

#2070 feat: Add `backend.ai plugin scan` command
  changes/2070.feature.md
  src/ai/backend/plugin/BUILD
  src/ai/backend/plugin/cli.py
Labels: type:feature, comp:common, comp:cli, impact:invisible, size:M, urgency:3

#2365 chore: Allow 'execute_with_txn_retry()' to pass arguments to its transaction function
  src/ai/backend/manager/models/utils.py
Labels: comp:manager, skip:changelog, size:S

#2400 ci: Bump graphql-inspector from 4.0.2 to 5.0.6 (#2267)
  .github/workflows/update-api-schema.yml
Labels: size:XS

#2402 deps: Upgrade aiodocker to 0.22.1
  changes/2402.deps.md
  python.lock
  requirements.txt
Labels: type:maintenance, comp:agent, area:upstream, size:XS, dependencies

#2403 deps: Upgrade aiodocker to 0.22.1 (#2402)
  changes/2402.deps.md
  python.lock
  requirements.txt
Labels: size:XS, backport

#2404 refactor: Remove the foreign key constraint of vfolders.{user,group}
  changes/2404.enhance.md
  src/ai/backend/manager/models/alembic/versions/59a622c31820_remove_foreign_key_in_vfolders_user_and_project.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, type:refactor, require:db-migration, size:M, urgency:4, flow:merge-queue

#2342 chore: Make sure you refer to the correct fixture file
  scripts/install-dev.sh
Labels: comp:installer, skip:changelog, size:S

#2413 chore: Ensure referring the correct fixture file (#2342)
  scripts/install-dev.sh
Labels: size:S, backport

#2414 chore: Ensure referring the correct fixture file (#2342)
  scripts/install-dev.sh
Labels: size:S, backport

#2409 feat: Add `row_id`, `type` and `container_registry` fields to GroupNode GQL schema
  changes/2409.feature.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/group.py
Labels: type:feature, comp:manager, effort:easy, impact:invisible, size:S, urgency:2, pending:backport

#2416 feat: Add `row_id`, `type` and `container_registry` fields to GroupNode GQL schema (#2409)
  changes/2409.feature.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/group.py
Labels: comp:manager, size:S, backport

#2407 ci: Invoke the SBOM report generation only when required
  .github/workflows/default.yml
  .github/workflows/sbom.yml
Labels: area:infrastructure, skip:changelog, type:enhance, size:M

#2417 ci: Invoke the SBOM report generation only when required (#2407)
  .github/workflows/default.yml
  .github/workflows/sbom.yml
Labels: size:M, backport

#2415 fix: Utilize `ExtendedJSONEncoder` for error logging to handle `UUID` extra data
  changes/2415.fix.md
  src/ai/backend/manager/api/exceptions.py
Labels: area:docs, comp:manager, size:XS, flow:merge-queue

#2421 fix: Change outdated reference in event module from kernels to sessions
  changes/2421.fix.md
  src/ai/backend/manager/api/events.py
Labels: area:docs, comp:manager, size:L

#2426 fix: Change outdated reference in event module from kernels to sessions (#2421)
  changes/2421.fix.md
  src/ai/backend/manager/api/events.py
Labels: comp:manager, size:L, backport

#2427 fix: Change outdated reference in event module from kernels to sessions (#2421)
  changes/2421.fix.md
  src/ai/backend/manager/api/events.py
Labels: comp:manager, size:L, backport

#2429 fix: Allow specific status of vfolders to query to purge
  changes/2429.fix.md
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/vfolder.py
Labels: area:docs, comp:manager, size:M

#2430 fix: Allow specific status of vfolders to query to purge (#2429)
  changes/2429.fix.md
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:M, backport

#2431 fix: Allow vfolders in delete-pending status to be deleted forever
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, skip:changelog, size:XS

#2432 fix: Allow vfolders in delete-pending status to be deleted forever (#2431)
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:XS, backport

#2310 chore: Impl status-update interface for Session/Kernel ORM objects
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/models/utils.py
Labels: area:docs, comp:manager, skip:changelog, size:L

#2338 feat: Enable to configure sync_container_lifecycles task
  changes/2338.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
Labels: comp:agent, size:S

#2433 feat: Enable to configure sync_container_lifecycles task (#2338)
  changes/2338.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
Labels: size:S, backport

#2316 refactor: Handle container start error in separate try-catch context
  changes/2316.misc.md
  src/ai/backend/agent/docker/agent.py
Labels: comp:agent, size:L

#2418 fix: Utilize `ExtendedJSONEncoder` for error logging to handle `UUID` extra data (#2415)
  changes/2415.fix.md
  src/ai/backend/manager/api/exceptions.py
Labels: comp:manager, size:XS, backport

#2406 refactor: Remove the foreign key constraint of vfolders.{user,group} (#2404)
  changes/2404.enhance.md
  src/ai/backend/manager/models/alembic/versions/59a622c31820_remove_foreign_key_in_vfolders_user_and_project.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, require:db-migration, size:M, backport

#2358 ci: octodog assign pr number to news fragment
  .github/workflows/assign-pr-number.yml
  .github/workflows/timeline-check.yml
  changes/2358.misc.md
Labels: type:bug, area:infrastructure, size:XS

#2389 fix: incorrect check of values returned from docker stat API
  changes/2389.fix.md
  src/ai/backend/agent/docker/intrinsic.py
Labels: comp:agent, size:S, urgency:4

#2436 ci: Change package manager from npm to pnpm
  changes/2436.fix.md
  scripts/install-dev.sh
  src/ai/backend/install/dev.py
Labels: area:upstream, comp:installer, type:enhance, size:XS

#2050 feat: Add GraphQL field `rolling_count` to check current rate limit without increasing
  changes/2050.feature.md
  src/ai/backend/client/cli/image.py
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/keypair.py
Labels: type:feature, comp:manager, comp:client, comp:cli, size:S

#2327 fix: Run batch execution after session starts
  changes/2327.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/server.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
Labels: type:bug, comp:manager, comp:agent, size:M, urgency:5

#2438 ci: Change package manager from npm to pnpm (#2436)
  changes/2436.fix.md
  scripts/install-dev.sh
  src/ai/backend/install/dev.py
Labels: size:XS, backport

#2383 docs: Remove submodule related content
  docs/install/install-from-source.rst
  docs/locales/ko/LC_MESSAGES/install/install-from-source.po
  scripts/install-dev.sh
  src/ai/backend/web/README.md
Labels: area:docs, comp:installer, skip:changelog, size:S

#2439 ci: Change package manager from npm to pnpm (#2436)
  changes/2436.fix.md
  scripts/install-dev.sh
  src/ai/backend/install/dev.py
Labels: size:XS, backport

#2434 refactor: Handle container start error in separate try-catch context (#2316)
  changes/2316.misc.md
  src/ai/backend/agent/docker/agent.py
Labels: size:L, backport

#2412 ci: Schema uses the files of the base branch
  .github/workflows/update-api-schema.yml
Labels: skip:changelog, size:XS

#2440 fix: Run batch execution after session starts (#2327)
  changes/2327.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/server.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:M, backport

#2441 ci: Schema uses the files of the base branch (#2412)
  .github/workflows/update-api-schema.yml
Labels: size:XS, backport

#2336 ci: Handle untrusted input safely using env
  .github/workflows/pr-prefix.yml
Labels: area:infrastructure, type:refactor, skip:changelog, size:XS

#2135 docs: fix typos
  docs/README.md
  docs/dev/adding-kernels.rst
  docs/dev/development-setup.rst
  docs/dev/version-management-and-upgrades.rst
  docs/index.rst
Labels: area:docs, skip:changelog, size:S

#2190 fix: Apply project folders `max_vfolder_count`
  changes/2190.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: type:bug, area:docs, comp:manager, size:M

#1758 docs: Update the docs for options of the session list command
  docs/client/cli/sessions.rst
  docs/locales/ko/LC_MESSAGES/client/cli/sessions.po
Labels: area:docs, skip:changelog, size:L

#2443 docs: fix typos (#2135)
  docs/README.md
  docs/dev/adding-kernels.rst
  docs/dev/development-setup.rst
  docs/dev/version-management-and-upgrades.rst
  docs/index.rst
Labels: size:S, backport

#2445 docs: Update the docs for options of the session list command (#1758)
  docs/client/cli/sessions.rst
  docs/locales/ko/LC_MESSAGES/client/cli/sessions.po
Labels: size:L, backport

#2444 docs: Update the docs for options of the session list command (#1758)
  docs/client/cli/sessions.rst
  docs/locales/ko/LC_MESSAGES/client/cli/sessions.po
Labels: size:L, backport

#2127 fix: Add missing `commit_session_to_file` to `OP_EXC`
  changes/2127.fix.md
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/session.py
Labels: type:bug, comp:manager, size:XS

#2446 fix: Add missing `commit_session_to_file` to `OP_EXC` (#2127)
  changes/2127.fix.md
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/session.py
Labels: comp:manager, size:XS, backport

#2025 docs: update guide about writing down new REST API
  docs/dev/daily-workflows.rst
Labels: area:docs, skip:changelog, size:S

#2447 docs: update guide about writing down new REST API (#2025)
  docs/dev/daily-workflows.rst
Labels: size:S, backport

#2134 fix: Pass ImageRef.canonical in `commit_session_to_file`
  changes/2134.fix.md
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/manager/registry.py
Labels: type:bug, comp:manager, comp:agent, size:S

#2448 fix: Pass ImageRef.canonical in `commit_session_to_file` (#2134)
  changes/2134.fix.md
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:S, backport

#2442 ci: Handle untrusted input safely using env (#2336)
  .github/workflows/pr-prefix.yml
Labels: size:XS

#2449 deps: Upgrade Python (3.12.2 -> 3.12.4)
  changes/2449.deps.md
  docs/dev/daily-workflows.rst
  docs/install/install-from-package/os-preparation.rst
  pants.toml
  pyproject.toml
  python-kernel.lock
  python.lock
  scripts/bootstrap-static-python.sh
  scripts/delete-dev.sh
  src/ai/backend/install/README.md
  tools/black.lock
  tools/coverage-py.lock
  tools/mypy.lock
  tools/pants-plugins/scie/README.md
  tools/pants-plugins/scie/config.py
  tools/pants-plugins/scie/subsystems.py
  tools/pytest.lock
  tools/ruff.lock
  tools/setuptools.lock
  tools/towncrier.lock
Labels: area:infrastructure, type:maintenance, area:docs, area:upstream, comp:installer, platform:general, size:M, require:pants-export

#2450 deps: Upgrade Python (3.12.2 -> 3.12.4) (#2449)
  changes/2449.deps.md
  docs/dev/daily-workflows.rst
  docs/install/install-from-package/os-preparation.rst
  pants.toml
  pyproject.toml
  python-kernel.lock
  python.lock
  scripts/bootstrap-static-python.sh
  scripts/delete-dev.sh
  src/ai/backend/install/README.md
  tools/black.lock
  tools/coverage-py.lock
  tools/mypy.lock
  tools/pants-plugins/scie/README.md
  tools/pants-plugins/scie/config.py
  tools/pants-plugins/scie/subsystems.py
  tools/pytest.lock
  tools/ruff.lock
  tools/setuptools.lock
  tools/towncrier.lock
Labels: size:M, backport

#2424 deps: Update `inquirer` to remove dependency on deprecated `distutils`
  changes/2424.fix.md
  python.lock
  requirements.txt
Labels: type:bug, area:upstream, size:XS, dependencies

#2023 chore: migrate `subprocess.call()` usages to `.run()`
  src/ai/backend/helpers/package.py
  src/ai/backend/manager/cli/__main__.py
Labels: comp:manager, comp:agent, comp:cli, type:refactor, skip:changelog, impact:invisible, size:XS

#2451 deps: Update `inquirer` to remove dependency on deprecated `distutils` (#2424)
  changes/2424.fix.md
  python.lock
  requirements.txt
Labels: size:XS, backport

#2452 chore: migrate `subprocess.call()` usages to `.run()` (#2023)
  src/ai/backend/helpers/package.py
  src/ai/backend/manager/cli/__main__.py
Labels: comp:manager, size:XS, backport

#2453 chore: migrate `subprocess.call()` usages to `.run()` (#2023)
  src/ai/backend/helpers/package.py
  src/ai/backend/manager/cli/__main__.py
Labels: comp:manager, size:XS, backport

#2454 fix: Packaging of the webserver scie executable by explicit setuptools dependency
  changes/2454.fix.md
  python.lock
  requirements.txt
  tools/setuptools-requirements.txt
  tools/setuptools.lock
Labels: type:bug, comp:webserver, size:XS, dependencies, require:pants-export

#2401 fix: Restrict GraphQL query to `user_nodes` field to require `superadmin` privilege
  changes/2401.fix.md
  src/ai/backend/manager/models/gql.py
Labels: area:docs, comp:manager, effort:easy, impact:visible, size:XS, urgency:5

#2457 fix: Restrict GraphQL query to `user_nodes` field to require `superadmin` privilege (#2401)
  changes/2401.fix.md
  src/ai/backend/manager/models/gql.py
Labels: comp:manager, size:XS, backport

#2455 fix: Packaging of the webserver scie executable by explicit setuptools dependency (#2454)
  changes/2454.fix.md
  python.lock
  requirements.txt
  tools/setuptools-requirements.txt
  tools/setuptools.lock
Labels: size:XS, backport

#2459 ci: Grant pull request write permission to backport job
  .github/workflows/backport.yml
Labels: area:infrastructure, skip:changelog, size:XS

#2458 fix: Packaging of the webserver scie executable by explicit setuptools dependency (#2454)
  changes/2454.fix.md
  pants.toml
  python.lock
  requirements.txt
  src/ai/backend/common/utils.py
  tools/BUILD
  tools/setuptools-requirements.txt
  tools/setuptools.lock
Labels: comp:webserver, size:S, require:pants-export, backport

#2419 feat: support for Pure Storage RapidFiles Toolkit v2
  changes/2419.feature.md
  src/ai/backend/storage/purestorage/__init__.py
  src/ai/backend/storage/purestorage/rapidfiles.py
  src/ai/backend/storage/purestorage/rapidfiles_v2.py
Labels: type:feature, comp:storage-proxy, size:L

#2461 feat: support for Pure Storage RapidFiles Toolkit v2 (#2419)
  changes/2419.feature.md
  src/ai/backend/storage/purestorage/__init__.py
  src/ai/backend/storage/purestorage/rapidfiles.py
  src/ai/backend/storage/purestorage/rapidfiles_v2.py
Labels: comp:storage-proxy, size:L, backport

#2145 fix: avoid duplicate `set_quota` action
  changes/2145.fix.md
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/ddn/__init__.py
Labels: comp:storage-proxy, size:S, urgency:4

#2460 fix: Prune additional filesystem patterns from statvfs
  changes/2460.fix.md
  src/ai/backend/agent/docker/intrinsic.py
Labels: type:bug, comp:agent, size:M

#2462 chore: Upgrade black to resolve the vulnerability report
  tools/black-requirements.txt
  tools/black.lock
Labels: area:infrastructure, type:maintenance, area:upstream, skip:changelog, impact:invisible, size:XS

#2317 fix: Omit cleaning containerless kernels which are still creating its container
  changes/2317.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/types.py
Labels: comp:agent, size:M

#2465 chore(ci): Update the arm64 runner config
  .github/workflows/default.yml
Labels: area:infrastructure, skip:changelog, type:enhance, impact:invisible, platform:general, size:S

#2466 chore: Upgrade black to resolve the vulnerability report (#2462)
  tools/black-requirements.txt
  tools/black.lock
Labels: size:XS, backport

#2464 fix: Prune additional filesystem patterns from statvfs (#2460)
  changes/2460.fix.md
  src/ai/backend/agent/docker/intrinsic.py
Labels: size:M, backport

#2468 fix: Omit cleaning containerless kernels which are still creating its container (#2317)
  changes/2317.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/types.py
Labels: size:M, backport

#2469 chore(ci): Update the arm64 runner config (#2465)
  .github/workflows/default.yml
Labels: size:S, backport

#2467 chore: Upgrade black to resolve the vulnerability report (#2462)
  tools/black-requirements.txt
  tools/black.lock
Labels: skip:changelog, size:XS, backport

#2463 fix: Prune additional filesystem patterns from statvfs (#2460)
  changes/2460.fix.md
  src/ai/backend/agent/docker/intrinsic.py
Labels: size:M, backport

#2474 ci: Minimize LFS fetches in CI
  .github/workflows/alembic-head-check.yml
  .github/workflows/assign-pr-number.yml
  .github/workflows/backport.yml
  .github/workflows/check-requirement.yml
  .github/workflows/coverage.yml
  .github/workflows/default.yml
  .github/workflows/integration.yml
  .github/workflows/sbom.yml
  .github/workflows/timeline-check.yml
  .github/workflows/update-api-schema.yml
  tests/agent/conftest.py
  tests/agent/docker/test_agent.py
Labels: area:infrastructure, type:refactor, skip:changelog, size:L

#2411 fix: Handle all possible exceptions when scheduling single node session
  changes/2411.fix.md
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, size:S

#2476 fix: Handle all possible exceptions when scheduling single node session (#2411)
  changes/2411.fix.md
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, size:S, backport

#2478 fix: Improve error handling of initialization failure in kernel runner
  changes/2478.fix.md
  src/ai/backend/kernel/__main__.py
  src/ai/backend/kernel/base.py
  src/ai/backend/kernel/logging.py
  src/ai/backend/kernel/utils.py
Labels: area:ux, comp:agent, type:refactor, type:enhance, size:M

#2479 fix: Improve error handling of initialization failure in kernel runner (#2478)
  changes/2478.fix.md
  src/ai/backend/kernel/__main__.py
  src/ai/backend/kernel/base.py
  src/ai/backend/kernel/logging.py
  src/ai/backend/kernel/utils.py
Labels: size:M, backport

#2484 ci: Apply Graphite CI Optimizer
  .github/workflows/alembic-head-check.yml
  .github/workflows/ci.yml
Labels: area:infrastructure, skip:changelog, size:L

#2486 ci: Remove no longer used LFS files (#2485)
  src/ai/backend/web/assets/backend.ai-local-proxy-linux-arm64.zip
  src/ai/backend/web/assets/backend.ai-local-proxy-linux-x64.zip
  src/ai/backend/web/assets/backend.ai-local-proxy-macos-arm64.zip
  src/ai/backend/web/assets/backend.ai-local-proxy-macos-x64.zip
Labels: size:S, backport

#2481 fix: `BACKEND_MODEL_NAME` env var overwritten
  changes/2481.fix.md
  src/ai/backend/agent/agent.py
Labels: type:bug, comp:agent, size:XS

#2483 fix: ignore request body of certain request methods
  changes/2483.fix.md
  src/ai/backend/manager/api/utils.py
Labels: type:bug, area:docs, comp:manager, size:XS

#2482 fix: preopen port colliding with image service port
  changes/2482.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/manager/registry.py
Labels: type:bug, type:feature, comp:manager, comp:agent, size:M

#2489 fix: `BACKEND_MODEL_NAME` env var overwritten (#2481)
  changes/2481.fix.md
  src/ai/backend/agent/agent.py
Labels: size:XS, backport

#2491 fix: ignore request body of certain request methods (#2483)
  changes/2483.fix.md
  src/ai/backend/manager/api/utils.py
Labels: comp:manager, size:XS, backport

#2492 fix: ignore request body of certain request methods (#2483)
  changes/2483.fix.md
  src/ai/backend/manager/api/utils.py
Labels: comp:manager, size:XS, backport

#2493 fix: preopen port colliding with image service port (#2482)
  changes/2482.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:M, backport

#2472 fix: Add "npm install -g pnpm" if pnpm isn't installed
  changes/2472.fix.md
  scripts/install-dev.sh
  src/ai/backend/install/dev.py
Labels: comp:installer, type:enhance, size:XS

#2495 ci: Add missing codecov token and skip LFS pulls in coverage test
  .github/workflows/coverage.yml
Labels: type:bug, area:infrastructure, skip:changelog, size:S

#2496 ci: Add missing codecov token and skip LFS pulls in coverage test (#2495)
  .github/workflows/coverage.yml
Labels: size:S, backport

#2497 ci: Add missing codecov token and skip LFS pulls in coverage test (#2495)
  .github/workflows/coverage.yml
Labels: size:S, backport

#2422 chore: Add PEX, SCIE binary build configs for the plugin subsystem
  changes/2422.misc.md
  src/ai/backend/cli/BUILD
  src/ai/backend/plugin/BUILD
Labels: size:M

#2498 ci: Bump init-pants from v5 to v8 (#2112)
  .github/workflows/ci.yml
Labels: size:XS

#2499 ci: Fix warnings when running Graphite CI Optimizer in non-PR contexts
  .github/workflows/ci.yml
Labels: area:infrastructure, skip:changelog, type:enhance, size:XS

#2500 ci: Fix warnings when running Graphite CI Optimizer in non-PR contexts (#2499)
  .github/workflows/ci.yml
Labels: size:XS, backport

#2501 ci: Fix warnings when running Graphite CI Optimizer in non-PR contexts (#2499)
  .github/workflows/ci.yml
Labels: size:XS, backport

#1663 feat: Allow project names to contain Unicode characters
  changes/1663.feature.md
  src/ai/backend/common/validators.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/domain.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/openapi.py
  stubs/trafaret/dataerror.pyi
  tests/common/test_validators.py
Labels: type:feature, comp:manager, comp:common, require:db-migration, size:L, urgency:3

#2506 fix: Check null value of user mutation by `Undefined`
  changes/2506.fix.md
  src/ai/backend/manager/models/user.py
Labels: comp:manager, size:XS

#2507 fix: Check null value of user mutation by `Undefined` (#2506)
  changes/2506.fix.md
  src/ai/backend/manager/models/user.py
Labels: comp:manager, size:XS, backport

#2509 fix: Do null check on `total_resource_slots` value
  changes/2509.fix.md
  src/ai/backend/manager/models/domain.py
  src/ai/backend/manager/models/group.py
Labels: comp:manager, size:XS

#2510 fix: Do null check on `total_resource_slots` value (#2509)
  changes/2509.fix.md
  src/ai/backend/manager/models/domain.py
  src/ai/backend/manager/models/group.py
Labels: comp:manager, size:XS, backport

#2516 fix: agent heartbeat not handled when agent reports image with invalid ame
  changes/2516.fix.md
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, comp:agent, size:S
