Repository lablup/backend.ai, pull requests merged in 2024-05, with the labels that each got.

#2102 fix: Initialization of kernel-level usage aggregation in the resource usage API
  changes/2102.fix.md
  src/ai/backend/manager/models/resource_usage.py
Labels: urgency:blocker, comp:manager, size:XS

#2028 fix: Mishandling of undefined value in the `ModifyImage` mutation
  changes/2028.fix.md
  src/ai/backend/manager/models/image.py
Labels: type:bug, comp:manager, effort:normal, impact:invisible, size:XS, urgency:4

#1894 fix: Modify help text for delete and purge domain
  src/ai/backend/client/cli/admin/domain.py
  src/ai/backend/client/func/domain.py
Labels: area:ux, comp:client, comp:cli, skip:changelog, size:XS

#1876 ci: Create backport pr based on milestone.
  .github/workflows/backport.yml
Labels: area:infrastructure, skip:changelog, size:L

#2080 feat: Make distributed-lock backends configurable
  changes/2080.feature.md
  configs/manager/sample.toml
  src/ai/backend/common/lock.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/server.py
Labels: comp:manager, comp:common, size:M

#2130 ci: Fix backport workflow’s PAT settings
  .github/workflows/backport.yml
Labels: skip:changelog, size:XS

#2013 chore: Add `max_pending_session_count` field to keypair_resource_policy GQL schema
  changes/2013.misc.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/resource_policy.py
Labels: comp:manager, size:M

#2140 fix: Wrong success check of vfolder cli integration test
  src/ai/backend/test/cli_integration/user/test_vfolder.py
Labels: skip:changelog

#2147 ci: Upgrade mypy (1.9.0 -> 1.10.0)
  tools/mypy-requirements.txt
  tools/mypy.lock
Labels: area:infrastructure, type:maintenance, area:upstream, skip:changelog, size:XS

#2154 fix: typing update in CLI decorator function
  src/ai/backend/client/cli/extensions.py
Labels: comp:client, comp:cli, skip:changelog, size:S

#2144 fix: Make GPFS plugin reliable
  changes/2144.fix.md
  src/ai/backend/storage/gpfs/gpfs_client.py
Labels: urgency:blocker, comp:storage-proxy, size:M

#2155 fix: Ensure that all pending sessions are picked by schedulers
  changes/2155.fix.md
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: urgency:blocker, comp:manager, size:M

#2077 fix: clear-history sessions as well as kernels
  changes/2077.fix.md
  src/ai/backend/manager/cli/__main__.py
Labels: comp:manager, comp:cli, size:S

#2131 docs: Remove scripts not needed for webui update
  README.md
  scripts/download-webui-release.sh
Labels: area:docs, skip:changelog, size:S

#2162 fix: Security vulnerability of sudo session enablement
  changes/2162.fix.md
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/manager/registry.py
  src/ai/backend/runner/entrypoint.sh
Labels: type:bug, area:security, comp:manager, comp:agent, type:refactor, size:S

#2170 fix: Netapp `create_qtree` timing issue
  changes/2170.fix.md
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/netapp/__init__.py
  src/ai/backend/storage/netapp/netappclient.py
Labels: urgency:blocker, comp:storage-proxy, size:M

#2036 feature: Prevent deleting mounted folders
  changes/2036.feature.md
  src/ai/backend/manager/models/alembic/versions/31463788c713_add_index_sessions_vfolder_mounts.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/models/vfolder.py
Labels: type:bug, status:help wanted, comp:manager, comp:storage-proxy, require:db-migration, size:M

#2174 fix: `check-docker.py` script not working
  scripts/check-docker.py
  scripts/install-dev.sh
Labels: type:maintenance, area:upstream, comp:installer, skip:changelog, size:M

#1993 chore: fix incorrect version notation of GQL Field
  changes/1993.misc.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/resource_policy.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/models/storage.py
Labels: area:docs, comp:manager, size:L

#2152 fix: bugs found check-presets sdk
  changes/2152.fix.md
  src/ai/backend/client/config.py
  src/ai/backend/manager/api/resource.py
Labels: urgency:blocker, area:docs, comp:manager, comp:client, size:XS

#2191 fix: `RouteStatus` enum value shadowed
  changes/2191.fix.md
  src/ai/backend/manager/models/alembic/versions/38741c85f228_fix_duplicate_enum_values.py
  src/ai/backend/manager/models/routing.py
Labels: type:bug, comp:manager, require:db-migration, size:M

#2163 fix: typo in endpoints table column name
  changes/2163.fix.md
  src/ai/backend/client/output/fields.py
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/alembic/versions/ffbebdf3c2b9_fix_typo_in_column_name.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/resource_policy.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, comp:client, require:db-migration, size:L

#2164 feat: implement `gql_mutation_wrapper()` function
  src/ai/backend/manager/models/base.py
Labels: comp:manager, skip:changelog, size:M

#2165 feat: implement Relay-style VirtualFolderNode GQL query
  changes/2165.feature.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/models/vfolder.py
Labels: area:docs, comp:manager, size:L

#2166 feat: split out predicate check logic
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/models/endpoint.py
Labels: area:docs, comp:manager, skip:changelog, size:L

#2167 feat: model service validation process for `ModifyEndpoint`
  changes/2167.feature.md
  src/ai/backend/manager/models/endpoint.py
Labels: comp:manager, size:L

#2168 feat: add support for mounting extra vfolders to model service session
  changes/2168.feature.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/models/alembic/versions/c8714799ca0e_add_endpoints_extra_mounts_column.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/types.py
Labels: area:docs, comp:manager, require:db-migration, size:L

#2169 feat: update CLI to support controlling `extra_mounts` parameter
  src/ai/backend/client/cli/service.py
  src/ai/backend/client/func/service.py
Labels: comp:client, comp:cli, skip:changelog, size:M

#2063 feat: accept arbitrary name for model definition file
  changes/2063.feature.md
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/models/alembic/versions/f56a82d0ac9f_add_model_definition_filename_column.py
  src/ai/backend/manager/models/endpoint.py
Labels: area:docs, comp:manager, comp:common, require:db-migration, size:L

#2203 fix: `endpoints.extra_mounts` query not working
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/vfolder.py
Labels: type:bug, comp:manager, skip:changelog, size:S

#2141 fix: Wrong success check of vfolder cli integration test (#2140)
  src/ai/backend/test/cli_integration/user/test_vfolder.py
Labels: skip:changelog, size:S, backport

#2148 ci: Upgrade mypy (1.9.0 -> 1.10.0) (#2147)
  tools/mypy-requirements.txt
  tools/mypy.lock
Labels: skip:changelog, size:XS, backport

#2172 fix: Make GPFS plugin reliable (#2144)
  changes/2144.fix.md
  src/ai/backend/storage/gpfs/gpfs_client.py
Labels: comp:storage-proxy, size:M, backport

#2173 fix: Ensure that all pending sessions are picked by schedulers (#2155)
  changes/2155.fix.md
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, size:M, backport

#2176 fix: clear-history sessions as well as kernels (#2077)
  changes/2077.fix.md
  src/ai/backend/manager/cli/__main__.py
Labels: comp:manager, size:M, backport

#2182 fix: Security vulnerability of sudo session enablement (#2162)
  changes/2162.fix.md
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/manager/registry.py
  src/ai/backend/runner/entrypoint.sh
Labels: comp:manager, size:S, backport

#2183 fix: Security vulnerability of sudo session enablement (#2162)
  changes/2162.fix.md
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/manager/registry.py
  src/ai/backend/runner/entrypoint.sh
Labels: comp:manager, size:S, backport

#2187 fix: bugs found check-presets sdk (#2152)
  changes/2152.fix.md
  src/ai/backend/client/config.py
  src/ai/backend/manager/api/resource.py
Labels: comp:manager, comp:client, size:XS, backport

#2186 chore: fix incorrect version notation of GQL Field (#1993)
  changes/1993.misc.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/resource_policy.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/models/storage.py
Labels: comp:manager, size:L, backport

#2192 fix: enum value shadowed (#2191)
  changes/2191.fix.md
  src/ai/backend/manager/models/alembic/versions/38741c85f228_fix_duplicate_enum_values.py
  src/ai/backend/manager/models/routing.py
Labels: comp:manager, require:db-migration, size:M, backport

#2201 feat: update CLI to support controlling `extra_mounts` parameter (#2169)
  src/ai/backend/client/cli/service.py
  src/ai/backend/client/func/service.py
Labels: comp:client, skip:changelog, size:M, backport

#2204 fix: `endpoints.extra_mounts` query not working (#2203)
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, skip:changelog, size:S, backport

#2175 fix: invalid concurrency calculation logic
  changes/2175.fix.md
  src/ai/backend/manager/registry.py
Labels: urgency:blocker, comp:manager, size:S

#2207 fix: invalid concurrency calculation logic (#2175)
  changes/2175.fix.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:S, backport

#2208 fix: invalid concurrency calculation logic (#2175)
  changes/2175.fix.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:S, backport

#2153 feat: Add parameters to check-presets SDK
  changes/2153.feature.md
  src/ai/backend/client/func/resource.py
Labels: urgency:blocker, comp:client, comp:cli, size:S

#2065 feat: expose `model_definition_filename` field to API responses
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/models/endpoint.py
Labels: area:docs, comp:manager, skip:changelog, size:S

#2125 feat: update CLI to be aware of `model_definition_path` parameter
  src/ai/backend/client/cli/service.py
  src/ai/backend/client/func/service.py
Labels: comp:client, comp:cli, skip:changelog, size:S

#2146 feat: Add missing fields of keypair resource policy
  changes/2146.feature.md
  src/ai/backend/client/cli/admin/resource_policy.py
  src/ai/backend/client/func/keypair_resource_policy.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/resource_policy.py
Labels: comp:manager, comp:client, comp:cli, size:M

#2211 feat: Add missing fields of keypair resource policy (#2146)
  changes/2146.feature.md
  src/ai/backend/client/cli/admin/resource_policy.py
  src/ai/backend/client/func/keypair_resource_policy.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/resource_policy.py
Labels: comp:manager, comp:client, size:M, backport

#2210 feat: expose `model_definition_filename` field to API responses (#2065)
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/models/endpoint.py
Labels: comp:manager, comp:client, comp:webserver, skip:changelog, require:db-migration, size:S, backport

#2124 fix: model server started on every kernels
  changes/2124.fix.md
  src/ai/backend/agent/agent.py
Labels: type:bug, comp:agent, size:XS

#2213 fix: model server started on every kernels (#2124)
  changes/2124.fix.md
  src/ai/backend/agent/agent.py
Labels: size:XS, backport

#2214 fix: model server started on every kernels (#2124)
  changes/2124.fix.md
  src/ai/backend/agent/agent.py
Labels: size:XS, backport

#2212 fix: invalid GQL version annotation
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/endpoint.py
Labels: comp:manager, skip:changelog, size:XS

#2215 fix: invalid GQL version annotation (#2212)
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/endpoint.py
Labels: comp:manager, size:XS, backport

#2096 fix: `invoke_session_callback()` failing occasionally
  changes/2096.fix.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:XS

#2217 fix: failing occasionally (#2096)
  changes/2096.fix.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:XS, backport

#2223 hotfix: Wrong GQL schema field definition & wrong access (#2218)
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:M, backport

#2222 chore: Upgrade pants to 2.21.0
  pants.toml
Labels: area:infrastructure, type:maintenance, skip:changelog, size:S, flow:merge-queue

#2224 chore: Upgrade pants to 2.21.0 (#2222)
  pants.toml
Labels: size:S, backport

#2221 ci: Check whether the branch actually exists
  .github/workflows/backport.yml
Labels: area:infrastructure, skip:changelog, size:XS

#2226 fix: Self-execution under SCIE/PEX-based envs
  changes/2226.fix.md
  src/ai/backend/client/cli/session/ssh.py
Labels: type:bug, comp:client, comp:cli, size:XS, flow:merge-queue

#2227 fix: Self-execution under SCIE/PEX-based envs (#2226)
  changes/2226.fix.md
  src/ai/backend/client/cli/session/ssh.py
Labels: comp:client, size:XS, backport

#2228 fix: Self-execution under SCIE/PEX-based envs (#2226)
  changes/2226.fix.md
  src/ai/backend/client/cli/session/ssh.py
Labels: comp:client, size:XS, backport

#2229 feat: collect zombie routes automatically
  changes/2229.feature.md
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, type:enhance, size:S

#2230 feat: collect zombie routes automatically (#2229)
  changes/2229.feature.md
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, size:S, backport

#2232 feature: Revamp images GQL query (#2136)
  changes/2136.feature.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager, size:L, backport

#2202 fix: import graphql ast node correctly
  changes/2203.fix.md
  src/ai/backend/manager/models/base.py
Labels: comp:manager, size:XS

#2234 fix: import graphql ast node correctly (#2202)
  changes/2203.fix.md
  src/ai/backend/manager/models/base.py
Labels: comp:manager, size:XS, backport

#2233 fix: endpoint query malfunctioning
  changes/2233.fix.md
  src/ai/backend/manager/models/endpoint.py
Labels: type:bug, comp:manager, size:S
