Repository lablup/backend.ai, pull requests merged in 2024-09, with the labels that each got.

#2643 feat: Enable custom descriptions for GQL relay edge types
  changes/2643.feature.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/gql_models/group.py
  src/ai/backend/manager/models/gql_models/user.py
  src/ai/backend/manager/models/gql_models/vfolder.py
  src/ai/backend/manager/models/gql_relay.py
Labels: comp:manager, size:M

#2711 feat: Add compute session GQL relay schema
  changes/2711.feature.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/kernel.py
  src/ai/backend/manager/models/gql_models/session.py
  src/ai/backend/manager/models/gql_relay.py
Labels: area:docs, comp:manager, comp:common, size:L

#2796 feat: Add `scaling-group-type` in agent.toml
  changes/2796.feature.md
  configs/agent/sample.toml
  src/ai/backend/agent/config.py
  src/ai/backend/agent/stats.py
  src/ai/backend/common/types.py
Labels: type:feature, comp:agent, comp:common, size:S

#2798 feat: Add `scaling-group-type` in agent.toml (#2796)
  changes/2796.feature.md
  configs/agent/sample.toml
  src/ai/backend/agent/config.py
  src/ai/backend/agent/stats.py
  src/ai/backend/common/types.py
Labels: size:S, backport

#2801 fix: Explicitly specify protected service ports not to expose publicly (#2797)
  changes/2797.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/kubernetes/agent.py
Labels: size:M, backport

#2799 feat: Add `scaling-group-type` in agent.toml (#2796)
  changes/2796.feature.md
  configs/agent/sample.toml
  src/ai/backend/agent/config.py
  src/ai/backend/agent/stats.py
  src/ai/backend/common/types.py
Labels: size:S, backport

#2802 fix: Explicitly specify protected service ports not to expose publicly (#2797)
  changes/2797.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/kubernetes/agent.py
Labels: size:M, backport

#2456 feat: Provide extending login session expiration
  changes/2456.feature.md
  configs/webserver/sample.conf
  src/ai/backend/common/web/session/__init__.py
  src/ai/backend/common/web/session/redis_storage.py
  src/ai/backend/web/config.py
  src/ai/backend/web/proxy.py
  src/ai/backend/web/server.py
  src/ai/backend/web/templates/config.toml.j2
Labels: type:feature, area:docs, comp:manager, comp:agent, comp:common, comp:webserver, comp:storage-proxy, size:M, urgency:3

#2803 fix: Correct session status determiner function
  changes/2803.fix.md
  src/ai/backend/manager/models/session.py
Labels: comp:manager, size:S

#2805 fix: bugs related to `endpoint` and `endpoint_list` GQL queries
  changes/2805.fix.md
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/minilang/__init__.py
  src/ai/backend/manager/models/minilang/queryfilter.py
Labels: type:bug, comp:manager, size:M

#2679 chore(pre-push): Consider direct pushes to release branches when detecting the base branch (#2678)
  scripts/pre-push.sh
Labels: size:S, backport

#2810 fix: bugs related to `endpoint` and `endpoint_list` GQL queries (#2805)
  changes/2805.fix.md
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/minilang/__init__.py
  src/ai/backend/manager/models/minilang/queryfilter.py
Labels: comp:manager, size:L, backport

#2807 fix: Correct session status determiner function (#2803)
  changes/2803.fix.md
  src/ai/backend/manager/models/session.py
Labels: comp:manager, size:S, backport

#2773 fix: Make the config file be treated as multiline by re (#2771)
  changes/2771.fix.md
  src/ai/backend/install/context.py
Labels: size:S, backport

#2719 feat: Allow `DataLoaderManager` to get a loader function by function itself (#2717)
  changes/2717.feature.md
  src/ai/backend/manager/models/base.py
Labels: comp:manager, size:M, backport

#2700 fix: Update `webserver` logout API to respond with HTTP 200 OK (#2681)
  changes/2681.fix.md
  src/ai/backend/web/server.py
Labels: comp:webserver, size:XS, backport

#2789 chore: change vastdata API token span (#2785)
  src/ai/backend/storage/vast/vastdata_client.py
Labels: comp:storage-proxy, size:XS, backport

#2720 ci: Skip `timeline-check` on draft PR
  .github/workflows/timeline-check.yml
Labels: skip:changelog, size:XS

#2750 ci(doc): load extra fonts to correctly render non-latin characters
  .readthedocs.yml
  docs/README.md
  docs/conf.py
Labels: area:docs, skip:changelog, size:S

#2812 ci(doc): fix HTML syntax error (#2732)
  docs/_templates/layout.html
Labels: size:XS, backport

#2811 ci(doc): fix HTML syntax error (#2732)
  docs/_templates/layout.html
Labels: skip:changelog, size:S, backport

#2806 fix: improper variable declaration position on service creation SDK
  changes/2806.fix.md
  src/ai/backend/client/func/service.py
Labels: comp:client, size:XS

#2779 fix: Omit null parameter when call usage per period API (#2777)
  changes/2777.fix.md
  src/ai/backend/client/func/resource.py
  src/ai/backend/manager/api/resource.py
Labels: comp:manager, comp:client, size:S, backport

#2814 ci: Upgrade `readthedocs` build environment to Python 3.12
  .readthedocs.yaml
  changes/2814.misc.md
Labels: size:XS

#2818 ci: Upgrade `readthedocs` build environment to Python 3.12 (#2814)
  .readthedocs.yaml
  changes/2814.misc.md
Labels: backport

#2816 fix: login session does not expire or cannot login
  changes/2816.fix.md
  src/ai/backend/common/web/session/__init__.py
  src/ai/backend/common/web/session/redis_storage.py
  src/ai/backend/web/server.py
Labels: comp:common, size:XS

#2689 chore: Add Account manager models
  am-alembic.ini
  src/ai/backend/account_manager/BUILD
  src/ai/backend/account_manager/defs.py
  src/ai/backend/account_manager/models/__init__.py
  src/ai/backend/account_manager/models/alembic/BUILD
  src/ai/backend/account_manager/models/alembic/versions/1449797cc931_create_tables.py
  src/ai/backend/account_manager/models/application.py
  src/ai/backend/account_manager/models/keypair.py
  src/ai/backend/account_manager/models/user.py
  src/ai/backend/account_manager/models/userprofile.py
  src/ai/backend/account_manager/types.py
Labels: size:L

#2827 fix: Use safer TLS version when creating SSL socket in logstash handler
  changes/2827.fix.md
  src/ai/backend/logging/handler/logstash.py
Labels: area:security, type:enhance

#2829 fix: Wrong value of concurrency used
  changes/2829.fix.md
  src/ai/backend/manager/models/session.py
Labels: comp:manager, size:XS

#2830 fix: Wrong value of concurrency used (#2829)
  changes/2829.fix.md
  src/ai/backend/manager/models/session.py
Labels: comp:manager, size:XS, backport

#2832 feat: Allow each service to have own token secret
  src/ai/backend/account_manager/models/alembic/versions/1449797cc931_create_tables.py
  src/ai/backend/account_manager/models/application.py
Labels: skip:changelog, size:XS

#2311 refactor: revamp update mechanism of session & kernel status
  changes/2311.enhance.md
  src/ai/backend/manager/defs.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, comp:common, size:XL

#2312 feat: Add session status checker API
  changes/2312.feature.md
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/gql_models/session.py
  src/ai/backend/manager/models/session.py
Labels: area:docs, comp:manager, size:M

#2837 fix: Create kernels with correct scaling group value
  changes/2837.fix.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:XS

#2838 fix: Create kernels with correct scaling group value (#2837)
  changes/2837.fix.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:XS, backport

#2646 refactor: image configuration when create kernels
  src/ai/backend/agent/agent.py
  src/ai/backend/common/docker.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, comp:agent, comp:common, skip:changelog, size:L

#1655 refactor: Split `PendingSession` Scheduler into `PendingSession` Scheduler and `AgentSelector`
  changes/1655.fix.md
  src/ai/backend/common/config.py
  src/ai/backend/common/types.py
  src/ai/backend/common/validators.py
  src/ai/backend/manager/BUILD
  src/ai/backend/manager/config.py
  src/ai/backend/manager/models/alembic/versions/c4b7ec740b36_migrate_roundrobin_strategy_to_agent_.py
  src/ai/backend/manager/models/scaling_group.py
  src/ai/backend/manager/scheduler/agent_selector.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/manager/scheduler/drf.py
  src/ai/backend/manager/scheduler/fifo.py
  src/ai/backend/manager/scheduler/mof.py
  src/ai/backend/manager/scheduler/types.py
  src/ai/backend/manager/scheduler/utils.py
  tests/manager/test_scheduler.py
Labels: comp:manager, type:refactor, require:db-migration, size:XL

#2843 refactor: Avoid using OrderedDict in the manager API and client SDK (#2842)
  changes/2842.enhance.md
  src/ai/backend/client/request.py
  src/ai/backend/manager/models/base.py
Labels: comp:manager, comp:client, size:S, backport

#2839 chore: Update the alembic migration script template to match our code style
  src/ai/backend/manager/models/alembic/script.py.mako
Labels: area:infrastructure, type:maintenance, skip:changelog, impact:invisible

#2845 chore: Update the alembic migration script template to match our code style (#2839)
  src/ai/backend/manager/models/alembic/script.py.mako
Labels: size:XS, backport

#2782 feat: Add default values for missing tables in model validation
  changes/2782.feature.md
  src/ai/backend/wsproxy/config.py
Labels: size:S

#2851 deps: Upgrade Python (3.12.4 -> 3.12.6) and common dependencies
  .github/workflows/ci.yml
  .github/workflows/timeline-check.yml
  changes/2851.deps.md
  docs/dev/daily-workflows.rst
  docs/install/install-from-package/os-preparation.rst
  pants.toml
  pyproject.toml
  python-kernel.lock
  python.lock
  requirements.txt
  scripts/bootstrap-static-python.sh
  scripts/delete-dev.sh
  src/ai/backend/account_manager/server.py
  src/ai/backend/account_manager/types.py
  src/ai/backend/agent/docker/metadata/server.py
  src/ai/backend/common/types.py
  src/ai/backend/common/web/session/__init__.py
  src/ai/backend/install/README.md
  src/ai/backend/manager/api/types.py
  src/ai/backend/manager/container_registry/harbor.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/api/types.py
  src/ai/backend/storage/context.py
  src/ai/backend/storage/gpfs/__init__.py
  src/ai/backend/storage/gpfs/gpfs_client.py
  src/ai/backend/storage/vast/vastdata_client.py
  src/ai/backend/storage/weka/weka_client.py
  src/ai/backend/wsproxy/server.py
  src/ai/backend/wsproxy/types.py
  tests/common/test_types.py
  tests/conftest.py
  tests/manager/conftest.py
  tools/black-requirements.txt
  tools/black.lock
  tools/mypy.lock
  tools/pants-plugins/scie/README.md
  tools/pants-plugins/scie/config.py
  tools/pytest-requirements.txt
  tools/pytest.lock
  tools/ruff.lock
  tools/setuptools-requirements.txt
  tools/setuptools.lock
  tools/towncrier-requirements.txt
  tools/towncrier.lock
Labels: area:infrastructure, type:maintenance, area:upstream, comp:installer, impact:invisible, require:pants-export

#1587 refactor: Merge `kernels.role` into `sessions.session_type`
  changes/1587.fix.md
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/alembic/versions/3596bc12ec09_drop_kernel_roles_replace_by_sessiontype.py
  src/ai/backend/manager/models/alembic/versions/bedd92de93af_add_role_column_on_kernels_table.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
Labels: area:docs, comp:manager, comp:common, type:refactor, action:on hold, require:db-migration, impact:invisible, size:L, urgency:4

#2854 refactor: Merge `kernels.role` into `sessions.session_type` (#1587)
  changes/1587.fix.md
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/alembic/versions/3596bc12ec09_drop_kernel_roles_replace_by_sessiontype.py
  src/ai/backend/manager/models/alembic/versions/bedd92de93af_add_role_column_on_kernels_table.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, type:refactor, require:db-migration, size:L, backport

#2846 chore: Correct typos and change agent selector plugin config key to kebab-case
  src/ai/backend/manager/config.py
  src/ai/backend/manager/scheduler/agent_selector.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/manager/scheduler/types.py
Labels: comp:manager, skip:changelog, size:M

#2820 fix: Assign main kernel ID to `kernel_id` for correct log retrieval
  changes/2820.fix.md
  src/ai/backend/manager/api/session.py
Labels: type:bug

#2835 docs: Remove unused travis-ci badges
  src/ai/backend/client/README.rst
  src/ai/backend/common/README.md
Labels: skip:changelog, size:XS

#2859 fix: Assign main kernel ID to `kernel_id` for correct log retrieval (#2820)
  changes/2820.fix.md
  src/ai/backend/manager/api/session.py
Labels: comp:manager, size:S, backport

#2780 fix: Delete vfolder invitation and permission rows when deleting vfolders
  changes/2780.fix.md
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:M

#2852 feat: Add support for setting a timeout when pulling Docker images
  changes/2852.feature.md
  python.lock
  requirements.txt
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/common/validators.py
Labels: urgency:blocker, comp:agent, size:S

#2864 feat: Add support for setting a timeout when pulling Docker images (#2852)
  changes/2852.feature.md
  python.lock
  requirements.txt
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/common/validators.py
Labels: size:L, size:M, backport

#2862 deps: Upgrade aiohttp to 3.10.6 and yarl to 1.12.1
  python.lock
  requirements.txt
Labels: area:infrastructure, type:maintenance, area:upstream, skip:changelog

#2865 deps: Upgrade aiohttp to 3.10.6 and yarl to 1.12.1 (#2862)
  python.lock
  requirements.txt
Labels: size:L, size:XS, backport

#2860 fix: Delete vfolder invitation and permission rows when deleting vfolders (#2780)
  changes/2780.fix.md
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:M, backport

#2867 fix: Installer regression after upgrading Textual
  changes/2867.fix.md
  src/ai/backend/install/context.py
  src/ai/backend/install/widgets.py
Labels: type:bug, comp:installer

#2868 fix: Installer regression after upgrading Textual (#2867)
  changes/2867.fix.md
  src/ai/backend/install/context.py
  src/ai/backend/install/widgets.py
Labels: size:M, backport

#2705 chore: Remove session scheduler related types no longer used
  changes/2705.misc.md
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/manager/scheduler/types.py
Labels: comp:manager, size:L

#2861 chore: Add README in Account manager
  src/ai/backend/account_manager/README.md
Labels: size:XS

#2840 feat: Add priority to sessions
  changes/2840.feature.md
  src/ai/backend/client/config.py
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/__init__.py
  src/ai/backend/manager/models/alembic/versions/20218a73401b_add_session_priority.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/group.py
  src/ai/backend/manager/models/gql_models/kernel.py
  src/ai/backend/manager/models/gql_models/session.py
  src/ai/backend/manager/models/gql_models/user.py
  src/ai/backend/manager/models/gql_models/vfolder.py
  src/ai/backend/manager/models/gql_relay.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/server.py
Labels: type:feature, urgency:blocker, comp:manager, require:db-migration, size:M

#2844 feat: Add dependee/dependent/graph ComputeSessionNode connection queries
  changes/2844.feature.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/gql_models/session.py
Labels: type:feature, urgency:blocker, comp:manager, size:M

#2848 feat: Implement priority scheduler
  changes/2848.feature.md
  src/ai/backend/manager/models/utils.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/manager/scheduler/types.py
  tests/manager/BUILD
  tests/manager/conftest.py
  tests/manager/models/test_dbutils.py
  tests/manager/scheduler_utils.py
  tests/manager/test_agent_selector.py
  tests/manager/test_priority_scheduler.py
  tests/manager/test_scheduler.py
Labels: size:XL

#1917 feat: Migrate container registry config storage from `Etcd` to `PostgreSQL`
  .gitignore
  changes/1917.feature.md
  fixtures/manager/example-container-registries-dockerhub.json
  fixtures/manager/example-container-registries-harbor.json
  scripts/install-dev.sh
  src/ai/backend/client/cli/admin/resource.py
  src/ai/backend/client/func/resource.py
  src/ai/backend/common/docker.py
  src/ai/backend/install/context.py
  src/ai/backend/install/fixtures/example-container-registries-dockerhub.json
  src/ai/backend/install/fixtures/example-container-registries-harbor.json
  src/ai/backend/manager/api/etcd.py
  src/ai/backend/manager/api/resource.py
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/cli/image_impl.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/container_registry/__init__.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/container_registry/docker.py
  src/ai/backend/manager/container_registry/harbor.py
  src/ai/backend/manager/models/__init__.py
  src/ai/backend/manager/models/alembic/versions/1d42c726d8a3_migrate_container_registries_from_etcd_to_psql.py
  src/ai/backend/manager/models/container_registry.py
  src/ai/backend/manager/models/etcd.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/registry.py
  tests/manager/conftest.py
  tests/manager/models/test_container_registries.py
  tests/manager/test_config.py
  tests/manager/test_image.py
  tests/manager/test_registry.py
Labels: comp:manager, comp:client, comp:installer, require:db-migration, size:XL

#2707 feat: Add `project` column to the `images` table and refactor `ImageRef` related logics
  changes/2707.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/kubernetes/utils.py
  src/ai/backend/agent/server.py
  src/ai/backend/common/docker.py
  src/ai/backend/common/exception.py
  src/ai/backend/common/msgpack.py
  src/ai/backend/common/utils.py
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/cli/image_impl.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/models/alembic/versions/7c8501cec07b_add_project_column_to_images_table.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
  tests/agent/docker/test_agent.py
  tests/common/test_docker.py
  tests/common/test_msgpack.py
  tests/manager/scheduler_utils.py
Labels: area:docs, comp:manager, comp:agent, comp:common, comp:cli, require:db-migration, size:XL

#2815 feat: Support docker image manifest v2 schema1 scanning
  changes/2815.feature.md
  src/ai/backend/manager/container_registry/base.py
Labels: comp:manager, size:M

#2621 feat: Support GitHub Container Registry based on `PostgreSQL`
  changes/2621.feature.md
  fixtures/manager/example-container-registries-ghcr.json
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/container_registry/__init__.py
  src/ai/backend/manager/container_registry/github.py
  src/ai/backend/manager/models/alembic/versions/1d42c726d8a3_migrate_container_registries_from_etcd_to_psql.py
  src/ai/backend/manager/models/container_registry.py
Labels: type:feature, comp:manager, require:db-migration, size:M

#2622 feat: Support GitLab Container Registry based on `PostgreSQL`
  changes/2622.feature.md
  fixtures/manager/example-container-registries-gitlab.json
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/container_registry/__init__.py
  src/ai/backend/manager/container_registry/gitlab.py
  src/ai/backend/manager/models/container_registry.py
Labels: type:feature, comp:manager, size:M

#2623 feat: Support AWS ECR Public Container Registry based on `PostgreSQL`
  changes/2623.feature.md
  fixtures/manager/example-container-registries-aws-ecr.json
  src/ai/backend/common/docker.py
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/container_registry/__init__.py
  src/ai/backend/manager/container_registry/aws_ecr.py
  src/ai/backend/manager/models/container_registry.py
Labels: type:feature, comp:manager, comp:common, size:M

#2624 feat: Support AWS ECR Private Container Registry based on `PostgreSQL`
  changes/2624.feature.md
  src/ai/backend/manager/container_registry/aws_ecr.py
Labels: type:feature, comp:manager, size:S

#2665 feat: Replace image rescan command's `--local` flag with the `local` type ContainerRegistry record
  changes/2665.feature.md
  fixtures/manager/example-container-registries-local.json
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/cli/etcd.py
  src/ai/backend/manager/cli/image.py
  src/ai/backend/manager/cli/image_impl.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/models/image.py
Labels: area:docs, comp:manager, comp:agent, comp:cli, size:L

#2831 feat: Allow empty image name
  src/ai/backend/common/docker.py
  src/ai/backend/common/utils.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/models/image.py
  tests/common/test_docker.py
Labels: comp:manager, comp:common, skip:changelog, size:M

#2874 deps: Upgrade aiohttp (3.10.6 -> 3.10.8) along with yarl (1.12.1 -> 1.13.1)
  python.lock
  requirements.txt
Labels: type:maintenance, area:upstream, skip:changelog

#2378 chore(install-dev): block until DB container stabilizes
  changes/2378.fix.md
  scripts/install-dev.sh
Labels: type:bug, comp:installer, size:M

#2698 fix: Missing CLIContext and log-level config in wsproxy and manager CLI
  changes/2698.fix.md
  src/ai/backend/manager/cli/__main__.py
  src/ai/backend/manager/cli/context.py
  src/ai/backend/wsproxy/cli/__main__.py
  src/ai/backend/wsproxy/cli/context.py
  src/ai/backend/wsproxy/server.py
Labels: comp:common, comp:appproxy, type:enhance

#2876 chore(install-dev): block until DB container stabilizes (#2378)
  changes/2378.fix.md
  scripts/install-dev.sh
Labels: comp:installer, size:M, backport

#2879 fix: Prevent misinterpreting alembic migration errors as event loop errors
  src/ai/backend/manager/models/alembic/env.py
Labels: comp:manager, type:refactor, skip:changelog

#2881 fix: Prevent misinterpreting alembic migration errors as event loop errors (#2879)
  src/ai/backend/manager/models/alembic/env.py
Labels: comp:manager, size:XS, backport

#2882 fix: For repeated trials, add timestamp to etcd backups to prevent overwriting with empty data
  .gitignore
  src/ai/backend/manager/models/alembic/versions/1d42c726d8a3_migrate_container_registries_from_etcd_to_psql.py
Labels: type:bug, comp:manager, skip:changelog
