Repository lablup/backend.ai, pull requests merged in 2024-08, with the labels that each got.

#2605 fix: typo in minilang query field spec and column map
  changes/2605.fix.md
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager, size:XS

#2607 fix: typo in minilang query field spec and column map (#2605)
  changes/2605.fix.md
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager, size:XS, backport

#2601 fix: Robust type check when idle checker fetches utilization data
  changes/2601.fix.md
  src/ai/backend/manager/idle.py
Labels: comp:manager, size:S

#2610 fix: typo in AgentSummary queryfilter fieldspec
  src/ai/backend/manager/models/agent.py
Labels: comp:manager, skip:changelog, size:XS

#2618 fix: typo in AgentSummary queryfilter fieldspec (#2610)
  src/ai/backend/manager/models/agent.py
Labels: comp:manager, size:XS, backport

#2626 chore: Update git pre-push hook to use correct base branch name
  scripts/pre-push.sh
Labels: type:bug, area:infrastructure, skip:changelog, size:S

#2629 chore: Update git pre-push hook to use correct base branch name (#2626)
  scripts/pre-push.sh
Labels: size:M, backport

#2628 chore: Update git pre-push hook to use correct base branch name (#2626)
  scripts/pre-push.sh
Labels: size:M, backport

#2627 chore: Update git pre-push hook to use correct base branch name (#2626)
  scripts/pre-push.sh
Labels: size:M, backport

#2604 fix: Skip mounting zero-byte lxcfs files
  changes/2604.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: type:bug, comp:agent

#2631 fix: Skip mounting zero-byte lxcfs files (#2604)
  changes/2604.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: size:XS, backport

#2632 fix: Silence falsy Redis timeout warnings with blocking commands
  changes/2632.fix.md
  src/ai/backend/common/redis_helper.py
Labels: type:bug, comp:common, size:XS

#2630 fix: Skip mounting zero-byte lxcfs files (#2604)
  changes/2604.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: comp:agent, size:XS, backport

#2633 fix: Silence falsy Redis timeout warnings with blocking commands (#2632)
  changes/2632.fix.md
  src/ai/backend/common/redis_helper.py
Labels: size:XS, backport

#2634 fix: Silence falsy Redis timeout warnings with blocking commands (#2632)
  changes/2632.fix.md
  src/ai/backend/common/redis_helper.py
Labels: size:XS, backport

#2635 fix: Update the session-download API to use POST with custom verb
  changes/2635.fix.md
  src/ai/backend/client/func/session.py
  src/ai/backend/manager/api/exceptions.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/api/utils.py
Labels: type:bug, comp:manager

#2636 fix: Update the session-download API to use POST with custom verb (#2635)
  changes/2635.fix.md
  src/ai/backend/client/func/session.py
  src/ai/backend/manager/api/exceptions.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/api/utils.py
Labels: type:bug, comp:manager, comp:client, size:M, backport

#2637 fix: Update the session-download API to use POST with custom verb (#2635)
  changes/2635.fix.md
  src/ai/backend/client/func/session.py
  src/ai/backend/manager/api/exceptions.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/api/utils.py
Labels: type:bug, comp:manager, comp:client, size:M, backport

#2570 fix: skip resolving malformed `ModelCard` GQL item
  changes/2570.fix.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:L

#2557 fix: hide third-party customized image from GQL query
  changes/2557.fix.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/image.py
Labels: type:bug, urgency:blocker

#2640 fix: hide third-party customized image from GQL query (#2557)
  changes/2557.fix.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/image.py
Labels: comp:manager, size:S, backport

#2573 fix: delete dependent sessions when purging project
  changes/2573.fix.md
  src/ai/backend/manager/models/group.py
Labels: comp:manager, size:S

#2641 fix: delete dependent sessions when purging project (#2573)
  changes/2573.fix.md
  src/ai/backend/manager/models/group.py
Labels: comp:manager, size:S, backport

#2603 fix: allow `DELETE` method requests to send body (#2571)
  changes/2571.misc.md
  src/ai/backend/manager/api/utils.py
  src/ai/backend/manager/api/vfolder.py
Labels: comp:manager, size:XS, backport

#2648 fix: Implement missing `StrEnumType` handling in `populate_fixture()`
  changes/2648.fix.md
  src/ai/backend/manager/models/base.py
Labels: comp:manager, size:S

#2649 fix: Implement missing `StrEnumType` handling in `populate_fixture()` (#2648)
  changes/2648.fix.md
  src/ai/backend/manager/models/base.py
Labels: comp:manager, size:S, backport

#2555 fix: rename Image Filter to Image Type
  changes/2555.fix.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/image.py
Labels: type:bug, urgency:blocker

#2654 fix: rename Image Filter to Image Type (#2555)
  changes/2555.fix.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/image.py
Labels: comp:manager, size:M, backport

#2617 fix: Robust type check when idle checker fetches utilization data (#2601)
  changes/2601.fix.md
  src/ai/backend/manager/idle.py
Labels: comp:manager, size:S, backport

#2639 fix: skip resolving malformed `ModelCard` GQL item (#2570)
  changes/2570.fix.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:L, backport

#2606 fix: typo in minilang query field spec and column map (#2605)
  changes/2605.fix.md
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager, size:XS, backport

#2642 fix: delete dependent sessions when purging project (#2573)
  changes/2573.fix.md
  src/ai/backend/manager/models/group.py
Labels: comp:manager, size:S, backport

#2619 fix: typo in AgentSummary queryfilter fieldspec (#2610)
  src/ai/backend/manager/models/agent.py
Labels: comp:manager, skip:changelog, size:XS, backport

#2503 feat: mount host's /etc/localtime and /etc/timezone
  changes/2503.feature.md
  src/ai/backend/agent/docker/agent.py
Labels: comp:agent, type:enhance, size:S

#2611 feat: automate `model-store` project creation
  changes/2611.feature.md
  src/ai/backend/manager/models/domain.py
Labels: comp:manager, size:M

#2656 fix: `delete_sessions` typo error
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/group.py
Labels: area:docs, comp:manager, skip:changelog, size:S

#2661 fix: let GET requests contain data in param rather than body
  changes/2661.fix.md
  src/ai/backend/client/func/resource.py
Labels: comp:client, size:S

#2662 fix: let GET requests contain data in param rather than body (#2661)
  changes/2661.fix.md
  src/ai/backend/client/func/resource.py
Labels: comp:client, size:S, backport

#2663 fix: let GET requests contain data in param rather than body (#2661)
  changes/2661.fix.md
  src/ai/backend/client/func/resource.py
Labels: comp:client, size:S, backport

#2658 fix: `delete_sessions` typo error (#2656)
  src/ai/backend/manager/models/group.py
Labels: comp:manager, skip:changelog, size:XS, backport

#2668 chore: Migrate rbac codes to models module to resolve cyclic import
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/rbac/storage.py
  src/ai/backend/manager/models/rbac/vfolder.py
  src/ai/backend/manager/models/storage.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, skip:changelog, size:XL

#2667 fix: Use dropbear 'multi' build and allow overwriting scp in containers
  changes/2667.fix.md
  scripts/agent/build-dropbear.sh
  scripts/agent/build-sftpserver.sh
  src/ai/backend/agent/agent.py
  src/ai/backend/kernel/intrinsic.py
  src/ai/backend/runner/dropbear.aarch64.bin
  src/ai/backend/runner/dropbear.x86_64.bin
  src/ai/backend/runner/dropbearconvert.aarch64.bin
  src/ai/backend/runner/dropbearconvert.x86_64.bin
  src/ai/backend/runner/dropbearkey.aarch64.bin
  src/ai/backend/runner/dropbearkey.x86_64.bin
  src/ai/backend/runner/dropbearmulti.aarch64.bin
  src/ai/backend/runner/dropbearmulti.x86_64.bin
  src/ai/backend/runner/entrypoint.sh
  src/ai/backend/runner/scp.aarch64.bin
  src/ai/backend/runner/scp.x86_64.bin
Labels: comp:agent, size:M

#2673 fix: The URL of docker compose installation guide in install-dev.sh
  scripts/install-dev.sh
Labels: type:maintenance, area:upstream, comp:installer, skip:changelog

#2676 fix: The URL of docker compose installation guide in install-dev.sh (#2673)
  scripts/install-dev.sh
Labels: size:XS, backport

#2675 fix: The URL of docker compose installation guide in install-dev.sh (#2673)
  scripts/install-dev.sh
Labels: skip:changelog, size:XS, backport

#2674 fix: The URL of docker compose installation guide in install-dev.sh (#2673)
  scripts/install-dev.sh
Labels: size:XS, backport

#2678 chore(pre-push): Consider direct pushes to release branches when detecting the base branch
  scripts/pre-push.sh
Labels: type:bug, area:infrastructure, skip:changelog

#2680 chore(pre-push): Consider direct pushes to release branches when detecting the base branch (#2678)
  scripts/pre-push.sh
Labels: size:S, backport

#2677 feat: add `enable_LLM_playground` config on webserver
  changes/2677.feature.md
  configs/webserver/sample.conf
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
  src/ai/backend/web/templates/config_ini.toml.j2
Labels: comp:webserver, size:XS

#2684 fix: WS connection not proxied through WSProxy to Firefox
  changes/2684.fix.md
  src/ai/backend/wsproxy/proxy/frontend/http/abc.py
Labels: type:bug

#2685 feat: add `max_gaudi2_devices_per_container` config on webserver
  changes/2685.feature.md
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: type:feature, comp:webserver, size:XS

#2683 fix: image without explicit metadata labels not working
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/manager/defs.py
Labels: type:bug, comp:manager, comp:agent, skip:changelog, size:XS

#2686 feat: add `max_atom_plus_device_per_container` config on webserver
  changes/2686.feature.md
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: type:feature

#2687 feat: add `max_atom_plus_device_per_container` config on webserver (#2686)
  changes/2686.feature.md
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: comp:webserver, size:XS, backport

#2682 feat: add `enable_LLM_playground` config on webserver (#2677)
  changes/2677.feature.md
  configs/webserver/sample.conf
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
  src/ai/backend/web/templates/config_ini.toml.j2
Labels: comp:webserver, size:XS, backport

#2669 chore: Add graphql module for better code base mgmt
  changes/2669.misc.md
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/graphql/BUILD
  src/ai/backend/manager/models/graphql/__init__.py
  src/ai/backend/manager/models/graphql/vfolder.py
  src/ai/backend/manager/models/vfolder.py
Labels: area:docs, comp:manager, size:XL

#2691 chore: rename module name from graphql to gql_models to resolve import confusion
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/BUILD
  src/ai/backend/manager/models/gql_models/__init__.py
  src/ai/backend/manager/models/gql_models/vfolder.py
Labels: area:docs, comp:manager, skip:changelog, size:S

#2608 fix: Remove duplicate CPU quota options when creating containers
  changes/2608.fix.md
  src/ai/backend/agent/docker/intrinsic.py
Labels: comp:agent, type:refactor

#2693 fix: Remove duplicate CPU quota options when creating containers (#2608)
  changes/2608.fix.md
  src/ai/backend/agent/docker/intrinsic.py
Labels: size:XS, backport

#2694 fix: Remove duplicate CPU quota options when creating containers (#2608)
  changes/2608.fix.md
  src/ai/backend/agent/docker/intrinsic.py
Labels: size:XS, backport

#2652 chore: Migrate SQLAlchemy scaling_groups table to declarative style
  src/ai/backend/manager/models/scaling_group.py
Labels: comp:manager, skip:changelog, size:L

#2696 fix: Scan parent directory of created qtree for robust check
  changes/2696.fix.md
  src/ai/backend/storage/netapp/__init__.py
Labels: comp:storage-proxy, size:XS

#2697 fix: Scan parent directory of created qtree for robust check (#2696)
  changes/2696.fix.md
  src/ai/backend/storage/netapp/__init__.py
Labels: comp:storage-proxy, size:XS, backport

#2377 feat: Scanning plugin entrypoints of external packages
  changes/2377.feature.md
  py
  src/ai/backend/agent/docker/metadata/server.py
  src/ai/backend/common/BUILD
  src/ai/backend/plugin/BUILD
  src/ai/backend/plugin/cli.py
  src/ai/backend/plugin/entrypoint.py
  wheelhouse/.gitignore
Labels: type:feature, comp:agent, comp:common, type:refactor, size:M, urgency:3

#2681 fix: Update `webserver` logout API to respond with HTTP 200 OK
  changes/2681.fix.md
  src/ai/backend/web/server.py
Labels: type:bug, comp:webserver

#2701 fix: Update `webserver` logout API to respond with HTTP 200 OK (#2681)
  changes/2681.fix.md
  src/ai/backend/web/server.py
Labels: comp:webserver, size:XS, backport

#2712 ci: Allow adding required GQL field argument to schema
  changes/2712.misc.md
  gql-inspector-checker.js
Labels: size:XS

#2706 fix:let vfolder GET requests contain data in params rather than body
  changes/2706.fix.md
  src/ai/backend/client/func/vfolder.py
  tests/client/test_vfolder.py
Labels: comp:client, type:refactor, size:S

#2713 fix:let vfolder GET requests contain data in params rather than body (#2706)
  changes/2706.fix.md
  src/ai/backend/client/func/vfolder.py
  tests/client/test_vfolder.py
Labels: comp:client, size:M, backport

#2714 fix:let vfolder GET requests contain data in params rather than body (#2706)
  changes/2706.fix.md
  src/ai/backend/client/func/vfolder.py
  tests/client/test_vfolder.py
Labels: comp:client, size:M, backport

#2710 chore: Move UserNode and GroupNode to gql_models module
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/group.py
  src/ai/backend/manager/models/gql_models/user.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/user.py
Labels: area:docs, comp:manager, skip:changelog, size:XL

#2709 feat: Configurable GQL query depth limit & Connection page limit
  changes/2709.feature.md
  src/ai/backend/manager/api/admin.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_relay.py
Labels: area:docs, comp:manager, size:M

#2670 feat: Let vfolder relay resolver use RBAC apis
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/vfolder.py
Labels: area:docs, comp:manager, skip:changelog, size:M

#2708 feat: Impl compute session RBAC interface
  src/ai/backend/manager/models/rbac/__init__.py
  src/ai/backend/manager/models/rbac/permission_defs.py
  src/ai/backend/manager/models/session.py
Labels: comp:manager, skip:changelog, size:L

#2715 feat: Add function loads batch idle check report
  src/ai/backend/manager/idle.py
  tests/manager/test_idle_checker.py
Labels: comp:manager, skip:changelog, size:L

#2717 feat: Allow `DataLoaderManager` to get a loader function by function itself
  changes/2717.feature.md
  src/ai/backend/manager/models/base.py
Labels: comp:manager, size:M

#2473 feat: Add Associate and Disassociate Scaling Groups with Domain, User Group, and KeyPair mutations
  changes/2473.feature.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/scaling_group.py
Labels: type:feature, area:docs, comp:manager, impact:visible, platform:general, size:L, urgency:2

#2725 feat: GQL resolvers for querying agent's total resource allocation (#2254)
  changes/2254.feature.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/scaling_group.py
Labels: comp:manager, size:M

#2724 feat: Add Associate and Disassociate Scaling Groups with Domain, User Group, and KeyPair mutations (#2473)
  changes/2473.feature.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/scaling_group.py
Labels: comp:manager, size:L, backport

#2729 feat: Enable robust DB connection handling (#1991)
  changes/1991.enhance.md
  configs/manager/halfstack.toml
  configs/manager/sample.toml
  src/ai/backend/manager/config.py
  src/ai/backend/manager/models/utils.py
  tests/manager/conftest.py
Labels: comp:manager, size:S

#2502 feat: add tests for utility functions in wsproxy(app proxy)
  tests/wsproxy/BUILD
  tests/wsproxy/test_utils.py
Labels: type:refactor, comp:appproxy, skip:changelog, size:L

#2733 feat: add tests for utility functions in wsproxy(app proxy) (#2502)
  tests/wsproxy/BUILD
  tests/wsproxy/test_utils.py
Labels: size:L, backport

#2734 feat: add tests for _ensure_slot method in PortFrontend (#2480)
  src/ai/backend/wsproxy/proxy/frontend/http/port.py
  tests/wsproxy/proxy/BUILD
  tests/wsproxy/proxy/test_port.py
Labels: size:L, backport

#2584 fix: return `null` for missing user and group fields in VFolder lookup API response
  changes/2584.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: type:feature, area:docs, comp:manager, effort:easy, impact:visible, platform:general, size:XS, status:open

#2735 fix: return `null` for missing user and group fields in VFolder lookup API response (#2584)
  changes/2584.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: comp:manager, size:XS, backport

#2743 fix: Handle fs error when deleting vfolder (#2741)
  changes/2741.fix.md
  src/ai/backend/storage/api/manager.py
Labels: comp:storage-proxy, size:XS, backport

#2744 fix: Handle fs error when deleting vfolder (#2741)
  changes/2741.fix.md
  src/ai/backend/storage/api/manager.py
Labels: comp:storage-proxy, size:XS, backport

#2742 fix: typo in VFolder status update
  changes/2742.fix.md
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:XS

#2731 fix: vfolder id doesn't match in `list_shared_vfolders`
  changes/2731.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: urgency:blocker, area:docs, comp:manager, size:XS, backport

#2740 feat: Add new vfolder API to update sharing status
  changes/2740.feature.md
  src/ai/backend/manager/api/vfolder.py
Labels: area:docs, comp:manager, size:M

#2748 feat: Add new vfolder API to update sharing status (#2740)
  changes/2740.feature.md
  src/ai/backend/manager/api/vfolder.py
Labels: comp:manager, size:M, backport

#2745 fix: typo in VFolder status update (#2742)
  changes/2742.fix.md
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:XS, backport

#2723 feat: enable filter order in endpoint model
  changes/2723.feature.md
  src/ai/backend/manager/models/endpoint.py
Labels: comp:manager, size:M

#2754 fix: Correct `msgpack` deserialization of `ResourceSlot`
  changes/2754.fix.md
  src/ai/backend/common/msgpack.py
  tests/common/test_msgpack.py
Labels: type:bug, comp:common, size:S

#2756 fix: Correct `msgpack` deserialization of `ResourceSlot` (#2754)
  changes/2754.fix.md
  src/ai/backend/common/msgpack.py
  tests/common/test_msgpack.py
Labels: size:S, backport

#2761 fix: Regression of `session create-from-template` command
  changes/2761.fix.md
  src/ai/backend/client/cli/session/lifecycle.py
Labels: type:bug, comp:client, comp:cli, size:XS

#2762 fix: Regression of `session create-from-template` command (#2761)
  changes/2761.fix.md
  src/ai/backend/client/cli/session/lifecycle.py
Labels: comp:client, size:XS, backport

#2752 feat: enable filter order in endpoint model (#2723)
  changes/2723.feature.md
  src/ai/backend/manager/models/endpoint.py
Labels: comp:manager, size:M, backport

#2763 refactor: Replace deprecated `log.warn()` with `log.warning()`
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/common/redis_client.py
  src/ai/backend/kernel/base.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/storage/purestorage/__init__.py
  src/ai/backend/wsproxy/api/proxy.py
Labels: comp:manager, comp:agent, comp:common, comp:storage-proxy, type:refactor, skip:changelog, size:S

#2765 fix: Silence `model_` namespace warnings in pydantic models
  changes/2765.fix.md
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/service.py
Labels: type:maintenance, area:docs, comp:manager, comp:common, size:XS

#2767 fix: Silence `model_` namespace warnings in pydantic models (#2765)
  changes/2765.fix.md
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/service.py
Labels: comp:manager, size:XS, backport

#2766 refactor: Replace deprecated `log.warn()` with `log.warning()` (#2763)
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/common/redis_client.py
  src/ai/backend/kernel/base.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/storage/purestorage/__init__.py
  src/ai/backend/wsproxy/api/proxy.py
Labels: comp:manager, comp:storage-proxy, size:S

#2769 fix: Mishandling of undefined value in the `ModifyImage` mutation
  changes/2028.fix.md
  src/ai/backend/manager/models/image.py
Labels: comp:manager, size:XS, backport

#2770 fix: Mishandling of undefined value in the `ModifyImage` mutation
  changes/2028.fix.md
  src/ai/backend/manager/models/image.py
Labels: comp:manager, size:XS, backport

#2771 fix: Make the config file be treated as multiline by re
  changes/2771.fix.md
  src/ai/backend/install/context.py
Labels: type:bug, comp:installer, size:S

#2772 fix: Make the config file be treated as multiline by re (#2771)
  changes/2771.fix.md
  src/ai/backend/install/context.py
Labels: size:S, backport

#2768 fix: Reflect `target_path` changes in `PackageContext`
  changes/2768.fix.md
  src/ai/backend/install/cli.py
Labels: type:bug, comp:installer, size:M

#2775 fix: Reflect `target_path` changes in `PackageContext` (#2768)
  changes/2768.fix.md
  src/ai/backend/install/cli.py
Labels: size:M, backport

#2777 fix: Omit null parameter when call usage per period API
  changes/2777.fix.md
  src/ai/backend/client/func/resource.py
  src/ai/backend/manager/api/resource.py
Labels: comp:client, size:S

#2778 fix: Omit null parameter when call usage per period API (#2777)
  changes/2777.fix.md
  src/ai/backend/client/func/resource.py
  src/ai/backend/manager/api/resource.py
Labels: comp:manager, comp:client, size:S, backport

#2786 fix: Handle container port mismatch when creating kernel
  changes/2786.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: comp:agent, size:S

#2787 fix: Handle container port mismatch when creating kernel (#2786)
  changes/2786.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: size:S, backport

#2785 chore: change vastdata API token span
  src/ai/backend/storage/vast/vastdata_client.py
Labels: skip:changelog

#2790 chore: change vastdata API token span (#2785)
  src/ai/backend/storage/vast/vastdata_client.py
Labels: comp:storage-proxy, size:XS, backport

#2784 chore: Add a helper script to esaily access the scie's internal shell
  scripts/scie-shell.sh
Labels: area:infrastructure, type:maintenance, skip:changelog

#2688 chore: Introduce Account-manager
  .gitignore
  changes/2688.feature.md
  configs/account-manager/halfstack.alembic.ini
  configs/account-manager/halfstack.toml
  configs/account-manager/sample.toml
  scripts/install-dev.sh
  src/ai/backend/account_manager/BUILD
  src/ai/backend/account_manager/VERSION
  src/ai/backend/account_manager/__init__.py
  src/ai/backend/account_manager/api/BUILD
  src/ai/backend/account_manager/api/__init__.py
  src/ai/backend/account_manager/api/application.py
  src/ai/backend/account_manager/api/auth.py
  src/ai/backend/account_manager/api/utils.py
  src/ai/backend/account_manager/cli/BUILD
  src/ai/backend/account_manager/cli/__init__.py
  src/ai/backend/account_manager/cli/__main__.py
  src/ai/backend/account_manager/cli/context.py
  src/ai/backend/account_manager/config.py
  src/ai/backend/account_manager/context.py
  src/ai/backend/account_manager/exceptions.py
  src/ai/backend/account_manager/models/BUILD
  src/ai/backend/account_manager/models/__init__.py
  src/ai/backend/account_manager/models/alembic/BUILD
  src/ai/backend/account_manager/models/alembic/README
  src/ai/backend/account_manager/models/alembic/__init__.py
  src/ai/backend/account_manager/models/alembic/env.py
  src/ai/backend/account_manager/models/alembic/script.py.mako
  src/ai/backend/account_manager/models/alembic/versions/__init__.py
  src/ai/backend/account_manager/models/base.py
  src/ai/backend/account_manager/models/utils.py
  src/ai/backend/account_manager/plugin.py
  src/ai/backend/account_manager/server.py
  src/ai/backend/account_manager/types.py
  src/ai/backend/account_manager/utils.py
  src/ai/backend/common/config.py
Labels: comp:common, comp:installer, size:XL

#2757 fix: Correct `msgpack` deserialization of `ResourceSlot` (#2754)
  changes/2754.fix.md
  src/ai/backend/common/msgpack.py
  tests/common/test_msgpack.py
Labels: size:S, backport

#2794 chore: Update account manager side model execute_with_txn_retry interface
  src/ai/backend/account_manager/models/utils.py
Labels: skip:changelog, size:L
