Repository lablup/backend.ai, pull requests merged in 2024-06, with the labels that each got.

#2236 fix: `endpoint.errors` GQL Field resolver raising error
  changes/2236.fix.md
  src/ai/backend/manager/models/endpoint.py
Labels: type:bug, comp:manager, size:XS

#2237 fix: disallow mounting `MODEL` VFolders via extra_mounts on model service
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/models/endpoint.py
Labels: type:bug, area:docs, comp:manager, skip:changelog, size:S

#2240 fix: GQL Field resolver raising error (#2236)
  changes/2236.fix.md
  src/ai/backend/manager/models/endpoint.py
Labels: comp:manager, size:XS, backport

#2242 fix: disallow mounting VFolders via extra_mounts on model service (#2237)
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/models/endpoint.py
Labels: comp:manager, size:S, backport

#2239 fix: missing eager load to `aliases` row
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/models/kernel.py
Labels: type:bug, comp:manager, skip:changelog, size:XS

#2243 fix: GQL Query returning every images (#2238)
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/image.py
Labels: comp:manager, skip:changelog, size:S, backport

#2244 fix: missing eager load to `aliases` row (#2239)
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager, size:XS, backport

#2246 fix: Let GQL images resolver filter out image objects correctly
  src/ai/backend/manager/models/image.py
Labels: urgency:blocker, comp:manager, skip:changelog, size:M

#2248 fix: images resolver not filtering out image objects correctly (#2246)
  src/ai/backend/manager/models/image.py
Labels: comp:manager, size:M, backport

#2247 ci: Missing string in backticks in commit message of backport PR
  .github/workflows/backport.yml
Labels: area:infrastructure, skip:changelog, size:XS, flow:merge-queue

#2252 ci: Check whether the branch actually exists
  .github/workflows/backport.yml
Labels: area:infrastructure, skip:changelog, size:XS, flow:merge-queue

#2261 ci: If a graphite-related label is added, actions are not executed
  .github/workflows/alembic-head-check.yml
  .github/workflows/default.yml
  .github/workflows/docs-preview.yml
  .github/workflows/timeline-check.yml
Labels: area:infrastructure, skip:changelog

#2265 ci: Explicitly adding permissions because the default permissions have changed
  .github/workflows/timeline-check.yml
Labels: skip:changelog, size:XS

#2267 ci: Bump graphql-inspector from 4.0.2 to 5.0.6
  .github/workflows/update-api-schema.yml
Labels: skip:changelog, size:XS

#2088 feature: enhanced PostgreSQL connection mgmt
  src/ai/backend/manager/models/utils.py
  tests/manager/models/test_dbutils.py
Labels: comp:manager, skip:changelog, size:L, flow:merge-queue

#2128 fix: Wrong SQL query build for GQL Relay node
  changes/2128.fix.md
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/models/vfolder.py
Labels: type:bug, comp:manager, size:L, urgency:3

#2269 ci: Check whether the milestone actually exists as a branch
  .github/workflows/backport.yml
Labels: skip:changelog, size:XS

#2041 feat: bespoke redis client and event dispatcher
  changes/2041.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
  src/ai/backend/common/events_experimental.py
  src/ai/backend/common/redis_client.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/config.py
  src/ai/backend/storage/server.py
  tests/common/test_distributed.py
  tests/common/test_events.py
Labels: type:feature, comp:manager, comp:agent, comp:common, comp:storage-proxy, size:XL

#2277 feat: bespoke redis client and event dispatcher (#2041)
  changes/2041.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
  src/ai/backend/common/events_experimental.py
  src/ai/backend/common/redis_client.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/config.py
  src/ai/backend/storage/server.py
  tests/common/test_distributed.py
  tests/common/test_events.py
Labels: comp:manager, comp:storage-proxy, size:XL, backport

#1832 fix: update session's occupying slots when kernel starts
  changes/1832.fix.md
  src/ai/backend/common/types.py
  src/ai/backend/manager/models/alembic/versions/679e5721e94d_sync_session_occupying_slots_to_sibling_.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, comp:common, require:db-migration, size:L, urgency:4

#2220 feat: Add CentOS 8.0 binaries
  changes/2220.feature.md
  scripts/agent/build-dropbear.sh
  scripts/agent/build-sftpserver.sh
  scripts/agent/build-suexec.sh
  scripts/agent/build-tmux.sh
  src/ai/backend/runner/dropbear.centos8.0.aarch64.bin
  src/ai/backend/runner/dropbear.centos8.0.x86_64.bin
  src/ai/backend/runner/dropbearconvert.centos8.0.aarch64.bin
  src/ai/backend/runner/dropbearconvert.centos8.0.x86_64.bin
  src/ai/backend/runner/dropbearkey.centos8.0.aarch64.bin
  src/ai/backend/runner/dropbearkey.centos8.0.x86_64.bin
  src/ai/backend/runner/jail.centos8.0.x86_64.bin
  src/ai/backend/runner/libbaihook.centos8.0.aarch64.so
  src/ai/backend/runner/libbaihook.centos8.0.x86_64.so
  src/ai/backend/runner/scp.centos8.0.aarch64.bin
  src/ai/backend/runner/scp.centos8.0.x86_64.bin
  src/ai/backend/runner/sftp-server.centos8.0.aarch64.bin
  src/ai/backend/runner/sftp-server.centos8.0.x86_64.bin
  src/ai/backend/runner/su-exec.centos8.0.aarch64.bin
  src/ai/backend/runner/su-exec.centos8.0.x86_64.bin
  src/ai/backend/runner/tmux.centos8.0.aarch64.bin
  src/ai/backend/runner/tmux.centos8.0.x86_64.bin
Labels: size:L

#2278 feat: Add CentOS 8.0 binaries (#2220)
  changes/2220.feature.md
  scripts/agent/build-dropbear.sh
  scripts/agent/build-sftpserver.sh
  scripts/agent/build-suexec.sh
  scripts/agent/build-tmux.sh
  src/ai/backend/runner/dropbear.centos8.0.aarch64.bin
  src/ai/backend/runner/dropbear.centos8.0.x86_64.bin
  src/ai/backend/runner/dropbearconvert.centos8.0.aarch64.bin
  src/ai/backend/runner/dropbearconvert.centos8.0.x86_64.bin
  src/ai/backend/runner/dropbearkey.centos8.0.aarch64.bin
  src/ai/backend/runner/dropbearkey.centos8.0.x86_64.bin
  src/ai/backend/runner/jail.centos8.0.x86_64.bin
  src/ai/backend/runner/libbaihook.centos8.0.aarch64.so
  src/ai/backend/runner/libbaihook.centos8.0.x86_64.so
  src/ai/backend/runner/scp.centos8.0.aarch64.bin
  src/ai/backend/runner/scp.centos8.0.x86_64.bin
  src/ai/backend/runner/sftp-server.centos8.0.aarch64.bin
  src/ai/backend/runner/sftp-server.centos8.0.x86_64.bin
  src/ai/backend/runner/su-exec.centos8.0.aarch64.bin
  src/ai/backend/runner/su-exec.centos8.0.x86_64.bin
  src/ai/backend/runner/tmux.centos8.0.aarch64.bin
  src/ai/backend/runner/tmux.centos8.0.x86_64.bin
Labels: size:L, backport

#2255 feat: allow modifying model service env var
  changes/2255.feature.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/endpoint.py
Labels: type:feature, comp:manager, comp:common, size:XS

#2279 feat: allow modifying model service env var (#2255)
  changes/2255.feature.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/endpoint.py
Labels: comp:manager, size:XS, backport

#2256 feat: keystone works for storing `runtime_variant` column
  changes/2256.feature.md
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/models/alembic/versions/5d92c9cc930c_add_runtime_variant_column.py
  src/ai/backend/manager/models/endpoint.py
Labels: area:docs, comp:manager, comp:common, require:db-migration, size:L

#2257 feat: update REST API to alter `runtime_variant` option
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/registry.py
Labels: area:docs, comp:manager, comp:common, skip:changelog, size:M

#2258 feat: add new API to show list of supported runtimes
  changes/2258.feature.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/models/endpoint.py
Labels: area:docs, comp:manager, comp:common, size:M

#2259 feat: create and implement `AbstractAgent.extract_image_command()` interface
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/kubernetes/agent.py
Labels: comp:agent, skip:changelog, size:S

#2260 feat: automatic model definition creation based on selected runtime variant
  changes/2260.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/kernel/base.py
  src/ai/backend/manager/api/service.py
Labels: area:docs, comp:manager, comp:agent, size:L

#2280 feat: keystone works for storing `runtime_variant` column (#2256)
  changes/2256.feature.md
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/models/alembic/versions/5d92c9cc930c_add_runtime_variant_column.py
  src/ai/backend/manager/models/endpoint.py
Labels: comp:manager, require:db-migration, size:L, backport

#2281 feat: update REST API to alter `runtime_variant` option (#2257)
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:M, backport

#2285 ci: Grant write permission required for actions
  .github/workflows/update-api-schema.yml
Labels: skip:changelog, size:XS

#2283 feat: create and implement `AbstractAgent.extract_image_command()` interface (#2259)
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/kubernetes/agent.py
Labels: comp:manager, comp:agent, comp:client, comp:webserver, require:db-migration, size:S, backport

#2284 feat: automatic model definition creation based on selected runtime variant (#2260)
  changes/2260.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/kernel/base.py
  src/ai/backend/manager/api/service.py
Labels: area:docs, comp:manager, comp:agent, size:L, backport

#2286 fix: invalid msgpack package utilized on experimental `EventDispatcher`
  src/ai/backend/common/events_experimental.py
  src/ai/backend/common/redis_client.py
Labels: comp:common, skip:changelog, size:M

#2292 fix: invalid msgpack package utilized on experimental `EventDispatcher` (#2286)
  src/ai/backend/common/events_experimental.py
  src/ai/backend/common/redis_client.py
Labels: comp:common, skip:changelog, size:M, backport

#2287 fix: incorrect parameter defined under `endpoint_list` query
  changes/2287.fix.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/gql.py
Labels: type:bug, area:docs, comp:manager, size:XS

#2294 fix: incorrect parameter defined under `endpoint_list` query (#2287)
  changes/2287.fix.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/gql.py
Labels: area:docs, comp:manager, size:XS, backport

#2293 fix: incorrect parameter defined under `endpoint_list` query (#2287)
  changes/2287.fix.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/gql.py
Labels: comp:manager, size:S, backport

#2288 fix: `ai.backend.service-ports` container label syntax broken
  changes/2288.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: type:bug, comp:agent, size:XS

#2295 fix: `ai.backend.service-ports` container label syntax broken (#2288)
  changes/2288.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: comp:agent, size:XS, backport

#2296 fix: `ai.backend.service-ports` container label syntax broken (#2288)
  changes/2288.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: size:XS, backport

#2289 fix: improve stability of `untag_image_from_registry` mutation
  changes/2289.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: type:bug, comp:manager, size:S

#2297 fix: improve stability of `untag_image_from_registry` mutation (#2289)
  changes/2289.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: comp:manager, size:S, backport

#2291 fix: invalid container memory capacity reported
  changes/2291.fix.md
  src/ai/backend/agent/docker/intrinsic.py
Labels: type:bug, comp:agent, size:S

#2298 fix: invalid container memory capacity reported (#2291)
  changes/2291.fix.md
  src/ai/backend/agent/docker/intrinsic.py
Labels: comp:agent, size:S, backport

#2290 fix: SSH not working between kernels started with customized image
  changes/2290.fix.md
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/kernel/intrinsic.py
Labels: type:bug, comp:agent, size:XS

#2302 chore(deps): bump actions/setup-python from 4 to 5 (#1981)
  .github/workflows/update-api-schema.yml
Labels: size:XS, backport

#2303 ci: Bump action-gh-release from v1 to v2
  .github/workflows/default.yml
Labels: skip:changelog, size:XS

#2304 ci: Bump action-gh-release from v1 to v2 (#2303)
  .github/workflows/default.yml
Labels: size:XS, backport

#2305 ci: Bump action-gh-release from v1 to v2 (#2303)
  .github/workflows/default.yml
Labels: size:XS, backport

#2112 ci: Bump init-pants from v5 to v8
  .github/workflows/default.yml
Labels: skip:changelog, size:XS

#2309 chore: Migrate imperative `kernels` table to declarative `KernelRow` ORM class
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager, skip:changelog, size:L, flow:merge-queue

#2271 chore: Add `vfolders.domain_name` and `vfolder_permissions.id`
  src/ai/backend/manager/models/alembic/versions/d7df3baf3779_add_vfolders_domain_name.py
  src/ai/backend/manager/models/alembic/versions/fdb2dcdb8811_add_vfolder_permissions_id.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, skip:changelog, require:db-migration, size:M

#2320 fix: model service scheduler raising error
  changes/2320.fix.md
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: type:bug, comp:manager, size:S

#2322 fix: model service scheduler raising error (#2320)
  changes/2320.fix.md
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, size:S, backport

#2321 hotfix: metric collection not working
  changes/2321.fix.md
  src/ai/backend/agent/docker/intrinsic.py
Labels: type:bug, comp:agent, size:XS

#2323 hotfix: metric collection not working (#2321)
  changes/2321.fix.md
  src/ai/backend/agent/docker/intrinsic.py
Labels: size:XS, backport

#2319 hotfix: container commit not working
  changes/2319.fix.md
  src/ai/backend/agent/docker/kernel.py
Labels: type:bug, comp:agent, size:XS

#2324 hotfix: container commit not working (#2319)
  changes/2319.fix.md
  src/ai/backend/agent/docker/kernel.py
Labels: size:XS, backport

#2318 hotfix: invalid enum string set as fallback value
  changes/2318.fix.md
  src/ai/backend/agent/agent.py
Labels: type:bug, comp:agent, size:XS

#2325 hotfix: invalid enum string set as fallback value (#2318)
  changes/2318.fix.md
  src/ai/backend/agent/agent.py
Labels: size:XS, backport

#2328 fix: insert vfolders with `domain_name`
  src/ai/backend/manager/api/vfolder.py
Labels: area:docs, comp:manager, skip:changelog, size:XS

#2329 chore: Allow installing local wheels for local testing
  pants.toml
  wheelhouse/.gitignore
  wheelhouse/README.md
Labels: area:infrastructure, skip:changelog, type:enhance, size:S, flow:merge-queue

#2331 ci: Change lfs to use actions/cache in test job (#1897)
  .github/workflows/default.yml
Labels: size:XS, backport

#2340 fix: insert vfolders with domain_name when clone
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/vfolder.py
Labels: area:docs, comp:manager, skip:changelog, size:XS

#2250 fix: Allow GraphQL query to non-installed images
  changes/2250.fix.md
  src/ai/backend/manager/models/gql.py
Labels: type:bug, area:docs, comp:manager, size:XS
