Repository lablup/backend.ai, pull requests merged in 2024-03, with the labels that each got.

#1946 fix: Typo in 714c119 using f-string (follow-up of follow-up of #1938)
  src/ai/backend/client/session.py
Labels: type:bug, comp:client, skip:changelog, size:XS

#1939 fix: Update callosum and other deps to improve malformed packet handling in agent RPC
  changes/1939.deps.md
  python.lock
  requirements.txt
Labels: type:maintenance, urgency:blocker, area:upstream, size:XS

#1935 fix: unreasonable `ondelete` restrictions of certain foreign keys
  changes/1935.fix.md
  src/ai/backend/manager/api/exceptions.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/alembic/versions/589c764a18f1_change_endpoint_to_nullable.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/utils.py
Labels: comp:manager, require:db-migration, size:L

#1948 feat: new column limiting number of model service sessions
  changes/1948.feature.md
  fixtures/manager/example-users.json
  src/ai/backend/manager/api/auth.py
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/models/alembic/versions/75ea2b136830_add_user_resource_policies_max_session_.py
  src/ai/backend/manager/models/resource_policy.py
  tests/manager/conftest.py
Labels: type:feature, comp:manager, require:db-migration, size:L

#1950 fix: Use `buildDate` to access web static build version
  changes/1950.fix.md
  scripts/install-dev.sh
Labels: size:XS

#1951 fix: graylog log backend not initiated
  changes/1951.fix.md
  src/ai/backend/common/logging.py
Labels: type:bug, size:S

#1922 feat: Add the non-intercative mode to the TUI installer
  changes/1922.feature.md
  python.lock
  requirements.txt
  src/ai/backend/install/cli.py
  src/ai/backend/install/context.py
  src/ai/backend/install/fixtures/example-set-user-main-access-keys.json
  src/ai/backend/install/fixtures/example-users.json
  src/ai/backend/install/types.py
Labels: type:feature, comp:installer, size:L, urgency:4

#1958 feat: add headless flag option to installer
  changes/1958.feature.md
  src/ai/backend/install/cli.py
Labels: comp:cli, comp:installer, effort:easy, type:enhance, impact:visible, platform:general, size:XS, urgency:4

#1962 fix: Disable krunner's user site to avoid potential conflicts with user-installed packages
  changes/1962.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/kernel/base.py
  src/ai/backend/runner/entrypoint.sh
Labels: type:bug, comp:agent, size:S, urgency:3

#1966 feat: Always enable the `cuda_open` plugin in the TUI (scie) installer
  changes/1966.feature.md
  docs/install/install-from-package/install-agent.rst
  src/ai/backend/install/context.py
Labels: comp:agent, comp:installer, effort:easy, type:enhance, size:S

#1965 docs: resize font-size of ads
  changes/1965.doc.md
  docs/_static/css/customTheme.css
Labels: area:docs, size:XS

#1963 fix: alembic migration failing when primary key does not exist
  changes/1963.fix.md
  src/ai/backend/manager/models/alembic/versions/589c764a18f1_change_endpoint_to_nullable.py
  src/ai/backend/manager/models/alembic/versions/caf54fcc17ab_add_id_columns_to_association_tables.py
Labels: comp:manager, require:db-migration, size:S

#1969 ci: Bump auto-label-in-issue from 1.6.0 to 1.7.0
  .github/workflows/auto-label.yml
Labels: area:infrastructure, skip:changelog, size:XS

#1953 ci: Delete flake8 configuration files that are no longer used
  .flake8
Labels: skip:changelog, size:S

#1941 fix: modify the code logic to check for the existence of min/max in `resource_limits`.
  changes/1941.fix.md
  src/ai/backend/manager/models/image.py
Labels: type:bug, comp:manager, effort:easy, impact:invisible, size:XS, urgency:3

#1972 feat: Use pipeline.endpoint as default for pipeline.frontend-endpoint
  changes/1972.feature.md
  src/ai/backend/common/config.py
  src/ai/backend/web/config.py
  src/ai/backend/web/server.py
  src/ai/backend/web/templates/config.toml.j2
Labels: comp:webserver, size:S

#1805 feature: filter `compute_session` query by `user_id`
  changes/1805.feature.md
  src/ai/backend/manager/models/session.py
Labels: comp:manager, size:XS

#1968 ci: Cancel build if there are no changes in the docs directory
  .readthedocs.yml
Labels: type:bug, area:infrastructure, skip:changelog, size:XS

#1671 ci: When models change, dump gql schema
  .github/workflows/update-api-schema.yml
  custom-rule.js
  docs/README.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/api/spec.py
  src/ai/backend/manager/cli/api.py
  src/ai/backend/manager/vendor/graphiql.min.css
  src/ai/backend/manager/vendor/graphiql.min.js
  src/ai/backend/manager/vendor/react-dom.production.min.js
  src/ai/backend/manager/vendor/react.production.min.js
Labels: comp:manager, comp:webserver, skip:changelog, size:XL

#1801 doc: Client fetch API has deprecated synchronous context manager
  changes/1801.doc.md
  src/ai/backend/client/request.py
Labels: comp:client, size:S

#1750 fix: detect container port allocation collision when starting session
  changes/1750.fix.md
  src/ai/backend/agent/agent.py
Labels: type:bug, comp:agent, size:S

#1967 docs: resize only on footer text in ads popup
  changes/1967.doc.md
  docs/_static/css/customTheme.css
Labels: area:docs, size:XS

#1977 chore: Upgrade pants to 2.19.1
  .github/workflows/default.yml
  pants.toml
Labels: area:infrastructure, type:maintenance, skip:changelog, impact:invisible, size:XS

#1979 chore: Revert response type of service create API
  changes/1979.misc.md
  src/ai/backend/manager/api/service.py
Labels: comp:manager, size:S

#1982 chore: update GraphQL API Schema file to latest
  src/ai/backend/manager/api/schema.graphql
Labels: skip:changelog, size:L

#1838 feat: Enhance VFolder mount with additional explicit and verbose options
  changes/1838.feature.md
  src/ai/backend/client/cli/session/args.py
  src/ai/backend/client/cli/session/execute.py
  src/ai/backend/client/cli/session/lifecycle.py
  src/ai/backend/client/func/session.py
  src/ai/backend/common/models/minilang/BUILD
  src/ai/backend/common/models/minilang/mount.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/exceptions.py
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/vfolder.py
  src/ai/backend/manager/registry.py
  tests/client/cli/test_mount.py
Labels: type:bug, type:feature, comp:manager, comp:client, comp:cli, effort:easy, size:L, urgency:1

#1725 fix: single agent per kernel resource usage
  changes/1725.fix.md
  src/ai/backend/manager/models/resource_usage.py
Labels: comp:manager, size:XS
