Repository lablup/backend.ai, pull requests merged in 2024-11, with the labels that each got.

#3015 fix: `backend.ai apps` command's faulty argument handling logic
  changes/3015.fix.md
  src/ai/backend/client/cli/app.py
Labels: type:bug, comp:client, comp:cli, size:XS

#2774 fix: Reflect `target_path` changes in `PackageContext` (#2768)
  changes/2768.fix.md
  src/ai/backend/install/cli.py
Labels: size:M, backport

#3021 fix: `backend.ai apps` command's faulty argument handling logic (#3015)
  changes/3015.fix.md
  src/ai/backend/client/cli/app.py
Labels: comp:client, size:XS, backport

#3022 fix: `backend.ai apps` command's faulty argument handling logic (#3015)
  changes/3015.fix.md
  src/ai/backend/client/cli/app.py
Labels: comp:client, size:XS, backport

#3013 fix: `Agent` GQL Regression error
  changes/3013.fix.md
  src/ai/backend/manager/models/__init__.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/agent.py
Labels: type:bug, comp:manager, size:XS

#3010 feat: add pipeline menu to blocklist in webserver configs
  changes/3010.feature.md
  configs/webserver/halfstack.conf
  configs/webserver/sample.conf
Labels: comp:webserver, size:XS

#3024 feat: add pipeline menu to blocklist in webserver configs (#3010)
  changes/3010.feature.md
  configs/webserver/halfstack.conf
  configs/webserver/sample.conf
Labels: comp:webserver, size:XS, backport

#3023 fix: Check Vast data quota with the given quota name exists
  changes/3023.fix.md
  src/ai/backend/storage/vast/__init__.py
  src/ai/backend/storage/vast/config.py
  src/ai/backend/storage/vast/vastdata_client.py
Labels: comp:storage-proxy, size:M

#3025 fix: Check Vast data quota with the given quota name exists (#3023)
  changes/3023.fix.md
  src/ai/backend/storage/vast/__init__.py
  src/ai/backend/storage/vast/config.py
  src/ai/backend/storage/vast/vastdata_client.py
Labels: comp:storage-proxy, size:M, backport

#3026 fix: Check Vast data quota with the given quota name exists (#3023)
  changes/3023.fix.md
  src/ai/backend/storage/vast/__init__.py
  src/ai/backend/storage/vast/config.py
  src/ai/backend/storage/vast/vastdata_client.py
Labels: comp:storage-proxy, size:M, backport

#2939 feat: Add info fields to GQL image schema
  changes/2939.feature.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/gql_models/image.py
Labels: comp:manager, size:S

#2997 fix: customized image not pushed when target registry diverges
  changes/2997.fix.md
  src/ai/backend/common/docker.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/container_registry/harbor.py
Labels: type:bug, area:docs, comp:manager, comp:common, size:S

#3030 fix: customized image not pushed when target registry diverges (#2997)
  changes/2997.fix.md
  src/ai/backend/common/docker.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/container_registry/harbor.py
Labels: type:bug, area:docs, comp:manager, comp:common, size:S, backport

#3038 refactor: Make `project` column nullable and improve container registry migration script (#2978)
  changes/2978.fix.md
  src/ai/backend/common/docker.py
  src/ai/backend/manager/models/alembic/versions/1d42c726d8a3_migrate_container_registries_from_etcd_to_psql.py
  src/ai/backend/manager/models/alembic/versions/7c8501cec07b_add_project_column_to_images_table.py
  src/ai/backend/manager/models/container_registry.py
  src/ai/backend/manager/models/image.py
Labels: comp:manager, comp:common, require:db-migration, size:L, backport

#3040 fix: Update `get_container_logs()` method to handle unassigned kernels (#3032)
  changes/3032.fix.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:XS, backport

#3039 fix: Update `get_container_logs()` method to handle unassigned kernels (#3032)
  changes/3032.fix.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:XS, backport

#3027 fix: model service traffic not distributed equally
  changes/.fix.md
  src/ai/backend/manager/models/session.py
Labels: type:bug, comp:manager, size:XS

#3043 fix: model service traffic not distributed equally (#3027)
  changes/3043.fix.md
  src/ai/backend/manager/models/session.py
Labels: type:bug, comp:manager, size:XS, backport

#3044 fix: model service traffic not distributed equally (#3027)
  changes/3044.fix.md
  src/ai/backend/manager/models/session.py
Labels: type:bug, comp:manager, size:XS, backport

#3048 refactor: Add Image batch loader function
  src/ai/backend/manager/models/gql_models/image.py
Labels: comp:manager, skip:changelog, size:M

#3049 refactor: Add Image batch loader function (#3048)
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/gql_models/image.py
Labels: comp:manager, skip:changelog, size:M, backport

#3037 chore: Allow kwargs only for batch-load function
  src/ai/backend/manager/models/base.py
Labels: comp:manager, skip:changelog, size:XS

#3050 refactor: Add Image batch loader function (#3048)
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/image.py
Labels: skip:changelog, backport

#3059 fix: broken news fragment
  changes/3027.fix.md
Labels: skip:changelog

#3069 fix: Include missing legacy logging module in the pex (#3054)
  .github/workflows/assign-pr-number.yml
  changes/3054.fix.md
  src/ai/backend/agent/BUILD
  src/ai/backend/manager/BUILD
  src/ai/backend/storage/BUILD
  src/ai/backend/web/BUILD
Labels: type:bug, backport

#3042 fix: Broken `ComputeContainer` GQL
  changes/3042.fix.md
  src/ai/backend/manager/models/kernel.py
Labels: type:bug, comp:manager, size:XS

#3070 fix: Broken `ComputeContainer` GQL (#3042)
  changes/3042.fix.md
  src/ai/backend/manager/models/kernel.py
Labels: type:bug, comp:manager, size:S, backport

#3071 fix: Broken `ComputeContainer` GQL (#3042)
  changes/3042.fix.md
  src/ai/backend/manager/models/kernel.py
Labels: type:bug, comp:manager, size:S, backport

#3061 fix: Change vfolder name when deleted to allow reusing the name
  changes/3061.fix.md
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:S

#3073 fix: Change vfolder name when deleted to allow reusing the name (#3061)
  changes/3061.fix.md
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:S, backport

#3075 fix: invalid `selected_route` calculation logic
  changes/3075.fix.md
  src/ai/backend/wsproxy/proxy/backend/http.py
  src/ai/backend/wsproxy/proxy/backend/tcp.py
Labels: comp:appproxy, size:XS

#3077 fix: invalid `selected_route` calculation logic (#3075)
  changes/3075.fix.md
  src/ai/backend/wsproxy/proxy/backend/http.py
  src/ai/backend/wsproxy/proxy/backend/tcp.py
Labels: comp:appproxy, size:XS, backport

#3076 fix: invalid `selected_route` calculation logic (#3075)
  changes/3075.fix.md
  src/ai/backend/wsproxy/proxy/backend/http.py
  src/ai/backend/wsproxy/proxy/backend/tcp.py
Labels: comp:appproxy, size:XS, backport

#3078 fix: Broken `ComputeContainer.batch_load_detail` due to misuse of `selectinload`
  changes/3078.fix.md
  src/ai/backend/manager/models/kernel.py
Labels: type:bug, comp:manager, size:XS

#3081 fix: Broken `ComputeContainer.batch_load_detail` due to misuse of `selectinload` (#3078)
  changes/3078.fix.md
  src/ai/backend/manager/models/kernel.py
Labels: type:bug, comp:manager, size:XS, backport

#3079 fix: Broken `ComputeContainer.batch_load_detail` due to misuse of `selectinload` (#3078)
  changes/3078.fix.md
  src/ai/backend/manager/models/kernel.py
Labels: type:bug, comp:manager, size:XS, backport

#3062 chore: Add VFolderID string deserializer function
  src/ai/backend/common/types.py
Labels: comp:common, skip:changelog, size:S

#3083 ci: Remove the `git-auto-commit` dependency
  .github/workflows/assign-pr-number.yml
  .github/workflows/update-api-schema.yml
Labels: skip:changelog, size:M

#3074 fix: Change vfolder name when deleted to allow reusing the name (#3061)
  changes/3061.fix.md
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:M, backport

#3046 fix: Regression of `LegacyComputeSession` GQL
  changes/3046.fix.md
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/kernel.py
Labels: type:bug, area:docs, comp:manager, size:XS

#3088 fix: Regression of `LegacyComputeSession` GQL (#3046)
  changes/3046.fix.md
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/kernel.py
Labels: type:bug, area:docs, comp:manager, size:XS, backport

#3089 fix: Regression of `LegacyComputeSession` GQL (#3046)
  changes/3046.fix.md
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/kernel.py
Labels: type:bug, area:docs, comp:manager, size:S, backport

#3085 fix: session `status_info` not reflecting batch failures
  changes/3085.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/common/events.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:S

#3091 fix: session `status_info` not reflecting batch failures (#3085)
  changes/3085.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/common/events.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, comp:agent, comp:common, size:S, backport

#3092 fix: session `status_info` not reflecting batch failures (#3085)
  changes/3085.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/common/events.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:S, backport

#3095 ci: Setting up git commiter
  .github/workflows/assign-pr-number.yml
  .github/workflows/backport.yml
  .github/workflows/update-api-schema.yml
Labels: area:infrastructure, skip:changelog

#3097 ci: Setting up git commiter (#3095)
  .github/workflows/assign-pr-number.yml
  .github/workflows/backport.yml
  .github/workflows/update-api-schema.yml
Labels: area:infrastructure, skip:changelog, backport

#3098 ci: Exit normally if no changes have been made
  .github/workflows/assign-pr-number.yml
  .github/workflows/update-api-schema.yml
Labels: skip:changelog

#3100 ci: Exit normally if no changes have been made (#3098)
  .github/workflows/pr-number-assign.yml
  .github/workflows/update-api-schema.yml
Labels: skip:changelog, size:M, backport

#3066 feat: Support batch session timeout
  changes/3066.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/server.py
  src/ai/backend/client/cli/session/lifecycle.py
  src/ai/backend/client/func/session.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/alembic/versions/d4c174934fd0_add_sessions_batch_timeout_column.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
Labels: area:docs, comp:manager, comp:agent, comp:client, comp:cli, require:db-migration, size:L

#2647 feat: Add new sessions & kernels status
  changes/2647.breaking.md
  docs/client/cli/sessions.rst
  docs/locales/ko/LC_MESSAGES/client/cli/sessions.po
  docs/locales/ko/LC_MESSAGES/client/func/session.po
  src/ai/backend/client/cli/admin/session.py
  src/ai/backend/client/cli/session/lifecycle.py
  src/ai/backend/client/func/session.py
  src/ai/backend/manager/models/alembic/versions/6e44ea67d26e_update_session_and_kernel_status.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/session.py
Labels: comp:manager, require:db-migration, size:L

#3102 chore: Clean-up parameters of bulk_get_image_configs()
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, skip:changelog, size:M

#3101 fix: Invalid use of `subproceess.Popen` API with wrapped file objects
  changes/3101.fix.md
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/docker/utils.py
Labels: type:bug, comp:agent, size:S

#3105 fix: Invalid use of `subproceess.Popen` API with wrapped file objects (#3101)
  changes/3101.fix.md
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/docker/utils.py
Labels: type:bug, comp:agent, size:S, backport

#3103 fix: Invalid use of `subproceess.Popen` API with wrapped file objects (#3101)
  changes/3101.fix.md
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/docker/utils.py
Labels: type:bug, comp:agent, size:S, backport

#3104 fix: Invalid use of `subproceess.Popen` API with wrapped file objects (#3101)
  changes/3101.fix.md
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/docker/utils.py
Labels: type:bug, comp:agent, size:M, backport

#3107 fix: Follow-up of #3101 (#3106)
  src/ai/backend/agent/docker/utils.py
  src/ai/backend/agent/kubernetes/utils.py
Labels: type:maintenance, comp:agent, skip:changelog, backport

#3109 fix: Follow-up of #3101 (#3106)
  src/ai/backend/agent/docker/utils.py
  src/ai/backend/agent/kubernetes/utils.py
Labels: type:maintenance, comp:agent, skip:changelog, size:M, backport

#3108 fix: Follow-up of #3101 (#3106)
  src/ai/backend/agent/kubernetes/utils.py
Labels: type:maintenance, comp:agent, skip:changelog, size:S, backport

#3110 ci: Add CI trigger debug info
  .github/workflows/ci.yml
Labels: area:infrastructure, type:maintenance, skip:changelog

#3086 backport: Refactoring internal structure of the common.bgtask module
  src/ai/backend/common/bgtask.py
Labels: comp:common, type:refactor, skip:changelog

#2692 feat: Add check-and-pull RPC function
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/server.py
  src/ai/backend/common/bgtask.py
  src/ai/backend/common/docker.py
  src/ai/backend/common/events.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/models/container_registry.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, comp:agent, comp:common, skip:changelog, size:L

#3099 ci: Exit normally if no changes have been made (#3098)
  .github/workflows/assign-pr-number.yml
  .github/workflows/update-api-schema.yml
Labels: skip:changelog, backport

#3117 chore: better changelog of 2647
  changes/2647.breaking.md
Labels: skip:changelog, skip:ci

#3011 fix: Add missing resolver of `Agent.compute_containers` GraphQL field
  changes/3011.fix.md
  src/ai/backend/manager/models/gql_models/agent.py
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager, size:M

#3119 fix: Add missing resolver of Agent.compute_containers GraphQL field #3011
  changes/3011.fix.md
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager, size:M

#3120 fix: Add missing resolver of Agent.compute_containers GraphQL field #3011
  changes/3011.fix.md
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager, size:M

#2954 feat: Add `open_to_public` to filter and order of endpoint relay API
  changes/2954.feature.md
  src/ai/backend/manager/models/endpoint.py
Labels: comp:manager, size:XS

#3124 feat: Add `show_non_installed_images` config on webserver
  changes/3124.feature.md
  configs/webserver/sample.conf
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
  src/ai/backend/web/templates/config_ini.toml.j2
Labels: comp:webserver, size:XS

#3129 feat: Add `show_non_installed_images` config on webserver (#3124)
  changes/3124.feature.md
  configs/webserver/sample.conf
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
  src/ai/backend/web/templates/config_ini.toml.j2
Labels: comp:webserver, size:XS, backport

#3130 feat: Add `show_non_installed_images` config on webserver (#3124)
  changes/3124.feature.md
  configs/webserver/sample.conf
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
  src/ai/backend/web/templates/config_ini.toml.j2
Labels: comp:webserver, size:XS, backport

#2614 fix: Allow regular users to assign agent manually when creating sessions
  changes/2614.feature.md
  src/ai/backend/client/cli/session/execute.py
  src/ai/backend/client/cli/session/lifecycle.py
  src/ai/backend/manager/api/session.py
Labels: area:docs, comp:manager, size:S

#3132 fix: Allow regular users to assign agent manually when creating sessions (#2614)
  changes/2614.feature.md
  src/ai/backend/client/cli/session/execute.py
  src/ai/backend/client/cli/session/lifecycle.py
  src/ai/backend/manager/api/session.py
Labels: area:docs, comp:manager, comp:client, comp:cli, size:M, backport

#2991 chore: Deprecate `project_id` GQL argument
  changes/2991.fix.md
  src/ai/backend/manager/api/schema.graphql
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/session.py
  src/ai/backend/manager/models/gql_models/vfolder.py
Labels: area:docs, comp:manager, size:L

#2985 fix: Allow compute session mutation without the priority input field
  changes/2985.fix.md
  src/ai/backend/common/validators.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/gql_models/session.py
Labels: comp:manager, size:XS

#2721 feat: Implement check-and-pull mechanism for session creation lifecycle
  changes/2721.feature.md
  src/ai/backend/agent/server.py
  src/ai/backend/common/events.py
  src/ai/backend/manager/api/__init__.py
  src/ai/backend/manager/api/manager.py
  src/ai/backend/manager/defs.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: area:docs, comp:manager, comp:common, size:L

#3063 refactor: Convert VFolder deletion from blocking response to event-driven pattern
  changes/3063.enhance.md
  src/ai/backend/common/events.py
  src/ai/backend/manager/models/vfolder.py
  src/ai/backend/manager/registry.py
  src/ai/backend/storage/api/manager.py
Labels: comp:manager, comp:common, comp:storage-proxy, size:L

#3114 feat: Add CREATING status to compute session and kernel
  changes/3114.breaking.md
  docs/client/cli/sessions.rst
  docs/dev/adding-kernels.rst
  docs/locales/ko/LC_MESSAGES/client/cli/sessions.po
  docs/locales/ko/LC_MESSAGES/client/func/session.po
  docs/locales/ko/LC_MESSAGES/dev/adding-kernels.po
  src/ai/backend/agent/server.py
  src/ai/backend/client/cli/admin/session.py
  src/ai/backend/client/cli/session/lifecycle.py
  src/ai/backend/client/func/session.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: area:docs, comp:manager, comp:client, comp:cli, size:L

#3127 feat: Allow destruction of PULLING sessions
  changes/3128.feature.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, comp:client, comp:cli, size:S

#3143 fix: Allow compute session mutation without the priority input field (#2985)
  changes/2985.fix.md
  src/ai/backend/common/validators.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/gql_models/session.py
Labels: comp:manager, size:XS, backport

#3137 fix: Allow admins to delete other user's vfolders
  changes/3137.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: area:docs, comp:manager, size:S, urgency:5

#3160 fix: Allow admins to delete other user's vfolders (#3137)
  changes/3137.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: comp:manager, size:S, backport

#3161 fix: Allow admins to delete other user's vfolders (#3137)
  changes/3137.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: comp:manager, size:S, backport

#3096 docs: add instructions for upgrading from 24.03 to 24.09
  MIGRATION.md
Labels: area:docs, skip:changelog, size:XS

#3045 fix: Regression of `AgentSummary` GQL resolver
  changes/3045.fix.md
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/agent.py
Labels: type:bug, area:docs, comp:manager, size:S

#3031 fix: Prevent redis password from being logged
  changes/3031.fix.md
  src/ai/backend/common/types.py
  src/ai/backend/storage/server.py
Labels: type:bug, comp:common, comp:storage-proxy, size:S

#2572 fix: Silent failure of `DockerAgent`'s `push_image()`, `pull_image()`
  changes/2572.fix.md
  python.lock
  requirements.txt
  src/ai/backend/agent/docker/agent.py
Labels: type:bug, comp:agent, comp:common, size:S

#2664 docs: Updated package-based installation documentation for version 24.03.6
  .readthedocs.yaml
  docs/install/install-from-package.rst
  docs/install/install-from-package/install-agent.rst
  docs/install/install-from-package/install-manager.rst
  docs/install/install-from-package/install-webserver.rst
  docs/install/install-from-package/install-wsproxy.rst
  docs/install/install-from-package/prepare-cache-service.rst
  docs/install/install-from-package/prepare-config-service.rst
  docs/install/install-from-package/prepare-database.rst
Labels: area:docs, skip:changelog, size:XS

#3169 docs: Updated package-based installation documentation for version 24.03.6 (#2664)
  .readthedocs.yaml
  docs/install/install-from-package.rst
  docs/install/install-from-package/install-agent.rst
  docs/install/install-from-package/install-manager.rst
  docs/install/install-from-package/install-webserver.rst
  docs/install/install-from-package/install-wsproxy.rst
  docs/install/install-from-package/prepare-cache-service.rst
  docs/install/install-from-package/prepare-config-service.rst
  docs/install/install-from-package/prepare-database.rst
Labels: area:docs, skip:changelog, size:L, backport

#3166 fix: Prevent redis password from being logged (#3031)
  changes/3031.fix.md
  src/ai/backend/common/types.py
  src/ai/backend/storage/server.py
Labels: type:bug, comp:common, comp:storage-proxy, size:S, backport

#3167 fix: Prevent redis password from being logged (#3031)
  changes/3031.fix.md
  src/ai/backend/common/types.py
  src/ai/backend/storage/server.py
Labels: type:bug, comp:common, comp:storage-proxy, size:S, backport

#3163 docs: add instructions for upgrading from 24.03 to 24.09 (#3096)
  MIGRATION.md
Labels: area:docs, skip:changelog, size:XS, backport

#3170 fix: Regression of `AgentSummary` GQL resolver (#3045)
  changes/3045.fix.md
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/gql.py
Labels: comp:manager, size:S, backport

#3173 fix: libc version not parsed on images with custom `Entrypoint` set
  changes/3173.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: type:bug, comp:agent, size:XS

#3174 fix: program not started when `rotation-size` is set
  changes/3174.fix.md
  src/ai/backend/logging/types.py
Labels: type:bug, size:XS

#3175 fix: libc version not parsed on images with custom `Entrypoint` set (#3173)
  changes/3173.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: type:bug, comp:agent, size:XS, backport

#3165 fix: Prevent redis password from being logged (#3031)
  changes/3031.fix.md
  src/ai/backend/common/types.py
  src/ai/backend/storage/server.py
Labels: type:bug, comp:common, comp:storage-proxy, size:S, backport

#3182 fix: Set names to vfolder deletion events
  src/ai/backend/common/events.py
Labels: comp:common, skip:changelog, size:XS
