Repository lablup/backend.ai, pull requests merged in 2024-02, with the labels that each got.

#1818 fix: Add `id` column to association tables and restore unique constraints
  changes/1818.fix.md
  src/ai/backend/manager/models/alembic/versions/a5319bfc7d7c_add_unique_constraints_to_association_.py
  src/ai/backend/manager/models/alembic/versions/caf54fcc17ab_add_id_columns_to_association_tables.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/scaling_group.py
Labels: comp:manager, require:db-migration, size:L, urgency:3

#1875 fix: drop existing primary keys of association tables
  src/ai/backend/manager/models/alembic/versions/caf54fcc17ab_add_id_columns_to_association_tables.py
Labels: comp:manager, skip:changelog, require:db-migration, size:S

#1879 chore(deps): update aiohttp to latest
  python.lock
  src/ai/backend/client/session.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/container_registry/base.py
Labels: comp:manager, comp:client, skip:changelog, size:XS

#1878 fix: Backend.AI refusing to launch CentOS 7 based kernels
  changes/1878.fix.md
  python.lock
  requirements.txt
  src/ai/backend/runner/dropbear.centos7.6.x86_64.bin
  src/ai/backend/runner/dropbearconvert.centos7.6.x86_64.bin
  src/ai/backend/runner/dropbearkey.centos7.6.x86_64.bin
  src/ai/backend/runner/tmux.centos7.6.x86_64.bin
Labels: comp:agent, size:S

#1880 fix: add watcher.py back to agent wheel
  changes/1880.fix.md
  src/ai/backend/agent/BUILD
Labels: size:XS

#1755 fix: OSS CUDA Plugin not working without `nvidia-docker2` binary
  changes/1755.breaking.md
  changes/1755.fix.md
  src/ai/backend/accelerator/cuda_open/plugin.py
Labels: type:maintenance, comp:agent, area:upstream, size:L, urgency:3

#1881 feat: update backport checker script to detect rc/dev prefix
  scripts/check-backport-commits.py
Labels: skip:changelog, type:enhance, size:S

#1882 chore(repo): Upgrade pantsbuild to 2.19.0
  changes/1882.misc.md
  pants.toml
  tools/pants-plugins/platform_resources/__init__.py
  tools/pants-plugins/setupgen/__init__.py
  tools/pants-plugins/towncrier_tool/__init__.py
  tools/pants-plugins/towncrier_tool/register.py
Labels: area:infrastructure, type:maintenance, area:upstream, impact:invisible, size:S

#1877 feature: Set `pool-recycle` config to prevent using closed connection
  changes/1877.feature.md
  configs/manager/halfstack.toml
  configs/manager/sample.toml
  src/ai/backend/manager/config.py
  src/ai/backend/manager/models/utils.py
  tests/manager/conftest.py
Labels: comp:manager, size:S

#1785 fix: Update fixtures to include setting main keypairs
  changes/1785.feature.md
  docs/client/dev/testing.rst
  fixtures/manager/example-keypairs.json
  fixtures/manager/example-session-templates.json
  fixtures/manager/example-set-user-main-access-keys.json
  fixtures/manager/example-users.json
  scripts/install-dev.sh
  src/ai/backend/manager/cli/fixture.py
  src/ai/backend/manager/models/base.py
  tests/manager/conftest.py
  tests/manager/fixtures/example-resource-presets.json
  tests/manager/fixtures/example-session-templates.json
Labels: comp:manager, comp:client, type:enhance, size:XL

#1886 fix: Make the event names consistent when reporting already-completed bgtask
  changes/1886.fix.md
  src/ai/backend/common/bgtask.py
Labels: type:bug, comp:common, size:M

#1872 refactor: include the full image name in InvalidImageTag exception
  changes/1872.feature.md
  src/ai/backend/common/docker.py
  src/ai/backend/common/exception.py
Labels: comp:common, effort:easy, type:enhance, impact:visible, size:M, urgency:4

#1897 ci: Change lfs to use actions/cache in test job
  .github/workflows/default.yml
Labels: area:infrastructure, skip:changelog, size:XS

#1893 ci: Set fetch-depth to calculate prev_tag
  scripts/extract-release-changelog.py
Labels: area:infrastructure, skip:changelog, size:XS

#1826 feature: Set timeout for DB Advisory lock
  changes/1826.feature.md
  configs/manager/sample.toml
  src/ai/backend/manager/config.py
  src/ai/backend/manager/models/utils.py
  tests/manager/conftest.py
  tests/manager/test_advisory_lock.py
Labels: comp:manager, size:M, urgency:3

#1788 feature: DDN storage backend
  changes/1788.feature.md
  src/ai/backend/storage/context.py
  src/ai/backend/storage/ddn/BUILD
  src/ai/backend/storage/ddn/__init__.py
Labels: comp:storage-proxy, size:L

#1889 ci: Bump pantsbuils/actions/init-pants from v5 to v8
  .github/workflows/sbom.yml
Labels: skip:changelog, size:XS

#1734 fix: Remove graphene field's deprecation/description setter function
  changes/1734.fix.md
  src/ai/backend/manager/models/resource_policy.py
  src/ai/backend/manager/models/storage.py
  src/ai/backend/manager/models/utils.py
Labels: comp:manager, size:L

#1870 feat: Introduce `etcd-client-py`
  BUILD
  changes/1870.feature.md
  configs/manager/sample.toml
  python.lock
  requirements.txt
  src/ai/backend/agent/server.py
  src/ai/backend/common/etcd.py
  src/ai/backend/common/lock.py
  src/ai/backend/manager/api/stream.py
  src/ai/backend/manager/config.py
  tests/common/test_distributed.py
  tests/common/test_etcd.py
Labels: comp:manager, type:refactor, size:L, require:pants-export

#1885 docs: add helper message for the allowed_session_types
  src/ai/backend/client/cli/admin/scaling_group.py
Labels: type:feature, comp:client, comp:cli, effort:easy, skip:changelog, type:enhance, impact:visible, platform:general, size:S, urgency:2

#1904 docs: install Pants resolve its error for version 2.18 and later
  changes/1904.doc.md
  docs/dev/daily-workflows.rst
  docs/dev/development-setup.rst
Labels: area:docs, size:M

#1918 ci: new test cases for vfolder CLI commands
  changes/1918.feature.md
  src/ai/backend/test/cli_integration/conftest.py
  src/ai/backend/test/cli_integration/user/test_vfolder.py
Labels: type:feature, size:L

#1866 feature: implement customization of name displayed in the Graylog source field
  changes/1866.feature.md
  configs/agent/sample.toml
  configs/manager/sample.toml
  src/ai/backend/common/logging.py
Labels: type:feature, comp:common, effort:easy, size:S

#1916 fix: GQL Relay node query builder does not have `queryfilter_fieldspec` and `queryorder_colmap`
  changes/1916.fix.md
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:L

#1892 refactor: re-define vfolder delete status
  changes/1892.feature.md
  src/ai/backend/client/cli/vfolder.py
  src/ai/backend/client/func/vfolder.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/alembic/versions/7ff52ff68bfc_detail_vfolder_deletion_status.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/models/vfolder.py
Labels: type:feature, comp:manager, comp:client, comp:cli, comp:storage-proxy, require:db-migration, size:XL, urgency:4

#1891 feature: add validate_image_alias, validate_image_canonical CLI command
  changes/1891.feature.md
  src/ai/backend/manager/cli/image.py
  src/ai/backend/manager/cli/image_impl.py
Labels: type:feature, comp:manager, comp:common, comp:cli, effort:easy, size:L

#1862 feature: Add a new client-side admin command group to manage quota scopes
  changes/1862.feature.md
  src/ai/backend/client/cli/admin/__init__.py
  src/ai/backend/client/cli/admin/quota_scope.py
  src/ai/backend/client/cli/vfolder.py
  src/ai/backend/client/func/quota_scope.py
  src/ai/backend/client/func/vfolder.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/client/output/formatters.py
  src/ai/backend/client/session.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/vfolder.py
  tests/common/test_validators.py
Labels: type:feature, comp:manager, comp:client, comp:cli, effort:easy, comp:storage-proxy, require:db-migration, size:L

#1887 feature: add some exceptions when schedule computing session
  changes/1887.feature.md
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, effort:easy, size:S

#1928 fix: Maybe-missing resource slots when checking the remaining agent resources in the scheduler
  changes/1928.fix.md
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: type:bug, comp:manager, size:XS, urgency:1

#1868 feat: add `allow_non_auth_tcp` as allowed webui config key
  changes/1868.feature.md
  configs/webserver/halfstack.conf
  configs/webserver/sample.conf
  docs/install/install-from-package/install-webserver.rst
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: comp:manager, comp:webserver, size:XS

#1929 ci: Upgrade version of auto-label-in-issue action
  .github/workflows/auto-label.yml
Labels: area:infrastructure, skip:changelog, size:XS

#1867 ci: PR that has already been merged will not run ci
  .github/workflows/alembic-head-check.yml
  .github/workflows/default.yml
  .github/workflows/docs-preview.yml
  .github/workflows/timeline-check.yml
Labels: area:infrastructure, skip:changelog, size:S

#1931 fix: Remove ref to the removed quota param when creating vfolders
  src/ai/backend/manager/api/vfolder.py
Labels: type:bug, comp:manager, skip:changelog

#1933 ci: Allow required permissions to auto-label-in-issue
  .github/workflows/auto-label.yml
Labels: area:infrastructure, skip:changelog, size:XS

#1934 fix: CLI `agent info` related bugs
  changes/1934.fix.md
  src/ai/backend/accelerator/cuda_open/plugin.py
  src/ai/backend/accelerator/mock/plugin.py
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/agent/stats.py
  src/ai/backend/client/cli/session/execute.py
  src/ai/backend/client/output/formatters.py
  src/ai/backend/common/types.py
Labels: type:bug, comp:client, type:refactor, size:L

#1803 feat: Accept multiple paths in the vfolder mkdir API
  changes/1803.feature.md
  src/ai/backend/client/cli/vfolder.py
  src/ai/backend/client/func/vfolder.py
  src/ai/backend/client/output/console.py
  src/ai/backend/client/output/json.py
  src/ai/backend/client/output/types.py
  src/ai/backend/common/types.py
  src/ai/backend/common/validators.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/storage.py
  src/ai/backend/manager/models/vfolder.py
  src/ai/backend/storage/api/manager.py
Labels: comp:manager, comp:client, comp:storage-proxy, size:L

#1754 feat: `try-start` model service API
  changes/1754.feature.md
  src/ai/backend/client/cli/service.py
  src/ai/backend/client/func/service.py
  src/ai/backend/common/events.py
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, comp:client, size:XL

#1890 fix: Reorganize `click.option` decorators in the `session create-from-template` command
  changes/1890.fix.md
  src/ai/backend/client/cli/session/args.py
  src/ai/backend/client/cli/session/lifecycle.py
  src/ai/backend/manager/models/session_template.py
Labels: type:bug, comp:manager, comp:client, size:L

#1927 fix: Allow passing HTTP status code via pydantic-based response models
  changes/1927.fix.md
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/api/utils.py
  src/ai/backend/manager/api/vfolder.py
Labels: comp:manager, type:refactor, size:M

#1924 refactor: Enhance typing of some modules
  src/ai/backend/accelerator/mock/defs.py
  src/ai/backend/agent/server.py
  src/ai/backend/agent/types.py
  src/ai/backend/agent/watcher.py
  src/ai/backend/client/cli/service.py
  src/ai/backend/client/cli/session/args.py
  src/ai/backend/client/cli/session/execute.py
  src/ai/backend/client/cli/session/lifecycle.py
  src/ai/backend/client/func/session.py
  src/ai/backend/client/func/user.py
  src/ai/backend/common/events.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/__init__.py
  src/ai/backend/manager/cli/__main__.py
  src/ai/backend/manager/cli/context.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/idle.py
  src/ai/backend/manager/models/alembic/versions/308bcecec5c2_add_groups_type.py
  src/ai/backend/manager/models/alembic/versions/529113b08c2c_add_vfolder_type_column.py
  src/ai/backend/manager/models/alembic/versions/6f5fe19894b7_vfolder_invitation_state_to_enum_type.py
  src/ai/backend/manager/models/alembic/versions/819c2b3830a9_add_user_model.py
  src/ai/backend/manager/models/alembic/versions/a1fd4e7b7782_enumerate_vfolder_perms.py
  src/ai/backend/manager/models/alembic/versions/d3f8c74bf148_user_main_keypair.py
  src/ai/backend/manager/models/alembic/versions/dbc1e053b880_add_keypair_resource_policy.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/models/session_template.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/models/vfolder.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/abc.py
  src/ai/backend/storage/api/client.py
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/cephfs/__init__.py
  src/ai/backend/storage/gpfs/types.py
  src/ai/backend/storage/netapp/__init__.py
  src/ai/backend/storage/purestorage/__init__.py
  src/ai/backend/storage/server.py
  src/ai/backend/storage/vast/__init__.py
  src/ai/backend/storage/vfs/__init__.py
  src/ai/backend/web/server.py
  tests/manager/conftest.py
Labels: comp:manager, comp:client, comp:webserver, comp:storage-proxy, skip:changelog, require:db-migration, size:XL

#1936 fix: Rewrite the vfolder status migration in #1892
  src/ai/backend/manager/models/alembic/versions/7ff52ff68bfc_detail_vfolder_deletion_status.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, skip:changelog, type:enhance

#1937 fix: Add missing indexes in the vfolders table
  src/ai/backend/manager/models/alembic/versions/41f332243bf9_add_missing_vfolder_indexes.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, skip:changelog, require:db-migration, type:enhance, size:M

#1938 feat: Bump the manager API version to v8.20240315
  changes/1938.feature.md
  src/ai/backend/client/config.py
  src/ai/backend/manager/server.py
Labels: type:maintenance, comp:manager, comp:client, size:S

#1226 feature: add pending session policy and impl predicate
  changes/1226.feature.md
  src/ai/backend/manager/models/alembic/versions/3f47af213b05_add_max_pending_session_count.py
  src/ai/backend/manager/models/resource_policy.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/manager/scheduler/predicates.py
Labels: type:feature, comp:manager, comp:client, comp:cli, comp:webui, require:db-migration, type:enhance, effort:hard, impact:visible, platform:general, size:L, urgency:4

#1932 chore(deps): Replace `passlib.bcrypt` to `bcrypt`
  changes/1932.deps.md
  python.lock
  requirements.txt
  src/ai/backend/manager/models/user.py
Labels: comp:manager, size:S

#1943 chore(ci): Temporarily replace self-hosted arc runners with github-hosted runners
  .github/workflows/default.yml
Labels: area:infrastructure, type:maintenance, skip:changelog, size:XS

#1930 fix: Prevent Dropbear from limiting the maximum transfer window size
  changes/1930.fix.md
  scripts/agent/build-dropbear.sh
  src/ai/backend/runner/dropbear.alpine3.8.aarch64.bin
  src/ai/backend/runner/dropbear.alpine3.8.x86_64.bin
  src/ai/backend/runner/dropbear.ubuntu18.04.aarch64.bin
  src/ai/backend/runner/dropbear.ubuntu18.04.x86_64.bin
  src/ai/backend/runner/dropbear.ubuntu20.04.aarch64.bin
  src/ai/backend/runner/dropbear.ubuntu20.04.x86_64.bin
  src/ai/backend/runner/dropbear.ubuntu22.04.aarch64.bin
  src/ai/backend/runner/dropbear.ubuntu22.04.x86_64.bin
  src/ai/backend/runner/dropbearconvert.ubuntu18.04.aarch64.bin
  src/ai/backend/runner/dropbearconvert.ubuntu18.04.x86_64.bin
  src/ai/backend/runner/dropbearconvert.ubuntu20.04.aarch64.bin
  src/ai/backend/runner/dropbearconvert.ubuntu20.04.x86_64.bin
  src/ai/backend/runner/dropbearconvert.ubuntu22.04.aarch64.bin
  src/ai/backend/runner/dropbearconvert.ubuntu22.04.x86_64.bin
  src/ai/backend/runner/dropbearkey.ubuntu18.04.aarch64.bin
  src/ai/backend/runner/dropbearkey.ubuntu18.04.x86_64.bin
  src/ai/backend/runner/dropbearkey.ubuntu20.04.aarch64.bin
  src/ai/backend/runner/dropbearkey.ubuntu20.04.x86_64.bin
  src/ai/backend/runner/dropbearkey.ubuntu22.04.aarch64.bin
  src/ai/backend/runner/dropbearkey.ubuntu22.04.x86_64.bin
Labels: type:bug, comp:agent, area:upstream, size:M, urgency:4

#1940 ci: pants log path changed
  .github/workflows/coverage.yml
  .github/workflows/default.yml
  .github/workflows/integration.yml
Labels: area:infrastructure, skip:changelog, size:S
