Repository lablup/backend.ai, pull requests merged in 2025-09, with the labels that each got.

#5688 feat(BA-2218): Improve clipboard support in ttyd + tmux mouse mode
  changes/5688.feature.md
  scripts/agent/build-ttyd.sh
  src/ai/backend/agent/agent.py
  src/ai/backend/appproxy/worker/proxy/backend/base.py
  src/ai/backend/appproxy/worker/proxy/backend/http.py
  src/ai/backend/kernel/intrinsic.py
  src/ai/backend/runner/.tmux.conf
  src/ai/backend/runner/BUILD
  src/ai/backend/runner/ttyd_linux.aarch64.bin
  src/ai/backend/runner/ttyd_linux.x86_64.bin
  src/ai/backend/runner/yank.sh
Labels: comp:agent, comp:app-proxy, size:L

#5695 fix: RedisProfileTarget addr parsing with missing addr
  changes/5695.fix.md
  src/ai/backend/common/types.py
Labels: comp:common, size:XS

#5706 fix: scaling group check failing
  changes/5706.fix.md
  src/ai/backend/manager/repositories/scheduler/db_source/db_source.py
Labels: comp:manager, size:XS

#5704 feat: Improvement redis keys command to scan_iter for manager cli
  changes/5704.feature.md
  src/ai/backend/manager/cli/scheduler.py
Labels: comp:manager, comp:cli, size:S

#5700 fix: Remove join filter in TOMLStringListField
  changes/5700.fix.md
  src/ai/backend/web/template.py
Labels: comp:webserver, size:XS

#5707 fix: Enhance endpoint creation logic to update existing records and handle circuits
  changes/5707.fix.md
  src/ai/backend/appproxy/coordinator/api/endpoint.py
  src/ai/backend/manager/sokovan/deployment/route/handlers/running.py
Labels: comp:manager, comp:app-proxy, size:M

#5709 fix(BA-2236): Make webserver HTTP proxying standard-compliant
  changes/5709.fix.md
  configs/webserver/halfstack.conf
  scripts/install-dev.sh
  src/ai/backend/appproxy/worker/proxy/backend/http.py
  src/ai/backend/web/proxy.py
  src/ai/backend/web/server.py
Labels: comp:webserver, comp:installer, comp:app-proxy, size:L

#5717 fix(BA-2243): Refresh agent fields in kernel when rescheduling
  changes/5717.fix.md
  src/ai/backend/manager/data/kernel/types.py
  src/ai/backend/manager/data/session/types.py
  src/ai/backend/manager/models/alembic/versions/4db74efaf82e_separate_designated_agent_ids.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/repositories/schedule/db_source/db_source.py
  src/ai/backend/manager/repositories/schedule/repository.py
  src/ai/backend/manager/repositories/schedule/types/session.py
  src/ai/backend/manager/repositories/scheduler/db_source/db_source.py
  src/ai/backend/manager/repositories/scheduler/types/session.py
  src/ai/backend/manager/repositories/scheduler/types/session_creation.py
  src/ai/backend/manager/sokovan/scheduler/scheduler.py
  src/ai/backend/manager/sokovan/scheduler/selectors/selector.py
  src/ai/backend/manager/sokovan/scheduler/types.py
  src/ai/backend/manager/sokovan/scheduling_controller/preparers/preparer.py
  tests/manager/sokovan/scheduler/conftest.py
  tests/manager/sokovan/scheduler/selectors/test_agent_selection_with_resources.py
  tests/manager/sokovan/scheduler/test_scheduler.py
  tests/manager/sokovan/scheduling_controller/test_integration.py
Labels: area:docs, comp:manager, require:db-migration, size:L

#5721 fix(BA-2244): Add missing network cleanup
  changes/5721.fix.md
  src/ai/backend/manager/repositories/scheduler/db_source/db_source.py
  src/ai/backend/manager/repositories/scheduler/repository.py
  src/ai/backend/manager/sokovan/scheduler/hooks/base.py
  src/ai/backend/manager/sokovan/scheduler/hooks/batch.py
  src/ai/backend/manager/sokovan/scheduler/hooks/inference.py
  src/ai/backend/manager/sokovan/scheduler/hooks/interactive.py
  src/ai/backend/manager/sokovan/scheduler/hooks/registry.py
  src/ai/backend/manager/sokovan/scheduler/hooks/system.py
  src/ai/backend/manager/sokovan/scheduler/scheduler.py
  src/ai/backend/manager/sokovan/scheduler/types.py
Labels: comp:manager, size:L

#5724 fix: Serialize custom path type for msgpack
  src/ai/backend/common/msgpack.py
  src/ai/backend/manager/sokovan/scheduling_controller/calculators/resource_calculator.py
Labels: comp:manager, comp:common, skip:changelog, size:XS

#5727 release: 25.13.3
  CHANGELOG.md
  VERSION
  changes/5709.fix.md
  changes/5712.fix.md
  changes/5713.fix.md
  changes/5717.fix.md
  changes/5718.fix.md
  changes/5721.fix.md
Labels: size:S

#5710 chore: add version field in client_payload
  .github/workflows/ci.yml
Labels: skip:changelog, size:XS

#5730 fix: Add missing scheduler options to AllowedScalingGroup and update related components
  changes/5730.fix.md
  src/ai/backend/manager/repositories/scheduler/db_source/db_source.py
  src/ai/backend/manager/repositories/scheduler/types/session_creation.py
  src/ai/backend/manager/sokovan/scheduling_controller/calculators/resource_calculator.py
  src/ai/backend/manager/sokovan/scheduling_controller/preparers/preparer.py
  src/ai/backend/manager/sokovan/scheduling_controller/resolvers/scaling_group_resolver.py
  src/ai/backend/manager/sokovan/scheduling_controller/scheduling_controller.py
  tests/manager/sokovan/scheduling_controller/test_integration.py
  tests/manager/sokovan/scheduling_controller/validators/test_rules.py
Labels: comp:manager, size:L

#5736 feat: Set expiry to Bgtask metadata id sets
  changes/5736.feature.md
  src/ai/backend/common/bgtask/bgtask.py
  src/ai/backend/common/clients/valkey_client/valkey_bgtask/client.py
  src/ai/backend/common/data/bgtask/defs.py
Labels: comp:common, size:M

#5705 feat(BA-2238): Allow `__typename` type query for advanced GraphQL features
  changes/5705.feature.md
Labels: area:docs, comp:manager, size:XS

#5694 fix(BA-2230): Add missing restart policy to all services in docker compose file
  changes/5694.fix.md
  docker-compose.halfstack-main.yml
Labels: size:XS

#5745 fix: Wrong artifact cleanup request
  src/ai/backend/manager/services/artifact_revision/service.py
Labels: comp:manager, skip:changelog, size:XS

#5765 fix(BA-2277): Make overlay network creation idempotent
  changes/5765.fix.md
  src/ai/backend/manager/network/overlay.py
Labels: comp:manager, size:M

#5766 chore: Refactor scheduler handlers: Split into individual files and create a base handler class
  changes/5766.misc.md
  src/ai/backend/manager/sokovan/scheduler/coordinator.py
  src/ai/backend/manager/sokovan/scheduler/handlers.py
  src/ai/backend/manager/sokovan/scheduler/handlers/__init__.py
  src/ai/backend/manager/sokovan/scheduler/handlers/base.py
  src/ai/backend/manager/sokovan/scheduler/handlers/check_creating_progress.py
  src/ai/backend/manager/sokovan/scheduler/handlers/check_precondition.py
  src/ai/backend/manager/sokovan/scheduler/handlers/check_pulling_progress.py
  src/ai/backend/manager/sokovan/scheduler/handlers/check_terminating_progress.py
  src/ai/backend/manager/sokovan/scheduler/handlers/retry_creating.py
  src/ai/backend/manager/sokovan/scheduler/handlers/retry_preparing.py
  src/ai/backend/manager/sokovan/scheduler/handlers/schedule_sessions.py
  src/ai/backend/manager/sokovan/scheduler/handlers/start_sessions.py
  src/ai/backend/manager/sokovan/scheduler/handlers/sweep_sessions.py
  src/ai/backend/manager/sokovan/scheduler/handlers/terminate_sessions.py
Labels: comp:manager, size:XL

#5770 fix(BA-2281): Clean up dangling docker networks
  changes/5770.fix.md
  src/ai/backend/manager/sokovan/scheduler/coordinator.py
  src/ai/backend/manager/sokovan/scheduler/hooks/base.py
  src/ai/backend/manager/sokovan/scheduler/scheduler.py
  tests/manager/sokovan/scheduler/test_terminate_sessions.py
Labels: comp:manager, size:M

#5774 feat(BA-2284): Add session mode based error handling in FetchContextManager
  changes/5774.feature.md
  src/ai/backend/client/request.py
  src/ai/backend/web/proxy.py
Labels: comp:client, comp:webserver, size:M

#5785 feat(BA-2295): Add PBKDF2-SHA3-256 password hashing implementation and update supported algorithms
  changes/5753.breaking.md
  changes/5785.feature.md
  src/ai/backend/manager/config/unified.py
  src/ai/backend/manager/data/auth/hash.py
  src/ai/backend/manager/models/hasher/factory.py
  src/ai/backend/manager/models/hasher/pbkdf2.py
Labels: comp:manager, size:M

#5739 feat(BA-2260): Add `defaultArtifactRegistry` GQL resolver
  changes/5739.feature.md
  docs/manager/graphql-reference/supergraph.graphql
  docs/manager/graphql-reference/v2-schema.graphql
  src/ai/backend/manager/api/admin.py
  src/ai/backend/manager/api/gql/artifact_registry.py
  src/ai/backend/manager/api/gql/schema.py
  src/ai/backend/manager/api/gql/types.py
  src/ai/backend/manager/services/artifact_registry/actions/common/get_meta.py
  src/ai/backend/manager/services/artifact_registry/service.py
Labels: area:docs, comp:manager, size:L

#5865 fix(BA-2364): Set empty pending queue value
  changes/5865.fix.md
  src/ai/backend/common/clients/valkey_client/valkey_schedule/client.py
Labels: comp:common, size:XS

#5830 feat(BA-2324): Add config for disable artifact approve process
  changes/5830.feature.md
  configs/manager/halfstack.toml
  src/ai/backend/common/events/event_types/artifact/anycast.py
  src/ai/backend/manager/config/unified.py
  src/ai/backend/manager/event_dispatcher/dispatch.py
  src/ai/backend/manager/event_dispatcher/handlers/artifact.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/services/artifacts/huggingface.py
  src/ai/backend/storage/services/artifacts/reservoir.py
  tests/storage-proxy/artifacts/test_service.py
Labels: comp:manager, comp:common, comp:storage-proxy, size:L

#5863 refactor: Better ORM usage in object permission creation
  src/ai/backend/manager/data/permission/object_permission.py
  src/ai/backend/manager/models/rbac_models/permission/object_permission.py
  src/ai/backend/manager/repositories/permission_controller/role_manager.py
Labels: comp:manager, skip:changelog, size:S

#5873 fix(BA-2358): Handle empty `supported_accelerators` list in `Image`, `ImageNode`
  changes/5869.fix.md
  src/ai/backend/manager/models/gql_models/image.py
Labels: comp:manager, size:XS

#5874 fix(BA-2372): Explicitly use UTC when resolving model service token expiration time (#5872)
  changes/5872.fix.md
  src/ai/backend/manager/models/gql_models/endpoint.py
Labels: comp:manager, size:XS, backport

#5875 fix: Apply from_known_slots method for empty slots
  src/ai/backend/manager/repositories/resource_preset/db_source/db_source.py
Labels: comp:manager, skip:changelog, size:S

#5879 fix(BA-2358): Handle empty `supported_accelerators` list correctly in `Image`, `ImageNode` (#5878)
  changes/5878.fix.md
  src/ai/backend/manager/models/gql_models/image.py
Labels: area:docs, comp:manager, size:XS, backport

#5870 feat(BA-2312): Add artifact presigned download, upload configs in the `storage-proxy.toml`
  changes/5870.feature.md
  docs/manager/graphql-reference/supergraph.graphql
  docs/manager/graphql-reference/v2-schema.graphql
  src/ai/backend/common/dto/storage/context.py
  src/ai/backend/common/dto/storage/request.py
  src/ai/backend/manager/api/gql/object_storage.py
  src/ai/backend/manager/api/object_storage.py
  src/ai/backend/manager/services/artifact/processors.py
  src/ai/backend/manager/services/object_storage/actions/get_upload_presigned_url.py
  src/ai/backend/manager/services/object_storage/service.py
  src/ai/backend/storage/api/v1/storages/object_storage.py
  src/ai/backend/storage/client/s3.py
  src/ai/backend/storage/config/unified.py
  src/ai/backend/storage/services/artifacts/huggingface.py
  src/ai/backend/storage/services/storages/object_storage.py
  tests/storage-proxy/storages/test_s3_client.py
  tests/storage-proxy/storages/test_service.py
Labels: area:docs, comp:manager, comp:common, comp:storage-proxy, size:L

#5894 fix: Add missing scaling group filtering in AgentRow query
  changes/5894.fix.md
  src/ai/backend/manager/repositories/resource_preset/db_source/db_source.py
Labels: comp:manager, size:XS

#5896 fix: Resource preset shmem unit
  changes/5896.fix.md
  src/ai/backend/manager/data/resource_preset/types.py
  src/ai/backend/manager/repositories/resource_preset/db_source/types.py
Labels: comp:manager, size:S

#5897 chore: Upgrade mypy and add type stubs
  pyproject.toml
  python.lock
  requirements.txt
  src/ai/backend/agent/affinity_map.py
  src/ai/backend/client/cli/admin/image.py
  src/ai/backend/client/cli/pretty.py
  src/ai/backend/client/cli/service.py
  src/ai/backend/client/cli/session/lifecycle.py
  src/ai/backend/client/cli/vfolder.py
  src/ai/backend/test/cli_integration/admin/test_domain.py
  src/ai/backend/test/cli_integration/admin/test_group.py
  src/ai/backend/test/cli_integration/admin/test_image.py
  src/ai/backend/test/cli_integration/admin/test_keypair.py
  src/ai/backend/test/cli_integration/admin/test_keypair_resource_policy.py
  src/ai/backend/test/cli_integration/admin/test_scaling_group.py
  src/ai/backend/test/cli_integration/admin/test_storage.py
  src/ai/backend/test/cli_integration/admin/test_user.py
  src/ai/backend/test/cli_integration/user/test_vfolder.py
  src/ai/backend/test/utils/cli.py
  tools/mypy-requirements.txt
  tools/mypy.lock
Labels: comp:agent, comp:client, comp:cli, skip:changelog, size:L

#5899 fix: Serialize resource preset cache key
  changes/5899.fix.md
  src/ai/backend/manager/repositories/resource_preset/db_source/types.py
Labels: comp:manager, size:XS

#5901 fix: Modify pending session resource limit validation logic
  changes/5901.fix.md
  src/ai/backend/manager/sokovan/scheduler/validators/pending_session_resource_limit.py
  tests/manager/sokovan/scheduler/validators/test_pending_session_resource_limit.py
Labels: comp:manager, size:M

#5903 fix: Set kernel status to terminated when the kernel is missing
  changes/5903.fix.md
  src/ai/backend/manager/sokovan/scheduler/scheduler.py
  tests/manager/sokovan/scheduler/test_terminate_sessions.py
Labels: comp:manager, size:M

#5905 fix: Endpoint mutation by loading image of service endpoint
  changes/5905.fix.md
  src/ai/backend/manager/repositories/model_serving/repository.py
Labels: comp:manager, size:XS

#5892 fix(BA-2390): Add missing progress reporter when rescanning images
  src/ai/backend/manager/services/container_registry/service.py
Labels: comp:manager, skip:changelog, size:XS

#5912 feat: Add build-isla-sorna-image workflow (#5466)
  .github/workflows/ci.yml
Labels: skip:changelog, size:S, backport

#5911 feat: Add build-isla-sorna-image workflow (#5466)
  .github/workflows/ci.yml
Labels: skip:changelog, size:S, backport

#5891 fix(BA-2386): Fix wrong error module import in scaling group api
  docs/manager/rest-reference/openapi.json
  src/ai/backend/manager/api/scaling_group.py
Labels: area:docs, comp:manager, skip:changelog, size:L

#5893 fix: Change object permission bulk insert to use ORM functions
  changes/5893.fix.md
  src/ai/backend/manager/repositories/permission_controller/role_manager.py
Labels: comp:manager, size:S

#5955 fix(BA-2430): Handle Undefined group ids when modifying user
  changes/5955.fix.md
  src/ai/backend/manager/models/gql_models/user.py
  src/ai/backend/manager/repositories/user/repository.py
  src/ai/backend/manager/services/user/actions/modify_user.py
  src/ai/backend/manager/services/user/service.py
  tests/manager/integration/services/user/test_user_integration.py
  tests/manager/repositories/user/test_user_repository.py
Labels: comp:manager, size:S

#5924 refactor(BA-2385): Introduce `ModelDefinitionGenerator` pattern to support multiple runtime variant in model service
  changes/5924.enhance.md
  src/ai/backend/common/exception.py
  src/ai/backend/manager/services/model_serving/types.py
  src/ai/backend/manager/sokovan/deployment/definition_generator/__init__.py
  src/ai/backend/manager/sokovan/deployment/definition_generator/base.py
  src/ai/backend/manager/sokovan/deployment/definition_generator/custom.py
  src/ai/backend/manager/sokovan/deployment/definition_generator/registry.py
  src/ai/backend/manager/sokovan/deployment/deployment_controller.py
  src/ai/backend/manager/sokovan/deployment/executor.py
Labels: comp:manager, comp:common, size:L

#5958 feat: Implement model definition generators for all runtime variants
  changes/5958.feature.md
  src/ai/backend/manager/sokovan/deployment/definition_generator/cmd.py
  src/ai/backend/manager/sokovan/deployment/definition_generator/huggingface_tgi.py
  src/ai/backend/manager/sokovan/deployment/definition_generator/nim.py
  src/ai/backend/manager/sokovan/deployment/definition_generator/registry.py
  src/ai/backend/manager/sokovan/deployment/definition_generator/vllm.py
Labels: comp:manager, size:L

#6028 fix(BA-2504): Add missing null check for batch operation result in `ValkeyStatClient.get_image_distro()`
  changes/6028.fix.md
  src/ai/backend/common/clients/valkey_client/valkey_stat/client.py
Labels: comp:common, size:XS

#5756 feat: Add RBAC DB source
  changes/5758.feature.md
  changes/5759.feature.md
  src/ai/backend/manager/actions/action/batch.py
  src/ai/backend/manager/actions/action/scope.py
  src/ai/backend/manager/actions/action/single_entity.py
  src/ai/backend/manager/actions/validators/rbac/__init__.py
  src/ai/backend/manager/actions/validators/rbac/batch.py
  src/ai/backend/manager/actions/validators/rbac/scope.py
  src/ai/backend/manager/actions/validators/rbac/single_entity.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/data/permission/object_permission.py
  src/ai/backend/manager/data/permission/permission_group.py
  src/ai/backend/manager/data/permission/role.py
  src/ai/backend/manager/data/permission/scope_permission.py
  src/ai/backend/manager/models/rbac_models/association_scopes_entities.py
  src/ai/backend/manager/models/rbac_models/permission/object_permission.py
  src/ai/backend/manager/models/rbac_models/permission/permission.py
  src/ai/backend/manager/models/rbac_models/permission/permission_group.py
  src/ai/backend/manager/models/rbac_models/role.py
  src/ai/backend/manager/models/rbac_models/user_role.py
  src/ai/backend/manager/repositories/permission_controller/db_source.py
  src/ai/backend/manager/repositories/permission_controller/repository.py
  src/ai/backend/manager/services/permission_contoller/actions/list_access.py
  src/ai/backend/manager/services/permission_contoller/service.py
  src/ai/backend/manager/services/vfolder/actions/base.py
  src/ai/backend/manager/services/vfolder/processors/vfolder.py
  src/ai/backend/manager/services/vfolder/services/vfolder.py
Labels: comp:manager, skip:changelog, size:L

#6034 fix(BA-2509): Remove obsolete max slot limit validation from resource calculator
  changes/6034.fix.md
  src/ai/backend/manager/repositories/scheduler/types/session_creation.py
  src/ai/backend/manager/sokovan/scheduling_controller/calculators/resource_calculator.py
Labels: comp:manager, size:S

#6038 feat(BA-2316): Remove obsolete max slot limit validation during session creation (#5807)
  changes/5807.feature.md
  docs/manager/graphql-reference/schema.graphql
  docs/manager/rest-reference/openapi.json
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/gql_models/base.py
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/registry.py
Labels: area:docs, comp:manager, size:L, backport

#6050 fix(BA-2514): Add missing `kernel_host` field in `KernelCreationInfo`
  changes/6050.fix.md
  src/ai/backend/manager/repositories/scheduler/db_source/db_source.py
  src/ai/backend/manager/sokovan/scheduler/types.py
Labels: comp:manager, size:XS

#6049 fix(BA-2519): Wrong error code of `mgr fixture populate` command
  changes/6049.fix.md
  src/ai/backend/manager/cli/fixture.py
Labels: comp:manager, comp:cli, size:XS

#6051 fix(BA-2519): Wrong error code of `mgr fixture populate` command (#6049)
  changes/6049.fix.md
  src/ai/backend/manager/cli/fixture.py
Labels: comp:manager, comp:cli, size:XS, backport

#6052 chore: Update pyproject.toml and IDE guides for basedpyright
  docs/dev/daily-workflows.rst
  pyproject.toml
Labels: area:docs, skip:changelog, size:S

#6060 refactor: Make DB URL generation consistent and std-compliant
  scripts/app-proxy/migrate-health-check-configuration.py
  src/ai/backend/account_manager/models/utils.py
  src/ai/backend/appproxy/coordinator/models/utils.py
  src/ai/backend/manager/cli/fixture.py
  src/ai/backend/manager/models/utils.py
  tests/manager/conftest.py
Labels: comp:manager, comp:cli, comp:app-proxy, skip:changelog, size:L

#6070 feat(BA-2522): add enable-reservoir webserver option to enable management of reservoir-related features in the webui
  changes/6055.feature.md
  configs/webserver/halfstack.conf
  configs/webserver/sample.conf
  src/ai/backend/web/config/unified.py
  src/ai/backend/web/templates/config.toml.j2
Labels: comp:webserver, size:S

#6081 fix(BA-2543): Add missing Compute session node resource_opts field resolver
  changes/6081.fix.md
  src/ai/backend/manager/models/gql_models/session.py
Labels: comp:manager, size:XS

#6085 feat(BA-2547): Prevent accidental container termination by `pkill -f python` command
  changes/6085.feature.md
  src/ai/backend/kernel/__init__.py
  src/ai/backend/kernel/__main__.py
Labels: comp:agent, size:M

#6086 feat(BA-2547): Prevent accidental container termination by `pkill -f python` command (#6085)
  changes/6085.feature.md
  src/ai/backend/kernel/__init__.py
  src/ai/backend/kernel/__main__.py
Labels: comp:agent, size:M, backport

#6091 fix(BA-2549): Improve error handling in the traefik frontend of App Proxy
  changes/6091.fix.md
  src/ai/backend/appproxy/worker/proxy/frontend/traefik.py
Labels: comp:app-proxy, size:XS

#6111 fix(BA-2567): Restore wildcard support in session events API
  changes/6111.fix.md
  src/ai/backend/common/events/hub/__init__.py
  src/ai/backend/common/events/hub/hub.py
  src/ai/backend/common/events/hub/propagators/__init__.py
  src/ai/backend/common/events/types.py
  src/ai/backend/manager/api/events.py
  src/ai/backend/manager/events/hub/propagators/session.py
  tests/common/events/BUILD
  tests/common/events/__init__.py
  tests/common/events/test_hub.py
Labels: comp:manager, comp:common, size:L

#6021 fix(BA-2490): Correct mount permission check when creating session
  changes/6021.fix.md
  src/ai/backend/manager/errors/storage.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:M

#6096 fix(BA-2539): Apply BaseConfigSchema to Manager
  changes/6096.fix.md
  src/ai/backend/common/config.py
  src/ai/backend/manager/config/unified.py
Labels: comp:manager, comp:common, size:M

#6113 fix: appproxy worker shutdown clears all circuits (#6095)
  changes/6095.fix.md
  src/ai/backend/appproxy/coordinator/api/worker_v2.py
Labels: comp:app-proxy, size:XS, backport

#6112 fix(BA-2490): Correct mount permission check when creating session (#6021)
  changes/6021.fix.md
  src/ai/backend/manager/errors/storage.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:M, backport

#6119 fix: Build missing agent watcher wheel (#6115)
  changes/6115.deps.md
  src/ai/backend/agent/BUILD
Labels: size:XS, backport

#6108 feat(BA-2466): Implement node resolver in `ComputeSessionNode`
  changes/6108.feature.md
  changes/6109.feature.md
  src/ai/backend/manager/models/gql_models/session.py
Labels: comp:manager, size:S

#6118 fix: Build missing agent watcher wheel (#6115)
  changes/6115.deps.md
  src/ai/backend/agent/BUILD
Labels: size:XS, backport

#6120 fix: Remove unsupported '-y' flag from brew install command
  src/ai/backend/install/context.py
Labels: skip:changelog, size:XS

#5921 refactor: Introduce service, repository layer when handling agent status change event
  changes/5921.enhance.md
  src/ai/backend/manager/data/agent/modifier.py
  src/ai/backend/manager/event_dispatcher/handlers/agent.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/repositories/agent/cache_source/cache_source.py
  src/ai/backend/manager/repositories/agent/db_source/db_source.py
  src/ai/backend/manager/repositories/agent/repository.py
  src/ai/backend/manager/services/agent/actions/mark_agent_exit.py
  src/ai/backend/manager/services/agent/actions/mark_agent_running.py
  src/ai/backend/manager/services/agent/processors.py
  src/ai/backend/manager/services/agent/service.py
Labels: comp:manager, size:L

#6103 refactor(BA-2523): Explicitly raise error when agent not found instead of returning none
  changes/6103.enhance.md
  src/ai/backend/common/exception.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/repositories/agent/db_source/db_source.py
  src/ai/backend/manager/repositories/agent/repository.py
  src/ai/backend/manager/services/agent/actions/sync_agent_registry.py
  tests/manager/repositories/agent/test_db_source.py
Labels: comp:manager, comp:common, size:M
