Repository lablup/backend.ai, pull requests merged in 2025-10, with the labels that each got.

#6128 fix(BA-2527, BA-2528): Add Harbor registry creation argument validation
  changes/6128.fix.md
  src/ai/backend/manager/errors/container_registry.py
  src/ai/backend/manager/models/container_registry.py
  src/ai/backend/manager/models/gql_models/container_registry_v2.py
  tests/manager/api/test_container_registries.py
Labels: comp:manager, size:L

#6125 feat(BA-2579): Add periodic container monitoring to release unused host ports
  changes/6125.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/observer/heartbeat.py
  src/ai/backend/agent/observer/host_port.py
  src/ai/backend/common/observer/types.py
Labels: comp:agent, comp:common, size:L

#5976 refactor(BA-2451): Remove duplicated exception handling in `ResourcePresetCacheSource`
  changes/5976.enhance.md
  src/ai/backend/manager/repositories/resource_preset/cache_source/cache_source.py
Labels: comp:manager, size:M

#6129 fix(BA-2527, BA-2528): Add Harbor registry creation argument validation (#6128)
  changes/6128.fix.md
  src/ai/backend/manager/models/container_registry.py
  src/ai/backend/manager/models/gql_models/container_registry_v2.py
Labels: comp:manager, size:M, backport

#6139 fix(BA-2596): Clean container utilization metric when destroy kernel
  changes/6139.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/metrics/metric.py
  src/ai/backend/agent/metrics/types.py
  src/ai/backend/agent/stats.py
  src/ai/backend/common/metrics/types.py
Labels: comp:agent, comp:common, size:M

#6156 fix(BA-2588): Resolve kernel `resource_opts` field in `ComputeSessionNode` using dataloader
  changes/6156.fix.md
  src/ai/backend/manager/models/gql_models/session.py
Labels: comp:manager, size:XS

#6159 chore(BA-2602): Add warning log when adding new user with no groups
  changes/6159.misc.md
  src/ai/backend/manager/repositories/user/repository.py
Labels: comp:manager, size:S

#6157 fix(BA-2596): Clean container utilization metric when destroy kernel (#6139)
  changes/6139.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/metrics/metric.py
  src/ai/backend/agent/metrics/types.py
  src/ai/backend/agent/stats.py
  src/ai/backend/common/metrics/types.py
Labels: comp:agent, comp:common, size:M, backport

#6160 fix(BA-2587): Validate container registry input in `create`, `update` mutations
  changes/6160.fix.md
  src/ai/backend/manager/models/container_registry.py
  src/ai/backend/manager/models/gql_models/container_registry.py
  src/ai/backend/manager/models/gql_models/container_registry_v2.py
  tests/manager/api/test_container_registries.py
Labels: comp:manager, size:M

#6169 fix(BA-2599): Insert model-store vfolder data in `VFolderPermissionRow` only when vfolder ownership type is user
  changes/2599.fix.md
  src/ai/backend/manager/services/vfolder/services/vfolder.py
Labels: comp:manager, size:XS

#6161 fix(BA-2589): Invalidate resource preset cache properly
  changes/6161.fix.md
  src/ai/backend/common/clients/valkey_client/valkey_stat/client.py
  src/ai/backend/manager/repositories/scheduler/cache_source/cache_source.py
  src/ai/backend/manager/repositories/scheduler/repository.py
  src/ai/backend/manager/sokovan/scheduler/handlers/check_terminating_progress.py
  src/ai/backend/manager/sokovan/scheduler/handlers/schedule_sessions.py
  src/ai/backend/manager/sokovan/scheduler/handlers/sweep_sessions.py
  src/ai/backend/manager/sokovan/scheduler/handlers/terminate_sessions.py
Labels: comp:manager, comp:common, size:L

#6207 fix(BA-2657): Resolve race conditions in test container port allocation
  changes/6207.fix.md
  src/ai/backend/testutils/bootstrap.py
  tests/common/redis_helper/docker.py
Labels: size:M

#6208 chore: Sort milestones using version sort in workflow
  .github/workflows/backport.yml
Labels: skip:changelog, size:XS

#6211 feat(BA-2653): Apply Resilience framework to agent client
  changes/6211.feature.md
  src/ai/backend/manager/clients/agent/client.py
  src/ai/backend/manager/sokovan/scheduler/scheduler.py
Labels: comp:manager, size:M
