Repository lablup/backend.ai, pull requests merged in 2025-03, with the labels that each got.

#3707 feat(BA-750): Add sum of resource slots field to scaling group schema
  changes/3707.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/scaling_group.py
Labels: area:docs, comp:manager, size:M

#3714 feat(BA-759): Revamp api handler
  src/ai/backend/common/api_handlers.py
  src/ai/backend/common/exception.py
Labels: comp:common, skip:changelog, size:L

#3630 feat(BA-681): Allow unmanaged vfolders to be created and mounted
  changes/3630.feature.md
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/gql_models/vfolder.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/storage.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/models/vfolder.py
  src/ai/backend/manager/registry.py
Labels: area:docs, comp:manager, size:L

#3780 fix(BA-781): Let Auth API handler check all keypairs owned by user
  changes/3780.fix.md
  src/ai/backend/manager/api/auth.py
  src/ai/backend/manager/models/keypair.py
  src/ai/backend/manager/models/user.py
Labels: area:docs, comp:manager, size:M

#3864 fix(BA-781): Let Auth API handler check all keypairs owned by user (#3780)
  changes/3780.fix.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/manager/api/auth.py
  src/ai/backend/manager/models/keypair.py
  src/ai/backend/manager/models/user.py
Labels: area:docs, comp:manager, size:L, backport

#3861 fix(BA-880): Aggregate multi-kernel session utilization in idle checker
  changes/3861.fix.md
  src/ai/backend/manager/idle.py
Labels: comp:manager, size:M

#3866 fix(BA-880): Aggregate multi-kernel session utilization in idle checker (#3861)
  changes/3861.fix.md
  src/ai/backend/manager/idle.py
Labels: comp:manager, size:M, backport

#3865 fix(BA-880): Aggregate multi-kernel session utilization in idle checker (#3861)
  changes/3861.fix.md
  src/ai/backend/manager/idle.py
Labels: comp:manager, size:M, backport

#3652 fix(BA-693): Failure of whole image rescanning when there is a misconfigured container registry
  changes/3652.fix.md
  src/ai/backend/client/cli/admin/image.py
  src/ai/backend/client/cli/service.py
  src/ai/backend/client/cli/session/lifecycle.py
  src/ai/backend/client/cli/vfolder.py
  src/ai/backend/common/bgtask.py
  src/ai/backend/common/events.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/events.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/models/image.py
Labels: type:bug, area:docs, comp:manager, comp:client, comp:common, comp:cli, size:XL

#3868 fix(BA-872): Fix webserver CSP config
  configs/webserver/halfstack.conf
  configs/webserver/sample.conf
Labels: skip:changelog, size:M

#3871 fix(BA-887): Rescan all tags in `HarborRegistryV2`
  changes/3871.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: type:bug, comp:manager, size:M

#3875 fix(BA-887): Rescan all tags in `HarborRegistryV2` (#3871)
  changes/3871.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: type:bug, comp:manager, size:M, backport

#3873 fix(BA-887): Rescan all tags in `HarborRegistryV2` (#3871)
  changes/3871.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: type:bug, comp:manager, size:M, backport

#3874 fix(BA-887): Rescan all tags in `HarborRegistryV2` (#3871)
  changes/3871.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: type:bug, comp:manager, size:M, backport

#3814 feat(BA-741): Support `application/vnd.oci.image.manifest.v1+json` type images
  changes/3814.feature.md
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/container_registry/harbor.py
Labels: type:feature, comp:manager, size:L

#3293 feat(BA-460): Cache `gpu_alloc_map` in Redis, and Add `RescanGPUAllocMaps` mutation
  changes/3293.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/agent.py
  tests/manager/conftest.py
  tests/manager/models/gql_models/test_agent.py
Labels: type:feature, area:docs, comp:manager, size:L

#3619 feat(BA-672): Add `status` Column to `Image` table
  changes/3619.feature.md
  src/ai/backend/manager/models/alembic/versions/c002140f14d3_add_status_column_to_the_image_table.py
  src/ai/backend/manager/models/image.py
Labels: area:docs, comp:manager, require:db-migration, size:M

#3718 feat(BA-760): Add scaling_group_name column to resource preset table
  changes/3718.feature.md
  src/ai/backend/manager/models/alembic/versions/d537c050dd8d_add_scaling_group_name_column_to_.py
  src/ai/backend/manager/models/resource_preset.py
  src/ai/backend/manager/models/scaling_group.py
Labels: area:docs, comp:manager, require:db-migration, size:M

#3628 feat(BA-674): Implement `Image` Soft/Hard Delete APIs
  changes/3628.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/client/cli/image.py
  src/ai/backend/common/docker.py
  src/ai/backend/manager/cli/image.py
  src/ai/backend/manager/cli/image_impl.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/base.py
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/models/image.py
Labels: area:docs, comp:manager, comp:client, comp:common, comp:cli, size:L

#3647 feat(BA-675): Implement `Image` status filtering logics
  changes/3647.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/cli/image_impl.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/container_registry/local.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/models/image.py
Labels: area:docs, comp:manager, comp:cli, size:L

#3719 feat(BA-761): Update resource preset API schemas to support resource group mapping
  changes/3719.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/api/resource.py
  src/ai/backend/manager/models/alembic/versions/9fc0e92ea510_add_unique_constraint.py
  src/ai/backend/manager/models/resource_preset.py
Labels: area:docs, comp:manager, require:db-migration, size:L

#3704 feat(BA-746): Implement `PurgeImages` GQL API
  changes/3704.feature.md
  configs/agent/sample-dummy-config.toml
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/dummy/config.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/server.py
  src/ai/backend/client/cli/service.py
  src/ai/backend/common/bgtask.py
  src/ai/backend/common/dto/agent/BUILD
  src/ai/backend/common/dto/agent/response.py
  src/ai/backend/common/events.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/registry.py
Labels: type:feature, area:docs, comp:manager, comp:agent, comp:client, comp:common, comp:cli, size:L

#3883 fix(BA-898): Image rescan DB serialization error
  changes/3883.fix.md
  src/ai/backend/manager/models/image.py
Labels: type:bug, comp:manager, size:M

#3884 fix(BA-898): Image rescan DB serialization error (#3883)
  changes/3883.fix.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/manager/models/image.py
Labels: type:bug, area:docs, comp:manager, size:L, backport

#3543 fix(BA-585): Empty tag image scan error in docker registry (#3533)
  changes/3513.fix.md
  src/ai/backend/manager/container_registry/base.py
Labels: comp:manager, size:S

#3888 fix(BA-902): Wrong resource-preset query
  src/ai/backend/manager/api/resource.py
Labels: comp:manager, skip:changelog, size:S

#3897 fix(BA-912): GQL compute session node resolver misses kernel ORM object loading
  src/ai/backend/manager/models/gql_models/session.py
Labels: comp:manager, skip:changelog, size:XS

#3900 fix(BA-913): GQL vfolder_node type does not resolve permissions field
  changes/3900.fix.md
  src/ai/backend/manager/models/gql_models/vfolder.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:M

#3880 fix(BA-871): Retry zmq socket from kernel
  changes/3880.feature.md
  changes/3880.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
  src/ai/backend/agent/exception.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/common/events.py
Labels: comp:agent, comp:common, size:L

#3904 fix(BA-871): Retry zmq socket from kernel (#3880)
  changes/3880.feature.md
  changes/3880.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
  src/ai/backend/agent/exception.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/common/events.py
Labels: comp:agent, comp:common, size:L, backport

#3891 feat(BA-15): Add GQL Exception middleware
  changes/3891.feature.md
  configs/grafana/dashboards/dashboard.json
  src/ai/backend/common/metrics/metric.py
  src/ai/backend/manager/api/admin.py
  src/ai/backend/manager/models/gql.py
  tests/manager/models/gql_models/test_agent.py
  tests/manager/models/gql_models/test_container_registries.py
  tests/manager/models/gql_models/test_container_registry_nodes.py
  tests/manager/models/gql_models/test_container_registry_nodes_v2.py
  tests/manager/models/gql_models/test_group.py
  tests/manager/models/test_container_registries.py
  tests/manager/models/test_image.py
  tests/manager/models/test_vfolder.py
Labels: comp:manager, comp:common, size:XL

#3909 fix: Missing cases where sudo is required to run docker
  scripts/install-dev.sh
Labels: comp:installer, skip:changelog, size:XS

#3911 fix: Missing cases where sudo is required to run docker (#3909)
  scripts/install-dev.sh
Labels: comp:installer, skip:changelog, size:XS, backport

#3912 fix: Missing cases where sudo is required to run docker (#3909)
  scripts/install-dev.sh
Labels: comp:installer, skip:changelog, size:XS, backport

#3913 fix: Relax required resource-preset GQL mutation fields to not-required
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/resource_preset.py
Labels: area:docs, comp:manager, skip:changelog, size:M

#3693 feat(BA-442): Distribute model service replica containers whenever possible
  changes/3693.feature.md
  src/ai/backend/manager/models/scaling_group.py
  src/ai/backend/manager/scheduler/agent_selector.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/manager/scheduler/types.py
  tests/manager/scheduler_utils.py
  tests/manager/test_agent_selector.py
Labels: type:feature, comp:manager, size:L

#3898 feat(BA-823): Delegate service ownership when purge user
  changes/3898.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/client/cli/admin/user.py
  src/ai/backend/client/func/user.py
  src/ai/backend/manager/models/alembic/versions/70e0533aa49a_remove_foreign_keys_on_endpoints.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/routing.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/models/user.py
Labels: area:docs, comp:manager, comp:client, comp:cli, require:db-migration, size:L

#3916 feat(BA-925): Add filter/order to resource preset GQL query and follow-up delete mutation
  changes/3916.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/resource_preset.py
Labels: area:docs, comp:manager, size:L

#3917 chore: Add agent dto to python distribution
  src/ai/backend/common/BUILD
Labels: skip:changelog, size:XS

#3885 fix(BA-901): remove `show_kernel_list` configuration
  configs/webserver/sample.conf
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: comp:webserver, size:XS

#3928 fix(BA-934): Resolve GQL Agent live_stat field
  changes/3928.fix.md
  src/ai/backend/common/msgpack.py
  src/ai/backend/manager/models/gql_models/agent.py
  tests/common/test_msgpack.py
Labels: comp:manager, comp:common, size:M

#3835 feat(BA-852): Add option to control visibility of interactive login account switch button
  changes/3835.feature.md
  configs/webserver/sample.conf
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: comp:webserver, size:XS

#3934 chore(BA-941): clean up unused configuration of webserver.conf
  configs/webserver/halfstack.conf
  configs/webserver/sample.conf
  docs/install/install-from-package/install-webserver.rst
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
  src/ai/backend/web/templates/config_ini.toml.j2
Labels: area:docs, comp:webserver, skip:changelog, size:S

#3944 feat(BA-963): Separate metric name labels for container metric and device metric
  src/ai/backend/agent/metrics/metric.py
Labels: comp:agent, skip:changelog, size:XS

#3963 fix(BA-926): Properly handle zero-value unknown resource limits when creating session (#3925)
  changes/3925.fix.md
  src/ai/backend/common/types.py
  src/ai/backend/manager/registry.py
Labels: type:bug, comp:manager, comp:common, size:XS, backport

#3962 fix(BA-926): Properly handle zero-value unknown resource limits when creating session (#3925)
  changes/3925.fix.md
  src/ai/backend/common/types.py
  src/ai/backend/manager/registry.py
Labels: type:bug, comp:manager, comp:common, size:XS, backport

#3712 feat(BA-924): Implement `AuditLogs` table
  changes/3712.feature.md
  src/ai/backend/agent/server.py
  src/ai/backend/common/events.py
  src/ai/backend/manager/models/alembic/versions/683ca0a32f41_add_imageauditlogrow_table.py
  src/ai/backend/manager/models/audit_log.py
  src/ai/backend/manager/registry.py
Labels: area:docs, comp:manager, comp:agent, comp:common, comp:cli, require:db-migration, size:L

#3935 feat(BA-430): Improve Performance of vfolder `list_host` API handler
  changes/3935.feature.md
  src/ai/backend/manager/api/vfolder.py
Labels: comp:manager, size:M

#3976 feat(BA-430): Improve Performance of vfolder `list_host` API handler (#3935)
  changes/3935.feature.md
  src/ai/backend/manager/api/vfolder.py
Labels: comp:manager, size:M, backport

#3975 feat(BA-430): Improve Performance of vfolder `list_host` API handler (#3935)
  changes/3935.feature.md
  src/ai/backend/manager/api/vfolder.py
Labels: comp:manager, size:M, backport

#3977 feat(BA-430): Improve Performance of vfolder `list_host` API handler (#3935)
  changes/3935.feature.md
  src/ai/backend/manager/api/vfolder.py
Labels: comp:manager, size:M, backport

#3983 fix(BA-970): Prevent `image forget` CLI from deleting registry image
  src/ai/backend/client/cli/image.py
  src/ai/backend/client/func/image.py
Labels: comp:client, comp:cli, size:XS

#3980 feat(BA-968): Add container labels for better metric query
  changes/3980.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/dummy/kernel.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/kubernetes/kernel.py
  src/ai/backend/agent/metrics/metric.py
  src/ai/backend/agent/metrics/types.py
  src/ai/backend/agent/server.py
  src/ai/backend/agent/stats.py
  src/ai/backend/agent/types.py
  src/ai/backend/common/metrics/types.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, comp:agent, comp:common, size:L

#3996 fix(BA-1006): superadmin query agent nodes
  changes/3996.fix.md
  src/ai/backend/manager/models/gql_models/agent.py
Labels: comp:manager, size:M

#3999 feat(BA-1008): Make action processor work with async functions
  changes/3999.feature.md
  src/ai/backend/manager/actions/processor.py
Labels: comp:manager, size:XS

#3989 feat(BA-922): Add internal address config
  changes/3989.feature.md
  configs/account-manager/halfstack.toml
  configs/account-manager/sample.toml
  configs/manager/halfstack.toml
  configs/manager/sample.toml
  configs/prometheus/prometheus.yaml
  configs/storage-proxy/halfstack.toml
  configs/storage-proxy/sample.toml
  configs/wsproxy/halfstack.toml
  configs/wsproxy/sample.toml
  src/ai/backend/account_manager/config.py
  src/ai/backend/account_manager/server.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/config.py
  src/ai/backend/storage/context.py
  src/ai/backend/storage/server.py
  src/ai/backend/wsproxy/config.py
  src/ai/backend/wsproxy/server.py
Labels: comp:manager, comp:storage-proxy, size:L

#4006 fix(BA-1016): Wrong uuid parse in list presets API handler
  changes/4006.fix.md
  src/ai/backend/manager/api/resource.py
Labels: comp:manager, size:XS

#4011 fix(BA-1019): Correct initialization of Storage proxy event dispatcher
  changes/4010.fix.md
  src/ai/backend/storage/server.py
Labels: comp:storage-proxy, size:XS

#3990 fix(BA-1003): Wrong error message logging when `model_path` does not exist
  changes/3990.fix.md
  src/ai/backend/kernel/base.py
Labels: type:bug, comp:agent, size:XS

#4008 fix: Improve handling of process termination races in the krunner's OOM logger
  changes/4008.fix.md
  src/ai/backend/kernel/utils.py
Labels: comp:agent, size:XS

#4017 fix(BA-1003): Wrong error message logging when `model_path` does not exist (#3990)
  changes/3990.fix.md
  src/ai/backend/kernel/base.py
Labels: type:bug, comp:agent, size:XS, backport

#4018 fix(BA-1003): Wrong error message logging when `model_path` does not exist (#3990)
  changes/3990.fix.md
  src/ai/backend/kernel/base.py
Labels: type:bug, comp:agent, size:XS, backport

#4022 fix(BA-1025): Update common structure
  changes/4022.fix.md
  src/ai/backend/manager/actions/action.py
  src/ai/backend/manager/server.py
Labels: comp:manager, size:S

#4025 fix(BA-1024): Fix wrong parse of auto-mount vfolders inputs
  changes/4025.fix.md
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:XS

#3940 feat(BA-942): Add accelerator quantum size field to GQL scaling group
  changes/3940.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/__init__.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/scaling_group.py
Labels: area:docs, comp:manager, size:L

#4029 feat(BA-1030): Enhance session status transition management
  changes/4029.feature.md
  src/ai/backend/manager/models/session.py
Labels: comp:manager, size:S

#4032 fix(BA-1032): `modify_compute_session` error caused by missing kernel loading option
  changes/4032.fix.md
  src/ai/backend/manager/models/gql_models/session.py
Labels: comp:manager, size:XS

#4034 fix(BA-1032): `modify_compute_session` error caused by missing kernel loading option (#4032)
  changes/4032.fix.md
  src/ai/backend/manager/models/gql_models/session.py
Labels: comp:manager, size:XS, backport

#4014 ci: Check alembic multi head in merge queue
  .github/workflows/ci.yml
Labels: skip:changelog, size:XS

#2849 feat(BA-1015): Add GQL schema to query total resource slots
  changes/2849.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/session.py
  src/ai/backend/manager/models/minilang/__init__.py
  src/ai/backend/manager/models/minilang/queryfilter.py
  src/ai/backend/manager/models/session.py
Labels: area:docs, comp:manager, size:L

#4037 fix(BA-1001): model service exceeding amount of session deleted
  changes/4037.fix.md
  src/ai/backend/manager/models/routing.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: type:bug, comp:manager, size:XS

#4045 fix(BA-1039): Do not check storage host permission
  changes/4045.fix.md
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:S

#3992 feat(BA-1004): Split stale sweepers for sessions and kernels
  changes/3992.feature.md
  configs/grafana/dashboards/dashboard.json
  docs/manager/rest-reference/openapi.json
  src/ai/backend/common/metrics/metric.py
  src/ai/backend/common/redis_helper.py
  src/ai/backend/common/validators.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/sweeper/BUILD
  src/ai/backend/manager/sweeper/base.py
  src/ai/backend/manager/sweeper/kernel.py
  src/ai/backend/manager/sweeper/session.py
Labels: area:docs, comp:manager, comp:common, size:XL

#4056 feat(BA-1048): Add raise exception in action processor
  changes/4056.feature.md
  src/ai/backend/manager/actions/action.py
  src/ai/backend/manager/actions/processor.py
  tests/manager/actions/BUILD
  tests/manager/actions/test_processor.py
Labels: comp:manager, size:L

#4063 fix(BA-1018): Wrong exception handling in image rescanning (#4057)
  changes/4057.fix.md
  src/ai/backend/client/cli/admin/image.py
  src/ai/backend/manager/cli/image_impl.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/container_registry/harbor.py
  src/ai/backend/manager/exceptions.py
Labels: area:docs, comp:manager, comp:client, comp:common, comp:cli, size:L, backport

#4050 fix(BA-1042): fix typo in keypair resource policy affecting `max_concurrent_sftp_sessions`
  changes/4050.feature.md
  src/ai/backend/manager/models/resource_policy.py
Labels: area:docs, comp:manager, size:XS

#4062 fix(BA-1052): volatile network instance not created
  changes/4062.fix.md
  src/ai/backend/manager/registry.py
Labels: type:bug, comp:manager, size:XS

#3939 fix(BA-954): Customized image visibility issue
  changes/3939.fix.md
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/models/image.py
Labels: type:bug, comp:manager, size:L

#4001 feat(BA-1009): Add `AuditLog` GQL interface
  changes/4001.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/audit_log.py
Labels: area:docs, comp:manager, size:L
