Repository lablup/backend.ai, pull requests merged in 2025-07, with the labels that each got.

#4906 fix(BA-1727): Wrong error message when vfolder invitation row not found
  changes/4906.fix.md
  src/ai/backend/common/exception.py
  src/ai/backend/manager/services/vfolder/exceptions.py
  src/ai/backend/manager/services/vfolder/services/invite.py
Labels: comp:manager, comp:common, size:S

#4912 feat(BA-1723): Reduce dangling kernel log
  changes/4912.feature.md
  src/ai/backend/agent/agent.py
Labels: comp:agent, size:S

#4907 feat: make endpoint GQL query filterable by `created_user`
  changes/4907.feature.md
  src/ai/backend/manager/models/gql_models/endpoint.py
Labels: comp:manager, size:XS

#4914 feat(BA-1726): Add `exclude_tags` to tester.toml
  changes/4914.feature.md
  configs/tester/tester.toml
  src/ai/backend/test/cli/__main__.py
  src/ai/backend/test/templates/model_service/endpoint.py
  src/ai/backend/test/testcases/model_service/testspecs.py
  src/ai/backend/test/testcases/session/multi_node_multi_container/BUILD
  src/ai/backend/test/testcases/session/multi_node_multi_container/__init__.py
  src/ai/backend/test/testcases/session/multi_node_multi_container/testspecs.py
  src/ai/backend/test/testcases/session/single_node_multi_container/BUILD
  src/ai/backend/test/testcases/session/single_node_multi_container/__init__.py
  src/ai/backend/test/testcases/session/single_node_multi_container/testspecs.py
  src/ai/backend/test/testcases/session/single_node_single_container/BUILD
  src/ai/backend/test/testcases/session/single_node_single_container/__init__.py
  src/ai/backend/test/testcases/session/single_node_single_container/testspecs.py
  src/ai/backend/test/testcases/session/testspecs.py
  src/ai/backend/test/testcases/spec_manager.py
  src/ai/backend/test/tester/config.py
  src/ai/backend/test/tester/tester.py
Labels: size:XL

#4922 fix(BA-1744): Handle NoSuchProcess properly when gather process stat
  changes/4922.fix.md
  src/ai/backend/agent/docker/intrinsic.py
Labels: comp:agent, size:XS

#4930 fix(BA-1744): Handle NoSuchProcess properly when gather process stat (#4922)
  changes/4922.fix.md
  src/ai/backend/agent/docker/intrinsic.py
Labels: comp:agent, size:XS, backport

#4929 fix(BA-1722): Check daemon process before query docker netstat
  changes/4929.fix.md
  src/ai/backend/agent/docker/intrinsic.py
Labels: comp:agent, size:S

#4932 fix(BA-1746): Skip kernel destroy when agent shutdown (#4923)
  changes/4923.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/manager/api/manager.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, comp:agent, size:M, backport

#4934 fix:(BA-1745) Handle invalid moving stat value
  changes/4934.fix.md
  src/ai/backend/agent/stats.py
Labels: comp:agent, size:M

#4939 feat(BA-1747): Add expire time to login history key
  changes/4939.feature.md
  src/ai/backend/web/server.py
Labels: comp:webserver, size:S

#4948 fix(BA-1752): Wrong indent in Agent container stat function (#4946)
  changes/4946.fix.md
  src/ai/backend/agent/agent.py
Labels: comp:agent, size:XS, backport

#4950 deps(BA-1753): Fix aiodns version to 3.2.0
  changes/4950.deps.md
  python.lock
  requirements.txt
Labels: size:XS

#4953 fix(BA-1754): Broken `PlainTextFilesUploader` in macOS
  changes/4953.fix.md
  src/ai/backend/test/templates/vfolder/file_uploader.py
Labels: size:XS

#4955 chore: Better stat failure logging
  src/ai/backend/agent/stats.py
Labels: comp:agent, skip:changelog, size:S

#4957 feat(BA-1625): Use json.dumps to serialize yarl types correctly
  changes/4957.fix.md
  src/ai/backend/agent/kernel.py
Labels: comp:agent, size:S

#4962 fix(BA-1404): Calculate correct permissions for admins (#4459)
  changes/4962.fix.md
  src/ai/backend/manager/models/rbac/__init__.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:S

#4963 fix(BA-1404): Calculate correct permissions for admins #4459
  changes/4963.fix.md
  src/ai/backend/manager/models/rbac/__init__.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:S

#4970 chore: Simplify logging in valkey_decorator by removing redundant arguments
  src/ai/backend/common/clients/valkey_client/valkey_stream/client.py
Labels: comp:common, skip:changelog, size:S

#4973 fix(BA-1768): Remove the incorrect warning logs that `BgtaskUpdated` is not supported
  src/ai/backend/manager/services/session/service.py
Labels: comp:manager, skip:changelog, size:S

#4954 fix(BA-1644): PurgeUser not working when active compute session exist
  changes/4954.fix.md
  src/ai/backend/common/events/event_types/kernel/types.py
  src/ai/backend/manager/models/alembic/versions/bf39b34717d4_remove_session_table_s_access_key_.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/keypair.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/services/processors.py
  src/ai/backend/manager/services/user/service.py
  tests/manager/services/test_users.py
Labels: comp:manager, comp:common, require:db-migration, size:L

#4987 feat(BA-1774): Implement ValkeySentinelClient with connection management and master monitoring
  changes/4987.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/common/clients/valkey_client/client.py
  src/ai/backend/common/clients/valkey_client/valkey_stream/client.py
  src/ai/backend/common/message_queue/redis_queue.py
  src/ai/backend/common/types.py
  tests/common/conftest.py
  tests/common/message_queue/test_redis_queue.py
Labels: comp:agent, comp:common, size:L

#4917 fix(BA-1720): Clean up endpoints when purge group
  changes/4917.fix.md
  src/ai/backend/manager/services/group/actions/purge_group.py
  src/ai/backend/manager/services/group/service.py
Labels: comp:manager, size:L

#4998 fix: Avoid using potential unbound service_port var
  src/ai/backend/agent/agent.py
Labels: comp:agent, skip:changelog, size:XS

#4994 fix(BA-1720): Clean up endpoints when purge group (#4917)
  changes/4917.fix.md
  src/ai/backend/manager/services/group/actions/purge_group.py
  src/ai/backend/manager/services/group/service.py
Labels: comp:manager, size:M, backport

#5004 feat(BA-1758): WSProxy expose advertise address (#4975)
  changes/4975.feature.md
  src/ai/backend/wsproxy/api/proxy.py
  src/ai/backend/wsproxy/config.py
  src/ai/backend/wsproxy/server.py
Labels: size:S, backport

#5005 feat(BA-1758): WSProxy expose advertise address (#4975)
  changes/4975.feature.md
  src/ai/backend/wsproxy/api/proxy.py
  src/ai/backend/wsproxy/config.py
  src/ai/backend/wsproxy/server.py
Labels: size:S, backport

#5007 fix: Avoid using potential unbound service_port var #4998
  src/ai/backend/agent/agent.py
Labels: area:docs, comp:agent, skip:changelog, size:XS

#5022 fix(BA-1741): Incorrect filetype check of `PureStorage` VFolder (#5018)
  changes/5018.fix.md
  src/ai/backend/storage/volumes/purestorage/rapidfiles.py
  src/ai/backend/storage/volumes/purestorage/rapidfiles_v2.py
Labels: comp:storage-proxy, size:S, backport

#5024 fix: Add missing `nullable` property to `SessionRow.user_uuid`
  src/ai/backend/manager/models/session.py
Labels: comp:manager, skip:changelog, size:XS

#5030 fix: Delete unnecessary revision histories
  src/ai/backend/manager/models/alembic/revision_history/24.09.4.json
  src/ai/backend/manager/models/alembic/revision_history/24.12.1.json
  src/ai/backend/manager/models/alembic/revision_history/25.1.1.json
  src/ai/backend/manager/models/alembic/revision_history/25.2.0.json
Labels: skip:changelog, size:XL

#4991 feat(BA-1777): Add JSON log formatter for OTEL
  changes/4991.feature.md
  src/ai/backend/logging/otel.py
Labels: size:S

#4777 feat(BA-1558): Add model service replica scale test
  changes/4777.feature.md
  configs/tester/tester.toml
  src/ai/backend/test/contexts/context.py
  src/ai/backend/test/contexts/resource_policy.py
  src/ai/backend/test/templates/model_service/endpoint.py
  src/ai/backend/test/templates/model_service/utils.py
  src/ai/backend/test/testcases/model_service/replicas_scale_successfully.py
  src/ai/backend/test/testcases/model_service/scale_failure_too_many_sessions.py
  src/ai/backend/test/testcases/model_service/testspecs.py
  src/ai/backend/test/tester/dependency.py
Labels: size:L

#5047 fix(BA-1847): Wrong `service ports` field name of Session creation response
  changes/5047.fix.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:XS

#5048 fix(BA-1847): Wrong `service ports` field name of Session creation response (#5047)
  changes/5047.fix.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:XS, backport

#4981 refactor(BA-1712): Apply provisioner to image stage
  changes/4981.enhance.md
  src/ai/backend/agent/stage/kernel_lifecycle/docker/image.py
  src/ai/backend/common/asyncio.py
Labels: comp:agent, comp:common, size:L

#4986 refactor(BA-1718): Apply provisioner to environ stage
  changes/4986.enhance.md
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/stage/kernel_lifecycle/defs.py
  src/ai/backend/agent/stage/kernel_lifecycle/docker/environ.py
  tests/agent/test_resources.py
Labels: comp:agent, comp:common, size:L

#4971 feat(BA-1699): Add vfolder share test
  changes/4971.feature.md
  configs/tester/tester.toml
  src/ai/backend/client/session.py
  src/ai/backend/test/contexts/context.py
  src/ai/backend/test/contexts/vfolder.py
  src/ai/backend/test/data/vfolder.py
  src/ai/backend/test/templates/vfolder/share.py
  src/ai/backend/test/testcases/vfolder/share.py
  src/ai/backend/test/testcases/vfolder/testspecs.py
  src/ai/backend/test/tester/dependency.py
  src/ai/backend/test/utils/exceptions.py
Labels: comp:client, size:L

#5054 feat(BA-1791): Support OTEL to storage and webserver components
  changes/5054.feature.md
  configs/storage-proxy/halfstack.toml
  configs/storage-proxy/sample.toml
  configs/webserver/halfstack.conf
  configs/webserver/sample.conf
  src/ai/backend/storage/config.py
  src/ai/backend/storage/server.py
  src/ai/backend/web/config.py
  src/ai/backend/web/server.py
Labels: comp:common, comp:webserver, comp:storage-proxy, size:M

#5056 fix(BA-1822): Return unique mount folder names in compute session GraphQL resolver
  changes/5056.fix.md
  src/ai/backend/manager/models/gql_models/session.py
Labels: type:bug, comp:manager, comp:common, size:XS

#5061 fix: Update OpenTelemetry configuration
  src/ai/backend/storage/server.py
Labels: comp:storage-proxy, skip:changelog, size:XS

#5025 feat(BA-1808): Add RBAC DB schema
  changes/5025.feature.md
  src/ai/backend/manager/models/__init__.py
  src/ai/backend/manager/models/alembic/env.py
  src/ai/backend/manager/models/alembic/versions/60bcbf00a96e_add_role_tables.py
  src/ai/backend/manager/models/rbac_models/BUILD
  src/ai/backend/manager/models/rbac_models/__init__.py
  src/ai/backend/manager/models/rbac_models/resource_permission.py
  src/ai/backend/manager/models/rbac_models/role.py
  src/ai/backend/manager/models/rbac_models/role_permission.py
  src/ai/backend/manager/models/rbac_models/user_role.py
  src/ai/backend/manager/models/user.py
Labels: comp:manager, require:db-migration, size:L

#5059 fix(BA-1824): Unbound local variable when model-folder is used in service `extra_mounts`
  changes/5059.fix.md
  src/ai/backend/client/func/service.py
Labels: type:bug, comp:client, size:S

#5081 fix(BA-1824): Unbound local variable when model-folder is used in service `extra_mounts` (#5059)
  changes/5059.fix.md
  src/ai/backend/client/func/service.py
Labels: type:bug, comp:client, size:S, backport

#5064 feat(BA-1825): Apply pydantic config in webserver
  changes/5064.enhance.md
  src/ai/backend/manager/config/unified.py
  src/ai/backend/web/auth.py
  src/ai/backend/web/config.py
  src/ai/backend/web/config/BUILD
  src/ai/backend/web/config/__init__.py
  src/ai/backend/web/config/unified.py
  src/ai/backend/web/proxy.py
  src/ai/backend/web/server.py
  src/ai/backend/web/templates/config.toml.j2
  src/ai/backend/web/templates/config_ini.toml.j2
  tests/webserver/test_auth.py
Labels: comp:manager, comp:webserver, size:XL

#5080 fix(BA-1834): Manager handles already deleted vfolder correctly
  changes/5080.fix.md
  src/ai/backend/common/exception.py
  src/ai/backend/manager/errors/exceptions.py
  src/ai/backend/manager/models/storage.py
Labels: comp:manager, comp:common, size:S

#5062 feat(BA-1068): Apply pydantic config in storage-proxy
  changes/5062.enhance.md
  src/ai/backend/storage/api/client.py
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/config.py
  src/ai/backend/storage/config/BUILD
  src/ai/backend/storage/config/__init__.py
  src/ai/backend/storage/config/loaders.py
  src/ai/backend/storage/config/unified.py
  src/ai/backend/storage/context.py
  src/ai/backend/storage/migration.py
  src/ai/backend/storage/server.py
  src/ai/backend/storage/volumes/pool.py
  src/ai/backend/web/config/unified.py
  tests/storage-proxy/conftest.py
  tests/storage-proxy/vfolder/test_pool.py
Labels: comp:webserver, comp:storage-proxy, size:XL

#5084 fix(BA-1834): Manager handles already deleted vfolder correctly (#5080)
  changes/5080.fix.md
  src/ai/backend/manager/api/exceptions.py
  src/ai/backend/manager/models/storage.py
Labels: comp:manager, comp:common, size:S, backport

#5074 feat(BA-1831): Separate repository layer from image service
  changes/5074.enhance.md
  src/ai/backend/manager/api/context.py
  src/ai/backend/manager/errors/exceptions.py
  src/ai/backend/manager/repositories/BUILD
  src/ai/backend/manager/repositories/__init__.py
  src/ai/backend/manager/repositories/image/BUILD
  src/ai/backend/manager/repositories/image/__init__.py
  src/ai/backend/manager/repositories/image/admin_repository.py
  src/ai/backend/manager/repositories/image/repositories.py
  src/ai/backend/manager/repositories/image/repository.py
  src/ai/backend/manager/repositories/repositories.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/services/image/actions/alias_image.py
  src/ai/backend/manager/services/image/actions/dealias_image.py
  src/ai/backend/manager/services/image/actions/forget_image.py
  src/ai/backend/manager/services/image/actions/forget_image_by_id.py
  src/ai/backend/manager/services/image/actions/modify_image.py
  src/ai/backend/manager/services/image/actions/purge_image_by_id.py
  src/ai/backend/manager/services/image/actions/untag_image_from_registry.py
  src/ai/backend/manager/services/image/service.py
  src/ai/backend/manager/services/processors.py
  tests/manager/services/image/actions/test_forget_image.py
  tests/manager/services/image/actions/test_forget_image_by_id.py
  tests/manager/services/image/actions/test_modify_image.py
  tests/manager/services/image/actions/test_purge_image_by_id.py
  tests/manager/services/image/actions/test_untag_image_from_registry.py
  tests/manager/services/image/conftest.py
Labels: comp:manager, size:XL

#5090 fix: incorrect msgpack import
  src/ai/backend/common/clients/valkey_client/valkey_stat/client.py
Labels: comp:common, skip:changelog, size:S

#5092 feat(BA-1842): Add TRACE Level for log
  changes/5092.feature.md
  src/ai/backend/common/clients/valkey_client/client.py
  src/ai/backend/logging/utils.py
  src/ai/backend/manager/config/unified.py
Labels: comp:manager, comp:common, size:S

#4992 feat(BA-1778): Add metadata support to event handling and message payloads
  changes/4991.feature.md
  src/ai/backend/common/contexts/user_id.py
  src/ai/backend/common/events/dispatcher.py
  src/ai/backend/common/message_queue/types.py
  src/ai/backend/common/middlewares/request_id.py
  src/ai/backend/logging/utils.py
  src/ai/backend/manager/api/auth.py
Labels: comp:manager, comp:common, require:db-migration, size:L

#5118 fix(BA-1854): Handle scratch already cleaned before destroy container
  changes/5118.fix.md
  src/ai/backend/agent/agent.py
Labels: comp:agent, size:S

#5122 fix(BA-1854): Handle scratch already cleaned before destroy container (#5118)
  changes/5118.fix.md
  src/ai/backend/agent/agent.py
Labels: comp:agent, size:S, backport

#5123 fix: Agent local config type updates
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/kubernetes/agent.py
Labels: comp:agent, skip:changelog, size:S

#5103 feat(BA-1848): Implement configuration management CLI for agent, storage, and webserver
  changes/5103.feature.md
  configs/agent/sample.toml
  configs/manager/sample.toml
  configs/storage-proxy/sample.toml
  configs/webserver/sample.toml
  scripts/release.sh
  src/ai/backend/agent/BUILD
  src/ai/backend/agent/cli.py
  src/ai/backend/agent/cli/BUILD
  src/ai/backend/agent/cli/__init__.py
  src/ai/backend/agent/cli/__main__.py
  src/ai/backend/agent/cli/config.py
  src/ai/backend/agent/cli/context.py
  src/ai/backend/agent/config/unified.py
  src/ai/backend/common/configs/sample_generator.py
  src/ai/backend/storage/BUILD
  src/ai/backend/storage/cli.py
  src/ai/backend/storage/cli/BUILD
  src/ai/backend/storage/cli/__init__.py
  src/ai/backend/storage/cli/__main__.py
  src/ai/backend/storage/cli/config.py
  src/ai/backend/storage/cli/context.py
  src/ai/backend/web/BUILD
  src/ai/backend/web/cli.py
  src/ai/backend/web/cli/BUILD
  src/ai/backend/web/cli/__init__.py
  src/ai/backend/web/cli/__main__.py
  src/ai/backend/web/cli/config.py
  src/ai/backend/web/cli/context.py
Labels: comp:agent, comp:common, comp:cli, comp:webserver, comp:storage-proxy, size:XL

#5115 feat(BA-1669): Add `triggered_by` to `AuditLog` table
  changes/4992.feature.md
  changes/5115.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/actions/monitors/audit_log.py
  src/ai/backend/manager/actions/monitors/reporter.py
  src/ai/backend/manager/api/auth.py
  src/ai/backend/manager/models/alembic/versions/a5ef73b01e97_add_user_id_to_auditlogrow.py
  src/ai/backend/manager/models/audit_log.py
  src/ai/backend/manager/models/gql_models/audit_log.py
  src/ai/backend/manager/reporters/base.py
Labels: area:docs, comp:manager, require:db-migration, size:M

#5114 feat(BA-1853): Implement ValkeySessionClient for session management using Valkey-Glide
  changes/5114.feature.md
  src/ai/backend/common/BUILD
  src/ai/backend/common/clients/valkey_client/valkey_session/BUILD
  src/ai/backend/common/clients/valkey_client/valkey_session/__init__.py
  src/ai/backend/common/clients/valkey_client/valkey_session/client.py
  src/ai/backend/common/web/session/redis_storage.py
  src/ai/backend/web/server.py
Labels: comp:common, comp:webserver, size:L

#5112 fix(BA-1839): Finish Agent execution task event correctly
  changes/5112.fix.md
  src/ai/backend/agent/kernel.py
Labels: comp:agent, size:S

#5131 fix(BA-1839): Finish Agent execution task event correctly (#5112)
  changes/5112.fix.md
  src/ai/backend/agent/kernel.py
Labels: comp:agent, size:S, backport

#5133 fix: Remove unnecessary str() conversion for cursor in hscan and scan
  src/ai/backend/common/clients/valkey_client/valkey_stat/client.py
Labels: comp:common, skip:changelog, size:XS

#5137 fix: Handle empty consumer handlers in EventDispatcher to avoid retry
  changes/5137.fix.md
  src/ai/backend/common/events.py
Labels: comp:common, size:XS

#5107 feat(BA-1851): Separate repository layer from group service
  changes/5107.enhance.md
  src/ai/backend/manager/errors/exceptions.py
  src/ai/backend/manager/repositories/group/admin_repository.py
  src/ai/backend/manager/repositories/group/repositories.py
  src/ai/backend/manager/repositories/group/repository.py
  src/ai/backend/manager/repositories/image/repositories.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/services/group/service.py
  src/ai/backend/manager/services/processors.py
  tests/manager/services/test_group.py
Labels: comp:manager, size:XL

#5076 feat(BA-1832): Separate repository layer from user service
  changes/5076.enhance.md
  src/ai/backend/manager/repositories/user/admin_repository.py
  src/ai/backend/manager/repositories/user/repository.py
  src/ai/backend/manager/services/processors.py
  src/ai/backend/manager/services/user/service.py
  tests/manager/services/test_users.py
Labels: comp:manager, size:XL

#5109 refactor(BA-1852): Use `EndpointStatus` enum for endpoint status resolution
  changes/5109.enhance.md
  src/ai/backend/common/data/endpoint/BUILD
  src/ai/backend/common/data/endpoint/types.py
  src/ai/backend/manager/models/gql_models/endpoint.py
Labels: area:docs, comp:manager, comp:common, size:S

#5128 feat(BA-1859): Separate repository layer from agent service
  changes/5128.enhance.md
  src/ai/backend/manager/repositories/agent/repository.py
  src/ai/backend/manager/services/agent/actions/sync_agent_registry.py
  src/ai/backend/manager/services/agent/service.py
  src/ai/backend/manager/services/agent/types.py
  src/ai/backend/manager/services/processors.py
Labels: comp:manager, size:M

#5072 feat(BA-1830): Separate repository layer from model serving service
  changes/5072.enhance.md
  src/ai/backend/manager/data/model_serving/BUILD
  src/ai/backend/manager/data/model_serving/__init__.py
  src/ai/backend/manager/data/model_serving/types.py
  src/ai/backend/manager/errors/exceptions.py
  src/ai/backend/manager/repositories/model_serving/admin_repository.py
  src/ai/backend/manager/repositories/model_serving/repository.py
  src/ai/backend/manager/services/model_serving/services/auto_scaling.py
  src/ai/backend/manager/services/model_serving/services/model_serving.py
  src/ai/backend/manager/services/processors.py
Labels: comp:manager, size:XL

#5101 feat(BA-1847): Separate repository layer from scheduler
  changes/5101.enhance.md
  src/ai/backend/manager/repositories/schedule/repository.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/manager/server.py
  tests/manager/test_scheduler.py
Labels: comp:manager, size:XL

#5095 feat(BA-1843): Separate repository layer from container registry service
  changes/5095.enhance.md
  src/ai/backend/manager/repositories/container_registry/admin_repository.py
  src/ai/backend/manager/repositories/container_registry/repositories.py
  src/ai/backend/manager/repositories/container_registry/repository.py
  src/ai/backend/manager/services/container_registry/service.py
  src/ai/backend/manager/services/processors.py
  tests/manager/services/container_registry/conftest.py
Labels: comp:manager, size:L

#5139 fix: Update status of already-gone vfolders
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, skip:changelog, size:XS

#5141 fix: Init root_ctx.repository when start mgr
  src/ai/backend/manager/server.py
Labels: comp:manager, skip:changelog, size:S

#5157 feat(BA-1876): Separate agent client layer
  changes/5157.enhance.md
  src/ai/backend/manager/clients/BUILD
  src/ai/backend/manager/clients/__init__.py
  src/ai/backend/manager/clients/agent/BUILD
  src/ai/backend/manager/clients/agent/__init__.py
  src/ai/backend/manager/clients/agent/client.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/types.py
Labels: comp:manager, comp:common, size:XL

#5165 feat(BA-1875): Separate wsproxy client
  changes/5165.enhance.md
  src/ai/backend/manager/clients/wsproxy/BUILD
  src/ai/backend/manager/clients/wsproxy/__init__.py
  src/ai/backend/manager/clients/wsproxy/client.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, comp:common, size:L

#5170 fix(BA-1884): Webserver 404 not found issue
  changes/5170.fix.md
  src/ai/backend/web/config/unified.py
  src/ai/backend/web/server.py
Labels: comp:webserver, size:M

#5173 fix: Correct SQL query in repository
  src/ai/backend/manager/repositories/schedule/repository.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, skip:changelog, size:M

#5201 fix: vfolder logic
  src/ai/backend/manager/repositories/vfolder/repository.py
  src/ai/backend/manager/services/vfolder/services/file.py
  src/ai/backend/manager/services/vfolder/services/invite.py
  src/ai/backend/manager/services/vfolder/services/vfolder.py
Labels: comp:manager, skip:changelog, size:L

#5197 test(BA-1888): Add test code for user service
  .github/workflows/pr-prefix.yml
  changes/5197.test.md
  pyproject.toml
  src/ai/backend/common/exception.py
  src/ai/backend/manager/data/user/BUILD
  src/ai/backend/manager/data/user/__init__.py
  src/ai/backend/manager/data/user/types.py
  src/ai/backend/manager/errors/user.py
  src/ai/backend/manager/models/gql_models/user.py
  src/ai/backend/manager/repositories/user/admin_repository.py
  src/ai/backend/manager/repositories/user/repository.py
  src/ai/backend/manager/services/user/README.md
  src/ai/backend/manager/services/user/actions/create_user.py
  src/ai/backend/manager/services/user/actions/modify_user.py
  src/ai/backend/manager/services/user/actions/purge_user.py
  src/ai/backend/manager/services/user/service.py
  src/ai/backend/manager/services/user/types.py
  tests/manager/integrations/services/user/BUILD
  tests/manager/integrations/services/user/__init__.py
  tests/manager/integrations/services/user/conftest.py
  tests/manager/integrations/services/user/test_user_integration.py
  tests/manager/repositories/__init__.py
  tests/manager/repositories/user/BUILD
  tests/manager/repositories/user/__init__.py
  tests/manager/repositories/user/test_user_repository.py
  tests/manager/services/test_users.py
  tests/manager/services/user/BUILD
  tests/manager/services/user/__init__.py
  tests/manager/services/user/test_user.py
Labels: comp:manager, comp:common, size:XL

#5207 feat(BA-1913): Add `type` field to `ImageNode`
  changes/5207.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/gql_models/image.py
Labels: area:docs, comp:manager, size:S

#5208 fix: Remove UUID type cast
  src/ai/backend/manager/services/user/actions/user_month_stats.py
  src/ai/backend/manager/services/user/service.py
  tests/manager/integrations/services/user/test_user_integration.py
Labels: comp:manager, skip:changelog, size:S

#5198 test(BA-1889): Add test code for user resource policy service
  changes/5198.test.md
  src/ai/backend/manager/services/user_resource_policy/README.md
  tests/manager/integration/__init__.py
  tests/manager/integration/services/__init__.py
  tests/manager/integration/services/user_resource_policy/BUILD
  tests/manager/integration/services/user_resource_policy/__init__.py
  tests/manager/integration/services/user_resource_policy/test_user_resource_policy.py
  tests/manager/repositories/user_resource_policy/BUILD
  tests/manager/repositories/user_resource_policy/__init__.py
  tests/manager/repositories/user_resource_policy/test_user_resource_policy_repository.py
  tests/manager/services/user_resource_policy/BUILD
  tests/manager/services/user_resource_policy/__init__.py
  tests/manager/services/user_resource_policy/test_user_resource_policy.py
Labels: size:XL

#5195 feat(BA-1892): Add resource preset unit test
  changes/5195.test.md
  src/ai/backend/manager/services/resource_preset/README.md
  tests/manager/repositories/resource_preset/BUILD
  tests/manager/repositories/resource_preset/__init__.py
  tests/manager/repositories/resource_preset/test_resource_preset.py
  tests/manager/services/resource_preset/BUILD
  tests/manager/services/resource_preset/__init__.py
  tests/manager/services/resource_preset/test_resource_preset.py
Labels: size:XL

#5192 test(BA-1892): Add project resource policy unit test
  changes/5192.test.md
  src/ai/backend/manager/services/project_resource_policy/README.md
  tests/manager/repositories/BUILD
  tests/manager/repositories/project_resource_policy/BUILD
  tests/manager/repositories/project_resource_policy/__init__.py
  tests/manager/repositories/project_resource_policy/test_project_resource_policy.py
  tests/manager/services/project_resource_policy/BUILD
  tests/manager/services/project_resource_policy/__init__.py
  tests/manager/services/project_resource_policy/test_project_resource_policy.py
Labels: size:XL

#5196 test(BA-1894): Add domain service unit test
  changes/5196.test.md
  src/ai/backend/manager/models/gql_models/domain.py
  src/ai/backend/manager/services/domain/README.md
  src/ai/backend/manager/services/domain/types.py
  tests/manager/repositories/domain/BUILD
  tests/manager/repositories/domain/__init__.py
  tests/manager/repositories/domain/test_domain.py
  tests/manager/services/test_domain.py
Labels: comp:manager, size:XL

#5203 test(BA-1896): Add keypair resource policy service unit test
  changes/5203.test.md
  src/ai/backend/manager/data/resource/types.py
  src/ai/backend/manager/repositories/keypair_resource_policy/repository.py
  src/ai/backend/manager/services/keypair_resource_policy/README.md
  tests/manager/repositories/keypair_resource_policy/BUILD
  tests/manager/repositories/keypair_resource_policy/__init__.py
  tests/manager/repositories/keypair_resource_policy/test_keypair_resource_policy.py
  tests/manager/services/test_keypair_resource_policy.py
Labels: comp:manager, size:XL

#5213 feat(BA-1917): Add chown util for Agent volume mount
  changes/5213.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config/unified.py
  src/ai/backend/common/utils.py
Labels: comp:agent, comp:common, size:M

#5217 fix(BA-1921): `status_data` not initialized properly when creating single node session
  changes/5217.fix.md
  src/ai/backend/manager/repositories/schedule/repository.py
Labels: comp:manager, size:S

#5175 fix: Correct scheduler repository of multinode session creation
  src/ai/backend/manager/repositories/schedule/repository.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, skip:changelog, size:L

#5159 feat(BA-1878): Implement role service
  changes/5159.feature.md
  src/ai/backend/manager/data/permission/BUILD
  src/ai/backend/manager/data/permission/__init__.py
  src/ai/backend/manager/data/permission/id.py
  src/ai/backend/manager/data/permission/object_permission.py
  src/ai/backend/manager/data/permission/role.py
  src/ai/backend/manager/data/permission/scope_permission.py
  src/ai/backend/manager/data/permission/status.py
  src/ai/backend/manager/data/permission/user_role.py
  src/ai/backend/manager/models/rbac_models/association_scopes_entities.py
  src/ai/backend/manager/models/rbac_models/object_permission.py
  src/ai/backend/manager/models/rbac_models/role.py
  src/ai/backend/manager/models/rbac_models/scope_permission.py
  src/ai/backend/manager/models/rbac_models/user_role.py
  src/ai/backend/manager/repositories/permission_controller/BUILD
  src/ai/backend/manager/repositories/permission_controller/__init__.py
  src/ai/backend/manager/repositories/permission_controller/repository.py
  src/ai/backend/manager/services/permission_contoller/BUILD
  src/ai/backend/manager/services/permission_contoller/__init__.py
  src/ai/backend/manager/services/permission_contoller/actions/BUILD
  src/ai/backend/manager/services/permission_contoller/actions/__init__.py
  src/ai/backend/manager/services/permission_contoller/actions/assign_role.py
  src/ai/backend/manager/services/permission_contoller/actions/base.py
  src/ai/backend/manager/services/permission_contoller/actions/check_permission.py
  src/ai/backend/manager/services/permission_contoller/actions/create_role.py
  src/ai/backend/manager/services/permission_contoller/actions/delete_role.py
  src/ai/backend/manager/services/permission_contoller/actions/get_role.py
  src/ai/backend/manager/services/permission_contoller/actions/list_access.py
  src/ai/backend/manager/services/permission_contoller/actions/list_role.py
  src/ai/backend/manager/services/permission_contoller/actions/update_role.py
  src/ai/backend/manager/services/permission_contoller/service.py
Labels: comp:manager, size:XL

#5215 fix: restore VFolder deletion logic
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/clients/storage_proxy/BUILD
  src/ai/backend/manager/clients/storage_proxy/__init__.py
  src/ai/backend/manager/clients/storage_proxy/client.py
  src/ai/backend/manager/clients/storage_proxy/session_manager.py
  src/ai/backend/manager/data/user/types.py
  src/ai/backend/manager/data/vfolder/types.py
  src/ai/backend/manager/models/storage.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/repositories/user/repository.py
  src/ai/backend/manager/repositories/vfolder/admin_repository.py
  src/ai/backend/manager/repositories/vfolder/repositories.py
  src/ai/backend/manager/repositories/vfolder/repository.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/services/processors.py
  src/ai/backend/manager/services/vfolder/actions/file.py
  src/ai/backend/manager/services/vfolder/services/file.py
  src/ai/backend/manager/services/vfolder/services/invite.py
  src/ai/backend/manager/services/vfolder/services/vfolder.py
Labels: comp:manager, skip:changelog, size:XL

#5222 fix(BA-1924): Handle `glide.TimeoutError` in Valkey-glide `xreadgroup` to avoid consumer loop hang
  changes/5222.fix.md
  src/ai/backend/common/clients/valkey_client/valkey_stream/client.py
Labels: comp:common, size:S

#5223 feat(BA-1415): Apply client pool in web component
  changes/5223.feature.md
  configs/webserver/sample.toml
  src/ai/backend/client/session.py
  src/ai/backend/common/BUILD
  src/ai/backend/common/clients/http_client/BUILD
  src/ai/backend/common/clients/http_client/__init__.py
  src/ai/backend/common/clients/http_client/client_pool.py
  src/ai/backend/web/auth.py
  src/ai/backend/web/config/unified.py
  src/ai/backend/web/server.py
  tests/webserver/test_auth.py
Labels: comp:client, comp:common, comp:webserver, size:L

#5225 fix: Extend VFolderAlreadyExists exception to inherit from web.HTTPConflict
  src/ai/backend/manager/services/vfolder/exceptions.py
  src/ai/backend/manager/services/vfolder/services/invite.py
Labels: comp:manager, skip:changelog, size:XS

#5224 feat(BA-1877): Implement Storage Proxy client layer
  changes/5224.enhance.md
  src/ai/backend/common/exception.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/clients/storage_proxy/base.py
  src/ai/backend/manager/clients/storage_proxy/client.py
  src/ai/backend/manager/clients/storage_proxy/client_facing_info.py
  src/ai/backend/manager/clients/storage_proxy/manager_facing_client.py
  src/ai/backend/manager/clients/storage_proxy/session_manager.py
  src/ai/backend/manager/errors/storage.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/gql_models/vfolder.py
  src/ai/backend/manager/models/storage.py
  src/ai/backend/manager/models/vfolder.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/services/model_serving/services/model_serving.py
  src/ai/backend/manager/services/processors.py
  src/ai/backend/manager/services/vfolder/services/file.py
  src/ai/backend/manager/services/vfolder/services/vfolder.py
Labels: comp:manager, comp:common, size:XL

#5227 fix: test case
  pyproject.toml
  tests/manager/integration/BUILD
  tests/manager/integration/services/user/BUILD
  tests/manager/integration/services/user/__init__.py
  tests/manager/integration/services/user/conftest.py
  tests/manager/integration/services/user/test_user_integration.py
  tests/manager/integration/services/user_resource_policy/BUILD
  tests/manager/integration/services/user_resource_policy/conftest.py
  tests/manager/integration/services/user_resource_policy/test_user_resource_policy.py
Labels: skip:changelog, size:L

#5231 chore: Update dependencies and clean up imports
  src/ai/backend/manager/registry.py
Labels: comp:manager, skip:changelog, size:S

#5237 feat(BA-1915): Add `mount_ids`, `mount_id_map` fields to session creation config
  changes/5237.feature.md
  src/ai/backend/client/config.py
  src/ai/backend/client/func/session.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/server.py
  src/ai/backend/test/testcases/session/mount_vfolder.py
  src/ai/backend/test/testcases/session/testspecs.py
  tests/manager/services/session/actions/test_create_from_params.py
Labels: comp:manager, comp:client, size:L

#5243 fix: Incorrect handling when `mount_map`, `mount_id_map` is None
  src/ai/backend/manager/registry.py
Labels: comp:manager, skip:changelog, size:XS

#5250 feat: Add client decorator to wsproxy client
  src/ai/backend/manager/clients/wsproxy/client.py
Labels: comp:manager, skip:changelog, size:XS

#5253 feat(BA-1942): Apply client pool to wsproxy client
  changes/5253.feature.md
  src/ai/backend/manager/clients/wsproxy/client.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:M

#5255 feat(BA-1943): Add retry metrics for layer observer
  changes/5255.feature.md
  src/ai/backend/common/clients/valkey_client/client.py
  src/ai/backend/common/metrics/metric.py
  src/ai/backend/manager/decorators/client_decorator.py
  src/ai/backend/manager/decorators/repository_decorator.py
Labels: comp:manager, comp:common, size:L

#5258 test(BA-1900): Add tests for `Container Registry`
  changes/5258.test.md
  src/ai/backend/manager/repositories/container_registry/repository.py
  tests/manager/integration/services/container_registry/BUILD
  tests/manager/integration/services/container_registry/__init__.py
  tests/manager/integration/services/container_registry/test_container_registry_integration.py
  tests/manager/repositories/container_registry/BUILD
  tests/manager/repositories/container_registry/__init__.py
  tests/manager/repositories/container_registry/test_admin_container_registry_repository.py
  tests/manager/repositories/container_registry/test_container_registry_repository.py
  tests/manager/services/container_registry/service/BUILD
  tests/manager/services/container_registry/service/__init__.py
  tests/manager/services/container_registry/service/test_clear_images_service.py
  tests/manager/services/container_registry/service/test_get_container_registries_service.py
  tests/manager/services/container_registry/service/test_load_all_container_registries_service.py
  tests/manager/services/container_registry/service/test_load_container_registries_service.py
  tests/manager/services/container_registry/service/test_rescan_images_service.py
Labels: comp:manager, size:XL

#5261 chore: Revert halfstack config of storage-proxy to previous state
  configs/storage-proxy/halfstack.toml
Labels: skip:changelog, size:L

#5262 chore: Add pyroscope and tempo data directories to setup
  scripts/install-dev.sh
Labels: comp:installer, skip:changelog, size:XS

#5263 chore: Update configuration files for consistency and clarity
  configs/manager/sample.toml
  src/ai/backend/manager/config/unified.py
Labels: comp:manager, skip:changelog, size:S

#4767 refactor(BA-1616): Apply simple model query patterns
  changes/4766.feature.md
  changes/4767.enhance.md
  src/ai/backend/manager/event_dispatcher/handlers/agent.py
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/session.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/scaling_group.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/models/types.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/repositories/user/admin_repository.py
Labels: comp:manager, size:XL

#5271 fix(BA-1962): Fixed a problem with deserializing dataclass
  changes/5271.fix.md
  src/ai/backend/common/events/dispatcher.py
  src/ai/backend/common/message_queue/types.py
Labels: comp:common, size:S

#5276 feat(BA-1970): Implement reconnection logic in ValkeySentinelClient
  changes/5276.feature.md
  pants.toml
  src/ai/backend/common/clients/valkey_client/client.py
  src/ai/backend/manager/services/permission_contoller/actions/list_access.py
Labels: comp:manager, comp:common, size:M

#5272 fix(BA-1963): Broken VFolder `GetTaskLogs` service
  changes/5272.fix.md
  src/ai/backend/manager/clients/storage_proxy/manager_facing_client.py
  src/ai/backend/manager/repositories/vfolder/repository.py
  src/ai/backend/manager/services/vfolder/actions/base.py
  src/ai/backend/manager/services/vfolder/services/vfolder.py
Labels: comp:manager, size:L

#5291 chore: Update CLAUDE.md to work better
  CLAUDE.md
Labels: skip:changelog, skip:ci, size:M

#5151 fix(BA-1872): Correct the asyncio connection sharing pattern in alembic env.py
  changes/5151.fix.md
  src/ai/backend/account_manager/models/alembic/env.py
  src/ai/backend/appproxy/coordinator/models/alembic/env.py
  src/ai/backend/manager/models/alembic/env.py
Labels: comp:manager, comp:app-proxy, size:M

#5298 feat(BA-1996): Implement connection monitoring and reconnection logic in ValkeyStandaloneClient
  changes/5298.feature.md
  src/ai/backend/common/clients/valkey_client/client.py
Labels: comp:common, size:M

#5325 fix(BA-2004): Let insepct.signature handle stringified types generated by `__future__` annotations
  changes/5325.fix.md
  src/ai/backend/common/api_handlers.py
Labels: comp:common, size:XS

#5282 chore: Use dynamic Redis port variables in setup script
  scripts/delete-dev.sh
  scripts/install-dev.sh
Labels: comp:installer, skip:changelog, size:S

#5331 fix: Remove kv store logic in backport
  .github/workflows/backport.yml
Labels: skip:changelog, size:S

#5332 fix(BA-2008): Add missing db transaction retry when setting network ID of new sessions (#5329)
  changes/5329.fix.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:XS, backport

#5334 chore: Remove interactive flag from docker exec in DB setup
  scripts/install-dev.sh
Labels: comp:installer, skip:changelog, size:XS

#5232 feat(BA-1930): Introduce `ArtifactRegistry` GQL types based on `strawberry`
  .github/workflows/update-api-schema.yml
  changes/5232.feature.md
  docs/manager/graphql-reference/v2-schema.graphql
  docs/manager/rest-reference/openapi.json
  python.lock
  requirements.txt
  src/ai/backend/common/api_handlers.py
  src/ai/backend/common/dto/manager/request.py
  src/ai/backend/common/dto/manager/response.py
  src/ai/backend/manager/api/admin.py
  src/ai/backend/manager/api/auth.py
  src/ai/backend/manager/api/gql/BUILD
  src/ai/backend/manager/api/gql/__init__.py
  src/ai/backend/manager/api/gql/artifact_registry.py
  src/ai/backend/manager/api/gql/base.py
  src/ai/backend/manager/api/gql/schema.py
  src/ai/backend/manager/api/gql/types.py
  src/ai/backend/manager/api/spec.py
  src/ai/backend/manager/cli/api.py
Labels: area:docs, comp:manager, comp:common, comp:cli, size:XL

#5327 fix(BA-1999): Handle None user when request context setup in auth middleware
  changes/5327.fix.md
  src/ai/backend/manager/api/auth.py
Labels: comp:manager, size:M

#5342 fix(BA-2015): Reduce scheduler plugin loader overheads
  changes/5342.fix.md
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, size:M

#5336 fix(BA-2010): Add missing `extensions` field to `GraphQLResponse` of GQL API V2
  src/ai/backend/common/dto/manager/response.py
  src/ai/backend/manager/api/admin.py
Labels: comp:manager, comp:common, skip:changelog, size:XS

#5354 fix(BA-2015): Reduce scheduler plugin loader overheads (#5342)
  changes/5342.fix.md
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, size:M, backport
