Repository lablup/backend.ai, pull requests merged in 2025-06, with the labels that each got.

#4576 fix(BA-1488): Gracefully handle missing `Config.Labels` in Docker image inspection
  changes/4576.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: comp:agent, size:XS

#4577 fix(BA-1488): Gracefully handle missing `Config.Labels` in Docker image inspection (#4576)
  changes/4576.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: comp:agent, size:XS, backport

#4572 fix(BA-1487): Correct the worker process ID and names in the server logs
  changes/4572.fix.md
  src/ai/backend/logging/handler/intrinsic.py
  src/ai/backend/manager/server.py
Labels: comp:manager, size:S

#4573 fix(BA-1479): Incorrect resource label loading
  changes/4573.fix.md
  src/ai/backend/manager/models/image.py
  tests/manager/services/image/actions/test_modify_image.py
Labels: comp:manager, size:M

#4581 fix(BA-1495): Do null-check of kernel service-ports
  changes/4581.fix.md
  src/ai/backend/common/exception.py
  src/ai/backend/manager/errors/exceptions.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/services/session/service.py
Labels: comp:manager, comp:common, size:M

#4584 fix(BA-1495): Do null-check of kernel service-ports (#4581)
  changes/4581.fix.md
  src/ai/backend/manager/api/exceptions.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/services/session/service.py
Labels: comp:manager, comp:common, size:M, backport

#4590 fix(BA-1498): Eagerly load `endpoint` when querying `route` during deletion
  changes/4590.fix.md
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/routing.py
  src/ai/backend/manager/services/model_serving/services/model_serving.py
Labels: comp:manager, size:S

#4594 fix: Include endpoint loading in route retrieval for delete_route function
  changes/4594.fix.md
  src/ai/backend/manager/api/service.py
Labels: comp:manager, size:XS

#4599 fix(BA-1501): Replace assert statements in `load_model_definition` with raising exception
  changes/4599.fix.md
  src/ai/backend/agent/agent.py
Labels: comp:agent, size:S

#4601 fix(BA-1501): Replace assert statements in `load_model_definition` with raising exception (#4599)
  changes/4599.fix.md
  src/ai/backend/agent/agent.py
Labels: comp:agent, size:S, backport

#4602 fix(BA-1501): Replace assert statements in `load_model_definition` with raising exception (#4599)
  changes/4599.fix.md
  src/ai/backend/agent/agent.py
Labels: comp:agent, size:S, backport

#4612 fix(BA-1511): `rpc_auth_manager_keypair` not found error in `generate-rpc-keypair`
  changes/4612.fix.md
  src/ai/backend/manager/config/unified.py
Labels: comp:manager, size:S

#4606 feat(BA-1504): Add Etcd, Redis, and PostgreSQL exporters, scraper configs
  changes/4606.misc.md
  configs/prometheus/prometheus.yaml
  docker-compose.halfstack-2409.yml
Labels: size:M

#4616 release: 25.9.1
  CHANGELOG.md
  VERSION
  changes/4587.feature.md
  changes/4590.fix.md
  changes/4599.fix.md
  changes/4606.misc.md
  changes/4607.doc.md
  changes/4609.feature.md
  changes/4612.fix.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/web/static/asset-manifest.json
  src/ai/backend/web/static/index.html
  src/ai/backend/web/static/manifest.json
  src/ai/backend/web/static/static/js/4711.dcac9105.chunk.js.map
  src/ai/backend/web/static/static/js/main.8004ef3a.js
  src/ai/backend/web/static/static/js/main.8004ef3a.js.LICENSE.txt
  src/ai/backend/web/static/static/js/main.a2bb1576.js
  src/ai/backend/web/static/static/js/main.a2bb1576.js.LICENSE.txt
  src/ai/backend/web/static/sw.js.map
  src/ai/backend/web/static/version.json
Labels: area:docs, skip:changelog, size:L

#4614 feat(BA-1508): Implement test specification management and execution framework
  changes/4614.feature.md
  src/ai/backend/test/cli/__main__.py
  src/ai/backend/test/testcases/BUILD
  src/ai/backend/test/testcases/__init__.py
  src/ai/backend/test/testcases/template.py
  src/ai/backend/test/testcases/testcases.py
  src/ai/backend/test/tester/BUILD
  src/ai/backend/test/tester/__init__.py
  src/ai/backend/test/tester/exporter.py
  src/ai/backend/test/tester/runner.py
  src/ai/backend/test/tester/tester.py
Labels: size:L

#4619 fix(BA-1518): Add event handler for SessionCheckingPrecondEvent
  changes/4619.fix.md
  src/ai/backend/manager/event_dispatcher/dispatch.py
  src/ai/backend/manager/event_dispatcher/handlers/session.py
Labels: comp:manager, size:XS

#4621 fix(BA-1518): Add event handler for SessionCheckingPrecondEvent (#4619)
  changes/4619.fix.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:XS

#4516 feat(BA-1451): Refactor event dispatchers of idle checker
  changes/4516.enhance.md
  src/ai/backend/common/events/session.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/event_dispatcher/dispatch.py
  src/ai/backend/manager/event_dispatcher/handlers/agent.py
  src/ai/backend/manager/event_dispatcher/handlers/idle_check.py
  src/ai/backend/manager/event_dispatcher/handlers/session.py
  src/ai/backend/manager/idle.py
  src/ai/backend/manager/models/alembic/env.py
  src/ai/backend/manager/server.py
  tests/manager/test_idle_checker.py
Labels: comp:manager, comp:common, size:XL

#4640 fix(BA-1536): Container utilization metric service config reload not working
  changes/4640.fix.md
  src/ai/backend/manager/services/metric/container_metric.py
Labels: comp:manager, size:S

#4627 fix(BA-1522): Support more Accept headers in `BaseContainerRegistry.scan_tag`
  changes/4627.fix.md
  src/ai/backend/manager/container_registry/base.py
Labels: comp:manager, size:S

#4646 fix(BA-1522): Support more Accept headers in `BaseContainerRegistry.scan_tag` (#4627)
  changes/4627.fix.md
  src/ai/backend/manager/container_registry/base.py
Labels: comp:manager, size:S, backport

#4650 fix(BA-1488): Gracefully handle missing `Config.Labels` in Docker image inspection (#4576)
  changes/4576.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: comp:agent, size:XS, backport

#4653 feat(BA-1288): Remove 2FA configs from webserver
  changes/4653.misc.md
  src/ai/backend/web/static/config.toml
  src/ai/backend/web/templates/config.toml.j2
Labels: comp:manager, size:XS

#4663 fix(BA-1549): Prevent remount NFS path
  changes/4663.fix.md
  src/ai/backend/common/utils.py
Labels: comp:common, size:XS

#4661 feat(BA-1546): Add Tester configs template for config injection
  changes/4661.feature.md
  configs/tester/tester.toml
  src/ai/backend/test/cli/__main__.py
  src/ai/backend/test/contexts/auth.py
  src/ai/backend/test/contexts/client_session.py
  src/ai/backend/test/contexts/image.py
  src/ai/backend/test/contexts/tester.py
  src/ai/backend/test/templates/auth/keypair.py
  src/ai/backend/test/templates/auth/login.py
  src/ai/backend/test/templates/template.py
  src/ai/backend/test/testcases/auth/BUILD
  src/ai/backend/test/testcases/auth/__init__.py
  src/ai/backend/test/testcases/auth/testspecs.py
  src/ai/backend/test/testcases/context.py
  src/ai/backend/test/testcases/session/session_creation.py
  src/ai/backend/test/testcases/session/testspecs.py
  src/ai/backend/test/testcases/spec_manager.py
  src/ai/backend/test/testcases/testspecs.py
  src/ai/backend/test/tester/config.py
  src/ai/backend/test/tester/exporter.py
  src/ai/backend/test/tester/runner.py
  src/ai/backend/test/tester/tester.py
Labels: size:XL

#4688 fix(BA-1566): Fix wrong import path of AgentErrorEvent
  src/ai/backend/manager/plugin/error_monitor.py
Labels: comp:manager, skip:changelog, size:XS

#4671 refactor(BA-1554): Replace hardcoded bgtask status event codes with enum values
  changes/4671.feature.md
  src/ai/backend/client/cli/admin/image.py
  src/ai/backend/client/cli/service.py
  src/ai/backend/client/cli/session/lifecycle.py
  src/ai/backend/client/cli/vfolder.py
  src/ai/backend/client/func/session.py
  src/ai/backend/client/func/vfolder.py
  src/ai/backend/common/bgtask/types.py
Labels: comp:client, comp:common, comp:cli, size:L

#4692 feat(BA-1568):Add parametrize functionality in tester spec
  changes/4692.feature.md
  src/ai/backend/test/contexts/auth.py
  src/ai/backend/test/contexts/client_session.py
  src/ai/backend/test/contexts/context.py
  src/ai/backend/test/contexts/image.py
  src/ai/backend/test/contexts/tester.py
  src/ai/backend/test/testcases/spec_manager.py
  src/ai/backend/test/tester/exporter.py
  src/ai/backend/test/tester/tester.py
Labels: size:L

#4702 fix(BA-1560): Skip failure of code runner init (#4679)
  changes/4679.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/kernel.py
Labels: comp:agent, size:S, backport

#4677 feat(BA-1551): Agent send container status through heartbeat
  changes/4677.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/observer/BUILD
  src/ai/backend/agent/observer/__init__.py
  src/ai/backend/agent/observer/heartbeat.py
  src/ai/backend/agent/types.py
  src/ai/backend/common/BUILD
  src/ai/backend/common/events/event_types/agent/anycast.py
  src/ai/backend/common/observer/BUILD
  src/ai/backend/common/observer/__init__.py
  src/ai/backend/common/observer/types.py
  src/ai/backend/common/resource/BUILD
  src/ai/backend/common/resource/__init__.py
  src/ai/backend/common/resource/types.py
  src/ai/backend/common/runner/BUILD
  src/ai/backend/common/runner/__init__.py
  src/ai/backend/common/runner/types.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/event_dispatcher/dispatch.py
  src/ai/backend/manager/event_dispatcher/handlers/agent.py
  tests/common/test_runner.py
Labels: comp:manager, comp:agent, comp:common, size:L

#4719 fix(BA-1591): License config not included in PluginConfig
  changes/4718.fix.md
  src/ai/backend/manager/config/unified.py
Labels: comp:manager, size:XS

#4669 feat(BA-1553): Add ComputeSessionNode query method
  changes/4669.feature.md
  src/ai/backend/client/func/session.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/client/utils.py
Labels: comp:client, size:L

#4720 fix(BA-1585): Broken `untag_image_from_registry` SDK method
  changes/4720.fix.md
  src/ai/backend/client/func/image.py
Labels: comp:client, size:XS

#4722 fix(BA-1585): Broken `untag_image_from_registry` SDK method (#4720)
  changes/4720.fix.md
  src/ai/backend/client/func/image.py
Labels: comp:client, size:XS, backport

#4723 fix(BA-1586): Add missing message field to `imagify` response
  changes/4723.fix.md
  src/ai/backend/manager/services/session/service.py
Labels: comp:manager, size:S

#4690 fix(BA-1567): Fix Session Rename API to prevent duplicate names
  changes/4690.fix.md
  src/ai/backend/manager/services/session/service.py
Labels: comp:manager, size:S

#4681 feat(BA-1530): Add session container retriever test
  src/ai/backend/test/contexts/session.py
  src/ai/backend/test/data/session.py
  src/ai/backend/test/templates/session/batch_session.py
  src/ai/backend/test/templates/session/interactive_session.py
  src/ai/backend/test/templates/session/session_template.py
  src/ai/backend/test/testcases/session/container_log_retriever.py
  src/ai/backend/test/testcases/session/execution.py
  src/ai/backend/test/testcases/session/testspecs.py
Labels: size:L

#4710 feat(BA-1552): Add purge container RPC
  changes/4710.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/observer/heartbeat.py
  src/ai/backend/agent/server.py
  src/ai/backend/agent/types.py
  src/ai/backend/common/dto/agent/response.py
  src/ai/backend/common/events/event_types/agent/anycast.py
  src/ai/backend/common/types.py
Labels: comp:manager, comp:agent, comp:common, size:L

#4730 fix: Skip cleaning non-running kernels
  src/ai/backend/agent/agent.py
Labels: comp:agent, skip:changelog, size:XS

#4731 feat(BA-1552): Add purge container RPC (#4710)
  changes/4710.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/server.py
  src/ai/backend/agent/types.py
  src/ai/backend/common/dto/agent/response.py
  src/ai/backend/common/types.py
Labels: comp:agent, comp:common, size:L

#4725 chore(BA-1592): Install `Vite` build tool before building WebUI
  changes/4725.misc.md
  scripts/install-dev.sh
Labels: comp:installer, size:XS

#4738 feat(BA-1602): Add additional logging to kernel creation and termination (#4737)
  changes/4737.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/common/defs.py
Labels: comp:agent, comp:common, size:L, backport

#4741 chore: Update BUILD file for improved resource management
  src/ai/backend/common/BUILD
Labels: skip:changelog, size:S

#4729 feat(BA-1594): Add session creation test using various options
  changes/4729.feature.md
  src/ai/backend/test/contexts/context.py
  src/ai/backend/test/contexts/session.py
  src/ai/backend/test/templates/session/batch_session.py
  src/ai/backend/test/templates/session/interactive_session.py
  src/ai/backend/test/templates/session/utils.py
  src/ai/backend/test/testcases/session/creation_failure_command_timeout.py
  src/ai/backend/test/testcases/session/creation_failure_schedule_timeout.py
  src/ai/backend/test/testcases/session/filecheck.py
  src/ai/backend/test/testcases/session/testspecs.py
  src/ai/backend/test/tester/dependency.py
Labels: size:L

#4743 fix(BA-1605): Add cluster config param in container log test
  src/ai/backend/test/testcases/session/testspecs.py
Labels: skip:changelog, size:S

#4740 fix(BA-1604): Close code runner properly
  changes/4740.fix.md
  src/ai/backend/agent/kernel.py
  src/ai/backend/common/asyncio.py
Labels: comp:agent, comp:common, size:M

#4745 fix(BA-1604): Close code runner properly (#4740)
  changes/4740.fix.md
  src/ai/backend/agent/kernel.py
  src/ai/backend/common/asyncio.py
Labels: comp:agent, comp:common, size:M, backport

#4756 fix(BA-1610): Use correct attribute `routings` instead of `routes` for endpoints
  changes/4756.fix.md
  src/ai/backend/manager/services/model_serving/services/model_serving.py
Labels: type:bug, comp:manager, size:XS

#4697 feat(BA-1561): Add session status history retriever test
  changes/4697.feature.md
  src/ai/backend/test/testcases/session/session_status_history_retriever.py
  src/ai/backend/test/testcases/session/testspecs.py
Labels: comp:manager, size:M

#4754 fix(BA-1452): Make kernel return code completion result
  changes/4754.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/dummy/kernel.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/kubernetes/kernel.py
  src/ai/backend/agent/server.py
  src/ai/backend/common/dto/agent/response.py
  src/ai/backend/kernel/base.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/services/session/actions/complete.py
  src/ai/backend/manager/services/session/service.py
Labels: comp:manager, comp:agent, comp:common, size:L

#4749 feat(BA-1607): Add runtime_variant parameter to Service creation SDK function
  changes/4749.feature.md
  src/ai/backend/client/cli/service.py
  src/ai/backend/client/func/service.py
Labels: comp:client, comp:cli, size:S

#4753 fix(BA-1609): Skip gathering metric of non-existent process
  changes/4753.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/stats.py
Labels: comp:agent, size:L

#4770 fix(BA-1609): Skip gathering metric of non-existent process (#4753)
  changes/4753.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/stats.py
Labels: comp:agent, size:L, backport

#4771 fix(BA-1609): Skip gathering metric of non-existent process (#4753)
  changes/4753.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/stats.py
Labels: comp:agent, size:L, backport

#3951 feat(BA-997): Add `image purge` CLI command for hard deleting ImageRow
  changes/3951.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/client/cli/image.py
  src/ai/backend/client/func/image.py
  src/ai/backend/manager/cli/image.py
  src/ai/backend/manager/cli/image_impl.py
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/services/image/service.py
  tests/manager/services/fixtures.py
Labels: area:docs, comp:manager, comp:client, comp:cli, size:L

#4795 fix(BA-1632): Cool down redis error log
  changes/4795.fix.md
  src/ai/backend/common/message_queue/redis_queue.py
Labels: comp:common, size:XS

#4796 fix(BA-1632): Cool down redis error log (#4795)
  changes/4795.fix.md
  src/ai/backend/common/message_queue/redis_queue.py
Labels: comp:common, size:XS, backport

#4797 chore: leave redis queue comment
  src/ai/backend/common/message_queue/redis_queue.py
Labels: comp:common, skip:changelog, size:XS

#4757 feat(BA-1450): Add installed field to image node query schema
  changes/4757.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/gql_models/image.py
Labels: area:docs, comp:manager, size:M

#4807 fix(BA-1645): Wrong Accept Header on `HarborRegistryV2._process_oci_index`
  changes/4807.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: comp:manager, size:XS

#4817 fix(BA-1645): Wrong Accept Header on `HarborRegistryV2._process_oci_index` (#4807)
  changes/4807.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: comp:manager, size:XS, backport

#4816 fix(BA-1645): Wrong Accept Header on `HarborRegistryV2._process_oci_index` (#4807)
  changes/4807.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: comp:manager, size:XS, backport

#4791 fix(BA-1631): Skip kernel termination future set if already
  changes/4791.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/types.py
Labels: comp:agent, size:S

#4831 fix(BA-1664): Name session test using `test_id` in failure cases
  changes/4831.fix.md
  src/ai/backend/test/testcases/session/creation_failure_command_timeout.py
  src/ai/backend/test/testcases/session/creation_failure_low_resources.py
  src/ai/backend/test/testcases/session/creation_failure_schedule_timeout.py
  src/ai/backend/test/testcases/session/creation_failure_too_many_container.py
  src/ai/backend/test/testcases/session/creation_failure_wrong_command.py
  src/ai/backend/test/testcases/session/session_status_history_retriever.py
Labels: size:M

#4832 ci: Using a self-hosted runner (#3818)
  .github/workflows/ci.yml
Labels: skip:changelog, size:XS, backport

#4798 fix(BA-1584): Wrong exit code when `BaseRunner.query` fails
  changes/4798.fix.md
  src/ai/backend/kernel/base.py
  src/ai/backend/test/testcases/session/execution.py
  src/ai/backend/test/testcases/session/testspecs.py
Labels: comp:agent, size:M

#4784 fix(BA-1626): Improve logging for inspecting missing containers
  changes/4784.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: comp:agent, size:S

#4837 feat(BA-1668): Add the `default_file_browser_image` option to the webserver configuration.
  changes/4836.feature.md
  configs/webserver/sample.conf
  src/ai/backend/web/config.py
  src/ai/backend/web/templates/config.toml.j2
Labels: comp:webserver, size:XS

#4828 fix(BA-1631): Skip kernel termination future set if already (#4791)
  changes/4791.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/types.py
Labels: comp:agent, size:M, backport

#4843 fix(BA-1671): GQL image node has wrong query filter definition
  changes/4843.fix.md
  src/ai/backend/manager/models/gql_models/image.py
Labels: comp:manager, size:XS

#4847 fix(BA-1671): GQL image node has wrong query filter definition (#4843)
  changes/4843.fix.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/manager/models/gql_models/image.py
Labels: area:docs, comp:manager, size:XS, backport

#4826 feat(BA-1656): Add `environ` to `service-definition.toml` schema
  changes/4826.feature.md
  src/ai/backend/manager/services/model_serving/services/model_serving.py
  src/ai/backend/manager/services/model_serving/types.py
Labels: comp:manager, size:S

#4849 fix(BA-1627): Handle multiple IO device stat (#4789)
  changes/4789.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/utils.py
Labels: comp:agent, size:M, backport

#4850 fix(BA-1627): Handle multiple IO device stat (#4789)
  changes/4789.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/utils.py
Labels: comp:agent, size:M, backport

#4854 fix(BA-1503): Prevent model service creation with project type vfolder (#4852)
  changes/4852.fix.md
  src/ai/backend/manager/api/service.py
Labels: comp:manager, size:XS

#4851 fix: compute plugin's `cleanup()` method not being called
  changes/4851.fix.md
  src/ai/backend/agent/agent.py
Labels: comp:agent, size:XS

#4879 fix(BA-1708): Allow update users main_access_key
  changes/4879.fix.md
  src/ai/backend/manager/services/user/actions/modify_user.py
Labels: comp:manager, size:XS

#4884 feat(BA-1693): Add VFolder file list, rename, move, deletion tests
  changes/4884.feature.md
  src/ai/backend/test/contexts/context.py
  src/ai/backend/test/contexts/vfolder.py
  src/ai/backend/test/data/vfolder.py
  src/ai/backend/test/templates/vfolder/file_uploader.py
  src/ai/backend/test/templates/vfolder/general_vfolder.py
  src/ai/backend/test/templates/vfolder/utils.py
  src/ai/backend/test/testcases/testspecs.py
  src/ai/backend/test/testcases/vfolder/BUILD
  src/ai/backend/test/testcases/vfolder/__init__.py
  src/ai/backend/test/testcases/vfolder/delete_files.py
  src/ai/backend/test/testcases/vfolder/list_files.py
  src/ai/backend/test/testcases/vfolder/move.py
  src/ai/backend/test/testcases/vfolder/rename_file.py
  src/ai/backend/test/testcases/vfolder/testspecs.py
  src/ai/backend/test/tester/dependency.py
Labels: size:L

#4886 fix(BA-1711): Add `metric` addr to sample Etcd config
  changes/4886.misc.md
  configs/manager/sample.etcd.config.json
Labels: size:XS

#4875 fix(BA-1703): Prevent handling auto scaling rules for deleted model services
  changes/4875.fix.md
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/services/model_serving/services/auto_scaling.py
Labels: comp:manager, size:S

#4877 feat(BA-1692): Add VFolder upload, and download file tests
  changes/4877.feature.md
  src/ai/backend/test/testcases/vfolder/download.py
  src/ai/backend/test/testcases/vfolder/testspecs.py
Labels: size:M

#4885 feat(BA-1696): Add VFolder clone test
  changes/4885.feature.md
  configs/tester/tester.toml
  src/ai/backend/test/testcases/vfolder/clone.py
  src/ai/backend/test/testcases/vfolder/testspecs.py
Labels: size:M

#4856 feat(BA-1676): Implement `get_id` SDK function querying VFolder id with name
  changes/4856.feature.md
  src/ai/backend/client/func/vfolder.py
Labels: comp:client, size:XS

#4895 fix(BA-1719): Skip logging agent status heartbeat
  changes/4895.fix.md
  src/ai/backend/manager/event_dispatcher/dispatch.py
Labels: comp:manager, size:S

#4898 fix(BA-1630): Omission of status code in wsproxy exception middleware (#4788)
  changes/4788.fix.md
  src/ai/backend/wsproxy/proxy/frontend/http/abc.py
  src/ai/backend/wsproxy/server.py
Labels: size:XS, backport
