Repository lablup/backend.ai, pull requests merged in 2025-05, with the labels that each got.

#4340 fix(BA-1281): Add default value of task_info value
  changes/4340.fix.md
  src/ai/backend/common/bgtask.py
Labels: comp:common, size:XS

#4339 fix(BA-1302): Add TypeError handling in redis_helper
  changes/4339.fix.md
  src/ai/backend/common/redis_helper.py
Labels: comp:common, size:S

#4337 feat(BA-1301): Add error code to metric
  changes/4337.feature.md
  src/ai/backend/common/bgtask.py
  src/ai/backend/common/exception.py
  src/ai/backend/common/metrics/http.py
  src/ai/backend/common/metrics/metric.py
  src/ai/backend/manager/actions/action.py
  src/ai/backend/manager/actions/monitors/prometheus.py
  src/ai/backend/manager/actions/processor.py
  src/ai/backend/manager/models/gql.py
  tests/manager/actions/test_processor.py
Labels: comp:manager, comp:common, size:L

#4349 fix(BA-1302): Add TypeError handling in redis_helper (#4339)
  changes/4339.fix.md
  src/ai/backend/common/redis_helper.py
Labels: comp:common, size:S, backport

#4350 fix(BA-1282): Use label's items for making resource info (#4341)
  changes/4341.fix.md
  src/ai/backend/manager/models/image.py
Labels: comp:manager, size:XS, backport

#4336 feat(BA-1300): Add error code to API exception message
  changes/4336.feature.md
  src/ai/backend/common/exception.py
  src/ai/backend/manager/models/gql.py
  tests/manager/api/test_exceptions.py
Labels: comp:manager, comp:common, size:M

#4343 feat(BA-1279): Add etcd service discovery
  changes/4343.feature.md
  src/ai/backend/common/BUILD
  src/ai/backend/common/service_discovery/BUILD
  src/ai/backend/common/service_discovery/__init__.py
  src/ai/backend/common/service_discovery/etcd_discovery/BUILD
  src/ai/backend/common/service_discovery/etcd_discovery/__init__.py
  src/ai/backend/common/service_discovery/etcd_discovery/service_discovery.py
  src/ai/backend/common/service_discovery/service_discovery.py
  tests/common/service_discovery/BUILD
  tests/common/service_discovery/__init__.py
  tests/common/service_discovery/conftest.py
  tests/common/service_discovery/test_etcd_discovery.py
Labels: comp:common, size:XL

#4051 feat(BA-988): Add Action Test Code for Group
  changes/4051.feature.md
  tests/manager/services/test_group.py
Labels: comp:manager, size:L

#4059 feat(BA-986): Add Action Test Code for User
  changes/4059.feature.md
  tests/manager/services/test_users.py
Labels: area:docs, comp:manager, size:XL

#4360 fix(BA-1330): Fixture populate not working
  src/ai/backend/manager/cli/fixture.py
Labels: comp:manager, comp:cli, skip:changelog, size:XS

#4362 fix: Remove wrong shared config
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/types.py
Labels: comp:manager, skip:changelog, size:S

#4364 doc: Update towncrier command docs
  changes/4364.doc.md
  docs/dev/daily-workflows.rst
Labels: area:docs, size:S

#4363 refactor: Rename redis target
  changes/4363.misc.md
  src/ai/backend/agent/agent.py
  src/ai/backend/common/message_queue/hiredis_queue.py
  src/ai/backend/common/redis_client.py
  src/ai/backend/common/redis_helper.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/ratelimit.py
  src/ai/backend/manager/cli/context.py
  src/ai/backend/manager/idle.py
  src/ai/backend/manager/models/gql_models/keypair.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/migration.py
  src/ai/backend/storage/server.py
  src/ai/backend/web/server.py
  tests/common/message_queue/test_hiredis_queue.py
  tests/common/message_queue/test_redis_queue.py
  tests/common/redis_helper/test_connect.py
  tests/common/test_distributed.py
  tests/common/test_events.py
  tests/manager/api/test_bgtask.py
Labels: comp:manager, comp:agent, comp:common, comp:cli, comp:webserver, comp:storage-proxy, size:L

#4371 fix(BA-1334): Add missing `KernelStatus.ERROR` to dead kernel status set
  changes/4371.fix.md
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager, size:XS

#4372 fix(BA-1334): Add missing `KernelStatus.ERROR` to dead kernel status set (#4371)
  changes/4371.fix.md
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager, size:XS, backport

#4384 fix(BA-1345): Revert addition of `SessionStatus.ERROR` and `KernelStatus.ERROR` to dead status sets
  changes/4384.fix.md
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/sweeper/kernel.py
Labels: comp:manager, size:S

#4385 fix(BA-1345): Revert addition of `SessionStatus.ERROR` and `KernelStatus.ERROR` to dead status sets (#4384)
  changes/4384.fix.md
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/sweeper/kernel.py
Labels: comp:manager, size:S, backport

#4382 fix(BA-1141): Wrong project-id parsing when creating project vfolder (#4144)
  changes/4144.fix.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/manager/api/vfolder.py
Labels: area:docs, comp:manager, size:L, backport

#4379 feat(BA-1158): Introduce ProcessorPackage
  changes/4379.feature.md
  src/ai/backend/manager/actions/types.py
  src/ai/backend/manager/services/agent/processors.py
  src/ai/backend/manager/services/container_registry/processors.py
  src/ai/backend/manager/services/domain/processors.py
  src/ai/backend/manager/services/group/processors.py
  src/ai/backend/manager/services/image/processors.py
  src/ai/backend/manager/services/keypair_resource_policy/processors.py
  src/ai/backend/manager/services/metric/processors/utilization_metric.py
  src/ai/backend/manager/services/model_serving/processors/auto_scaling.py
  src/ai/backend/manager/services/model_serving/processors/model_serving.py
  src/ai/backend/manager/services/processors.py
  src/ai/backend/manager/services/project_resource_policy/processors.py
  src/ai/backend/manager/services/resource_preset/processors.py
  src/ai/backend/manager/services/session/processors.py
  src/ai/backend/manager/services/user/processors.py
  src/ai/backend/manager/services/user_resource_policy/processors.py
  src/ai/backend/manager/services/vfolder/processors/file.py
  src/ai/backend/manager/services/vfolder/processors/invite.py
  src/ai/backend/manager/services/vfolder/processors/vfolder.py
Labels: comp:manager, size:L

#4365 fix(BA-1331): Add `validation_alias` and `serialization_alias` to ManagerSharedConfig configs
  changes/4365.enhance.md
  src/ai/backend/manager/config/unified.py
Labels: comp:manager, size:M

#4395 fix(BA-1362): Revert sane default config update
  changes/4395.fix.md
  src/ai/backend/manager/config/unified.py
  src/ai/backend/manager/models/utils.py
  tests/manager/conftest.py
Labels: comp:manager, size:S

#4393 feat(BA-1364): Introduce `ActionSpec`
  changes/4393.feature.md
  src/ai/backend/manager/actions/action.py
  src/ai/backend/manager/actions/monitors/reporter.py
  src/ai/backend/manager/actions/types.py
  src/ai/backend/manager/services/agent/processors.py
  src/ai/backend/manager/services/container_registry/processors.py
  src/ai/backend/manager/services/domain/processors.py
  src/ai/backend/manager/services/group/processors.py
  src/ai/backend/manager/services/image/processors.py
  src/ai/backend/manager/services/keypair_resource_policy/processors.py
  src/ai/backend/manager/services/metric/processors/utilization_metric.py
  src/ai/backend/manager/services/model_serving/processors/auto_scaling.py
  src/ai/backend/manager/services/model_serving/processors/model_serving.py
  src/ai/backend/manager/services/processors.py
  src/ai/backend/manager/services/project_resource_policy/processors.py
  src/ai/backend/manager/services/resource_preset/processors.py
  src/ai/backend/manager/services/session/processors.py
  src/ai/backend/manager/services/user/processors.py
  src/ai/backend/manager/services/user_resource_policy/processors.py
  src/ai/backend/manager/services/vfolder/processors/file.py
  src/ai/backend/manager/services/vfolder/processors/invite.py
  src/ai/backend/manager/services/vfolder/processors/vfolder.py
Labels: area:docs, comp:manager, comp:client, comp:common, comp:cli, size:L

#4401 fix: Remove wrong unified config injection
  src/ai/backend/manager/services/group/service.py
  src/ai/backend/manager/services/processors.py
  src/ai/backend/manager/services/resource_preset/service.py
  tests/manager/conftest.py
  tests/manager/services/test_group.py
  tests/manager/test_registry.py
  tests/manager/test_scheduler.py
Labels: comp:manager, skip:changelog, size:M

#4400 feat(BA-1363): Remove `subscribed_actions` config, and change AuditLogReporter to AuditLogMonitor
  changes/4400.misc.md
  configs/manager/halfstack.toml
  src/ai/backend/manager/actions/monitors/audit_log.py
  src/ai/backend/manager/config/unified.py
  src/ai/backend/manager/reporters/audit_log.py
  src/ai/backend/manager/server.py
Labels: comp:manager, size:L

#4406 fix: ActionReporter not found crash
  src/ai/backend/manager/server.py
Labels: comp:manager, skip:changelog, size:S

#4409 fix(BA-1370): Use `orjson` in `BackendAIError`
  src/ai/backend/common/exception.py
Labels: comp:common, size:XS

#4405 fix(BA-1367): Change pyzmq version on the python-kernel, compatible with python 3.13
  changes/4405.fix.md
  python-kernel.lock
  src/ai/backend/kernel/requirements.txt
Labels: comp:installer, size:XS, require:pants-export

#4415 fix(BA-1367): Change pyzmq version on the python-kernel, compatible with python 3.13 (#4405)
  changes/4405.fix.md
  python-kernel.lock
  src/ai/backend/kernel/requirements.txt
Labels: comp:installer, size:XS, require:pants-export, backport

#4414 fix(BA-1367): Change pyzmq version on the python-kernel, compatible with python 3.13 (#4405)
  changes/4405.fix.md
  python-kernel.lock
  src/ai/backend/kernel/requirements.txt
Labels: comp:installer, size:XS, require:pants-export, backport

#4328 feat(BA-1292): Introduce LabelName enum
  changes/4328.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/metadata/server.py
  src/ai/backend/common/docker.py
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/services/session/service.py
Labels: comp:manager, comp:agent, comp:common, size:L

#4386 feat(BA-1211): Add kernel last seen event and handler
  changes/4386.feature.md
  src/ai/backend/common/events/kernel.py
  src/ai/backend/manager/models/alembic/versions/42998e8c8bb4_add_kernel_last_seen.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, comp:common, require:db-migration, size:M

#4413 feat(BA-1374): Support relative path for `AutoDirectoryPath`
  changes/4413.feature.md
  src/ai/backend/common/typed_validators.py
Labels: comp:common, size:S

#4404 fix(BA-1366): Add missing `UserBgtaskEvent` implementation
  changes/4404.fix.md
  src/ai/backend/common/bgtask/bgtask.py
  src/ai/backend/common/events/bgtask.py
  src/ai/backend/common/events/hub/propagators/bgtask.py
  src/ai/backend/common/events/user_event/user_bgtask_event.py
  src/ai/backend/manager/api/events.py
  src/ai/backend/manager/event_dispatcher/dispatch.py
  src/ai/backend/manager/event_dispatcher/propagator.py
  src/ai/backend/manager/services/container_registry/service.py
Labels: comp:manager, comp:common, size:L

#4353 feat(BA-1321): Add force-delete support for VFolder in Python client SDK
  changes/4353.feature.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/client/func/vfolder.py
  src/ai/backend/manager/api/vfolder.py
  tests/client/test_vfolder.py
Labels: area:docs, comp:manager, comp:client, size:M

#4420 feat(BA-1321): Add force-delete support for VFolder in Python client SDK (#4353)
  changes/4353.feature.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/client/func/vfolder.py
  src/ai/backend/manager/api/vfolder.py
  tests/client/test_vfolder.py
Labels: area:docs, comp:manager, comp:client, size:M, backport

#4426 fix(BA-1389): vfolder ls cmd not working
  changes/4425.fix.md
  src/ai/backend/client/cli/vfolder.py
Labels: comp:client, comp:cli, size:XS

#4376 feat(BA-1265): Add `ServiceConfig` GQL API
  changes/4376.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/common/typed_validators.py
  src/ai/backend/common/utils.py
  src/ai/backend/manager/config/provider.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/service_config.py
Labels: area:docs, comp:manager, comp:common, size:L

#4272 fix(BA-1231): `BgTaskFailedError` is not propagated to the client
  changes/4272.fix.md
  src/ai/backend/common/bgtask/bgtask.py
  src/ai/backend/common/events/bgtask.py
  src/ai/backend/common/events/hub/hub.py
  src/ai/backend/manager/services/session/service.py
Labels: comp:manager, comp:common, size:L

#4432 feat(BA-1363): Remove `subscribed_actions` config, and change AuditLogMonitor (#4400)
  changes/4400.misc.md
  configs/manager/halfstack.toml
  src/ai/backend/manager/actions/monitors/audit_log.py
  src/ai/backend/manager/reporters/audit_log.py
  src/ai/backend/manager/server.py
Labels: comp:manager, size:L

#4433 fix: ActionReporter not found crash (#4406)
  src/ai/backend/manager/server.py
Labels: comp:manager, size:S

#4436 fix(BA-1395): Add an import statement from .kernel and updates the all variable accordingly
  changes/4436.fix.md
  src/ai/backend/common/events/__init__.py
Labels: comp:common, size:XS

#4428 fix(BA-1353): wrong location of event handling observer (#4392)
  changes/4392.fix.md
  src/ai/backend/common/events.py
Labels: comp:common, size:L

#4021 fix: Improve handling of process termination races in the krunner's OOM logger (#4008)
  changes/4008.fix.md
  src/ai/backend/kernel/utils.py
Labels: comp:agent, size:XS, backport

#4429 fix(BA-1393): resource usage-per-period CLI command not working
  changes/4429.fix.md
  src/ai/backend/client/cli/admin/resource.py
  src/ai/backend/client/cli/admin/scaling_group.py
  src/ai/backend/manager/models/resource_usage.py
Labels: comp:manager, comp:client, comp:cli, size:M

#4314 fix(BA-1276): Prevent invalid resource slot creation, and mutation
  changes/4314.fix.md
  src/ai/backend/common/exception.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/services/resource_preset/service.py
Labels: comp:manager, comp:common, size:M

#4443 fix(BA-1398): Improve error handling for token generation in ModelServingService
  changes/4443.fix.md
  src/ai/backend/manager/services/model_serving/services/model_serving.py
Labels: comp:manager, size:S

#4438 feat(BA-1305): Register service discovery and add http service discovery for prometheus
  changes/4438.feature.md
  configs/grafana/dashboards/dashboard.json
  configs/prometheus/prometheus.yaml
  src/ai/backend/agent/config.py
  src/ai/backend/agent/server.py
  src/ai/backend/common/service_discovery/etcd_discovery/service_discovery.py
  src/ai/backend/common/service_discovery/service_discovery.py
  src/ai/backend/common/typed_validators.py
  src/ai/backend/manager/api/context.py
  src/ai/backend/manager/config/unified.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/config.py
  src/ai/backend/storage/server.py
  tests/common/service_discovery/test_etcd_discovery.py
Labels: comp:manager, comp:agent, comp:common, comp:storage-proxy, size:L

#4447 fix(BA-1382): Initialize route session environment variables with fallback for `None`
  changes/4447.fix.md
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:S

#4451 fix(BA-1382): Initialize route session environment variables with fallback for `None` (#4447)
  changes/4447.fix.md
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:S, backport

#4446 fix(BA-1369): Resolve admins vfolder leave issue
  changes/4446.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: comp:manager, size:XS

#4452 fix(BA-1369): Resolve admins vfolder leave issue (#4446)
  changes/4446.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: comp:manager, size:XS, backport

#4444 fix: Fixed a loophole where consume could be missing at event dispatcher startup time
  changes/4444.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/common/events.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/context.py
  src/ai/backend/storage/migration.py
  tests/common/test_distributed.py
  tests/common/test_events.py
  tests/manager/api/test_auth.py
  tests/manager/api/test_bgtask.py
  tests/manager/api/test_ratelimit.py
  tests/manager/conftest.py
  tests/manager/models/gql_models/test_agent.py
  tests/manager/models/test_image.py
  tests/manager/test_idle_checker.py
Labels: comp:manager, comp:agent, comp:common, comp:storage-proxy, size:L

#4387 feat(BA-1209): Add event log
  changes/4387.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/common/events/agent.py
  src/ai/backend/common/events/bgtask.py
  src/ai/backend/common/events/dispatcher.py
  src/ai/backend/common/events/hub/hub.py
  src/ai/backend/common/events/idle.py
  src/ai/backend/common/events/image.py
  src/ai/backend/common/events/kernel.py
  src/ai/backend/common/events/model_serving.py
  src/ai/backend/common/events/reporter.py
  src/ai/backend/common/events/schedule.py
  src/ai/backend/common/events/session.py
  src/ai/backend/common/events/types.py
  src/ai/backend/common/events/vfolder.py
  src/ai/backend/common/events/volume.py
  src/ai/backend/common/plugin/event.py
  src/ai/backend/manager/BUILD
  src/ai/backend/manager/api/context.py
  src/ai/backend/manager/api/events.py
  src/ai/backend/manager/api/logs.py
  src/ai/backend/manager/event_dispatcher/agent.py
  src/ai/backend/manager/event_dispatcher/bgtask.py
  src/ai/backend/manager/event_dispatcher/dispatch.py
  src/ai/backend/manager/event_dispatcher/image.py
  src/ai/backend/manager/event_dispatcher/kernel.py
  src/ai/backend/manager/event_dispatcher/model_serving.py
  src/ai/backend/manager/event_dispatcher/reporters.py
  src/ai/backend/manager/event_dispatcher/session.py
  src/ai/backend/manager/event_dispatcher/vfolder.py
  src/ai/backend/manager/idle.py
  src/ai/backend/manager/models/alembic/versions/17ea44123131_add_event_log.py
  src/ai/backend/manager/models/event_log.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/plugin/error_monitor.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/services/session/service.py
  src/ai/backend/storage/server.py
  tests/common/test_distributed.py
  tests/common/test_events.py
  tests/manager/api/test_auth.py
  tests/manager/api/test_bgtask.py
  tests/manager/api/test_ratelimit.py
  tests/manager/conftest.py
  tests/manager/models/gql_models/test_agent.py
  tests/manager/models/test_image.py
Labels: comp:manager, comp:agent, comp:common, comp:storage-proxy, require:db-migration, size:XL

#4448 fix(BA-1399): Check unregistered email and update error code when vfolder invitation conflicts
  changes/4448.fix.md
  src/ai/backend/common/exception.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/services/vfolder/exceptions.py
  src/ai/backend/manager/services/vfolder/services/invite.py
Labels: comp:manager, comp:common, size:M

#4453 fix(BA-1401): Add missing defaults to BootstrapConfig
  changes/4453.fix.md
  src/ai/backend/manager/config/bootstrap.py
Labels: comp:manager, size:XS

#4457 fix(BA-1403): Resolve file-upload to session issue
  changes/4457.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/kubernetes/kernel.py
Labels: comp:agent, size:S

#4460 fix(BA-1403): Resolve file-upload to session issue (#4457)
  changes/4457.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/kubernetes/kernel.py
Labels: comp:agent, size:S, backport

#4463 fix(BA-1002): Incorrect handling of disallowed permission in GQL middleware
  changes/4463.fix.md
  src/ai/backend/common/exception.py
  src/ai/backend/manager/api/admin.py
  src/ai/backend/manager/models/gql.py
Labels: comp:manager, comp:common, size:M

#4450 fix(BA-1379): Truncate generated session name in service creation to max allowed length
  changes/4450.fix.md
  src/ai/backend/client/func/service.py
  src/ai/backend/common/typed_validators.py
Labels: comp:client, comp:common, size:S

#4459 fix(BA-1404): Calculate correct permissions for admins
  changes/4459.fix.md
  src/ai/backend/manager/models/rbac/__init__.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:S

#4475 fix(BA-1413): Fix wrong method name in rpc call metric
  changes/4475.fix.md
  configs/grafana/dashboards/dashboard.json
  src/ai/backend/agent/server.py
Labels: comp:agent, size:L

#4473 chore: Changed the number of CPUs in the dev environment to one
  configs/storage-proxy/halfstack.toml
Labels: skip:changelog, size:XS

#4481 chore: Changed the number of CPUs in the dev environment to one (#4473)
  configs/storage-proxy/halfstack.toml
Labels: skip:changelog, size:XS, backport

#4480 chore: Changed the number of CPUs in the dev environment to one (#4473)
  configs/storage-proxy/halfstack.toml
Labels: skip:changelog, size:XS, backport

#4472 fix(BA-1379): Truncate generated session name in service creation to max allowed length (#4450)
  changes/4450.fix.md
  src/ai/backend/client/func/service.py
  src/ai/backend/common/typed_validators.py
Labels: comp:client, comp:common, size:S, backport

#4449 fix(BA-1380): Update `Service.create()` to comply with validation schema
  changes/4449.fix.md
  src/ai/backend/client/func/service.py
Labels: comp:client, size:S

#4483 fix: Add missing validator to Redis Sentinel Config
  src/ai/backend/manager/config/unified.py
  src/ai/backend/manager/server.py
Labels: comp:manager, skip:changelog, size:S

#4484 fix(BA-1380): Update `Service.create()` to comply with validation schema (#4449)
  changes/4449.fix.md
  src/ai/backend/client/func/service.py
Labels: comp:client, size:S, backport

#3389 fix: Silent failure of `DockerAgent`'s `push_image()`, `pull_image()` (#2572)
  changes/2572.fix.md
  python.lock
  requirements.txt
  src/ai/backend/agent/docker/agent.py
Labels: type:bug, comp:agent, comp:common, size:S, backport

#3488 fix(BA-461): Filter vfolder deletion info by vfolder status (#3446)
  changes/3446.fix.md
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/user.py
Labels: area:docs, comp:manager, size:M, backport

#4492 fix(BA-1430): heartbeat register service when service is dead
  changes/4492.fix.md
  src/ai/backend/common/service_discovery/etcd_discovery/service_discovery.py
  src/ai/backend/common/service_discovery/service_discovery.py
  tests/common/service_discovery/test_etcd_discovery.py
Labels: comp:common, size:L

#4497 feat(BA-1428): Refactor event dispatcher and handlers directory structure
  changes/4497.feature.md
  src/ai/backend/manager/api/context.py
  src/ai/backend/manager/config/unified.py
  src/ai/backend/manager/event_dispatcher/bgtask.py
  src/ai/backend/manager/event_dispatcher/dispatch.py
  src/ai/backend/manager/event_dispatcher/handlers/BUILD
  src/ai/backend/manager/event_dispatcher/handlers/__init__.py
  src/ai/backend/manager/event_dispatcher/handlers/agent.py
  src/ai/backend/manager/event_dispatcher/handlers/image.py
  src/ai/backend/manager/event_dispatcher/handlers/kernel.py
  src/ai/backend/manager/event_dispatcher/handlers/model_serving.py
  src/ai/backend/manager/event_dispatcher/handlers/propagator.py
  src/ai/backend/manager/event_dispatcher/handlers/schedule.py
  src/ai/backend/manager/event_dispatcher/handlers/session.py
  src/ai/backend/manager/event_dispatcher/handlers/vfolder.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/manager/server.py
  tests/manager/api/test_auth.py
  tests/manager/api/test_bgtask.py
  tests/manager/api/test_ratelimit.py
  tests/manager/conftest.py
  tests/manager/models/gql_models/test_agent.py
  tests/manager/models/test_image.py
  tests/manager/test_scheduler.py
Labels: comp:manager, size:L

#4509 feat(BA-1444): Add stage package to support deterministic step-by-step execution
  changes/4509.feature.md
  src/ai/backend/common/BUILD
  src/ai/backend/common/stage/BUILD
  src/ai/backend/common/stage/__init__.py
  src/ai/backend/common/stage/types.py
  tests/common/test_stage.py
Labels: comp:common, size:L

#4507 feat(BA-1443): `backend.ai mgr scheduler last-execution-time` command
  changes/4507.feature.md
  src/ai/backend/manager/cli/__main__.py
  src/ai/backend/manager/cli/scheduler.py
Labels: comp:manager, comp:cli, size:L

#4532 fix: mock accelerator resource not allocated after agent restart
  changes/4532.fix.md
  src/ai/backend/accelerator/mock/plugin.py
Labels: size:XS

#4354 feat(BA-1289): Allow anonymous users register TOTP key
  changes/4354.feature.md
  src/ai/backend/client/func/user.py
  src/ai/backend/common/dto/manager/auth/BUILD
  src/ai/backend/common/dto/manager/auth/field.py
  src/ai/backend/common/exception.py
  src/ai/backend/manager/api/auth.py
  src/ai/backend/web/server.py
Labels: comp:manager, comp:client, comp:common, comp:webserver, size:L

#4538 fix(BA-1456): Remove useless print in `ScalingGroup.list_available`
  changes/4538.misc.md
  src/ai/backend/client/func/scaling_group.py
Labels: comp:client, size:XS

#4540 refactor(BA-1471): Improve logging for error handling in various modules
  changes/4540.enhance.md
  src/ai/backend/common/bgtask/bgtask.py
  src/ai/backend/common/distributed.py
  src/ai/backend/common/message_queue/hiredis_queue.py
  src/ai/backend/common/message_queue/redis_queue.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/server.py
Labels: comp:manager, comp:common, size:S

#4536 fix: Correct typo in exception label for event failure metrics
  src/ai/backend/common/metrics/metric.py
Labels: comp:common, skip:changelog, size:XS

#4537 fix(BA-1442): Remove outdated Image SDK methods
  changes/4537.misc.md
  src/ai/backend/client/func/image.py
Labels: comp:client, size:S

#4533 feat(BA-1416): make resource fragmentation configurable
  changes/4533.feature.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/alloc_map.py
  src/ai/backend/agent/exception.py
  src/ai/backend/agent/resources.py
  src/ai/backend/client/func/session.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/scaling_group.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/services/model_serving/types.py
  tests/agent/test_resources.py
Labels: area:docs, comp:manager, comp:agent, comp:client, comp:common, size:L

#4550 fix(BA-1473): Fix missing entity id in processor
  changes/4550.fix.md
  src/ai/backend/manager/actions/action.py
  src/ai/backend/manager/actions/monitors/audit_log.py
  src/ai/backend/manager/actions/monitors/prometheus.py
  src/ai/backend/manager/actions/monitors/reporter.py
  src/ai/backend/manager/actions/processor.py
  tests/manager/actions/test_processor.py
Labels: comp:manager, size:M

#4547 fix(BA-1457): Broken `Keypair` SDK methods
  changes/4547.fix.md
  src/ai/backend/client/func/keypair.py
Labels: comp:client, size:XS

#4553 fix(BA-1457): Broken `Keypair` SDK methods (#4547)
  changes/4547.fix.md
  src/ai/backend/client/func/keypair.py
Labels: comp:client, size:XS, backport

#4546 fix(BA-1460): Broken `Resource.usage_per_month` SDK method
  changes/4546.fix.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/client/func/resource.py
  src/ai/backend/manager/api/resource.py
  src/ai/backend/manager/openapi.py
Labels: area:docs, comp:manager, comp:client, size:S

#4559 fix(BA-1438): Skip processing messages with None data in RedisQueue
  changes/4559.fix.md
  src/ai/backend/common/message_queue/redis_queue.py
  src/ai/backend/manager/server.py
Labels: comp:manager, comp:common, size:M

#4558 fix(BA-1465): Fix broken `Network` SDK implementations
  changes/4558.fix.md
  src/ai/backend/client/func/network.py
  src/ai/backend/manager/models/network.py
Labels: comp:manager, comp:client, size:M

#4561 fix(BA-1438): Skip processing messages with None data in RedisQueue
  src/ai/backend/common/message_queue/redis_queue.py
  src/ai/backend/manager/server.py
Labels: comp:manager, comp:common, skip:changelog, size:S

#4564 ci: Add error handling to build scripts
  scripts/build-scies.sh
  scripts/build-wheels.sh
Labels: skip:changelog, size:XS

#4563 fix(BA-1475): Add missing message to `BgTaskFailedEvent`
  changes/4563.fix.md
  src/ai/backend/common/bgtask/bgtask.py
Labels: comp:common, size:S
