Repository lablup/backend.ai, pull requests merged in 2025-01, with the labels that each got.

#3345 ci(BA-416): Fix invalid variable usage
  .github/workflows/backport.yml
Labels: skip:changelog, size:XS

#3351 ci(BA-434): Graceful exit if committed directly to main
  .github/workflows/backport.yml
Labels: skip:changelog, size:XS

#3222 fix: Broken session CLI commands due to invalid initialization of `ComputeSession`
  changes/3222.fix.md
  src/ai/backend/client/cli/session/lifecycle.py
  src/ai/backend/client/func/session.py
  tests/client/cli/BUILD
  tests/client/cli/conftest.py
  tests/client/cli/session/BUILD
  tests/client/cli/session/test_lifecycle.py
  tests/client/cli/test_cli_commands.py
Labels: type:bug, comp:client, comp:cli, size:L

#3356 fix: Broken session CLI commands due to invalid initialization of `ComputeSession` (#3222)
  changes/3222.fix.md
  src/ai/backend/client/cli/session/lifecycle.py
  src/ai/backend/client/func/session.py
  tests/client/cli/BUILD
  tests/client/cli/conftest.py
  tests/client/cli/session/BUILD
  tests/client/cli/session/test_lifecycle.py
  tests/client/cli/test_cli_commands.py
Labels: type:bug, comp:client, comp:cli, size:L, backport

#3309 ci: Detach the commit body of `assign-pr-number`
  .github/workflows/assign-pr-number.yml
  changes/3309.misc.md
Labels: size:XS

#3364 ci: Fix the newlines of changelog between versions
  changes/template.md
Labels: area:infrastructure, skip:changelog, size:XS

#3365 ci: Fix the newlines of changelog between versions (#3364)
  changes/template.md
Labels: area:infrastructure, skip:changelog, size:XS, backport

#3366 ci: Fix the newlines of changelog between versions (#3364)
  changes/template.md
Labels: area:infrastructure, skip:changelog, size:XS, backport

#3367 ci: Update action runners
  .github/workflows/ci.yml
Labels: area:infrastructure, area:upstream, skip:changelog, size:S

#3368 ci: Update action runners (#3367)
  .github/workflows/ci.yml
Labels: area:infrastructure, area:upstream, skip:changelog, size:S, backport

#3369 ci: Update action runners (#3367)
  .github/workflows/ci.yml
Labels: area:infrastructure, area:upstream, skip:changelog, size:S, backport

#3370 ci: Update action runners (#3367)
  .github/workflows/ci.yml
Labels: area:infrastructure, area:upstream, skip:changelog, size:S, backport

#3371 ci: Update science package to latest to handle recent changes in PBS
  tools/pants-plugins/scie/subsystems.py
Labels: area:infrastructure, area:upstream, comp:installer, skip:changelog, size:S

#3373 ci: Update science package to latest to handle recent changes in PBS (#3371)
  tools/pants-plugins/scie/subsystems.py
Labels: area:infrastructure, area:upstream, comp:installer, skip:changelog, size:S, backport

#3372 ci: Update science package to latest to handle recent changes in PBS (#3371)
  tools/pants-plugins/scie/subsystems.py
Labels: area:infrastructure, area:upstream, comp:installer, skip:changelog, size:S, backport

#3374 ci: Update science package to latest to handle recent changes in PBS (#3371)
  tools/pants-plugins/scie/subsystems.py
Labels: area:infrastructure, area:upstream, comp:installer, skip:changelog, size:S, backport

#3362 fix(BA-449): Allow new version notation in GQL schema
  gql-inspector-checker.js
Labels: skip:changelog, size:S

#3019 feat(BA-80): Implement Fine-grained seccomp profile
  changes/3019.feature.md
  scripts/update-default-seccomp.sh
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/resources.py
  src/ai/backend/runner/default-seccomp.json
Labels: type:feature, comp:agent, size:XL

#3341 fix(BA-438): Libc version not parsed on image without metadata label
  changes/3341.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: comp:agent, size:XS

#3393 fix(BA-438): Libc version not parsed on image without metadata label (#3341)
  changes/3341.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: comp:agent, size:XS, backport

#3400 fix(BA-459): password based SSH login not working (#3387)
  changes/3387.fix.md
  src/ai/backend/runner/entrypoint.sh
Labels: comp:agent, size:XS, backport

#3410 fix(BA-477): Logging and formatting exceptions raised from local process
  changes/3410.fix.md
  src/ai/backend/logging/formatter.py
Labels: comp:common, size:S

#3363 fix(BA-432): Enforce VFolder name length restriction through the API schema
  changes/3363.fix.md
  src/ai/backend/common/defs.py
  src/ai/backend/common/typed_validators.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/alembic/versions/ef9a7960d234_extend_length_of_vfolders_name_column.py
  src/ai/backend/manager/models/vfolder.py
Labels: area:docs, comp:manager, comp:common, require:db-migration, size:L

#3414 fix(BA-477): Logging and formatting exceptions raised from local process (#3410)
  changes/3410.fix.md
  src/ai/backend/logging/formatter.py
Labels: comp:common, size:S, backport

#3415 fix(BA-432): Enforce VFolder name length restriction through the API schema (#3363)
  changes/3363.fix.md
  src/ai/backend/common/defs.py
  src/ai/backend/common/typed_validators.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/alembic/versions/ef9a7960d234_extend_length_of_vfolders_name_column.py
  src/ai/backend/manager/models/vfolder.py
Labels: area:docs, comp:manager, comp:common, require:db-migration, size:L, backport

#3416 fix(BA-432): Enforce VFolder name length restriction through the API schema (#3363)
  changes/3363.fix.md
  src/ai/backend/common/defs.py
  src/ai/backend/common/typed_validators.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/alembic/versions/ef9a7960d234_extend_length_of_vfolders_name_column.py
  src/ai/backend/manager/models/vfolder.py
Labels: area:docs, comp:manager, comp:common, require:db-migration, size:L, backport

#3420 fix(BA-484): Missing architceture name lookup in LocalRegistry
  changes/3420.fix.md
  src/ai/backend/manager/container_registry/local.py
Labels: comp:manager, size:XS

#3421 fix(BA-484): Missing architceture name lookup in LocalRegistry (#3420)
  changes/3420.fix.md
  src/ai/backend/manager/container_registry/local.py
Labels: comp:manager, size:XS, backport

#2143 chore: Manage the api spec file in the docs directory
  .github/labeler.yml
  .github/workflows/update-api-schema.yml
  .readthedocs.yaml
  docs/README.md
  docs/manager/graphql-reference/schema.graphql
  docs/manager/rest-reference/openapi.json
  src/ai/backend/manager/cli/api.py
  src/ai/backend/manager/openapi.py
Labels: type:feature, area:docs, comp:manager, comp:cli, skip:changelog, size:XL

#3425 chore: Manage the api spec file in the docs directory (#2143)
  .github/labeler.yml
  .github/workflows/update-api-schema.yml
  .readthedocs.yaml
  docs/README.md
  docs/manager/graphql-reference/schema.graphql
  docs/manager/rest-reference/openapi.json
  src/ai/backend/manager/cli/api.py
  src/ai/backend/manager/openapi.py
Labels: type:feature, area:docs, comp:manager, comp:cli, skip:changelog, size:XL, backport

#3429 fix(BA-454): Directly retrieve VFolder by folder ID in purge API (#3388)
  changes/3388.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: area:docs, comp:manager, size:S, backport

#3428 fix(BA-454): Directly retrieve VFolder by folder ID in purge API (#3388)
  changes/3388.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: area:docs, comp:manager, size:S, backport

#2906 chore: Describe the extension of the config file to use TOML
  src/ai/backend/agent/server.py
  src/ai/backend/agent/watcher.py
Labels: comp:agent, skip:changelog, size:XS

#3438 chore: Describe the extension of the config file to use TOML (#2906)
  src/ai/backend/agent/server.py
  src/ai/backend/agent/watcher.py
Labels: comp:agent, skip:changelog, size:XS, backport

#3439 chore: Describe the extension of the config file to use TOML (#2906)
  src/ai/backend/agent/server.py
  src/ai/backend/agent/watcher.py
Labels: comp:agent, skip:changelog, size:XS, backport

#3440 chore: Describe the extension of the config file to use TOML (#2906)
  src/ai/backend/agent/server.py
  src/ai/backend/agent/watcher.py
Labels: comp:agent, skip:changelog, size:XS, backport

#3448 chore: Update PR template to remind mentioning both GitHub/Jira issues
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area:infrastructure, skip:changelog, size:XS

#3449 chore: Update PR template to remind mentioning both GitHub/Jira issues (#3448)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area:infrastructure, skip:changelog, size:XS, backport

#3047 fix(BA-420): Regression of outdated `vfolder` GQL resolver
  changes/3047.fix.md
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/vfolder.py
  tests/manager/conftest.py
  tests/manager/models/test_base.py
  tests/manager/models/test_vfolder.py
Labels: type:bug, area:docs, comp:manager, size:L

#3442 fix(BA-510): Utilization idle checker computes kernel stat correctly
  changes/3442.fix.md
  src/ai/backend/manager/idle.py
Labels: comp:manager, size:M

#3455 fix(BA-510): Utilization idle checker computes kernel stat correctly (#3442)
  changes/3442.fix.md
  src/ai/backend/manager/idle.py
Labels: comp:manager, size:M, backport

#3452 fix(BA-420): Regression of outdated `vfolder` GQL resolver (#3047)
  changes/3047.fix.md
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/vfolder.py
  tests/manager/conftest.py
  tests/manager/models/test_base.py
  tests/manager/models/test_vfolder.py
Labels: type:bug, area:docs, comp:manager, size:L, backport

#3453 fix(BA-420): Regression of outdated `vfolder` GQL resolver (#3047)
  changes/3047.fix.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/vfolder.py
  tests/manager/conftest.py
  tests/manager/models/test_base.py
  tests/manager/models/test_vfolder.py
Labels: type:bug, area:docs, comp:manager, size:XL, backport

#3454 fix(BA-420): Regression of outdated `vfolder` GQL resolver (#3047)
  changes/3047.fix.md
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/vfolder.py
  tests/manager/conftest.py
  tests/manager/models/test_base.py
  tests/manager/models/test_vfolder.py
Labels: type:bug, area:docs, comp:manager, size:L, backport

#3231 doc: Deprecate non relay container registry GQL explicitly
  changes/3231.doc.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/container_registry.py
Labels: area:docs, comp:manager, skip:ci, size:M

#3456 doc: Deprecate non relay container registry GQL explicitly (#3231)
  changes/3231.doc.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/container_registry.py
Labels: area:docs, comp:manager, skip:ci, size:M, backport

#3460 fix(BA-514): the required state output logic in the openopi reference doc
  changes/3460.fix.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/manager/openapi.py
Labels: area:docs, comp:manager, size:L

#3237 feat(BA-72): Enable image rescanning by project
  changes/2979.fix.md
  changes/3237.feature.md
  docs/manager/graphql-reference/schema.graphql
  docs/manager/rest-reference/openapi.json
  src/ai/backend/client/cli/admin/image.py
  src/ai/backend/client/func/image.py
  src/ai/backend/common/docker.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/cli/image.py
  src/ai/backend/manager/cli/image_impl.py
  src/ai/backend/manager/container_registry/aws_ecr.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/container_registry/docker.py
  src/ai/backend/manager/container_registry/github.py
  src/ai/backend/manager/container_registry/gitlab.py
  src/ai/backend/manager/container_registry/harbor.py
  src/ai/backend/manager/container_registry/local.py
  src/ai/backend/manager/exceptions.py
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/models/image.py
  tests/client/integration/test_image.py
  tests/manager/conftest.py
  tests/manager/models/test_image.py
  tests/manager/test_image.py
Labels: type:feature, area:docs, comp:manager, comp:client, comp:cli, size:L

#3472 refactor(BA-462): Container registry project traversal logic of image rescanning (#2979)
  changes/2979.fix.md
  src/ai/backend/common/docker.py
  src/ai/backend/manager/container_registry/aws_ecr.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/container_registry/docker.py
  src/ai/backend/manager/container_registry/github.py
  src/ai/backend/manager/container_registry/gitlab.py
  src/ai/backend/manager/container_registry/harbor.py
  src/ai/backend/manager/container_registry/local.py
  src/ai/backend/manager/exceptions.py
  src/ai/backend/manager/models/image.py
  tests/client/integration/test_image.py
  tests/manager/models/test_image.py
  tests/manager/test_image.py
Labels: area:docs, comp:manager, comp:agent, comp:common, type:refactor, size:XL, backport

#3474 feat(BA-72): Enable image rescanning by project (restore)
  changes/3237.feature.md
  docs/manager/graphql-reference/schema.graphql
  docs/manager/rest-reference/openapi.json
  src/ai/backend/client/cli/admin/image.py
  src/ai/backend/client/func/image.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/cli/image.py
  src/ai/backend/manager/cli/image_impl.py
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/models/image.py
  tests/manager/conftest.py
  tests/manager/models/test_image.py
Labels: area:docs, comp:manager, comp:client, comp:cli, size:L

#3475 feat(BA-356): Add prometheus metrics (restore)
  changes/3457.feature.md
  configs/agent/ci.toml
  configs/agent/halfstack.toml
  configs/storage-proxy/halfstack.toml
  configs/storage-proxy/sample.toml
  python.lock
  requirements.txt
  src/ai/backend/account_manager/server.py
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
  src/ai/backend/agent/server.py
  src/ai/backend/common/bgtask.py
  src/ai/backend/common/events.py
  src/ai/backend/common/events_experimental.py
  src/ai/backend/common/metrics/BUILD
  src/ai/backend/common/metrics/http.py
  src/ai/backend/common/metrics/metric.py
  src/ai/backend/manager/api/context.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/context.py
  src/ai/backend/storage/server.py
  src/ai/backend/wsproxy/server.py
Labels: comp:manager, comp:agent, comp:common, comp:storage-proxy, size:XL

#3458 feat(BA-399): Add Grafana and Prometheus to Docker Compose
  changes/3457.feature.md
  changes/3458.feature.md
  configs/grafana/dashboards/dashboard.json
  configs/grafana/provisioning/dashboards/dashboards.yaml
  configs/grafana/provisioning/datasources/datasources.yaml
  configs/prometheus/prometheus.yaml
  docker-compose.halfstack-2409.yml
  src/ai/backend/account_manager/server.py
  src/ai/backend/wsproxy/config.py
Labels: area:docs, comp:manager, comp:agent, comp:client, comp:common, comp:cli, comp:storage-proxy, size:XL

#3459 feat(BA-504): Add Pyroscope profiler to common module
  BUILD
  changes/3459.feature.md
  configs/account-manager/halfstack.toml
  configs/account-manager/sample.toml
  configs/agent/ci.toml
  configs/agent/halfstack.toml
  configs/agent/sample.toml
  configs/grafana/dashboards/dashboard.json
  configs/grafana/provisioning/datasources/datasources.yaml
  configs/manager/ci.toml
  configs/manager/halfstack.toml
  configs/manager/sample.toml
  configs/prometheus/prometheus.yaml
  configs/storage-proxy/halfstack.toml
  configs/storage-proxy/sample.toml
  configs/wsproxy/halfstack.toml
  configs/wsproxy/sample.toml
  docker-compose.halfstack-2409.yml
  python.lock
  requirements.txt
  src/ai/backend/account_manager/config.py
  src/ai/backend/account_manager/server.py
  src/ai/backend/agent/config.py
  src/ai/backend/agent/server.py
  src/ai/backend/common/metrics/profiler.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/config.py
  src/ai/backend/storage/server.py
  src/ai/backend/wsproxy/config.py
  src/ai/backend/wsproxy/server.py
  tests/agent/conftest.py
  tests/manager/conftest.py
Labels: comp:manager, comp:agent, comp:common, comp:storage-proxy, size:L

#3353 feat(BA-524): Deprecate `X-BackendAI-SSO` header for pipeline service authentication
  changes/3353.feature.md
  configs/webserver/halfstack.conf
  configs/webserver/sample.conf
  src/ai/backend/web/config.py
  src/ai/backend/web/proxy.py
  src/ai/backend/web/server.py
Labels: comp:webserver, size:L

#3484 fix(BA-515): Let the vfolder REST API accept vfolder UUIDs as intended (#3451)
  changes/3451.fix.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/manager/api/exceptions.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/vfolder.py
  tests/manager/api/test_vfolder.py
Labels: area:docs, comp:manager, size:XL, backport

#3465 fix(BA-517): Raise exception if multiple VFolders exist in decorator
  changes/3465.fix.md
  src/ai/backend/manager/api/vfolder.py
  tests/manager/api/test_vfolder.py
Labels: comp:manager, size:M

#3485 fix(BA-517): Raise exception if multiple VFolders exist in decorator (#3465)
  changes/3465.fix.md
  src/ai/backend/manager/api/vfolder.py
  tests/manager/api/test_vfolder.py
Labels: comp:manager, size:M, backport

#3471 feat(BA-519): Update SDK to retrieve and use IDs for VFolder API operations instead of names
  changes/3471.feature.md
  src/ai/backend/client/func/vfolder.py
  src/ai/backend/client/session.py
  tests/client/test_vfolder.py
  tests/client/test_vfolder_tus.py
Labels: comp:client, size:L

#3486 feat(BA-519): Update SDK to retrieve and use IDs for VFolder API operations instead of names (#3471)
  changes/3471.feature.md
  src/ai/backend/client/func/vfolder.py
  src/ai/backend/client/session.py
  tests/client/test_vfolder.py
  tests/client/test_vfolder_tus.py
Labels: comp:client, size:L, backport

#3487 feat(BA-519): Update SDK to retrieve and use IDs for VFolder API operations instead of names (#3471)
  changes/3471.feature.md
  src/ai/backend/client/func/vfolder.py
  src/ai/backend/client/session.py
  tests/client/test_vfolder.py
  tests/client/test_vfolder_tus.py
Labels: comp:client, size:L, backport

#3446 fix(BA-461): Filter vfolder deletion info by vfolder status
  changes/3446.fix.md
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/user.py
Labels: area:docs, comp:manager, size:M

#3495 fix(BA-536): Add pyroscope default config
  src/ai/backend/account_manager/config.py
  src/ai/backend/agent/config.py
  src/ai/backend/manager/config.py
  src/ai/backend/storage/config.py
Labels: comp:manager, comp:agent, comp:storage-proxy, skip:changelog, size:M

#3277 feat(BA-96): Metric-based model service autoscaling
  changes/3277.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/cli/params.py
  src/ai/backend/client/cli/__init__.py
  src/ai/backend/client/cli/service.py
  src/ai/backend/client/cli/service_auto_scaling_rule.py
  src/ai/backend/client/func/service.py
  src/ai/backend/client/func/service_auto_scaling_rule.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/client/session.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/models/alembic/versions/fb89f5d7817b_create_endpoint_auto_scaling_rules_table.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/endpoint.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: type:feature, urgency:blocker, area:docs, comp:manager, comp:agent, comp:client, comp:common, comp:cli, comp:appproxy, require:db-migration, size:XL, urgency:5

#3411 fix(BA-478): Accept container images that has the 'null' labels field in their manifests
  changes/3411.fix.md
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/container_registry/harbor.py
  src/ai/backend/manager/container_registry/local.py
Labels: comp:manager, size:M

#3497 fix(BA-478): Accept container images that has the 'null' labels field in their manifests (#3411)
  changes/3411.fix.md
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/container_registry/harbor.py
  src/ai/backend/manager/container_registry/local.py
Labels: comp:manager, size:M, backport

#3498 chore: Update gitignore
  .gitignore
Labels: area:infrastructure, skip:changelog, size:S

#3499 chore: Update gitignore (#3498)
  .gitignore
Labels: area:infrastructure, skip:changelog, size:S, backport

#3505 chore: Ensure that metrics is included in the common package
  src/ai/backend/common/BUILD
Labels: skip:changelog, size:XS

#3470 ci(BA-523): Remove actions for using projects
  .github/workflows/add-to-project.yml
Labels: skip:changelog, size:S

#3492 chore(BA-535): Fix typo in default session priority variable name
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/models/alembic/versions/20218a73401b_add_session_priority.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
  tests/manager/scheduler_utils.py
Labels: comp:manager, skip:changelog, require:db-migration, size:S

#3404 chore(BA-469): Rename variables `api_rqst` to `api_request` for clarity
  src/ai/backend/client/cli/app.py
  src/ai/backend/client/cli/proxy.py
  src/ai/backend/client/cli/session/app.py
  src/ai/backend/client/func/session.py
  src/ai/backend/web/proxy.py
Labels: comp:client, comp:cli, comp:webserver, skip:changelog, size:M

#3461 fix(BA-507): GQL `compute_session.vfolder_mounts` returns folder id
  changes/3461.fix.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/manager/models/gql_models/session.py
  src/ai/backend/manager/models/session.py
Labels: area:docs, comp:manager, size:XS

#3537 fix(BA-507): GQL `compute_session.vfolder_mounts` returns folder id (#3461)
  changes/3461.fix.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/manager/models/gql_models/session.py
  src/ai/backend/manager/models/session.py
Labels: area:docs, comp:manager, size:L, backport

#3412 feat(BA-468): Add timeout conf for image push
  changes/3412.feature.md
  src/ai/backend/agent/config.py
  src/ai/backend/agent/server.py
Labels: comp:agent, size:S

#3533 fix(BA-585): Empty tag image scan error in docker registry
  changes/3513.fix.md
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/testutils/mock.py
  tests/manager/models/test_image.py
Labels: type:bug, comp:manager, size:L

#3535 ci: Unify suffixes in release names the same way as before
  scripts/get-platform-suffix.py
Labels: skip:changelog, size:XS

#3541 fix(BA-585): Empty tag image scan error in docker registry (#3533)
  changes/3513.fix.md
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/testutils/mock.py
  tests/manager/models/test_image.py
Labels: type:bug, comp:manager, size:L, backport

#3542 fix(BA-585): Empty tag image scan error in docker registry (#3533)
  changes/3513.fix.md
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/testutils/mock.py
Labels: comp:manager, size:M

#3544 fix: CLI test failures caused by `yarl.URL._val` type change (#3235)
  changes/3235.fix.md
  src/ai/backend/client/auth.py
Labels: comp:client, size:XS
