Repository lablup/backend.ai, pull requests merged in 2025-04, with the labels that each got.

#4064 feat(BA-1034): Add abstract message queue
  changes/4064.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/common/bgtask.py
  src/ai/backend/common/events.py
  src/ai/backend/common/events_experimental.py
  src/ai/backend/common/message_queue/BUILD
  src/ai/backend/common/message_queue/hiredis_queue.py
  src/ai/backend/common/message_queue/queue.py
  src/ai/backend/common/message_queue/redis_queue.py
  src/ai/backend/common/metrics/metric.py
  src/ai/backend/common/redis_client.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/migration.py
  src/ai/backend/storage/server.py
  tests/common/message_queue/BUILD
  tests/common/message_queue/test_hiredis_queue.py
  tests/common/message_queue/test_redis_queue.py
  tests/common/test_distributed.py
  tests/common/test_events.py
  tests/manager/api/test_bgtask.py
Labels: comp:manager, comp:agent, comp:common, comp:storage-proxy, size:XL

#4069 refactor(BA-1060): Use `http.HTTPStatus` enum for HTTP status codes
  changes/4069.feature.md
  src/ai/backend/agent/docker/metadata/root.py
  src/ai/backend/agent/docker/metadata/server.py
  src/ai/backend/agent/watcher.py
  src/ai/backend/client/cli/proxy.py
  src/ai/backend/manager/api/acl.py
  src/ai/backend/manager/api/admin.py
  src/ai/backend/manager/api/auth.py
  src/ai/backend/manager/api/container_registry.py
  src/ai/backend/manager/api/etcd.py
  src/ai/backend/manager/api/group.py
  src/ai/backend/manager/api/logs.py
  src/ai/backend/manager/api/manager.py
  src/ai/backend/manager/api/resource.py
  src/ai/backend/manager/api/scaling_group.py
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/api/spec.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/api/vfolders/handlers.py
  src/ai/backend/storage/api/client.py
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/api/vfolder/handler.py
  src/ai/backend/testutils/mock.py
  tests/agent/docker/test_agent.py
  tests/client/cli/session/test_lifecycle.py
  tests/client/cli/test_cli_proxy.py
  tests/client/test_asyncio_kernel.py
  tests/client/test_kernel.py
  tests/client/test_manager.py
  tests/client/test_request.py
  tests/client/test_vfolder.py
  tests/client/test_vfolder_tus.py
  tests/common/test_api_handlers.py
  tests/manager/api/test_group.py
  tests/manager/models/gql_models/test_container_registries.py
  tests/manager/models/gql_models/test_group.py
  tests/manager/models/test_image.py
Labels: comp:manager, comp:agent, comp:client, comp:cli, comp:storage-proxy, size:XL

#4068 fix(BA-1033): Setup source at producer creation
  changes/4068.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/common/events.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/migration.py
  src/ai/backend/storage/server.py
  tests/common/test_distributed.py
  tests/common/test_events.py
Labels: comp:manager, comp:agent, comp:common, comp:storage-proxy, size:M

#4047 fix(BA-1041): Add newline at end of customized dotfiles
  changes/4047.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: type:bug, comp:agent, size:XS

#4073 fix(BA-1041): Add newline at end of customized dotfiles (#4047)
  changes/4047.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: type:bug, comp:agent, size:XS, backport

#4071 fix(BA-1041): Add newline at end of customized dotfiles (#4047)
  changes/4047.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: type:bug, comp:agent, size:XS, backport

#4072 fix(BA-1041): Add newline at end of customized dotfiles (#4047)
  changes/4047.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: type:bug, comp:agent, size:XS, backport

#4078 chore: Add message queue to dependencies
  src/ai/backend/common/BUILD
Labels: skip:changelog, size:XS

#4086 fix(BA-1075): Avoid kernel full scan
  changes/4086.fix.md
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager, size:XS

#4081 fix(BA-1071): Change sqlalchemy db default value into appropriate type
  changes/4081.fix.md
  src/ai/backend/manager/models/domain.py
  src/ai/backend/manager/models/group.py
  tests/manager/models/gql_models/test_group.py
  tests/manager/models/test_domain.py
Labels: comp:manager, size:L

#4094 fix(BA-1080): pydantic validation error from wrong type aliasing
  changes/4094.fix.md
  src/ai/backend/common/types.py
Labels: comp:common, size:XS

#4079 fix(BA-1073): Add missing `AuditLog` module import
  changes/4079.fix.md
  src/ai/backend/manager/models/__init__.py
  src/ai/backend/manager/models/alembic/versions/c4ea15b77136_ensure_auditlogs_table_exist.py
Labels: comp:manager, require:db-migration, size:M

#4091 feat(BA-1078): Apply orjson
  changes/4091.feature.md
  python.lock
  requirements.txt
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/resources.py
  src/ai/backend/agent/server.py
  src/ai/backend/agent/utils.py
  src/ai/backend/common/json.py
  src/ai/backend/manager/api/cluster_template.py
  src/ai/backend/manager/api/etcd.py
  src/ai/backend/manager/api/events.py
  src/ai/backend/manager/api/exceptions.py
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/api/session_template.py
  src/ai/backend/manager/api/stream.py
  src/ai/backend/manager/api/utils.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/cli/api.py
  src/ai/backend/manager/cli/dbschema.py
  src/ai/backend/manager/cli/etcd.py
  src/ai/backend/manager/cli/fixture.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/container_registry/docker.py
  src/ai/backend/manager/container_registry/harbor.py
  src/ai/backend/manager/container_registry/local.py
  src/ai/backend/manager/models/gql_models/agent.py
  src/ai/backend/manager/openapi.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/storage/api/client.py
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/exception.py
  src/ai/backend/storage/services/service.py
  src/ai/backend/storage/utils.py
  src/ai/backend/storage/volumes/dellemc/onefs_client.py
  src/ai/backend/storage/volumes/gpfs/__init__.py
  src/ai/backend/storage/volumes/purestorage/rapidfiles.py
  src/ai/backend/storage/volumes/purestorage/rapidfiles_v2.py
  src/ai/backend/storage/volumes/vast/__init__.py
  src/ai/backend/storage/volumes/weka/__init__.py
  src/ai/backend/storage/volumes/weka/weka_client.py
  tests/manager/api/test_exceptions.py
Labels: comp:manager, comp:agent, comp:common, comp:cli, comp:storage-proxy, size:L

#4012 refactor(BA-979): Add `Domain` service & processors
  changes/4012.feature.md
  src/ai/backend/manager/api/admin.py
  src/ai/backend/manager/api/context.py
  src/ai/backend/manager/models/domain.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/domain.py
  src/ai/backend/manager/models/utils.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/services/BUILD
  src/ai/backend/manager/services/domain/BUILD
  src/ai/backend/manager/services/domain/actions/BUILD
  src/ai/backend/manager/services/domain/actions/__init__.py
  src/ai/backend/manager/services/domain/actions/base.py
  src/ai/backend/manager/services/domain/actions/create_domain.py
  src/ai/backend/manager/services/domain/actions/create_domain_node.py
  src/ai/backend/manager/services/domain/actions/delete_domain.py
  src/ai/backend/manager/services/domain/actions/modify_domain.py
  src/ai/backend/manager/services/domain/actions/modify_domain_node.py
  src/ai/backend/manager/services/domain/actions/purge_domain.py
  src/ai/backend/manager/services/domain/processors.py
  src/ai/backend/manager/services/domain/service.py
  src/ai/backend/manager/services/domain/types.py
  src/ai/backend/manager/services/processors.py
  src/ai/backend/manager/types.py
  tests/manager/models/gql_models/test_agent.py
  tests/manager/models/gql_models/test_container_registries.py
  tests/manager/models/gql_models/test_container_registry_nodes.py
  tests/manager/models/gql_models/test_container_registry_nodes_v2.py
  tests/manager/models/gql_models/test_group.py
  tests/manager/models/test_container_registries.py
  tests/manager/models/test_image.py
  tests/manager/models/test_vfolder.py
Labels: comp:manager, size:XL

#4058 refactor(BA-978): Add User Service & Processors
  changes/4058.feature.md
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/models/utils.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/services/__init__.py
  src/ai/backend/manager/services/processors.py
  src/ai/backend/manager/services/users/BUILD
  src/ai/backend/manager/services/users/__init__.py
  src/ai/backend/manager/services/users/actions/BUILD
  src/ai/backend/manager/services/users/actions/base.py
  src/ai/backend/manager/services/users/actions/create_user.py
  src/ai/backend/manager/services/users/actions/delete_user.py
  src/ai/backend/manager/services/users/actions/modify_user.py
  src/ai/backend/manager/services/users/actions/purge_user.py
  src/ai/backend/manager/services/users/processors.py
  src/ai/backend/manager/services/users/service.py
  src/ai/backend/manager/services/users/type.py
Labels: area:docs, comp:manager, size:XL

#3997 refactor(BA-977): Add `Image` service & processors
  changes/3997.fix.md
  src/ai/backend/common/types.py
  src/ai/backend/manager/actions/action.py
  src/ai/backend/manager/actions/exceptions.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/data/container_registry/BUILD
  src/ai/backend/manager/data/container_registry/types.py
  src/ai/backend/manager/data/image/BUILD
  src/ai/backend/manager/data/image/types.py
  src/ai/backend/manager/models/container_registry.py
  src/ai/backend/manager/models/gql_models/base.py
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/services/container_registry/BUILD
  src/ai/backend/manager/services/container_registry/actions/BUILD
  src/ai/backend/manager/services/container_registry/actions/__init__.py
  src/ai/backend/manager/services/container_registry/actions/base.py
  src/ai/backend/manager/services/container_registry/actions/clear_images.py
  src/ai/backend/manager/services/container_registry/actions/load_all_container_registries.py
  src/ai/backend/manager/services/container_registry/actions/load_container_registries.py
  src/ai/backend/manager/services/container_registry/actions/rescan_images.py
  src/ai/backend/manager/services/container_registry/processors.py
  src/ai/backend/manager/services/container_registry/service.py
  src/ai/backend/manager/services/image/BUILD
  src/ai/backend/manager/services/image/actions/BUILD
  src/ai/backend/manager/services/image/actions/__init__.py
  src/ai/backend/manager/services/image/actions/alias_image.py
  src/ai/backend/manager/services/image/actions/base.py
  src/ai/backend/manager/services/image/actions/dealias_image.py
  src/ai/backend/manager/services/image/actions/forget_image.py
  src/ai/backend/manager/services/image/actions/forget_image_by_id.py
  src/ai/backend/manager/services/image/actions/modify_image.py
  src/ai/backend/manager/services/image/actions/preload_image.py
  src/ai/backend/manager/services/image/actions/purge_image_by_id.py
  src/ai/backend/manager/services/image/actions/purge_images.py
  src/ai/backend/manager/services/image/actions/scan_image.py
  src/ai/backend/manager/services/image/actions/unload_image.py
  src/ai/backend/manager/services/image/actions/untag_image_from_registry.py
  src/ai/backend/manager/services/image/processors.py
  src/ai/backend/manager/services/image/service.py
  src/ai/backend/manager/services/image/types.py
  src/ai/backend/manager/services/processors.py
  tests/manager/models/test_image.py
  tests/manager/services/BUILD
Labels: area:docs, comp:manager, comp:common, type:refactor, size:XL

#4026 refactor(BA-980): Add `group` service and processors
  changes/4026.feature.md
  src/ai/backend/manager/actions/action.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/utils.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/services/groups/BUILD
  src/ai/backend/manager/services/groups/__init__.py
  src/ai/backend/manager/services/groups/actions/BUILD
  src/ai/backend/manager/services/groups/actions/base.py
  src/ai/backend/manager/services/groups/actions/create_group.py
  src/ai/backend/manager/services/groups/actions/delete_group.py
  src/ai/backend/manager/services/groups/actions/modify_group.py
  src/ai/backend/manager/services/groups/actions/purge_group.py
  src/ai/backend/manager/services/groups/processors.py
  src/ai/backend/manager/services/groups/service.py
  src/ai/backend/manager/services/groups/types.py
  src/ai/backend/manager/services/processors.py
Labels: comp:manager, size:XL

#4002 refactor(BA-888): Add vfolder service and process
  changes/4002.feature.md
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/services/processors.py
  src/ai/backend/manager/services/vfolder/BUILD
  src/ai/backend/manager/services/vfolder/__init__.py
  src/ai/backend/manager/services/vfolder/actions/BUILD
  src/ai/backend/manager/services/vfolder/actions/base.py
  src/ai/backend/manager/services/vfolder/actions/file.py
  src/ai/backend/manager/services/vfolder/actions/invite.py
  src/ai/backend/manager/services/vfolder/exceptions.py
  src/ai/backend/manager/services/vfolder/processors/BUILD
  src/ai/backend/manager/services/vfolder/processors/__init__.py
  src/ai/backend/manager/services/vfolder/processors/base.py
  src/ai/backend/manager/services/vfolder/processors/file.py
  src/ai/backend/manager/services/vfolder/processors/invite.py
  src/ai/backend/manager/services/vfolder/services/BUILD
  src/ai/backend/manager/services/vfolder/services/__init__.py
  src/ai/backend/manager/services/vfolder/services/base.py
  src/ai/backend/manager/services/vfolder/services/file.py
  src/ai/backend/manager/services/vfolder/services/invite.py
  src/ai/backend/manager/services/vfolder/types.py
  src/ai/backend/manager/types.py
  tests/manager/models/test_image.py
Labels: comp:manager, size:XL

#4098 chore(BA-1082): Replace aiodataloader package to the managed upstream one
  changes/4098.fix.md
  python.lock
  requirements.txt
  src/ai/backend/manager/models/base.py
Labels: comp:manager, size:M

#4061 refactor(BA-911): Add `Session` service & processors
  changes/4061.fix.md
  src/ai/backend/client/func/session.py
  src/ai/backend/common/data/session/BUILD
  src/ai/backend/common/data/session/types.py
  src/ai/backend/common/data/vfolder/BUILD
  src/ai/backend/common/data/vfolder/types.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/data/session/BUILD
  src/ai/backend/manager/data/session/types.py
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/gql_models/session.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/services/agent/BUILD
  src/ai/backend/manager/services/agent/actions/BUILD
  src/ai/backend/manager/services/agent/actions/sync_agent_registry.py
  src/ai/backend/manager/services/agent/base.py
  src/ai/backend/manager/services/agent/processors.py
  src/ai/backend/manager/services/agent/service.py
  src/ai/backend/manager/services/agent/types.py
  src/ai/backend/manager/services/processors.py
  src/ai/backend/manager/services/session/BUILD
  src/ai/backend/manager/services/session/actions/BUILD
  src/ai/backend/manager/services/session/actions/check_and_transit_status.py
  src/ai/backend/manager/services/session/actions/commit_session.py
  src/ai/backend/manager/services/session/actions/complete.py
  src/ai/backend/manager/services/session/actions/convert_session_to_image.py
  src/ai/backend/manager/services/session/actions/create_cluster.py
  src/ai/backend/manager/services/session/actions/create_from_params.py
  src/ai/backend/manager/services/session/actions/create_from_template.py
  src/ai/backend/manager/services/session/actions/destory_session.py
  src/ai/backend/manager/services/session/actions/download_file.py
  src/ai/backend/manager/services/session/actions/download_files.py
  src/ai/backend/manager/services/session/actions/execute_session.py
  src/ai/backend/manager/services/session/actions/get_abusing_report.py
  src/ai/backend/manager/services/session/actions/get_commit_status.py
  src/ai/backend/manager/services/session/actions/get_container_logs.py
  src/ai/backend/manager/services/session/actions/get_dependency_graph.py
  src/ai/backend/manager/services/session/actions/get_direct_access_info.py
  src/ai/backend/manager/services/session/actions/get_session_info.py
  src/ai/backend/manager/services/session/actions/interrupt_session.py
  src/ai/backend/manager/services/session/actions/list_files.py
  src/ai/backend/manager/services/session/actions/match_sessions.py
  src/ai/backend/manager/services/session/actions/modify_session.py
  src/ai/backend/manager/services/session/actions/rename_session.py
  src/ai/backend/manager/services/session/actions/restart_session.py
  src/ai/backend/manager/services/session/actions/shutdown_service.py
  src/ai/backend/manager/services/session/actions/start_service.py
  src/ai/backend/manager/services/session/actions/upload_files.py
  src/ai/backend/manager/services/session/base.py
  src/ai/backend/manager/services/session/processors.py
  src/ai/backend/manager/services/session/service.py
  src/ai/backend/manager/services/session/types.py
  src/ai/backend/manager/services/vfolder/actions/base.py
  src/ai/backend/manager/services/vfolder/base.py
  src/ai/backend/manager/services/vfolder/processors/base.py
  src/ai/backend/manager/services/vfolder/services/base.py
  tests/manager/models/test_image.py
Labels: comp:manager, comp:client, comp:common, size:XL

#3529 fix(BA-596): Add project_node field to GQL UserNode type
  changes/3529.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/gql_models/group.py
  src/ai/backend/manager/models/gql_models/user.py
Labels: area:docs, comp:manager, size:L

#4104 feat(BA-1085): Add RequestID context & middleware
  changes/4104.feature.md
  src/ai/backend/common/contexts/BUILD
  src/ai/backend/common/contexts/__init__.py
  src/ai/backend/common/contexts/request_id.py
  src/ai/backend/common/middlewares/BUILD
  src/ai/backend/common/middlewares/request_id.py
  src/ai/backend/manager/server.py
  tests/common/test_request_id.py
  tests/common/test_request_id_middleware.py
Labels: comp:manager, comp:common, size:L

#4099 feat(BA-1083): Add raw util metric reporters
  changes/4099.feature.md
  src/ai/backend/agent/metrics/metric.py
  src/ai/backend/agent/metrics/types.py
  src/ai/backend/agent/stats.py
Labels: comp:agent, size:L

#4131 feat(BA-1131): Add `action_id` in ActionProcessor for tracking Action
  changes/4131.feature.md
  src/ai/backend/manager/actions/action.py
  src/ai/backend/manager/actions/monitors/monitor.py
  src/ai/backend/manager/actions/processor.py
  tests/manager/actions/test_processor.py
Labels: comp:manager, size:M

#4125 fix(BA-1127): Change wrong name of quota scope type fields
  changes/4123.fix.md
  src/ai/backend/common/dto/storage/path.py
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/volumes/types.py
  tests/storage-proxy/vfolder/test_handler.py
Labels: comp:common, comp:storage-proxy, skip:changelog, size:M

#4132 chore: fix wrong tristate case
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/services/vfolder/actions/base.py
Labels: comp:manager, skip:changelog, size:S

#4129 fix(BA-1130): Cannot modify user info
  src/ai/backend/manager/models/gql_models/group.py
  src/ai/backend/manager/models/gql_models/user.py
  src/ai/backend/manager/services/group/actions/modify_group.py
  src/ai/backend/manager/services/group/service.py
  src/ai/backend/manager/services/group/types.py
  src/ai/backend/manager/services/user/actions/modify_user.py
  src/ai/backend/manager/services/user/service.py
Labels: comp:manager, skip:changelog, size:M

#4133 fix(BA-1133): Broken API caused by wrong handling of graphql `Undefined`
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/models/gql_models/resource_preset.py
  src/ai/backend/manager/models/gql_models/session.py
  src/ai/backend/manager/models/resource_policy.py
Labels: comp:manager, skip:changelog, size:S

#4138 fix: do null-check of VFolder Modify API params
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/services/vfolder/actions/base.py
Labels: comp:manager, skip:changelog, size:S

#4087 feat(BA-1059): Add `AuditLog` ActionMonitor and Reporter
  changes/4087.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/actions/action.py
  src/ai/backend/manager/actions/monitors/audit_log.py
  src/ai/backend/manager/actions/processor.py
  src/ai/backend/manager/api/context.py
  src/ai/backend/manager/models/alembic/versions/305e3ddc20a7_update_auditlog_table.py
  src/ai/backend/manager/models/audit_log.py
  src/ai/backend/manager/models/gql_models/audit_log.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/reporters/BUILD
  src/ai/backend/manager/reporters/__init__.py
  src/ai/backend/manager/reporters/audit_log.py
  src/ai/backend/manager/reporters/types.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/services/agent/processors.py
  src/ai/backend/manager/services/container_registry/processors.py
  src/ai/backend/manager/services/domain/processors.py
  src/ai/backend/manager/services/group/processors.py
  src/ai/backend/manager/services/image/processors.py
  src/ai/backend/manager/services/keypair_resource_policy/processors.py
  src/ai/backend/manager/services/processors.py
  src/ai/backend/manager/services/project_resource_policy/processors.py
  src/ai/backend/manager/services/resource_preset/processors.py
  src/ai/backend/manager/services/session/processors.py
  src/ai/backend/manager/services/user/processors.py
  src/ai/backend/manager/services/user_resource_policy/processors.py
  src/ai/backend/manager/services/vfolder/processors/file.py
  src/ai/backend/manager/services/vfolder/processors/invite.py
  src/ai/backend/manager/services/vfolder/processors/vfolder.py
  tests/manager/services/test_domain.py
Labels: area:docs, comp:manager, comp:common, require:db-migration, size:XL

#4124 feat(BA-869): use ruamel.yaml instead of PyYAML as model definition parser
  BUILD
  changes/4124.feature.md
  python.lock
  requirements.txt
  src/ai/backend/agent/agent.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/gql_models/vfolder.py
Labels: comp:manager, comp:agent, size:S

#4108 feat(BA-1107): Add Resource group available slots to show resource limit
  changes/4108.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/gql_models/scaling_group.py
Labels: area:docs, comp:manager, comp:common, comp:storage-proxy, size:L

#4118 feat(BA-1072): Add `SMTP` Action Reporter
  changes/4118.feature.md
  python.lock
  requirements.txt
  src/ai/backend/manager/actions/monitors/smtp.py
  src/ai/backend/manager/reporters/smtp.py
  src/ai/backend/manager/reporters/types.py
  src/ai/backend/manager/types.py
Labels: comp:manager, size:L

#4066 fix(BA-1049): Remove wrong `Accept` header from Image rescanning logic
  changes/4066.fix.md
  src/ai/backend/common/types.py
  src/ai/backend/manager/container_registry/harbor.py
  src/ai/backend/manager/models/gql_models/image.py
  tests/manager/conftest.py
  tests/manager/models/test_image.py
Labels: comp:manager, comp:common, size:L

#4146 fix(BA-1049): Remove wrong `Accept` header from Image rescanning logic (#4066)
  changes/4066.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: comp:manager, comp:common, size:S, backport

#4147 fix(BA-1132): Broken `ModifyKeypairResource` mutation
  src/ai/backend/manager/models/resource_policy.py
  src/ai/backend/manager/services/keypair_resource_policy/actions/modify_keypair_resource_policy.py
Labels: comp:manager, skip:changelog, size:S

#4148 fix(BA-1134): Broken `ModifyImage` mutation
  src/ai/backend/manager/models/gql_models/image.py
Labels: comp:manager, skip:changelog, size:XS

#4122 chore(BA-1126): Update dependencies before upgrading the base Python version to 3.13
  changes/4122.deps.md
  docs/manager/rest-reference/openapi.json
  python-kernel.lock
  python.lock
  requirements.txt
  src/ai/backend/account_manager/config.py
  src/ai/backend/common/api_handlers.py
  src/ai/backend/common/config.py
  src/ai/backend/common/container_registry.py
  src/ai/backend/common/dto/manager/context.py
  src/ai/backend/common/dto/manager/field.py
  src/ai/backend/common/dto/manager/path.py
  src/ai/backend/common/dto/manager/query.py
  src/ai/backend/common/dto/manager/request.py
  src/ai/backend/common/dto/manager/response.py
  src/ai/backend/common/dto/manager/rpc_request.py
  src/ai/backend/common/dto/storage/field.py
  src/ai/backend/common/dto/storage/request.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/container_registry.py
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/api/utils.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/wsproxy/config.py
  tests/common/test_api_handlers.py
  tests/storage-proxy/vfolder/test_handler.py
  tools/mypy-requirements.txt
  tools/mypy.lock
Labels: area:docs, comp:manager, comp:common, size:XL

#4152 chore(BA-1145): Retire etcetra
  changes/4152.deps.md
  python.lock
  requirements.txt
  src/ai/backend/common/etcd_etcetra.py
  src/ai/backend/common/lock.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/server.py
  tests/common/test_distributed.py
Labels: comp:manager, comp:common, size:XL

#4153 chore(BA-4): Upgrade to Python 3.13
  changes/4153.deps.md
  docs/dev/daily-workflows.rst
  docs/install/install-from-package/os-preparation.rst
  pants.toml
  pyproject.toml
  python-kernel.lock
  python.lock
  requirements.txt
  scripts/bootstrap-static-python.sh
  scripts/delete-dev.sh
  src/ai/backend/install/README.md
  tools/black.lock
  tools/build-macros.py
  tools/coverage-py.lock
  tools/mypy.lock
  tools/pytest.lock
  tools/ruff.lock
  tools/setuptools.lock
  tools/towncrier.lock
Labels: area:docs, comp:installer, size:M

#4155 fix(BA-1049): Remove wrong `Accept` header from Image rescanning logic (#4066)
  changes/4066.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: comp:manager, size:XS

#4156 fix(BA-1049): Remove wrong `Accept` header from Image rescanning logic (#4066)
  changes/4066.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: comp:manager, size:XS

#4161 fix(BA-1150): Broken single image rescan on `HarborRegistryV2`
  changes/4161.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: comp:manager, size:XS

#4162 fix(BA-1150): Broken single image rescan on `HarborRegistryV2` (#4161)
  changes/4161.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: comp:manager, size:XS, backport

#4164 fix(BA-1150): Broken single image rescan on `HarborRegistryV2` (#4161)
  changes/4161.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: comp:manager, size:XS, backport

#3923 fix(BA-932): Unload removed docker images from Redis
  changes/3923.fix.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/dummy/agent.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/common/events.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, comp:agent, comp:common, size:L

#4027 feat(BA-967): Add user metric GQL query
  changes/4027.feature.md
  docker-compose.halfstack-2409.yml
  docs/manager/graphql-reference/schema.graphql
  docs/manager/rest-reference/openapi.json
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/metrics/metric.py
  src/ai/backend/common/metrics/types.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/defs.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/metric/BUILD
  src/ai/backend/manager/models/gql_models/metric/base.py
  src/ai/backend/manager/models/gql_models/metric/user.py
  src/ai/backend/manager/services/exceptions.py
  src/ai/backend/manager/services/metric/BUILD
  src/ai/backend/manager/services/metric/actions/BUILD
  src/ai/backend/manager/services/metric/actions/container.py
  src/ai/backend/manager/services/metric/container_metric.py
  src/ai/backend/manager/services/metric/exceptions.py
  src/ai/backend/manager/services/metric/processors/BUILD
  src/ai/backend/manager/services/metric/processors/container.py
  src/ai/backend/manager/services/metric/processors/utilization_metric.py
  src/ai/backend/manager/services/metric/root_service.py
  src/ai/backend/manager/services/metric/types.py
  src/ai/backend/manager/services/processors.py
Labels: area:docs, comp:manager, comp:agent, comp:common, size:XL

#4144 fix(BA-1141): Wrong project-id parsing when creating project vfolder
  changes/4144.fix.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/manager/api/vfolder.py
Labels: area:docs, comp:manager, size:S

#3986 feat(BA-961): Make Image Resource limit non-volatile
  changes/3986.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/container_registry/harbor.py
  src/ai/backend/manager/data/image/types.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/services/image/actions/clear_image_custom_resource_limit.py
  src/ai/backend/manager/services/image/actions/modify_image.py
  src/ai/backend/manager/services/image/processors.py
  src/ai/backend/manager/services/image/service.py
Labels: area:docs, comp:manager, size:L

#4165 feat(BA-1098): Make a reporter hub
  changes/4165.feature.md
  src/ai/backend/manager/actions/action.py
  src/ai/backend/manager/actions/monitors/reporter.py
  src/ai/backend/manager/actions/processor.py
  src/ai/backend/manager/config.py
  src/ai/backend/manager/reporters/audit_log.py
  src/ai/backend/manager/reporters/base.py
  src/ai/backend/manager/reporters/hub.py
  src/ai/backend/manager/reporters/smtp.py
  src/ai/backend/manager/server.py
  tests/manager/actions/test_processor.py
  tests/manager/conftest.py
Labels: comp:manager, size:L

#4167 feat(BA-1155): Add prometheus monitor
  changes/4167.feature.md
  src/ai/backend/common/metrics/metric.py
  src/ai/backend/manager/actions/monitors/audit_log.py
  src/ai/backend/manager/actions/monitors/prometheus.py
  src/ai/backend/manager/actions/monitors/smtp.py
  src/ai/backend/manager/server.py
Labels: comp:manager, comp:common, size:L

#4172 chore: fix wrong type casting
  src/ai/backend/manager/models/gql_models/user.py
Labels: comp:manager, skip:changelog, size:XS

#4175 fix(BA-1165): Fix wrong redis init in cli context
  src/ai/backend/manager/cli/context.py
Labels: comp:manager, comp:cli, skip:changelog, size:S

#4170 feat(BA-1159): Add sample configuration for `audit_log`, `smtp` reporter
  changes/4170.feature.md
  configs/manager/halfstack.toml
  configs/manager/sample.toml
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/actions/monitors/reporter.py
  src/ai/backend/manager/models/alembic/versions/c7fedaca4883_update_auditlogrow_request_id_column_.py
  src/ai/backend/manager/models/audit_log.py
  src/ai/backend/manager/models/gql_models/audit_log.py
  src/ai/backend/manager/reporters/audit_log.py
  src/ai/backend/manager/reporters/base.py
  src/ai/backend/manager/reporters/smtp.py
  src/ai/backend/manager/services/image/service.py
Labels: area:docs, comp:manager, require:db-migration, size:L

#4177 fix(BA-1136): Broken `UntagImageFromRegistry` GQL mutation
  changes/4177.fix.md
  src/ai/backend/manager/services/image/service.py
Labels: comp:manager, size:XS

#4178 fix(BA-1136): Broken UntagImageFromRegistry GQL mutation (#4177)
  changes/4177.fix.md
  src/ai/backend/manager/models/gql_models/image.py
Labels: comp:manager, skip:changelog, skip:ci, size:XS

#4176 feat(BA-1139): Validate SSH keypair when upload
  changes/4176.feature.md
  src/ai/backend/manager/api/auth.py
  src/ai/backend/manager/models/keypair.py
Labels: comp:manager, size:M

#4181 fix(BA-1167): Wrong custom image owner check logic
  changes/4181.fix.md
  src/ai/backend/manager/models/image.py
Labels: comp:manager, size:XS

#4179 fix(BA-1166): Replace `aiosmtplib` with `smtplib`
  changes/4179.fix.md
  configs/manager/sample.toml
  python.lock
  requirements.txt
  src/ai/backend/manager/config.py
  src/ai/backend/manager/reporters/smtp.py
  src/ai/backend/manager/server.py
Labels: comp:manager, size:M

#4188 fix(BA-1173): Add missing `application/vnd.oci.image.manifest.v1` type handling on HarborRegistryV2's single image rescan
  changes/4188.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: comp:manager, size:S

#4184 feat(BA-1168): Handle vfolder creation action failure to return a valid respond
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/services/vfolder/exceptions.py
  src/ai/backend/manager/services/vfolder/services/vfolder.py
Labels: comp:manager, skip:changelog, size:M

#4190 fix(BA-1174): Remove misleading representation of VFolder deletion permissions for invited users
  changes/4190.fix.md
  src/ai/backend/client/cli/vfolder.py
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, comp:client, comp:cli, size:XS

#4186 chore(BA-1170): Update min dependency versions
  .github/workflows/osv-scanner.yml
  constraints.txt
  python.lock
  requirements.txt
Labels: skip:changelog, size:S

#4194 fix(BA-1178): VFolder permission edit mutation not working
  changes/4194.fix.md
  src/ai/backend/manager/services/vfolder/actions/base.py
Labels: comp:manager, size:XS

#4198 fix(BA-1176): Chunk too big error of `admin image rescan` command
  changes/4198.fix.md
  src/ai/backend/manager/models/gql_models/image.py
Labels: comp:manager, size:XS

#4191 fix(BA-1175): Wrong `Accept` header handling in image rescanning
  changes/4191.fix.md
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/container_registry/harbor.py
Labels: comp:manager, size:M

#4200 fix(BA-1181): Unify BaseAction's `operation_type` convention
  changes/4200.fix.md
  src/ai/backend/manager/services/vfolder/actions/base.py
  src/ai/backend/manager/services/vfolder/actions/file.py
Labels: comp:manager, size:S

#4204 fix(BA-1175): Wrong `Accept` header handling in image rescanning (#4191)
  changes/4191.fix.md
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/container_registry/harbor.py
Labels: comp:manager, size:M, backport

#4215 fix(BA-1187): Skip destroying network if reference name is None
  changes/4215.fix.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:S

#4205 ci(BA-1182): Remove the skip-git option from the osv scanner
  .github/workflows/osv-scanner.yml
Labels: skip:changelog, size:XS

#4225 fix(BA-1194): Add missing `dtparse` for `created_at` in queryfilter
  changes/4225.fix.md
  src/ai/backend/manager/models/gql_models/audit_log.py
  src/ai/backend/manager/models/network.py
Labels: comp:manager, size:XS

#4210 feat(BA-1184): Add more filterspec to `EndPoint` GQL schema
  changes/4210.feature.md
  src/ai/backend/manager/models/gql_models/endpoint.py
Labels: comp:manager, size:S

#4214 fix(BA-1186): VFolder clone not working
  changes/4214.fix.md
  src/ai/backend/manager/models/exceptions.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/types.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/services/vfolder/services/vfolder.py
Labels: comp:manager, size:L

#4218 fix(BA-1189): calculate admin role in project correctly
  changes/4218.fix.md
  src/ai/backend/manager/models/rbac/__init__.py
Labels: comp:manager, size:S

#4227 fix: Revert response schema of vfolder mkdir API
  changes/4227.fix.md
  src/ai/backend/manager/api/vfolder.py
Labels: comp:manager, size:XS

#4224 fix(BA-1193): Allow extra mounts of model services
  changes/4224.fix.md
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:S

#4154 fix(BA-1200): Wrong types in ResourcePolicy GQL modifier
  changes/4154.fix.md
  src/ai/backend/manager/models/resource_policy.py
  src/ai/backend/manager/services/keypair_resource_policy/actions/modify_keypair_resource_policy.py
  src/ai/backend/manager/services/keypair_resource_policy/types.py
Labels: comp:manager, size:S

#4231 ci: Fix naming convention for wheel files
  .github/workflows/ci.yml
  docs/dev/daily-workflows.rst
  docs/locales/ko/LC_MESSAGES/dev/daily-workflows.po
  python.lock
  requirements.txt
  src/ai/backend/accelerator/cuda_open/BUILD
  src/ai/backend/accelerator/mock/BUILD
  src/ai/backend/account_manager/BUILD
  src/ai/backend/agent/BUILD
  src/ai/backend/cli/BUILD
  src/ai/backend/client/BUILD
  src/ai/backend/common/BUILD
  src/ai/backend/helpers/BUILD
  src/ai/backend/install/BUILD
  src/ai/backend/kernel/BUILD
  src/ai/backend/logging/BUILD
  src/ai/backend/manager/BUILD
  src/ai/backend/plugin/BUILD
  src/ai/backend/runner/BUILD
  src/ai/backend/storage/BUILD
  src/ai/backend/test/BUILD
  src/ai/backend/web/BUILD
  src/ai/backend/wsproxy/BUILD
  tools/pants-plugins/setupgen/register.py
Labels: area:docs, comp:installer, skip:changelog, size:M

#4232 fix(BA-1205): `ImageAliasData` type not found in `ImageAliasData.to_dataclass()`
  changes/4232.fix.md
  src/ai/backend/manager/models/image.py
Labels: comp:manager, size:S

#4247 fix(BA-1217): Filter duplicate vfolder mounts
  changes/4247.fix.md
  src/ai/backend/manager/models/vfolder.py
Labels: comp:manager, size:S

#4264 fix(BA-1227): Destroy kernels that fail during initialization
  changes/4264.fix.md
  src/ai/backend/agent/agent.py
Labels: comp:agent, size:S

#4256 fix(BA-1221): Replace invalid percent-style logging format with brace-style
  changes/4256.fix.md
  src/ai/backend/common/message_queue/hiredis_queue.py
  src/ai/backend/common/message_queue/redis_queue.py
Labels: comp:common, size:M

#4259 fix(BA-1224): Add missing `[project].version` field to pyproject.toml
  changes/4259.fix.md
  pyproject.toml
Labels: size:XS

#4230 fix: invalid population of `supported_accelerators` column
  changes/4230.fix.md
  src/ai/backend/manager/container_registry/base.py
Labels: comp:manager, size:S

#3691 feat(BA-107): ensure correct nodejs version is installed
  scripts/install-dev.sh
Labels: comp:installer, skip:changelog, size:M

#4268 fix(BA-1229): Change wrong fieldspec
  changes/4268.fix.md
  src/ai/backend/manager/models/gql_models/user.py
Labels: comp:manager, size:XS

#4269 fix(BA-1228): Make enable reading both Enum name and Enum value
  changes/4269.fix.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/common/types.py
  src/ai/backend/logging/types.py
  src/ai/backend/manager/api/service.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/data/image/types.py
  src/ai/backend/manager/idle.py
  src/ai/backend/manager/models/agent.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/agent.py
  src/ai/backend/manager/models/gql_models/audit_log.py
  src/ai/backend/manager/models/gql_models/endpoint.py
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/models/gql_models/kernel.py
  src/ai/backend/manager/models/gql_models/session.py
  src/ai/backend/manager/models/gql_models/user.py
  src/ai/backend/manager/models/gql_models/vfolder.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/minilang/queryfilter.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/models/user.py
  src/ai/backend/manager/models/vfolder.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/manager/scheduler/predicates.py
Labels: area:docs, comp:manager, comp:common, size:L

#4278 fix(BA-1236): Remove import cycle
  src/ai/backend/manager/actions/action.py
  src/ai/backend/manager/actions/processor.py
  src/ai/backend/manager/actions/types.py
  src/ai/backend/manager/models/audit_log.py
  src/ai/backend/manager/models/gql_models/audit_log.py
  src/ai/backend/manager/reporters/base.py
  src/ai/backend/manager/reporters/smtp.py
Labels: comp:manager, skip:changelog, size:S

#4287 fix(BA-1246): upgrade pyjwt version
  changes/4287.fix.md
  python.lock
  requirements.txt
Labels: size:XS

#4274 fix(BA-1234): Check mount duplication by folder ID and subpath
  changes/4274.fix.md
  src/ai/backend/common/validators.py
  src/ai/backend/manager/models/vfolder.py
  tests/manager/models/test_vfolder.py
Labels: comp:manager, comp:common, size:L

#4292 fix: Don't rename python distribution but rename wheel file
  .github/workflows/ci.yml
  docs/dev/daily-workflows.rst
  docs/locales/ko/LC_MESSAGES/dev/daily-workflows.po
  python.lock
  requirements.txt
  src/ai/backend/accelerator/cuda_open/BUILD
  src/ai/backend/accelerator/mock/BUILD
  src/ai/backend/account_manager/BUILD
  src/ai/backend/agent/BUILD
  src/ai/backend/cli/BUILD
  src/ai/backend/client/BUILD
  src/ai/backend/common/BUILD
  src/ai/backend/helpers/BUILD
  src/ai/backend/install/BUILD
  src/ai/backend/kernel/BUILD
  src/ai/backend/logging/BUILD
  src/ai/backend/manager/BUILD
  src/ai/backend/plugin/BUILD
  src/ai/backend/runner/BUILD
  src/ai/backend/storage/BUILD
  src/ai/backend/test/BUILD
  src/ai/backend/web/BUILD
  src/ai/backend/wsproxy/BUILD
  tools/pants-plugins/setupgen/register.py
  tools/setuptools-requirements.txt
  tools/setuptools.lock
Labels: area:docs, comp:installer, skip:changelog, size:M

#4302 ci: Bump twine from 5 to 6
  .github/workflows/ci.yml
Labels: skip:changelog, size:XS

#4306 docs(BA-1251): Update Python Version Compatibility in README
  README.md
  changes/4306.doc.md
Labels: size:XS

#4310 fix(BA-1268): wrong msg id type (#4309)
  changes/4309.fix.md
  src/ai/backend/common/message_queue/hiredis_queue.py
Labels: comp:common, size:XS, backport

#3994 feat(BA-1280): Add Manager config implementation based on pydantic
  changes/3994.feature.md
  src/ai/backend/manager/BUILD
  src/ai/backend/manager/config/BUILD
  src/ai/backend/manager/config/local.py
  src/ai/backend/manager/config/shared.py
  src/ai/backend/manager/config/volume.py
Labels: comp:manager, comp:cli, size:XL

#4313 feat(BA-1242): Add build wheel script
  README.md
  changes/4313.misc.md
  scripts/build-wheel.sh
Labels: size:M
