Repository lablup/backend.ai, pull requests merged in 2025-02, with the labels that each got.

#2937 fix(BA-82): Add request & response policy middleware for web security
  changes/2937.fix.md
  src/ai/backend/web/security.py
  src/ai/backend/web/server.py
  tests/webserver/test_security_policy.py
Labels: comp:webserver, effort:easy, size:L, urgency:3

#3560 fix(BA-82): Add request & response policy middleware for web security (#2937)
  changes/2937.fix.md
  src/ai/backend/web/security.py
  src/ai/backend/web/server.py
  tests/webserver/test_security_policy.py
Labels: comp:webserver, effort:easy, size:L, urgency:3, backport

#3278 feat(BA-527): Add uid and gid columns to users and kernels tables
  src/ai/backend/manager/models/alembic/versions/f6ca2f2d04c1_add_uid_and_gid_columns.py
  src/ai/backend/manager/models/kernel.py
  src/ai/backend/manager/models/user.py
Labels: area:docs, comp:manager, skip:changelog, require:db-migration, size:M

#3000 feat(BA-613): tmux version from 3.4 to 3.5a
  changes/3000.feature.md
  scripts/agent/build-tmux.sh
  src/ai/backend/runner/tmux.aarch64.bin
  src/ai/backend/runner/tmux.x86_64.bin
Labels: type:maintenance, comp:agent, area:upstream, effort:normal, impact:visible, size:S, urgency:3, dependencies

#3572 fix(BA-632): Fix Broken CSS by allowing `unsafe-inline` CSP
  changes/3572.fix.md
  src/ai/backend/web/security.py
  tests/webserver/test_security_policy.py
Labels: type:bug, comp:webserver, size:XS

#3579 fix(BA-632): Fix Broken CSS by allowing `unsafe-inline` CSP (#3572)
  changes/3572.fix.md
  src/ai/backend/web/security.py
  tests/webserver/test_security_policy.py
Labels: type:bug, comp:webserver, size:XS, backport

#3581 fix(BA-640): vfolder delete SDK function not working
  changes/3581.fix.md
  src/ai/backend/client/func/vfolder.py
  tests/client/test_vfolder.py
Labels: comp:client, size:S

#3577 ci: Merge checksum files into one
  .github/workflows/ci.yml
Labels: skip:changelog, size:XS

#3583 fix(BA-641): Check intrinsic time files exist before mount
  changes/3583.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: comp:agent, size:M

#3587 fix(BA-641): Check intrinsic time files exist before mount (#3583)
  changes/3583.fix.md
  src/ai/backend/agent/docker/agent.py
Labels: comp:agent, size:M, backport

#3510 feat(BA-532): Add configurable directory permission for vfolders
  changes/3510.feature.md
  src/ai/backend/common/defs.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/storage/abc.py
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/vfs/__init__.py
Labels: area:docs, comp:manager, comp:common, comp:storage-proxy, size:M

#3548 feat(BA-533): Add delete path API to storage watcher
  changes/3548.feature.md
  src/ai/backend/storage/abc.py
  src/ai/backend/storage/context.py
  src/ai/backend/storage/vfs/__init__.py
  src/ai/backend/storage/watcher.py
Labels: comp:storage-proxy, size:L

#3352 feat(BA-528): Update GQL user mutation to allow set uid/gid
  changes/3352.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/gql_models/user.py
  src/ai/backend/manager/models/user.py
Labels: area:docs, comp:manager, comp:agent, comp:common, require:db-migration, size:L

#3361 feat(BA-530): Update SDK and CLI to follow-up per-user uid/gid
  changes/3361.feature.md
  src/ai/backend/cli/params.py
  src/ai/backend/client/cli/admin/user.py
  src/ai/backend/client/cli/session/execute.py
  src/ai/backend/client/cli/session/lifecycle.py
  src/ai/backend/client/func/user.py
Labels: comp:client, comp:cli, size:L

#3570 fix(BA-630): Create `./volumes/grafana-data` directory with 757 permissions
  changes/3570.fix.md
  docker-compose.halfstack-2409.yml
  scripts/install-dev.sh
Labels: type:bug, comp:installer, size:XS

#3574 fix(BA-633): Update route pattern for pipeline login proxy requests
  changes/3574.fix.md
  src/ai/backend/web/server.py
Labels: type:bug, comp:webserver, size:XS

#3520 chore: Update aiotools (1.7.0 -> 1.8.2) for Python 3.13 support
  python.lock
  requirements.txt
  src/ai/backend/account_manager/server.py
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/server.py
  src/ai/backend/agent/watcher.py
  src/ai/backend/common/events.py
  src/ai/backend/common/redis_helper.py
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/api/wsproxy.py
  src/ai/backend/manager/server.py
  src/ai/backend/web/server.py
  src/ai/backend/wsproxy/server.py
  tests/common/redis_helper/test_stream_consume.py
  tests/common/redis_helper/test_stream_consume_cluster.py
Labels: comp:manager, comp:agent, comp:common, area:upstream, comp:webserver, skip:changelog, size:L

#3199 fix: Optimize weighted random choice in route selection
  changes/3199.fix.md
  src/ai/backend/wsproxy/proxy/backend/http.py
  src/ai/backend/wsproxy/proxy/backend/tcp.py
Labels: comp:appproxy, size:M

#3546 feat(BA-612): Add VFolder force delete API
  changes/3546.feature.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/manager/models/vfolder.py
Labels: area:docs, comp:manager, size:M

#3596 fix(BA-653): Wrong mode value of create argument
  src/ai/backend/manager/api/vfolder.py
  src/ai/backend/storage/api/manager.py
Labels: comp:manager, comp:storage-proxy, skip:changelog, size:S

#3511 feat(BA-572): Add pydantic-only API hander decorator
  changes/3511.feature.md
  python.lock
  requirements.txt
  src/ai/backend/common/api_handlers.py
  src/ai/backend/common/exception.py
  tests/common/conftest.py
  tests/common/test_api_handlers.py
Labels: area:docs, comp:manager, comp:client, comp:common, comp:webserver, size:XL

#3597 fix: Make the merged checksum file available to the installer
  changes/3597.fix.md
  src/ai/backend/install/context.py
Labels: size:M

#3599 fix(BA-584): Remove foreign key constraint from `EndpointRow.image` column
  changes/3599.fix.md
  src/ai/backend/manager/models/alembic/versions/ecc9f6322be4_remove_fk_constraint_from_endpoints_.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/image.py
Labels: type:bug, comp:manager, require:db-migration, size:M

#3593 fix(BA-650): Ensure unique values in mount list of compute session
  changes/3593.fix.md
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:XS

#3601 refactor(BA-657): Remove assignment of `pyroscope.configure()` return value
  src/ai/backend/account_manager/server.py
  src/ai/backend/agent/server.py
  src/ai/backend/common/metrics/profiler.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/server.py
  src/ai/backend/wsproxy/server.py
Labels: comp:manager, comp:agent, comp:common, comp:storage-proxy, skip:changelog, size:S

#3493 refactor(BA-501): Add draft vFolder handler Interface of manager
  changes/3493.enhance.md
  python.lock
  requirements.txt
  src/ai/backend/common/dto/manager/BUILD
  src/ai/backend/common/dto/manager/context.py
  src/ai/backend/common/dto/manager/field.py
  src/ai/backend/common/dto/manager/path.py
  src/ai/backend/common/dto/manager/query.py
  src/ai/backend/common/dto/manager/request.py
  src/ai/backend/common/dto/manager/response.py
  src/ai/backend/manager/api/vfolders/BUILD
  src/ai/backend/manager/api/vfolders/__init__.py
  src/ai/backend/manager/api/vfolders/handlers.py
  src/ai/backend/manager/data/BUILD
  src/ai/backend/manager/data/vfolder/BUILD
  src/ai/backend/manager/data/vfolder/dto.py
  src/ai/backend/manager/models/vfolder.py
  tests/manager/api/vfolders/BUILD
  tests/manager/api/vfolders/conftest.py
  tests/manager/api/vfolders/test_handlers.py
Labels: comp:manager, comp:common, size:XL

#3603 fix(BA-584): Remove foreign key constraint from `EndpointRow.image` column (#3599)
  changes/3599.fix.md
  src/ai/backend/manager/models/alembic/versions/ecc9f6322be4_remove_fk_constraint_from_endpoints_.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/image.py
Labels: type:bug, area:docs, comp:manager, require:db-migration, size:M, backport

#3604 fix(BA-584): Remove foreign key constraint from `EndpointRow.image` column (#3599)
  changes/3599.fix.md
  src/ai/backend/manager/models/alembic/versions/ecc9f6322be4_remove_fk_constraint_from_endpoints_.py
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/image.py
Labels: type:bug, comp:manager, require:db-migration, size:M, backport

#3635 chore(BA-683): add missing revision history as of 25.1.1
  docs/manager/rest-reference/openapi.json
  src/ai/backend/manager/models/alembic/revision_history/24.12.1.json
  src/ai/backend/manager/models/alembic/revision_history/25.1.1.json
Labels: area:docs, comp:manager, skip:changelog, size:XL

#3519 ci: Set the gh token in the build-scies job
  .github/workflows/ci.yml
Labels: size:XS

#3516 refactor(BA-502): Add the skeleton interface of vfolder CRUD handlers in storage-proxy (#3434)
  changes/3516.enhance.md
  src/ai/backend/storage/api/vfolder/BUILD
  src/ai/backend/storage/api/vfolder/__init__.py
  src/ai/backend/storage/api/vfolder/manager_handler.py
  src/ai/backend/storage/api/vfolder/response_model.py
  src/ai/backend/storage/api/vfolder/types.py
  tests/storage-proxy/vfolder/BUILD
  tests/storage-proxy/vfolder/__init__.py
  tests/storage-proxy/vfolder/test_handler.py
Labels: comp:storage-proxy, size:XL

#3565 refactor(BA-589): Apply pydantic handling decorator to VFolder APIs in storage-proxy (#3562)
  changes/3565.enhance.md
  src/ai/backend/storage/api/vfolder/manager_handler.py
  src/ai/backend/storage/api/vfolder/response_model.py
  src/ai/backend/storage/api/vfolder/types.py
  tests/storage-proxy/vfolder/test_handler.py
Labels: area:docs, comp:common, comp:storage-proxy, size:XL

#3567 refactor(BA-626): Move abc.py and storage system modules to volumes package (#3563)
  changes/3567.enhance.md
  src/ai/backend/storage/api/client.py
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/context.py
  src/ai/backend/storage/migration.py
  src/ai/backend/storage/plugin.py
  src/ai/backend/storage/volumes/BUILD
  src/ai/backend/storage/volumes/abc.py
  src/ai/backend/storage/volumes/cephfs/BUILD
  src/ai/backend/storage/volumes/cephfs/__init__.py
  src/ai/backend/storage/volumes/ddn/BUILD
  src/ai/backend/storage/volumes/ddn/__init__.py
  src/ai/backend/storage/volumes/dellemc/BUILD
  src/ai/backend/storage/volumes/dellemc/__init__.py
  src/ai/backend/storage/volumes/dellemc/config.py
  src/ai/backend/storage/volumes/dellemc/exceptions.py
  src/ai/backend/storage/volumes/dellemc/onefs_client.py
  src/ai/backend/storage/volumes/gpfs/BUILD
  src/ai/backend/storage/volumes/gpfs/__init__.py
  src/ai/backend/storage/volumes/gpfs/exceptions.py
  src/ai/backend/storage/volumes/gpfs/gpfs_client.py
  src/ai/backend/storage/volumes/gpfs/types.py
  src/ai/backend/storage/volumes/netapp/BUILD
  src/ai/backend/storage/volumes/netapp/__init__.py
  src/ai/backend/storage/volumes/netapp/netappclient.py
  src/ai/backend/storage/volumes/purestorage/BUILD
  src/ai/backend/storage/volumes/purestorage/__init__.py
  src/ai/backend/storage/volumes/purestorage/purity.py
  src/ai/backend/storage/volumes/purestorage/rapidfiles.py
  src/ai/backend/storage/volumes/purestorage/rapidfiles_v2.py
  src/ai/backend/storage/volumes/vast/BUILD
  src/ai/backend/storage/volumes/vast/__init__.py
  src/ai/backend/storage/volumes/vast/config.py
  src/ai/backend/storage/volumes/vast/exceptions.py
  src/ai/backend/storage/volumes/vast/vastdata_client.py
  src/ai/backend/storage/volumes/vfs/BUILD
  src/ai/backend/storage/volumes/vfs/__init__.py
  src/ai/backend/storage/volumes/weka/BUILD
  src/ai/backend/storage/volumes/weka/__init__.py
  src/ai/backend/storage/volumes/weka/exceptions.py
  src/ai/backend/storage/volumes/weka/weka_client.py
  src/ai/backend/storage/volumes/xfs/BUILD
  src/ai/backend/storage/volumes/xfs/__init__.py
  tests/common/test_api_handlers.py
  tests/storage-proxy/conftest.py
  tests/storage-proxy/test_fsop_base.py
  tests/storage-proxy/test_quota.py
  tests/storage-proxy/test_volume.py
Labels: area:docs, comp:common, comp:storage-proxy, size:L

#3654 fix(BA-694): Number of concurrent sftp session queried incorrectly
  changes/3654.fix.md
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager, size:XS

#3658 fix(BA-694): Number of concurrent sftp session queried incorrectly (#3654)
  changes/3654.fix.md
  src/ai/backend/manager/models/kernel.py
Labels: comp:manager, size:XS, backport

#3659 fix(BA-694): Number of concurrent sftp session queried incorrectly (#3654)
  changes/3654.fix.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/manager/models/kernel.py
Labels: area:docs, comp:manager, size:L, backport

#3680 feat: Make security policy configurable
  changes/3680.feature.md
  configs/webserver/halfstack.conf
  src/ai/backend/web/config.py
  src/ai/backend/web/security.py
  src/ai/backend/web/server.py
Labels: comp:webserver, size:M

#3683 feat(BA-720): Make security policy configurable (#3680)
  changes/3680.feature.md
  configs/webserver/halfstack.conf
  src/ai/backend/web/config.py
  src/ai/backend/web/security.py
  src/ai/backend/web/server.py
Labels: comp:webserver, size:M, backport

#3682 feat(BA-690): Make CSP configurable
  changes/3682.feature.md
  configs/webserver/halfstack.conf
  src/ai/backend/web/config.py
  src/ai/backend/web/security.py
  src/ai/backend/web/server.py
  tests/webserver/test_security_policy.py
Labels: comp:webserver, size:M

#3684 feat(BA-690): Make CSP configurable (#3682)
  changes/3682.feature.md
  configs/webserver/halfstack.conf
  src/ai/backend/web/config.py
  src/ai/backend/web/security.py
  src/ai/backend/web/server.py
  tests/webserver/test_security_policy.py
Labels: comp:webserver, size:M, backport

#3065 feat(BA-147): Implement m2m table for `container_registries`, and `groups`
  changes/3065.feature.md
  src/ai/backend/manager/models/__init__.py
  src/ai/backend/manager/models/alembic/versions/8f85e9d0bd4e_add_association_containerregistries_.py
  src/ai/backend/manager/models/association_container_registries_groups.py
  src/ai/backend/manager/models/container_registry.py
  src/ai/backend/manager/models/group.py
Labels: type:feature, area:docs, comp:manager, require:db-migration, size:L

#3424 refactor(BA-483): Revamp `ContainerRegistryNode` API
  changes/3424.fix.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/client/func/container_registry.py
  src/ai/backend/client/session.py
  src/ai/backend/common/container_registry.py
  src/ai/backend/manager/api/container_registry.py
  src/ai/backend/manager/api/exceptions.py
  src/ai/backend/manager/api/resource.py
  src/ai/backend/manager/api/session.py
  src/ai/backend/manager/container_registry/__init__.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/models/container_registry.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/container_registry.py
  src/ai/backend/manager/models/gql_models/container_registry_v2.py
  src/ai/backend/manager/models/gql_models/group.py
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/models/group.py
  src/ai/backend/manager/models/rbac/__init__.py
  tests/manager/api/test_container_registries.py
  tests/manager/conftest.py
  tests/manager/models/gql_models/BUILD
  tests/manager/models/gql_models/test_container_registries.py
  tests/manager/models/gql_models/test_container_registry_nodes.py
  tests/manager/models/gql_models/test_container_registry_nodes_v2.py
Labels: area:docs, comp:manager, comp:client, comp:common, size:XL

#3035 feat(BA-464): Implement `Image` RBAC project scope
  changes/3035.feature.md
  src/ai/backend/manager/models/image.py
Labels: type:feature, area:docs, comp:manager, size:M

#3036 feat(BA-512): Implement `ImageNode` GQL resolver based on RBAC
  changes/3036.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/models/rbac/__init__.py
Labels: type:feature, area:docs, comp:manager, skip:changelog, size:XL

#3116 feat(BA-143): Implement Image Rescanning using Harbor Webhook API
  changes/3116.feature.md
  src/ai/backend/manager/api/auth.py
  src/ai/backend/manager/api/container_registry.py
  src/ai/backend/manager/api/exceptions.py
  src/ai/backend/manager/server.py
Labels: type:feature, area:docs, comp:manager, comp:client, size:L

#3679 fix(BA-725): Increase Backend.AI Kernel's app startup timeout (#3672)
  changes/3679.fix.md
  src/ai/backend/kernel/base.py
Labels: comp:agent, size:XS

#3701 fix(BA-754): ContainerRegistry per-project API misc bugs
  changes/3701.fix.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/manager/api/container_registry.py
  src/ai/backend/manager/api/exceptions.py
  src/ai/backend/manager/client/container_registry/harbor.py
  src/ai/backend/manager/models/gql_models/container_registry.py
  src/ai/backend/manager/models/image.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/service/container_registry/harbor.py
Labels: area:docs, comp:manager, size:L

#3588 refactor(BA-620): Add Service Layer to Avoid Direct Volume and Vfolder Operations in Storage-Proxy Handler
  changes/3588.enhance.md
  src/ai/backend/common/BUILD
  src/ai/backend/common/api_handlers.py
  src/ai/backend/common/dto/manager/request.py
  src/ai/backend/common/dto/storage/BUILD
  src/ai/backend/common/dto/storage/field.py
  src/ai/backend/common/dto/storage/path.py
  src/ai/backend/common/dto/storage/request.py
  src/ai/backend/common/dto/storage/response.py
  src/ai/backend/common/types.py
  src/ai/backend/storage/api/vfolder/handler.py
  src/ai/backend/storage/api/vfolder/manager_handler.py
  src/ai/backend/storage/api/vfolder/response_model.py
  src/ai/backend/storage/api/vfolder/types.py
  src/ai/backend/storage/services/BUILD
  src/ai/backend/storage/services/service.py
  src/ai/backend/storage/utils.py
  src/ai/backend/storage/volumes/abc.py
  src/ai/backend/storage/volumes/pool.py
  src/ai/backend/storage/volumes/types.py
  tests/storage-proxy/vfolder/test_handler.py
  tests/storage-proxy/vfolder/test_pool.py
  tests/storage-proxy/vfolder/test_service.py
Labels: area:docs, comp:common, comp:storage-proxy, size:XL

#3676 chore(BA-726): Upgrade mypy to 1.15
  src/ai/backend/manager/api/utils.py
  src/ai/backend/manager/api/vfolder.py
  tools/mypy-requirements.txt
  tools/mypy.lock
Labels: area:infrastructure, type:maintenance, comp:manager, area:upstream, skip:changelog, size:M

#3727 chore(BA-726): Upgrade mypy to 1.15 (#3676)
  src/ai/backend/manager/api/utils.py
  src/ai/backend/manager/api/vfolder.py
  tools/mypy-requirements.txt
  tools/mypy.lock
Labels: area:infrastructure, type:maintenance, comp:manager, area:upstream, skip:changelog, size:M, backport

#3685 refactor(BA-696): Change Absolute Imports to Relative Imports in Storage-Proxy (#3656)
  changes/3685.enhance.md
  src/ai/backend/common/dto/storage/response.py
  src/ai/backend/common/lock.py
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/plugin.py
  src/ai/backend/storage/volumes/abc.py
  src/ai/backend/storage/volumes/cephfs/__init__.py
  src/ai/backend/storage/volumes/ddn/__init__.py
  src/ai/backend/storage/volumes/dellemc/__init__.py
  src/ai/backend/storage/volumes/gpfs/__init__.py
  src/ai/backend/storage/volumes/gpfs/gpfs_client.py
  src/ai/backend/storage/volumes/netapp/__init__.py
  src/ai/backend/storage/volumes/netapp/netappclient.py
  src/ai/backend/storage/volumes/purestorage/__init__.py
  src/ai/backend/storage/volumes/purestorage/rapidfiles.py
  src/ai/backend/storage/volumes/purestorage/rapidfiles_v2.py
  src/ai/backend/storage/volumes/vast/__init__.py
  src/ai/backend/storage/volumes/vast/vastdata_client.py
  src/ai/backend/storage/volumes/vfs/__init__.py
  src/ai/backend/storage/volumes/weka/__init__.py
  src/ai/backend/storage/volumes/xfs/__init__.py
Labels: comp:common, comp:storage-proxy, size:L

#3732 fix(BA-594): Handle cancel and timeout when creating kernels (#3648)
  changes/3648.fix.md
  src/ai/backend/manager/defs.py
  src/ai/backend/manager/exceptions.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, size:M, backport

#3735 fix(BA-779): Fix CSP config
  configs/webserver/halfstack.conf
Labels: skip:changelog, size:XS

#3736 fix(BA-779): Fix CSP config (#3735)
  configs/webserver/halfstack.conf
Labels: skip:changelog, size:XS, backport

#3651 ci(BA-721): Copy the metrics conf and use them instead of using them directly
  .gitignore
  docker-compose.halfstack-2409.yml
  scripts/install-dev.sh
  src/ai/backend/install/configs/grafana-dashboards
  src/ai/backend/install/configs/grafana-provisioning
  src/ai/backend/install/configs/prometheus.yaml
  src/ai/backend/install/context.py
Labels: comp:installer, skip:changelog, size:M

#3703 fix(BA-669): Change ports using ephemeral ports
  changes/3614.fix.md
  configs/agent/sample.toml
  configs/manager/sample.toml
  configs/storage-proxy/halfstack.toml
  configs/storage-proxy/sample.toml
  configs/wsproxy/sample.toml
  src/ai/backend/account_manager/config.py
  src/ai/backend/agent/config.py
  src/ai/backend/manager/config.py
  src/ai/backend/storage/config.py
  src/ai/backend/wsproxy/config.py
Labels: comp:manager, comp:agent, comp:storage-proxy, size:M

#3657 feat(BA-695): Configurable setup for kernel initialization polling
  changes/3657.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
Labels: comp:agent, size:M

#3737 feat(BA-695): Configurable setup for kernel initialization polling (#3657)
  changes/3657.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
Labels: comp:agent, size:M, backport

#3740 fix(BA-651): Revert tmux version upgrade from 3.4 to 3.5a
  changes/3740.fix.md
  scripts/agent/build-tmux.sh
  src/ai/backend/runner/tmux.aarch64.bin
  src/ai/backend/runner/tmux.x86_64.bin
Labels: size:S

#3747 fix: add join condition when querying EndpointAutoScalingRuleRow rows
  changes/3747.fix.md
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, size:S

#3746 fix(BA-788): Cannot query session in rename API handler
  changes/3746.fix.md
  src/ai/backend/manager/api/session.py
Labels: comp:manager, size:XS

#3749 fix(BA-788): Cannot query session in rename API handler (#3746)
  changes/3746.fix.md
  src/ai/backend/manager/api/session.py
Labels: comp:manager, size:XS, backport

#3748 fix(BA-788): Cannot query session in rename API handler (#3746)
  changes/3746.fix.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/manager/api/session.py
Labels: area:docs, comp:manager, size:XS, backport

#3751 feat(BA-790): Sort vfolder list in compute session GQL objects
  changes/3751.feature.md
  src/ai/backend/manager/models/gql_models/session.py
  src/ai/backend/manager/models/session.py
Labels: comp:manager, size:S

#3753 feat(BA-790): Sort vfolder list in compute session GQL objects (#3751)
  changes/3751.feature.md
  src/ai/backend/manager/models/gql_models/session.py
  src/ai/backend/manager/models/session.py
Labels: comp:manager, size:S, backport

#3761 fix: Model service autoscaling not working
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, skip:changelog, size:XS

#3757 fix(BA-793): Filter GQL sentinel value during endpoint rule creation
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/gql_models/endpoint.py
Labels: comp:manager, skip:changelog, size:S

#3755 fix(BA-792): Cartesian product when querying endpoint auto scaling rules
  src/ai/backend/manager/models/endpoint.py
Labels: comp:manager, skip:changelog, size:XS

#3731 feat(BA-770): Add New API Logging Aligned with Pydantic (#3724)
  changes/3731.feature.md
  src/ai/backend/common/dto/storage/field.py
  src/ai/backend/common/dto/storage/response.py
  src/ai/backend/storage/services/service.py
  src/ai/backend/storage/utils.py
  src/ai/backend/storage/volumes/types.py
Labels: comp:common, comp:storage-proxy, size:L

#3773 fix: Missing event observer argument
  changes/3773.fix.md
  src/ai/backend/common/events_experimental.py
Labels: comp:common, size:XS

#2716 ci(BA-542): Verify that the current model schema and the migration file match
  .github/workflows/ci.yml
  scripts/check-alembic-revision.py
Labels: skip:changelog, size:M

#3784 ci(BA-542): Verify that the current model schema and the migration file match (#2716)
  .github/workflows/ci.yml
  scripts/check-alembic-revision.py
Labels: skip:changelog, size:M, backport

#3787 chore(BA-816): Update etcd-client-py (0.3.0 -> 0.4.0)
  python.lock
  requirements.txt
Labels: skip:changelog

#3774 feat(BA-808): Configurable global lock lifetime
  changes/3774.feature.md
  src/ai/backend/manager/config.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, size:S

#3793 fix(BA-822): Wrong Python interpreters included in the scie builds
  changes/3793.fix.md
  pants.toml
  python.lock
  tools/build-macros.py
  tools/mypy.lock
  tools/pytest.lock
  tools/ruff.lock
Labels: size:S

#3782 fix(BA-814): Add service_ports resolver to GQL ComputeSessionNode type
  changes/3782.fix.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/manager/models/gql_models/session.py
Labels: area:docs, comp:manager, size:XS

#3797 fix(BA-814): Add service_ports resolver to GQL ComputeSessionNode type (#3782)
  changes/3782.fix.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/manager/models/gql_models/session.py
Labels: area:docs, comp:manager, size:L, backport

#3799 fix(BA-824): GQL VFolderNode filter argument
  changes/3799.fix.md
  src/ai/backend/manager/models/gql_models/vfolder.py
  src/ai/backend/manager/models/storage.py
Labels: comp:manager, size:M

#3813 fix(BA-824): GQL VFolderNode filter argument (#3799)
  changes/3799.fix.md
  src/ai/backend/manager/models/gql_models/vfolder.py
  src/ai/backend/manager/models/storage.py
Labels: comp:manager, size:M, backport

#3818 ci: Using a self-hosted runner
  .github/workflows/ci.yml
Labels: skip:changelog, size:XS

#3817 fix(BA-842): Use correct global lock ID
  changes/3817.fix.md
  src/ai/backend/manager/defs.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/scheduler/dispatcher.py
  tests/manager/test_global_lock_id.py
Labels: comp:manager, size:S

#3821 fix: Broken image rescanning on `HarborRegistry_v1`
  changes/3821.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: type:bug, comp:manager, size:XS

#3823 fix: Broken image rescanning on `HarborRegistry_v1` (#3821)
  changes/3821.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: type:bug, comp:manager, size:XS, backport

#3822 fix: Broken image rescanning on `HarborRegistry_v1` (#3821)
  changes/3821.fix.md
  src/ai/backend/manager/container_registry/harbor.py
Labels: type:bug, comp:manager, size:XS, backport

#3824 ci: Even if the config is in a folder, it will be included in build
  changes/3824.fix.md
  src/ai/backend/install/configs/BUILD
Labels: size:XS

#3810 fix(BA-822): Wrong Python interpreter in the installer due to a missing build-macro reference
  changes/3810.fix.md
  src/ai/backend/install/BUILD
  src/ai/backend/plugin/entrypoint.py
Labels: comp:common, size:M

#3825 chore: Add network dependency to manager BUILD
  src/ai/backend/manager/BUILD
Labels: skip:changelog, size:XS

#3816 fix(BA-844): add groups type DB migration
  changes/3816.fix.md
  src/ai/backend/manager/models/alembic/versions/308bcecec5c2_add_groups_type.py
Labels: comp:manager, require:db-migration, size:M

#3827 fix(BA-844): add groups type DB migration (#3816)
  changes/3816.fix.md
  src/ai/backend/manager/models/alembic/versions/308bcecec5c2_add_groups_type.py
Labels: comp:manager, require:db-migration, size:M, backport

#3826 fix(BA-844): add groups type DB migration (#3816)
  changes/3816.fix.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/manager/models/alembic/versions/308bcecec5c2_add_groups_type.py
Labels: area:docs, comp:manager, require:db-migration, size:L, backport

#3833 chore(BA-845): Change account manager VERSION file to symbolic link
  src/ai/backend/account_manager/VERSION
Labels: skip:changelog, size:XS

#3829 fix(BA-848): Wrong alembic scripts
  changes/3829.fix.md
  src/ai/backend/manager/models/alembic/versions/1f55a65cfc4f_add_status_column_to_vfolders.py
  src/ai/backend/manager/models/alembic/versions/5ba7fde56ddb_add_vfolder_purge_status.py
  src/ai/backend/manager/models/alembic/versions/7ff52ff68bfc_detail_vfolder_deletion_status.py
  src/ai/backend/manager/models/alembic/versions/85984c98b90f_update_endpoint_and_routing_table.py
  src/ai/backend/manager/models/alembic/versions/bedd92de93af_add_role_column_on_kernels_table.py
Labels: comp:manager, require:db-migration, size:M

#3836 fix(BA-848): Wrong alembic scripts (#3829)
  changes/3829.fix.md
  src/ai/backend/manager/models/alembic/versions/1f55a65cfc4f_add_status_column_to_vfolders.py
  src/ai/backend/manager/models/alembic/versions/5ba7fde56ddb_add_vfolder_purge_status.py
  src/ai/backend/manager/models/alembic/versions/7ff52ff68bfc_detail_vfolder_deletion_status.py
  src/ai/backend/manager/models/alembic/versions/85984c98b90f_update_endpoint_and_routing_table.py
  src/ai/backend/manager/models/alembic/versions/bedd92de93af_add_role_column_on_kernels_table.py
Labels: comp:manager, require:db-migration, size:M, backport

#3837 fix(BA-848): Wrong alembic scripts (#3829)
  changes/3829.fix.md
  src/ai/backend/manager/models/alembic/versions/1f55a65cfc4f_add_status_column_to_vfolders.py
  src/ai/backend/manager/models/alembic/versions/5ba7fde56ddb_add_vfolder_purge_status.py
  src/ai/backend/manager/models/alembic/versions/7ff52ff68bfc_detail_vfolder_deletion_status.py
  src/ai/backend/manager/models/alembic/versions/85984c98b90f_update_endpoint_and_routing_table.py
  src/ai/backend/manager/models/alembic/versions/bedd92de93af_add_role_column_on_kernels_table.py
Labels: comp:manager, require:db-migration, size:M, backport

#3843 fix: `CreateNetwork` mutation not working
  changes/3843.fix.md
  src/ai/backend/manager/models/network.py
Labels: type:bug, area:docs, comp:manager, size:XS

#3842 feat(BA-856): automatic removal of `PROVISIONING` endpoints
  changes/3842.feature.md
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: type:feature, area:docs, comp:manager, size:S

#3853 ci: Allow `releases` with pr prefix
  .github/workflows/pr-prefix.yml
Labels: skip:changelog, size:XS

#3139 fix: Swap the ports that client and manager are looking at
  src/ai/backend/install/context.py
Labels: comp:installer, skip:changelog, size:S

#3629 feat(BA-680): Impl noop storage backend
  changes/3629.feature.md
  src/ai/backend/common/defs.py
  src/ai/backend/storage/context.py
  src/ai/backend/storage/volumes/noop/BUILD
  src/ai/backend/storage/volumes/noop/__init__.py
Labels: comp:common, comp:storage-proxy, size:L

#3555 feat(BA-615): Collect metrics for the RPC server
  changes/3555.feature.md
  src/ai/backend/agent/metrics/BUILD
  src/ai/backend/agent/metrics/metric.py
  src/ai/backend/agent/server.py
Labels: comp:agent, size:M

#3728 ci(BA-777): Adding manual build tests
  .github/workflows/build-test.yml
Labels: skip:changelog, size:M

#3706 ci(BA-778): Modularize common if conditions
  .github/workflows/ci.yml
Labels: skip:changelog, skip:ci, size:M

#3767 fix(BA-802): Set default domain name value of vfolders
  changes/3767.fix.md
  docs/manager/rest-reference/openapi.json
  src/ai/backend/common/defs.py
  src/ai/backend/manager/models/alembic/versions/d7df3baf3779_add_vfolders_domain_name.py
Labels: area:docs, comp:manager, comp:common, require:db-migration, size:S

#3855 fix(BA-868): Missing vfolder mount permission (#3851)
  changes/3851.fix.md
  src/ai/backend/manager/models/rbac/permission_defs.py
  src/ai/backend/manager/models/vfolder.py
Labels: area:docs, comp:manager, size:XS, backport

#3725 feat(BA-24): Split redis config for each connection pool
  changes/3725.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/common/config.py
  src/ai/backend/common/defs.py
  src/ai/backend/common/events.py
  src/ai/backend/common/events_experimental.py
  src/ai/backend/common/redis_client.py
  src/ai/backend/common/redis_helper.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/api/ratelimit.py
  src/ai/backend/manager/cli/context.py
  src/ai/backend/manager/idle.py
  src/ai/backend/manager/models/keypair.py
  src/ai/backend/manager/scheduler/dispatcher.py
  src/ai/backend/manager/server.py
  src/ai/backend/web/server.py
  tests/agent/conftest.py
  tests/common/redis_helper/test_connect.py
  tests/common/test_distributed.py
  tests/common/test_events.py
  tests/manager/conftest.py
Labels: comp:manager, comp:agent, comp:common, comp:cli, comp:webserver, comp:installer, size:L

#3859 feat(BA-873): Add centralized action processor design
  changes/3859.feature.md
  src/ai/backend/manager/BUILD
  src/ai/backend/manager/actions/BUILD
  src/ai/backend/manager/actions/action.py
  src/ai/backend/manager/actions/monitors/BUILD
  src/ai/backend/manager/actions/monitors/monitor.py
  src/ai/backend/manager/actions/processor.py
Labels: comp:manager, size:L

#3785 feat(BA-625): Register v2 volume handler to router
  changes/3785.feature.md
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/context.py
Labels: comp:storage-proxy, size:M

#3831 fix(BA-849): Omit `description` field in user update CLI command when not provided
  changes/3831.fix.md
  src/ai/backend/client/cli/admin/user.py
Labels: type:bug, comp:client, comp:cli, size:XS

#3862 fix(BA-849): Omit `description` field in user update CLI command when not provided (#3831)
  changes/3831.fix.md
  src/ai/backend/client/cli/admin/user.py
Labels: type:bug, comp:client, comp:cli, size:XS, backport

#3863 fix(BA-849): Omit `description` field in user update CLI command when not provided (#3831)
  changes/3831.fix.md
  src/ai/backend/client/cli/admin/user.py
Labels: type:bug, comp:client, comp:cli, size:XS, backport

#2987 feat(BA-604): Add `image_node` and `vfolder_node` fields to `ComputeSession` schema
  changes/2987.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/manager/models/endpoint.py
  src/ai/backend/manager/models/gql_models/image.py
  src/ai/backend/manager/models/gql_models/kernel.py
  src/ai/backend/manager/models/gql_models/session.py
  src/ai/backend/manager/models/gql_models/vfolder.py
  src/ai/backend/manager/models/kernel.py
Labels: area:docs, comp:manager, size:L
