Repository lablup/backend.ai, pull requests merged in 2025-08, with the labels that each got.

#5345 fix(BA-2022): Add missing components in HA development environment
  changes/5345.fix.md
  configs/prometheus/prometheus-ha.yaml
  docker-compose.halfstack-ha.yml
  scripts/install-dev.sh
Labels: comp:installer, size:L

#5363 chore: Change log level from warning to debug for Redis ping failures in Valkey clients
  src/ai/backend/common/clients/valkey_client/client.py
Labels: comp:common, skip:changelog, size:XS

#5365 fix(BA-2037): Add validation alias for `pkg_ns` in logging config
  src/ai/backend/appproxy/common/config.py
  src/ai/backend/logging/config_pydantic.py
Labels: comp:app-proxy, skip:changelog, size:XS

#5370 feat(BA-2040): Add serialization alias for `pkg_ns` in logging config
  src/ai/backend/appproxy/common/config.py
  src/ai/backend/logging/config_pydantic.py
Labels: comp:app-proxy, skip:changelog, size:XS

#5366 fix: Make log-level/debug flag handling consistent in all components
  changes/5366.fix.md
  src/ai/backend/account_manager/cli/context.py
  src/ai/backend/account_manager/config.py
  src/ai/backend/account_manager/server.py
  src/ai/backend/agent/server.py
  src/ai/backend/appproxy/coordinator/cli/context.py
  src/ai/backend/appproxy/coordinator/config.py
  src/ai/backend/appproxy/coordinator/server.py
  src/ai/backend/appproxy/worker/config.py
  src/ai/backend/appproxy/worker/server.py
  src/ai/backend/logging/config_pydantic.py
  src/ai/backend/manager/config/bootstrap.py
  src/ai/backend/manager/config_legacy.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/server.py
  src/ai/backend/web/server.py
  src/ai/backend/wsproxy/config.py
Labels: comp:manager, comp:agent, comp:common, comp:webserver, comp:storage-proxy, comp:app-proxy, size:M

#5377 fix(BA-2045): Fix and optimize entrypoint glob for plugins
  README.md
  changes/5377.fix.md
  src/ai/backend/plugin/entrypoint.py
Labels: comp:common, size:M

#5379 fix: Missing suffix-match transition in #5377
  src/ai/backend/plugin/entrypoint.py
  tests/plugin/test_entrypoint_glob.py
Labels: comp:common, skip:changelog, size:L

#5381 feat(BA-1806): Ship all-smi with Backend.AI Core
  .github/workflows/import-all-smi.yml
  changes/5381.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/runner/all-smi.aarch64.bin
  src/ai/backend/runner/all-smi.x86_64.bin
Labels: comp:agent, size:L

#5382 fix: Nested app-proxy pkgs missing in the entrypoint glob
  src/ai/backend/plugin/entrypoint.py
Labels: comp:common, skip:changelog, size:XS

#5394 fix(BA-2043): Image rescan exception handling where the image config is `None`
  changes/5394.fix.md
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/container_registry/harbor.py
Labels: comp:manager, comp:agent, size:M

#5395 fix(BA-2043): Image rescan exception handling where the image config is `None` (#5394)
  changes/5394.fix.md
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/container_registry/harbor.py
Labels: comp:manager, comp:agent, size:M, backport

#5396 fix(BA-2043): Image rescan exception handling where the image config is `None` (#5394)
  changes/5394.fix.md
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/manager/container_registry/base.py
  src/ai/backend/manager/container_registry/harbor.py
Labels: comp:manager, comp:agent, size:S, backport

#5399 fix: Update alias for override-configs in RedisConfig to support validation and serialization
  src/ai/backend/common/configs/redis.py
Labels: comp:common, skip:changelog, size:M

#5409 refactor: weird RepositoryArg imports
  changes/5409.misc.md
  src/ai/backend/manager/repositories/agent/repositories.py
  src/ai/backend/manager/repositories/auth/repositories.py
  src/ai/backend/manager/repositories/container_registry/repositories.py
  src/ai/backend/manager/repositories/domain/repositories.py
  src/ai/backend/manager/repositories/group/repositories.py
  src/ai/backend/manager/repositories/image/repositories.py
  src/ai/backend/manager/repositories/keypair_resource_policy/repositories.py
  src/ai/backend/manager/repositories/metric/README.md
  src/ai/backend/manager/repositories/metric/repositories.py
  src/ai/backend/manager/repositories/model_serving/repositories.py
  src/ai/backend/manager/repositories/project_resource_policy/repositories.py
  src/ai/backend/manager/repositories/repositories.py
  src/ai/backend/manager/repositories/resource_preset/repositories.py
  src/ai/backend/manager/repositories/schedule/repositories.py
  src/ai/backend/manager/repositories/session/repositories.py
  src/ai/backend/manager/repositories/types.py
  src/ai/backend/manager/repositories/user/repositories.py
  src/ai/backend/manager/repositories/user_resource_policy/repositories.py
  src/ai/backend/manager/repositories/vfolder/repositories.py
  src/ai/backend/manager/server.py
Labels: comp:manager, size:M

#5413 feat(BA-2068): Update RBAC data types
  changes/5413.feature.md
  src/ai/backend/manager/data/permission/association_scopes_entities.py
  src/ai/backend/manager/data/permission/id.py
  src/ai/backend/manager/data/permission/object_permission.py
  src/ai/backend/manager/data/permission/role.py
  src/ai/backend/manager/data/permission/scope_permission.py
  src/ai/backend/manager/models/rbac_models/association_scopes_entities.py
  src/ai/backend/manager/models/rbac_models/role.py
  src/ai/backend/manager/repositories/permission_controller/repository.py
Labels: comp:manager, size:L

#5412 feat: Redesign RBAC tables
  changes/5413.feature.md
  src/ai/backend/manager/data/permission/association_scopes_entities.py
  src/ai/backend/manager/data/permission/id.py
  src/ai/backend/manager/data/permission/object_permission.py
  src/ai/backend/manager/data/permission/role.py
  src/ai/backend/manager/data/permission/scope_permission.py
  src/ai/backend/manager/data/permission/types.py
  src/ai/backend/manager/models/alembic/versions/28fecac94e67_redesign_rbac_tables.py
  src/ai/backend/manager/models/base.py
  src/ai/backend/manager/models/rbac_models/__init__.py
  src/ai/backend/manager/models/rbac_models/association_scopes_entities.py
  src/ai/backend/manager/models/rbac_models/object_permission.py
  src/ai/backend/manager/models/rbac_models/role.py
  src/ai/backend/manager/models/rbac_models/scope_permission.py
  src/ai/backend/manager/models/rbac_models/types.py
  src/ai/backend/manager/repositories/permission_controller/repository.py
Labels: comp:manager, skip:changelog, require:db-migration, size:L

#5398 fix(BA-2051): Fix wrong container volume mount for apollo router
  docker-compose.halfstack-main.yml
Labels: skip:changelog, size:XS

#5403 feat(BA-2055): Add `UserNode` as a field of `ComputeSessionNode`
  changes/5403.feature.md
  docs/manager/graphql-reference/schema.graphql
  src/ai/backend/common/exception.py
  src/ai/backend/manager/data/session/types.py
  src/ai/backend/manager/models/gql_models/session.py
  src/ai/backend/manager/models/gql_models/user.py
  src/ai/backend/manager/models/session.py
  src/ai/backend/manager/repositories/session/repository.py
  src/ai/backend/manager/services/session/service.py
  tests/manager/services/session/fixtures.py
Labels: area:docs, comp:manager, comp:common, size:L

#5416 feat(BA-2066): Add TTL support to Redis key operations in AppProxy
  changes/5416.feature.md
  src/ai/backend/appproxy/common/config.py
  src/ai/backend/appproxy/coordinator/api/worker_v2.py
  src/ai/backend/appproxy/worker/proxy/frontend/traefik.py
  src/ai/backend/appproxy/worker/server.py
Labels: comp:app-proxy, size:M

#5404 feat(BA-2029): Enhance Scheduler allocation logic and add comprehensive tests
  changes/5404.feature.md
  changes/5421.feature.md
  python.lock
  src/ai/backend/manager/api/context.py
  src/ai/backend/manager/event_dispatcher/dispatch.py
  src/ai/backend/manager/event_dispatcher/handlers/schedule.py
  src/ai/backend/manager/metrics/BUILD
  src/ai/backend/manager/metrics/__init__.py
  src/ai/backend/manager/metrics/scheduler.py
  src/ai/backend/manager/repositories/schedule/repository.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/sokovan/scheduler/exceptions.py
  src/ai/backend/manager/sokovan/scheduler/factory.py
  src/ai/backend/manager/sokovan/scheduler/policies/__init__.py
  src/ai/backend/manager/sokovan/scheduler/policies/policy.py
  src/ai/backend/manager/sokovan/scheduler/prioritizers/BUILD
  src/ai/backend/manager/sokovan/scheduler/prioritizers/__init__.py
  src/ai/backend/manager/sokovan/scheduler/scheduler.py
  src/ai/backend/manager/sokovan/scheduler/selectors/__init__.py
  src/ai/backend/manager/sokovan/scheduler/selectors/concentrated.py
  src/ai/backend/manager/sokovan/scheduler/selectors/dispersed.py
  src/ai/backend/manager/sokovan/scheduler/selectors/exceptions.py
  src/ai/backend/manager/sokovan/scheduler/selectors/legacy.py
  src/ai/backend/manager/sokovan/scheduler/selectors/roundrobin.py
  src/ai/backend/manager/sokovan/scheduler/selectors/selector.py
  src/ai/backend/manager/sokovan/scheduler/sequencers/BUILD
  src/ai/backend/manager/sokovan/scheduler/sequencers/__init__.py
  src/ai/backend/manager/sokovan/scheduler/sequencers/drf.py
  src/ai/backend/manager/sokovan/scheduler/sequencers/fifo.py
  src/ai/backend/manager/sokovan/scheduler/sequencers/lifo.py
  src/ai/backend/manager/sokovan/scheduler/sequencers/sequencer.py
  src/ai/backend/manager/sokovan/scheduler/types.py
  src/ai/backend/manager/sokovan/sokovan.py
  tests/manager/repositories/schedule/BUILD
  tests/manager/repositories/schedule/__init__.py
  tests/manager/repositories/schedule/test_fetch_pending_sessions.py
  tests/manager/repositories/schedule/test_schedule_repository.py
  tests/manager/sokovan/scheduler/selectors/test_agent_selection_with_resources.py
  tests/manager/sokovan/scheduler/selectors/test_concentrated_selector.py
  tests/manager/sokovan/scheduler/selectors/test_dispersed_selector.py
  tests/manager/sokovan/scheduler/selectors/test_legacy_selector.py
  tests/manager/sokovan/scheduler/selectors/test_resource_requirements.py
  tests/manager/sokovan/scheduler/selectors/test_roundrobin_selector.py
  tests/manager/sokovan/scheduler/selectors/test_selector_edge_cases.py
  tests/manager/sokovan/scheduler/selectors/test_selector_integration.py
  tests/manager/sokovan/scheduler/sequencers/BUILD
  tests/manager/sokovan/scheduler/sequencers/__init__.py
  tests/manager/sokovan/scheduler/sequencers/test_drf.py
  tests/manager/sokovan/scheduler/sequencers/test_fifo.py
  tests/manager/sokovan/scheduler/sequencers/test_lifo.py
  tests/manager/sokovan/scheduler/test_scheduler.py
Labels: comp:manager, size:XL

#5406 feat(BA-2060): Add allocation methods in scheduler repository
  changes/5404.feature.md
  changes/5406.feature.md
  changes/5421.feature.md
  python.lock
  src/ai/backend/manager/api/context.py
  src/ai/backend/manager/event_dispatcher/dispatch.py
  src/ai/backend/manager/event_dispatcher/handlers/schedule.py
  src/ai/backend/manager/metrics/BUILD
  src/ai/backend/manager/metrics/__init__.py
  src/ai/backend/manager/metrics/scheduler.py
  src/ai/backend/manager/repositories/schedule/repositories.py
  src/ai/backend/manager/repositories/schedule/repository.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/sokovan/scheduler/allocators/allocator.py
  src/ai/backend/manager/sokovan/scheduler/allocators/repository_allocator.py
  src/ai/backend/manager/sokovan/scheduler/exceptions.py
  src/ai/backend/manager/sokovan/scheduler/factory.py
  src/ai/backend/manager/sokovan/scheduler/policies/__init__.py
  src/ai/backend/manager/sokovan/scheduler/policies/policy.py
  src/ai/backend/manager/sokovan/scheduler/prioritizers/BUILD
  src/ai/backend/manager/sokovan/scheduler/prioritizers/__init__.py
  src/ai/backend/manager/sokovan/scheduler/prioritizers/fifo.py
  src/ai/backend/manager/sokovan/scheduler/prioritizers/lifo.py
  src/ai/backend/manager/sokovan/scheduler/scheduler.py
  src/ai/backend/manager/sokovan/scheduler/selectors/__init__.py
  src/ai/backend/manager/sokovan/scheduler/selectors/concentrated.py
  src/ai/backend/manager/sokovan/scheduler/selectors/dispersed.py
  src/ai/backend/manager/sokovan/scheduler/selectors/exceptions.py
  src/ai/backend/manager/sokovan/scheduler/selectors/legacy.py
  src/ai/backend/manager/sokovan/scheduler/selectors/roundrobin.py
  src/ai/backend/manager/sokovan/scheduler/selectors/selector.py
  src/ai/backend/manager/sokovan/scheduler/sequencers/BUILD
  src/ai/backend/manager/sokovan/scheduler/sequencers/__init__.py
  src/ai/backend/manager/sokovan/scheduler/sequencers/drf.py
  src/ai/backend/manager/sokovan/scheduler/sequencers/fifo.py
  src/ai/backend/manager/sokovan/scheduler/sequencers/lifo.py
  src/ai/backend/manager/sokovan/scheduler/sequencers/sequencer.py
  src/ai/backend/manager/sokovan/scheduler/types.py
  src/ai/backend/manager/sokovan/scheduler/validators/validator.py
  src/ai/backend/manager/sokovan/sokovan.py
  tests/manager/repositories/schedule/BUILD
  tests/manager/repositories/schedule/test_fetch_pending_sessions.py
  tests/manager/repositories/schedule/test_schedule_repository.py
  tests/manager/sokovan/scheduler/selectors/test_agent_selection_with_resources.py
  tests/manager/sokovan/scheduler/selectors/test_concentrated_selector.py
  tests/manager/sokovan/scheduler/selectors/test_dispersed_selector.py
  tests/manager/sokovan/scheduler/selectors/test_legacy_selector.py
  tests/manager/sokovan/scheduler/selectors/test_resource_requirements.py
  tests/manager/sokovan/scheduler/selectors/test_roundrobin_selector.py
  tests/manager/sokovan/scheduler/selectors/test_selector_edge_cases.py
  tests/manager/sokovan/scheduler/selectors/test_selector_integration.py
  tests/manager/sokovan/scheduler/sequencers/BUILD
  tests/manager/sokovan/scheduler/sequencers/__init__.py
  tests/manager/sokovan/scheduler/sequencers/test_drf.py
  tests/manager/sokovan/scheduler/sequencers/test_fifo.py
  tests/manager/sokovan/scheduler/sequencers/test_lifo.py
  tests/manager/sokovan/scheduler/test_scheduler.py
  tests/manager/test_scheduler.py
Labels: comp:manager, size:XL

#5286 feat(BA-1855, BA-1857): Add `storages` API to storage proxy
  changes/5286.feature.md
  docker-compose.halfstack-ha.yml
  docker-compose.halfstack-main.yml
  python.lock
  requirements.txt
  scripts/configure-minio.sh
  scripts/install-dev.sh
  src/ai/backend/common/api_handlers.py
  src/ai/backend/common/dto/manager/context.py
  src/ai/backend/common/dto/storage/context.py
  src/ai/backend/common/dto/storage/request.py
  src/ai/backend/common/dto/storage/response.py
  src/ai/backend/manager/api/admin.py
  src/ai/backend/manager/api/vfolders/handlers.py
  src/ai/backend/manager/data/vfolder/dto.py
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/api/v1/BUILD
  src/ai/backend/storage/api/v1/__init__.py
  src/ai/backend/storage/api/v1/storages.py
  src/ai/backend/storage/client/BUILD
  src/ai/backend/storage/client/__init__.py
  src/ai/backend/storage/client/s3.py
  src/ai/backend/storage/config/unified.py
  src/ai/backend/storage/exception.py
  src/ai/backend/storage/services/storages.py
  src/ai/backend/storage/utils.py
  src/ai/backend/testutils/bootstrap.py
  tests/common/test_api_handlers.py
  tests/storage-proxy/conftest.py
  tests/storage-proxy/storages/BUILD
  tests/storage-proxy/storages/__init__.py
  tests/storage-proxy/storages/test_s3_client.py
  tests/storage-proxy/storages/test_service.py
Labels: comp:manager, comp:common, comp:installer, comp:storage-proxy, size:XL

#5433 fix(BA-2084): Agent node resolver serialize resource slot
  changes/5433.fix.md
  src/ai/backend/manager/models/gql_models/agent.py
Labels: comp:manager, size:XS

#5440 feat(BA-2090): Add `source` column to roles table
  changes/5440.feature.md
  src/ai/backend/manager/data/permission/role.py
  src/ai/backend/manager/data/permission/types.py
  src/ai/backend/manager/models/alembic/versions/42feff246198_add_source_col_to_roles.py
  src/ai/backend/manager/models/rbac_models/role.py
Labels: comp:manager, require:db-migration, size:M

#5435 fix(BA-2078): Fix wrong image type search logic used in `ImageNode` instance creation
  changes/5435.fix.md
  src/ai/backend/manager/models/gql_models/image.py
Labels: comp:manager, size:M

#5449 fix(BA-2097): Wrong request header validation error handling of Webserver
  changes/5449.fix.md
  src/ai/backend/web/proxy.py
Labels: comp:webserver, size:XS

#5448 fix(BA-2083): Change `Circuit` query logic in AppProxy for `Circuit`'s serializability
  changes/5448.fix.md
  src/ai/backend/appproxy/coordinator/api/endpoint.py
  src/ai/backend/appproxy/coordinator/models/circuit.py
Labels: comp:app-proxy, size:S

#5446 fix(BA-2093): Wrong error handling of `User` CRUD mutations
  changes/5446.fix.md
  src/ai/backend/manager/errors/user.py
  src/ai/backend/manager/models/gql_models/user.py
  src/ai/backend/manager/repositories/user/repository.py
  src/ai/backend/manager/services/user/actions/create_user.py
  src/ai/backend/manager/services/user/actions/delete_user.py
  src/ai/backend/manager/services/user/actions/modify_user.py
  src/ai/backend/manager/services/user/actions/purge_user.py
  src/ai/backend/manager/services/user/service.py
  tests/manager/integration/services/user/test_user_integration.py
  tests/manager/repositories/user/test_user_repository.py
  tests/manager/services/test_users.py
  tests/manager/services/user/test_user.py
Labels: comp:manager, size:L

#5462 chore: Add dev environment start/stop scripts
  scripts/start-dev.sh
  scripts/stop-dev.sh
Labels: skip:changelog, size:S

#5463 feat(BA-2081): Implement temporal schedulers by injecting `scheduler_dispatcher`
  src/ai/backend/manager/server.py
  src/ai/backend/manager/sokovan/scheduler/coordinator.py
  src/ai/backend/manager/sokovan/scheduler/handlers.py
  src/ai/backend/manager/sokovan/sokovan.py
Labels: comp:manager, skip:changelog, size:M

#5466 feat: Add build-isla-sorna-image workflow
  .github/workflows/ci.yml
Labels: skip:changelog, size:S

#5468 fix(BA-2108): Avoid producing error event in Agent heartbeat
  changes/5469.fix.md
  src/ai/backend/agent/agent.py
Labels: comp:agent, size:XS

#5470 fix(BA-2108): Avoid producing error event in Agent heartbeat (#5468)
  changes/5469.fix.md
  src/ai/backend/agent/agent.py
Labels: comp:agent, size:XS, backport

#5474 fix(BA-2110): Skip saving session for failed login attempts
  changes/5473.fix.md
  src/ai/backend/common/web/session/__init__.py
  src/ai/backend/common/web/session/redis_storage.py
  src/ai/backend/web/server.py
Labels: comp:common, comp:webserver, size:S

#5454 fix(BA-2100): NUMA-aware allocation with existing allocations of the first-seen device type
  changes/5454.fix.md
  src/ai/backend/agent/affinity_map.py
  src/ai/backend/agent/alloc_map.py
  tests/agent/test_affinity_map.py
Labels: comp:agent, size:L

#5483 fix(BA-2100): NUMA-aware allocation with existing allocations of the first-seen device type (#5454)
  changes/5454.fix.md
  src/ai/backend/agent/affinity_map.py
  src/ai/backend/agent/alloc_map.py
  tests/agent/test_affinity_map.py
Labels: comp:agent, size:L, backport

#5482 fix(BA-2100): NUMA-aware allocation with existing allocations of the first-seen device type (#5454)
  changes/5454.fix.md
  src/ai/backend/agent/affinity_map.py
  src/ai/backend/agent/alloc_map.py
  tests/agent/test_affinity_map.py
Labels: comp:agent, size:L, backport

#5492 fix: Handle kernel termination for sessions without agent or container ID
  src/ai/backend/manager/sokovan/scheduler/scheduler.py
Labels: comp:manager, skip:changelog, size:S

#5489 fix(BA-2115): Respect inherited ulimits when creating new containers
  changes/5489.fix.md
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/utils.py
Labels: comp:agent, size:M

#5501 fix(BA-2115): Respect inherited ulimits when creating new containers (#5489)
  changes/5489.fix.md
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/utils.py
Labels: comp:agent, size:M, backport

#5524 refactor: Replace deprecated pydantic config class pattern
  src/ai/backend/account_manager/api/utils.py
  src/ai/backend/account_manager/models/base.py
  src/ai/backend/account_manager/models/utils.py
  src/ai/backend/agent/config/unified.py
  src/ai/backend/appproxy/worker/metrics.py
  src/ai/backend/common/events/event_types/bgtask/broadcast.py
  src/ai/backend/manager/config/unified.py
  src/ai/backend/manager/models/container_registry.py
  src/ai/backend/manager/models/gql_models/container_registry_v2.py
  src/ai/backend/manager/models/network.py
  src/ai/backend/manager/public_api/health.py
  src/ai/backend/storage/config/unified.py
  src/ai/backend/web/config/unified.py
Labels: comp:manager, comp:agent, comp:common, comp:webserver, comp:storage-proxy, comp:app-proxy, skip:changelog, size:M

#5537 chore: Sync init-pants action of coverage workflow to reduce actions cache pressure
  .github/workflows/coverage.yml
Labels: skip:changelog, size:XS

#5539 chore: Sync init-pants action of coverage workflow to reduce actions cache pressure (#5537)
  .github/workflows/coverage.yml
Labels: skip:changelog, size:XS, backport

#5538 chore: Sync init-pants action of coverage workflow to reduce actions cache pressure (#5537)
  .github/workflows/coverage.yml
Labels: skip:changelog, size:XS, backport

#5523 feat(BA-2135): Add user-defined kwargs support to logging.BraceStyleAdapter
  changes/5523.feature.md
  src/ai/backend/common/middlewares/request_id.py
  src/ai/backend/logging/utils.py
  tests/logging/BUILD
  tests/logging/test_adapter.py
Labels: comp:common, size:L

#5543 chore: Sync init-pants action of coverage workflow to reduce actions cache pressure (#5537)
  .github/workflows/coverage.yml
Labels: skip:changelog, size:XS, backport

#5546 chore: Add "kubernetes" to the known 3rd-party list for Ruff isort (#5541)
  pyproject.toml
Labels: skip:changelog, size:XS, backport

#5521 refactor: Document affinity-aware allocation logic and improve error messages
  changes/5521.fix.md
  src/ai/backend/agent/affinity_map.py
  src/ai/backend/agent/alloc_map.py
  tests/agent/test_affinity_map.py
Labels: comp:agent, size:L

#5549 refactor: Document affinity-aware allocation logic and improve error messages (#5521)
  changes/5521.fix.md
  src/ai/backend/agent/affinity_map.py
  src/ai/backend/agent/alloc_map.py
  tests/agent/test_affinity_map.py
Labels: comp:agent, size:L, backport

#5579 feat(BA-2159): Implement session transition hooks for various session types
  changes/5579.feature.md
  src/ai/backend/manager/repositories/scheduler/db_source/db_source.py
  src/ai/backend/manager/repositories/scheduler/repository.py
  src/ai/backend/manager/sokovan/scheduler/hooks/BUILD
  src/ai/backend/manager/sokovan/scheduler/hooks/__init__.py
  src/ai/backend/manager/sokovan/scheduler/hooks/base.py
  src/ai/backend/manager/sokovan/scheduler/hooks/batch.py
  src/ai/backend/manager/sokovan/scheduler/hooks/inference.py
  src/ai/backend/manager/sokovan/scheduler/hooks/interactive.py
  src/ai/backend/manager/sokovan/scheduler/hooks/registry.py
  src/ai/backend/manager/sokovan/scheduler/hooks/system.py
  src/ai/backend/manager/sokovan/scheduler/scheduler.py
  src/ai/backend/manager/sokovan/scheduler/types.py
Labels: comp:manager, size:L

#5580 feat(BA-2027, BA-2028): Implement deployment management with Sokovan integration
  changes/5579.feature.md
  changes/5580.feature.md
  src/ai/backend/manager/api/context.py
  src/ai/backend/manager/defs.py
  src/ai/backend/manager/repositories/deployment/BUILD
  src/ai/backend/manager/repositories/deployment/__init__.py
  src/ai/backend/manager/repositories/deployment/db_source/BUILD
  src/ai/backend/manager/repositories/deployment/db_source/__init__.py
  src/ai/backend/manager/repositories/deployment/db_source/db_source.py
  src/ai/backend/manager/repositories/deployment/repositories.py
  src/ai/backend/manager/repositories/deployment/repository.py
  src/ai/backend/manager/repositories/deployment/types/BUILD
  src/ai/backend/manager/repositories/deployment/types/__init__.py
  src/ai/backend/manager/repositories/deployment/types/auto_scaling.py
  src/ai/backend/manager/repositories/deployment/types/endpoint.py
  src/ai/backend/manager/repositories/repositories.py
  src/ai/backend/manager/repositories/scheduler/db_source/db_source.py
  src/ai/backend/manager/repositories/scheduler/repository.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/services/model_serving/processors/model_serving.py
  src/ai/backend/manager/services/model_serving/services/model_serving_with_deployment.py
  src/ai/backend/manager/services/processors.py
  src/ai/backend/manager/sokovan/deployment/BUILD
  src/ai/backend/manager/sokovan/deployment/__init__.py
  src/ai/backend/manager/sokovan/deployment/auto_scaler.py
  src/ai/backend/manager/sokovan/deployment/deployment_controller.py
  src/ai/backend/manager/sokovan/deployment/exceptions.py
  src/ai/backend/manager/sokovan/scheduler/hooks/BUILD
  src/ai/backend/manager/sokovan/scheduler/hooks/__init__.py
  src/ai/backend/manager/sokovan/scheduler/hooks/base.py
  src/ai/backend/manager/sokovan/scheduler/hooks/batch.py
  src/ai/backend/manager/sokovan/scheduler/hooks/inference.py
  src/ai/backend/manager/sokovan/scheduler/hooks/interactive.py
  src/ai/backend/manager/sokovan/scheduler/hooks/registry.py
  src/ai/backend/manager/sokovan/scheduler/hooks/system.py
  src/ai/backend/manager/sokovan/scheduler/scheduler.py
  src/ai/backend/manager/sokovan/scheduler/types.py
Labels: comp:manager, size:XL

#5570 feat: Enhance session management by adding checks for truly stuck pulling and creating sessions
  changes/5570.feature.md
  changes/5579.feature.md
  changes/5580.feature.md
  src/ai/backend/agent/server.py
  src/ai/backend/manager/api/context.py
  src/ai/backend/manager/defs.py
  src/ai/backend/manager/repositories/deployment/BUILD
  src/ai/backend/manager/repositories/deployment/__init__.py
  src/ai/backend/manager/repositories/deployment/db_source/BUILD
  src/ai/backend/manager/repositories/deployment/db_source/__init__.py
  src/ai/backend/manager/repositories/deployment/db_source/db_source.py
  src/ai/backend/manager/repositories/deployment/repositories.py
  src/ai/backend/manager/repositories/deployment/repository.py
  src/ai/backend/manager/repositories/deployment/types/BUILD
  src/ai/backend/manager/repositories/deployment/types/__init__.py
  src/ai/backend/manager/repositories/deployment/types/auto_scaling.py
  src/ai/backend/manager/repositories/deployment/types/endpoint.py
  src/ai/backend/manager/repositories/repositories.py
  src/ai/backend/manager/repositories/scheduler/db_source/db_source.py
  src/ai/backend/manager/repositories/scheduler/repository.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/services/model_serving/processors/model_serving.py
  src/ai/backend/manager/services/model_serving/services/model_serving_with_deployment.py
  src/ai/backend/manager/services/processors.py
  src/ai/backend/manager/sokovan/deployment/BUILD
  src/ai/backend/manager/sokovan/deployment/__init__.py
  src/ai/backend/manager/sokovan/deployment/auto_scaler.py
  src/ai/backend/manager/sokovan/deployment/deployment_controller.py
  src/ai/backend/manager/sokovan/deployment/exceptions.py
  src/ai/backend/manager/sokovan/scheduler/hooks/BUILD
  src/ai/backend/manager/sokovan/scheduler/hooks/__init__.py
  src/ai/backend/manager/sokovan/scheduler/hooks/base.py
  src/ai/backend/manager/sokovan/scheduler/hooks/batch.py
  src/ai/backend/manager/sokovan/scheduler/hooks/inference.py
  src/ai/backend/manager/sokovan/scheduler/hooks/interactive.py
  src/ai/backend/manager/sokovan/scheduler/hooks/registry.py
  src/ai/backend/manager/sokovan/scheduler/hooks/system.py
  src/ai/backend/manager/sokovan/scheduler/scheduler.py
  src/ai/backend/manager/sokovan/scheduler/types.py
  src/ai/backend/manager/sokovan/sokovan.py
Labels: comp:manager, comp:agent, size:L

#5568 feat(BA-2153): Add configuration option for Sokovan orchestrator usage
  changes/5567.feature.md
  changes/5568.feature.md
  changes/5570.feature.md
  changes/5579.feature.md
  changes/5580.feature.md
  src/ai/backend/agent/server.py
  src/ai/backend/manager/api/context.py
  src/ai/backend/manager/config/unified.py
  src/ai/backend/manager/defs.py
  src/ai/backend/manager/repositories/deployment/BUILD
  src/ai/backend/manager/repositories/deployment/__init__.py
  src/ai/backend/manager/repositories/deployment/db_source/BUILD
  src/ai/backend/manager/repositories/deployment/db_source/__init__.py
  src/ai/backend/manager/repositories/deployment/db_source/db_source.py
  src/ai/backend/manager/repositories/deployment/repositories.py
  src/ai/backend/manager/repositories/deployment/repository.py
  src/ai/backend/manager/repositories/deployment/types/BUILD
  src/ai/backend/manager/repositories/deployment/types/__init__.py
  src/ai/backend/manager/repositories/deployment/types/auto_scaling.py
  src/ai/backend/manager/repositories/deployment/types/endpoint.py
  src/ai/backend/manager/repositories/repositories.py
  src/ai/backend/manager/repositories/schedule/db_source/db_source.py
  src/ai/backend/manager/repositories/schedule/repository.py
  src/ai/backend/manager/repositories/scheduler/db_source/db_source.py
  src/ai/backend/manager/repositories/scheduler/repository.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/services/model_serving/processors/model_serving.py
  src/ai/backend/manager/services/model_serving/services/model_serving_with_deployment.py
  src/ai/backend/manager/services/processors.py
  src/ai/backend/manager/sokovan/deployment/BUILD
  src/ai/backend/manager/sokovan/deployment/__init__.py
  src/ai/backend/manager/sokovan/deployment/auto_scaler.py
  src/ai/backend/manager/sokovan/deployment/deployment_controller.py
  src/ai/backend/manager/sokovan/deployment/exceptions.py
  src/ai/backend/manager/sokovan/scheduler/hooks/BUILD
  src/ai/backend/manager/sokovan/scheduler/hooks/__init__.py
  src/ai/backend/manager/sokovan/scheduler/hooks/base.py
  src/ai/backend/manager/sokovan/scheduler/hooks/batch.py
  src/ai/backend/manager/sokovan/scheduler/hooks/inference.py
  src/ai/backend/manager/sokovan/scheduler/hooks/interactive.py
  src/ai/backend/manager/sokovan/scheduler/hooks/registry.py
  src/ai/backend/manager/sokovan/scheduler/hooks/system.py
  src/ai/backend/manager/sokovan/scheduler/scheduler.py
  src/ai/backend/manager/sokovan/scheduler/types.py
  src/ai/backend/manager/sokovan/scheduler/validators/concurrency.py
  src/ai/backend/manager/sokovan/sokovan.py
  tests/manager/sokovan/scheduler/validators/test_concurrency.py
Labels: comp:manager, size:S

#5582 fix: Enhance cluster configuration validation and preparation for multi-container sessions
  src/ai/backend/manager/sokovan/scheduling_controller/preparers/cluster.py
  src/ai/backend/manager/sokovan/scheduling_controller/scheduling_controller.py
  src/ai/backend/manager/sokovan/scheduling_controller/validators/__init__.py
  src/ai/backend/manager/sokovan/scheduling_controller/validators/cluster.py
  src/ai/backend/manager/sokovan/scheduling_controller/validators/rules.py
Labels: comp:manager, skip:changelog, size:L

#5574 chore(BA-2154): Enable mypy support for Strawberry GraphQL
  changes/5574.misc.md
  pyproject.toml
  tools/BUILD
  tools/mypy-requirements.txt
  tools/mypy.lock
Labels: size:XS

#5573 feat(BA-2158): Add Valkey Client TLS configuration
  changes/5573.feature.md
  src/ai/backend/common/clients/valkey_client/client.py
  src/ai/backend/common/config.py
  src/ai/backend/common/configs/redis.py
  src/ai/backend/common/redis_helper.py
  src/ai/backend/common/types.py
Labels: comp:common, size:L

#5589 feat(BA-2151): Implement batch scheduling events and event propagation through Event Hub
  changes/5589.feature.md
  src/ai/backend/common/events/event_types/session/broadcast.py
  src/ai/backend/common/events/types.py
  src/ai/backend/common/types.py
  src/ai/backend/manager/event_dispatcher/dispatch.py
  src/ai/backend/manager/event_dispatcher/handlers/propagator.py
  src/ai/backend/manager/event_dispatcher/handlers/schedule.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/repositories/schedule/repository.py
  src/ai/backend/manager/repositories/scheduler/db_source/db_source.py
  src/ai/backend/manager/repositories/scheduler/repository.py
  src/ai/backend/manager/repositories/scheduler/types/session.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/sokovan/scheduler/allocators/allocator.py
  src/ai/backend/manager/sokovan/scheduler/allocators/repository_allocator.py
  src/ai/backend/manager/sokovan/scheduler/coordinator.py
  src/ai/backend/manager/sokovan/scheduler/factory.py
  src/ai/backend/manager/sokovan/scheduler/handlers.py
  src/ai/backend/manager/sokovan/scheduler/results.py
  src/ai/backend/manager/sokovan/scheduler/scheduler.py
  src/ai/backend/manager/sokovan/scheduler/types.py
  src/ai/backend/manager/sokovan/sokovan.py
  tests/manager/conftest.py
  tests/manager/repositories/schedule/test_termination.py
  tests/manager/sokovan/scheduler/test_coordinator.py
  tests/manager/sokovan/scheduler/test_terminate_sessions.py
Labels: comp:manager, comp:common, size:XL

#5592 feat(BA-2166): Apply centralized distributed locking for Sokovan scheduling operations
  changes/5592.feature.md
  src/ai/backend/manager/defs.py
  src/ai/backend/manager/sokovan/scheduler/coordinator.py
  src/ai/backend/manager/sokovan/scheduler/handlers.py
  src/ai/backend/manager/sokovan/scheduler/scheduler.py
  src/ai/backend/manager/sokovan/sokovan.py
  tests/manager/sokovan/scheduler/test_coordinator.py
Labels: comp:manager, size:L

#5594 feat(BA-2168): Implement cache-through pattern for keypair concurrency management in SchedulerRepository
  changes/5594.feature.md
  src/ai/backend/common/clients/valkey_client/valkey_stat/client.py
  src/ai/backend/manager/api/admin.py
  src/ai/backend/manager/models/gql.py
  src/ai/backend/manager/models/gql_models/keypair.py
  src/ai/backend/manager/repositories/scheduler/cache_source/cache_source.py
  src/ai/backend/manager/repositories/scheduler/db_source/db_source.py
  src/ai/backend/manager/repositories/scheduler/db_source/types.py
  src/ai/backend/manager/repositories/scheduler/repository.py
  src/ai/backend/manager/repositories/scheduler/types/session.py
  src/ai/backend/manager/sokovan/scheduler/coordinator.py
  src/ai/backend/manager/sokovan/scheduler/handlers.py
  src/ai/backend/manager/sokovan/scheduler/results.py
  src/ai/backend/manager/sokovan/scheduler/scheduler.py
  src/ai/backend/manager/sokovan/scheduler/types.py
  tests/manager/models/gql_models/test_agent.py
  tests/manager/models/gql_models/test_container_registries.py
  tests/manager/models/gql_models/test_container_registry_nodes.py
  tests/manager/models/gql_models/test_container_registry_nodes_v2.py
  tests/manager/models/gql_models/test_group.py
  tests/manager/models/test_container_registries.py
  tests/manager/models/test_vfolder.py
Labels: comp:manager, comp:common, size:L

#5597 chore: enhance minor issues
  src/ai/backend/common/clients/valkey_client/client.py
  src/ai/backend/manager/metrics/scheduler.py
  src/ai/backend/manager/repositories/scheduler/repository.py
  src/ai/backend/manager/sokovan/scheduler/coordinator.py
  src/ai/backend/manager/sokovan/scheduler/handlers.py
  src/ai/backend/manager/sokovan/scheduler/results.py
  tests/manager/sokovan/scheduler/test_coordinator.py
Labels: comp:manager, comp:common, skip:changelog, size:L

#5519 feat(BA-2131): Add Bgtask valkey client
  changes/5519.feature.md
  changes/5531.feature.md
  changes/5555.feature.md
  src/ai/backend/agent/agent.py
  src/ai/backend/common/bgtask/bgtask.py
  src/ai/backend/common/bgtask/reporter.py
  src/ai/backend/common/bgtask/task/__init__.py
  src/ai/backend/common/bgtask/task/base.py
  src/ai/backend/common/bgtask/types.py
  src/ai/backend/common/clients/valkey_client/valkey_bgtask/__init__.py
  src/ai/backend/common/clients/valkey_client/valkey_bgtask/client.py
  src/ai/backend/common/data/bgtask/defs.py
  src/ai/backend/common/defs.py
  src/ai/backend/common/exception.py
  src/ai/backend/common/metrics/metric.py
  src/ai/backend/manager/api/context.py
  src/ai/backend/manager/server.py
  src/ai/backend/storage/context.py
  src/ai/backend/storage/migration.py
  src/ai/backend/storage/server.py
Labels: comp:manager, comp:agent, comp:common, comp:storage-proxy, size:XL

#5600 feat(BA-2169): Apply READ COMMITTED isolation level for scheduler operations
  changes/5600.feature.md
  src/ai/backend/manager/repositories/deployment/db_source/db_source.py
  src/ai/backend/manager/repositories/scheduler/db_source/db_source.py
  tests/manager/repositories/scheduler/BUILD
  tests/manager/repositories/scheduler/test_db_source_isolation.py
Labels: comp:manager, size:L

#5602 fix: Delete task after background task finish
  src/ai/backend/common/bgtask/bgtask.py
Labels: skip:changelog

#5611 feat(BA-1816): Apply retry to clone bgtask
  changes/5611.feature.md
  src/ai/backend/common/dto/storage/response.py
  src/ai/backend/storage/api/manager.py
  src/ai/backend/storage/bgtask/tasks/clone.py
Labels: comp:common, comp:storage-proxy, size:M

#5610 fix: Caculate resource spec when scheduling multi-kernel session
  src/ai/backend/manager/network/overlay.py
  src/ai/backend/manager/server.py
  src/ai/backend/manager/sokovan/scheduler/factory.py
  src/ai/backend/manager/sokovan/scheduler/scheduler.py
  src/ai/backend/manager/sokovan/scheduling_controller/calculators/resource_calculator.py
  src/ai/backend/manager/sokovan/scheduling_controller/preparers/preparer.py
  src/ai/backend/manager/sokovan/scheduling_controller/scheduling_controller.py
  tests/manager/sokovan/scheduler/test_scheduler.py
  tests/manager/sokovan/scheduler/test_terminate_sessions.py
  tests/manager/sokovan/scheduling_controller/test_integration.py
Labels: comp:manager, skip:changelog, size:L

#5612 chore: Update subagents to use pipe-optimized pants options
  .claude/agents/linter.md
  .claude/agents/tester.md
  .claude/agents/typechecker.md
Labels: skip:changelog, size:M

#5587 fix(BA-2165): NUMA alignment of subsequent device mapping
  changes/5587.fix.md
  src/ai/backend/agent/alloc_map.py
  tests/agent/test_affinity_map.py
  tests/agent/test_alloc_map.py
Labels: comp:agent, size:XL

#5623 feat(BA-2183): Add operation metrics observer for session termination tracking
  changes/5623.feature.md
  src/ai/backend/manager/sokovan/scheduling_controller/scheduling_controller.py
Labels: comp:manager, size:S

#5628 chore: Update CLAUDE.md with more concrete guides
  CLAUDE.md
Labels: skip:changelog, size:M

#5641 feat: Add Alembic migration to manage 'readonly' column in artifacts and artifact_revisions tables
  src/ai/backend/manager/models/alembic/versions/29bbf3830309_.py
Labels: comp:manager, skip:changelog, require:db-migration, size:M

#5642 chore: Rename migration script
  src/ai/backend/manager/models/alembic/versions/29bbf3830309_relocate_artifact_readonly.py
Labels: comp:manager, skip:changelog, skip:ci, require:db-migration, size:XS

#5645 feat(BA-2171): Add automated supergraph generation in CI workflow
  .github/workflows/update-api-schema.yml
  changes/5645.feature.md
  src/ai/backend/manager/cli/api.py
Labels: comp:manager, comp:cli, size:M

#5649 fix(BA-2197): Invalid address type of Valkey client
  changes/5649.fix.md
  src/ai/backend/common/types.py
Labels: comp:common, size:XS

#5634 fix(BA-2190): Bgtask valkey script error
  src/ai/backend/common/bgtask/bgtask.py
  src/ai/backend/common/bgtask/exception.py
  src/ai/backend/common/bgtask/types.py
  src/ai/backend/common/clients/valkey_client/valkey_bgtask/client.py
Labels: comp:common, skip:changelog, size:L

#5625 test(BA-2181): Add Bgtask unit tests
  changes/5625.test.md
  tests/common/bgtask/BUILD
  tests/common/bgtask/__init__.py
  tests/common/bgtask/test_bgtask.py
  tests/common/bgtask/test_reporter.py
  tests/common/bgtask/test_task_base.py
  tests/common/bgtask/test_task_registry.py
  tests/common/bgtask/test_types.py
Labels: comp:common, size:XL

#5646 feat(BA-2201): Execute Usage recalculation periodically
  changes/5646.feature.md
  src/ai/backend/common/events/event_types/session/anycast.py
  src/ai/backend/manager/defs.py
  src/ai/backend/manager/event_dispatcher/dispatch.py
  src/ai/backend/manager/event_dispatcher/handlers/usage.py
  src/ai/backend/manager/registry.py
  src/ai/backend/manager/scheduler/dispatcher.py
Labels: comp:manager, comp:common, size:M

#5654 fix: Set PATH for rover CLI in GitHub Actions workflow
  .github/workflows/update-api-schema.yml
Labels: skip:changelog, size:XS

#5655 chore: Ensure uv is added to PATH after install
  scripts/install-dev.sh
  scripts/pyscript.sh
  scripts/python.sh
Labels: comp:installer, skip:changelog, size:S

#5659 feat(BA-2208): Implement session wait logic in AgentRegistry for improved scheduling handling
  changes/5659.feature.md
  src/ai/backend/manager/registry.py
Labels: comp:manager, size:M

#5673 fix: Wrong migration script
  src/ai/backend/manager/models/alembic/versions/29bbf3830309_relocate_artifact_readonly.py
Labels: comp:manager, require:db-migration, size:S

#5679 chore: Fix config examples of plugin allowlist/blocklist
  src/ai/backend/agent/config/unified.py
Labels: comp:agent, skip:changelog, size:XS

#5682 fix: Order of pending queue
  changes/5682.fix.md
  src/ai/backend/manager/models/gql.py
Labels: comp:manager, size:XS

#5683 fix: Ensure redis address is nullable
  changes/5683.fix.md
  src/ai/backend/agent/server.py
Labels: comp:agent, size:XS
